[2020-09-24 17:15] #418 closed

[2020-09-29 09:58] #402 closed

[2020-10-02 09:05] zacbaum opened #427 "Adding JOSS Badge to README.md"
## Subject of the feature

Now that the review has officially begun (TBC within 6 or so weeks) we can add a badge to the repo which illustrates that submission (and hopefully acceptance) has occurred for those that are interested.

If the feature request is approved, would you be willing to submit a PR? _(Help can be
provided if you need assistance submitting a PR)_

Yes

E.g.

[![status](https://

[2020-10-02 09:17] mathpluscode commented on #427
Ok for me ;) we can do it either in main or dev.

[2020-10-04 12:10] #417 closed

[2020-10-04 13:32] mathpluscode opened #428 "Warning related to period"
## Subject of the issue

TensorFlow is depreciating the argument `period` in checkpoint callback, which defines how many epochs we save the checkpoint.

The desired argument is `save_freq` which defines the frequency in terms of mini-batch. We could continue using `period` in our config, however, when calling the callback, we should calculate the period length using number of mini-batches.

The re

[2020-10-04 13:32] ethanwharris opened #429 "[JOSS Review] State of the field"
Hi, I'm reviewing the DeepReg paper on JOSS (openjournals/joss-reviews/issues/2705). In order to satisfy the state of the field check in the software paper review criteria, it would be good if you could include some discussion of other libraries that are focussed on medical image registration with deep learning. If there are no other libraries that provide similar functionaility then it would be s

[2020-10-04 13:35] ethanwharris opened #430 "[JOSS Review] Referencing TensorFlow"
_Part of the review for the DeepReg paper on JOSS (openjournals/joss-reviews/issues/2705)._

Since DeepReg is built on TensorFlow, it would be valuable to state this in the paper and provide a reference to the [TensorFlow white paper](https://www.tensorflow.org/about/bib).

[2020-10-04 13:36] mathpluscode commented on #429
Hi @ethanwharris, thank you for the suggestion! Sure, we will include AIRLab in our paper.

[2020-10-04 13:51] mathpluscode opened #432 "Bug issue template typo"
## Subject of the documentation

"If the documentation request is approved, would you be willing to submit a PR? _(Help
can be provided if you need assistance submitting a PR)_"

should be

"If the bug is confirmed, would you be willing to submit a PR? _(Help
can be provided if you need assistance submitting a PR)_"

[2020-10-04 14:42] #430 closed

[2020-10-04 14:46] mathpluscode commented on #430
@ethanwharris We've updated the paper regarding this issue. Once #434 is resolved, we will update the pdf in the JOSS issue. Thanks again for kind suggestions.

[2020-10-04 17:27] #405 closed

[2020-10-04 23:19] mathpluscode opened #436 "DDF get normalized before being saved in predict"
## Subject of the issue

When saving DDF/DVF in png/nifti formats, values got normalized first.
[Code](https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/predict.py#L170)
However, we would need the saved nifti output for `deepreg_warp`.

The correct way is, not changing the values at all when being saved in nifti formats, and normalize the values for png if required in the argument.

## Your

[2020-10-04 23:20] mathpluscode commented on #436
@QianyeYang @YipengHu Could you confirm if the description is correct?

[2020-10-05 09:14] YipengHu commented on #436
"we could leave vmin and vmax to None and the values will be normalized automatically." - not clear, otherwise looks good to me.

[2020-10-05 12:34] mathpluscode commented on #436
This corresponds to https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/util.py#L122 and the documentation is here https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.imsave.html

[2020-10-05 22:52] QianyeYang commented on #436
Another small bug here: https://github.com/DeepRegNet/DeepReg/blob/d53a8d663acd765a67a47af3b8a3bdcfb958a4fd/deepreg/warp.py#L59

The first dimension of the warped_image in deepreg/warp.py needs to be removed. Now it's a 4d matrix with shape (1, x, y, z)

[2020-10-05 22:54] YipengHu commented on #436
@mathpluscode  can you confirm and perhaps bundle the fix in this issue? - if you do, add this in the issue.

[2020-10-05 22:58] YipengHu commented on #436
Specify what the problem was and what the change is - i thought png cannot save negative values?

[2020-10-05 23:47] #432 closed

[2020-10-05 23:50] mathpluscode commented on #436
I've updated the description.

[2020-10-05 23:53] #429 closed

[2020-10-06 00:00] mathpluscode commented on #406
With recent usage, I strongly feel like having a develop branch is over-doing the thing, and I had to manually sync between main/develop multiple times for nothing :(

So I propose to remove the develop branch and use main only for the latest version. Stable versions are marked with tags.

What do you think ;) Ofc if you google this issue, there are many discussion like https://softwareengineering

[2020-10-06 00:01] mathpluscode commented on #416
The change in #439 is a demo of the "parameterize" that I suggested. @NMontanaBrown

[2020-10-06 00:03] mathpluscode opened #440 "Solve missing DOIs for JOSS paper"
## Subject of the documentation

[code]

Need to verify and add DOI if necessary.

[2020-10-06 00:08] mathpluscode commented on #436
@QianyeYang also mentioned

Which is confirmed as a small bug. Will be fixed together in this issue.

[2020-10-06 00:27] mathpluscode commented on #424
My reading list:

## find representation for registration
- https://ieeexplore.ieee.org/document/8071026
- https://link.springer.com/chapter/10.1007/978-3-319-66179-7_40
- https://arxiv.org/abs/1911.04417

### convert multimodel registration into monomodal
- https://arxiv.org/abs/1903.09331

TBC

[2020-10-06 15:44] mathpluscode commented on #344
I will continue this issue soon. The reason is that I'd like to simplify the NN models and layers later and change of models would make the saved checkpoint outdated. Therefore an automated check & checkpoint generation is required ^^

[2020-10-06 19:50] YipengHu commented on #413
@sbb-gh - sorry, i forgot there is an issue already - you can add your work under this one.

[2020-10-06 21:54] #440 closed

[2020-10-06 23:20] mathpluscode opened #442 "Test Bug in is_equal"
## Subject of the issue

We have been using `is_equal_tf` and `is_equal_np` for comparing numerics in tests.

However, the test might pass on CPU only machine if one value is nan and another value is zero.

But when running on GPU, the test failed: (this might be related to #187)

![image](https://user-images.githubusercontent.com/4066929/95270027-99ffd780-0832-11eb-99e6-ceaa0c3731f8.png)

Change

[2020-10-07 00:02] mathpluscode commented on #442
For now, the identified issues/takeaways:

- We should use `np.isclose` instead of doing subtraction and compare with EPS ourselves
- We should use `tf.math.divide_no_nan` instead of adding EPS to numerator and denominator ourselves.
- The `global_mutual_information` has some more complex problems.

[2020-10-07 00:51] mathpluscode commented on #420
Within this issue, we will also update tf to 2.3.

[2020-10-08 10:19] YipengHu opened #446 "Preprocessing tool - resampling"
## Subject of the feature

A pre-processing tool - either on-the-fly or batch-processing - to take anisotropic images with varying sizes and resample (=cropping+resizing) them into the isotropic volumes with the same size and voxel dimensions - a "safe" way for deepreg.

Has the feature been requested before? If yes, please provide a link to the issue.
No

If the feature request is approved, would

[2020-10-08 10:19] YipengHu commented on #446
@ciphercharly

[2020-10-08 17:01] #166 closed

[2020-10-09 01:15] mathpluscode commented on #446
This can be further related to #99. So we can either prepare them and save into pngs, or go one step further save into tf records.

But for this issue only, it should be quite simple for only resizing. Btw, the cropping here is random cropping or fixed cropping?

[2020-10-10 09:25] ciphercharly commented on #446
in a user-case scenario for paired images one would want the bigger cropped to the size of smaller, but consistently not randomly

[2020-10-10 09:29] YipengHu commented on #446
not pngs please... ;)

[2020-10-10 15:30] mathpluscode opened #447 "Add MEC badge for notebook"
## Subject of the documentation

As we won the first price, time to add this info to README.

But for now, the website https://miccai-sb.github.io/materials.html hasn't been updated yet.

@YipengHu mentioned that there's a badge for it as well.

[2020-10-10 15:45] #442 closed

[2020-10-10 18:15] mathpluscode commented on #187
Close this issue as with #443, the pytest w/o GPU will both work. However, the test with GPU is not covered as we do not have CI deployed on GPU.

[2020-10-10 18:15] #187 closed

[2020-10-10 18:16] mathpluscode commented on #179
As different TF versions have different dependencies on cuda toolkit and cudnn, it might be difficult to support old versions. Therefore I suggest to close this issue. @YipengHu @NMontanaBrown

[2020-10-10 19:55] #436 closed

[2020-10-10 20:05] #285 closed

[2020-10-10 20:23] #420 closed

[2020-10-11 00:38] sbb-gh commented on #413
Done a pull request, any feedback is much appreciated

[2020-10-11 23:49] mathpluscode opened #450 "Update docs for contributing"
## Subject of the documentation

Simplify some docs to make it simple and get rid of useless tech details.

For pre-commit, make it clear that we don’t need node js.

[2020-10-12 15:24] sbb-gh commented on #302
@YipengHu @mathpluscode can we clafify the aim of this issue?  Are we interested in optimizing the dataloading for nifty, or for giving users different options for dataloading?

[2020-10-12 15:46] YipengHu commented on #302
For the first instance, a brief investigation and estimates of what can be done, what options we have and the likely benefits for each. We will open separate issue(s), if we decide to implement any of these.

[2020-10-12 15:56] sbb-gh commented on #302
Do we need to assume the data is in a format?

[2020-10-12 16:01] YipengHu commented on #302
Good question. It is still not clear to me if h5 or tfrecord is faster than say nifti in these small minibatch problems... Part of the question for you I guess 🤪

[2020-10-12 17:47] mathpluscode commented on #302
There are two issues I'd like to address:

1. The original purpose of this issue. Now we are building the dataset from a generator, which sequentially reads multiple files. But in case of multiple large files, we can instead build multiple generators and use `interleave` to accelerate the data loading. For this part, we will need to profile the training process, and with the docker file, it's feas

[2020-10-12 17:49] mathpluscode commented on #302
I'd say either the original format (h5 or nifti) or tfrecord. I doubt the value to transform between Nifti and h5?

[2020-10-12 23:18] sbb-gh commented on #302
Let's schedule a meeting

[2020-10-15 06:11] ciphercharly opened #451 "Illegal instruction (core dumped) with Intel(R) Pentium(R) CPU N3540 @ 2.16GHz"
## Subject of the issue

getting `Illegal instruction (core dumped)` when installation is done on a laptop with  Intel(R) Pentium(R) CPU  N3540  @ 2.16GHz

If the bug is confirmed, would you be willing to submit a PR? _(Help can be provided if
you need assistance submitting a PR)_

No

## Your environment

- DeepReg version (commit hash or tag): 110ef6f923bc79e710d7279797b01db61fcf1357

- OS: Linu

[2020-10-15 06:55] ciphercharly opened #452 "error while using "gmi" for the loss"
## Subject of the issue

getting `tensorflow.python.framework.errors_impl.InvalidArgumentError: Nan in summary histogram for: local_net/down_sample_resnet_block/conv3d_block/conv3d/conv3d_1/kernel_0 [Op:WriteHistogramSummary]` while trying to use 'gmi' in several scenarios (e.g. in the demos)

If the bug is confirmed, would you be willing to submit a PR? _(Help can be provided if
you need assistan

[2020-10-15 07:16] acasamitjana commented on #424
Suggestions (no need to do them all, just brainstorming)

### For completeness
- Losses: Mutual information (specially to compare with other intermodal registrations methods), Tukey Biweight (a more robust SSIM metric)
- Data augmentation: apart from the existing AffineTF, we can include DDF transformations as well
- Incorporate the option to resize deformation fields? The motivation behind is: (a

[2020-10-15 08:49] s-sd commented on #424
### New feature suggestion:

#### Automated hyperparameter tuning:

At MICCAI I saw a lot of interest in automated hyperparameter search/ tuning. The feature is available in several libraries but integrating it with parameters specified in the config file and with the deepreg train function is not straightforward. I suggest that we add some simple functionality that allows for an automated search

[2020-10-15 08:54] YipengHu commented on #424
Mine is simple: add a pytorch version and as mentioned by Yunguan, the loader may be shared.

[2020-10-15 09:53] NMontanaBrown commented on #424
Tagging @zacbaum, implement the Free Point Transformer? 😃

[2020-10-15 09:55] RemiDelaunay commented on #424
+1 for pytorch
What about adding a demo for registration of 2D images ? I'm not sure if Deepreg accepts 2D images as inputs already ?

[2020-10-15 09:57] zacbaum commented on #424
This was already going to be my suggestion... 😉

In addition to this, we would need to include a way of converting image label masks to pointsets (either on the fly, or as part of a pre-training pipeline).

[2020-10-15 10:07] acasamitjana commented on #372
That's what I thought. I've never implemented splines so probably I've missed several tricks but it's a starting point.

**Approach:**

- Use low-resolution outputs from the registration network and interpolate to full size (X,Y,Z) using splines.
- The size of the output field would be determined by the spacing (Dxyz) of the control points [ceil(X/Dx) + 3, ceil(Y/Dy) + 3, ceil(Z/Dz) + 3]
- Upsampl

[2020-10-15 10:09] NMontanaBrown commented on #424
What are some standard registration packages out there we can point to? Would it be useful to self contain the package with standard implems of ICP/CPD/other classical algorithms? or include those packages and maybe add a module that can auto run this for validation as part of our "benchmarking" claim?

+1 for multi-uni modal stream @acasamitjana. It's close to home, very keen.

[2020-10-15 10:16] NMontanaBrown commented on #416
I'm a bit lost on this. Do we really need to parametrize tests? It feels that that would be an unecessary time sink where we could develop other things.

[2020-10-15 11:57] YipengHu commented on #372
The registration network will output a low-res DDF which is specified by control point spacing;
Now you want interpolate to get those values in between, after "dispersing" the control points, for which you can just use transposed convolution. Is this what you meant to do in your interpolate function? i don't understand why you wanted the resize layer... @tvercaut (Copying in Tom so i'm talking non

[2020-10-15 12:39] NMontanaBrown commented on #424
Adding video from MEC, gif, to readme.md for nice graphs purposes.

[2020-10-15 12:40] NMontanaBrown commented on #424
@agrimwood Adding information from tracker as inputs to the network to constrain reg, or as different inputs. So a module to do this/process txt files..?

[2020-10-15 12:41] NMontanaBrown commented on #424
@ebonmati Consistent outputs for visualisation from the demos - we have all the image files but do not use them for anything/videos like the MEC one. @s-sd wrote a script to make gifs/videos, maybe it\s a case of adding this script/function into the demos to ensure consistent outputs, update readme with the video to make it more visually appealing.

[2020-10-15 12:42] ebonmati commented on #424
Add a visual output for each demo showing results.

[2020-10-15 12:48] acasamitjana commented on #215
### LNCC loss

- Kernel size: add keyword to config file
- Kernel type: add keyword to config file and implement different kernels:
    - Constant: tf.ones()
    - Linear: conv(tf.ones(), tf.ones())
    - Gauss: formula with sigma=kernel_size/3.

[2020-10-15 13:08] s-sd commented on #424
@ebonmati, more information (including the four types of visualisations that are supported) on the visualisation tool can be found here:  https://github.com/DeepRegNet/DeepReg/blob/develop/docs/source/docs/visualisation_tool.md

It is currently in the `develop` branch

[2020-10-15 15:20] acasamitjana commented on #215
Trying to run the unit testing I found an "Aborted (core dumped)" error. I'm not sure why is it caused.
If I commented out either the LNCC or the GMI then it works. I'll look closely on that, but please let me know if anyone finds the bug. You can check the corresponding branch (215-loss-parameters)

[2020-10-15 17:48] mathpluscode commented on #215
Hi @acasamitjana can you share a log history or something we can reproduce the bug ;) I'm happy to help.

[2020-10-15 17:52] mathpluscode commented on #416
I'd say it's necessary and helpful, but again, we do not need to create issues to change all of them at once. We can change it gradually: every time we modify something, we will need to modify the related test, and then it's an opportunity to refactor the tests.

As we are adapting the code, so the time spent won't be that much. The benefits would be
- identify possible hidden bugs
- reduce redund

[2020-10-15 17:56] mathpluscode commented on #452
@ciphercharly Hi, thank you for your report! I see that your version is `0.1.0b1`, I will try reproduce the error and then retest if it still exists in `main` branch. As we might have corrected some bugs related to GMI earlier.

[2020-10-15 17:58] mathpluscode commented on #451
Hi @ciphercharly, thank you for the report again!

Could you clarify the version of the code? As the `conda env create -f environment_cpu.yml` corresponds to the latest version which based on `main` while the tag you reported is `0.1.0b1` ;)

[2020-10-15 18:07] acasamitjana commented on #372
Yes, I agree. I just thought it is easier (and more flexible) to leave the backbone network as it is and then downsample the output to the specified size. But you can also use a network that directly outputs a low-res DDF of the desired size. Is that what you mean?

That's right. I was in this direction, now I gave it another thought and it's more clear to me how to implement it.

[2020-10-15 18:17] ciphercharly commented on #451
good question... that is the version i get from running 'pip list' after cloning the repo, creating the environment with `conda env create -f environment_cpu.yml` and then running `pip install -e .` from the created DeepReg folder.. I guess I cloned the wrong repo? I copy-pasted the link in the docs

[2020-10-15 18:20] mathpluscode commented on #344
With #452 and #451, testing demos again is very important now. For the first step, we could ask for the following requirements:

1. data pre-processing script can be executed correctly.
2. training script can be executed correctly with limited epochs.
3. prediction script can be executed correctly with the checkpoint generated from the training script.

Regarding the saved models, we leave this fo

[2020-10-15 18:24] mathpluscode commented on #451
git clone will get the latest version, therefore you are using `main`, not the `tag`.
To verify, could you run `git rev-parse HEAD` to get the hash of the commit and update this issue (and maybe also #452)?

I'm trying to reproduce this locally.

[2020-10-15 18:25] ciphercharly commented on #452
I guess the next question is how do I get the main branch (see my other issue).... :)
I was convinced the install procedure would get me to that but I think I have cloned the wrong repo
the procedure, for reference
`git clone https://github.com/DeepRegNet/DeepReg.git`
`cd DeepReg`
`pip install -e .`
(as per https://deepreg.readthedocs.io/en/latest/getting_started/install.html)

then from `pipi lis

[2020-10-15 18:27] ciphercharly commented on #451
yep I will check that tomorrow as soon as I am back to the machine
I wonder why pip list would say 0.1.0b1 then.. but I'll run `git rev-parse HEAD` as you suggest

[2020-10-15 18:30] mathpluscode commented on #451
It's because when you do `pip install -e .` it will install the local version with tag from `setup.py` where we have put `0.1.0b1`.

Btw, I just tried the example, one potential problem you have might be OOM (out of memory).

For instance, with the default config, I have

[code]

Then I went to the config file `demos/grouped_mr_heart/grouped_mr_heart.yaml`, change the `image_shape` to `[32,32,28]`

[2020-10-15 18:33] ciphercharly commented on #451
I got out of memory from another machine, on the laptop in question I think it might be a problem related to tensorflow > 2.2 somehow incompatible with that CPU specifically, but I am not sure..
anyway `Illegal instruction (core dumped)` is literally the only thing that gets printed at stdout and it happens immediately

[2020-10-15 18:37] mathpluscode commented on #452
I'm testing with `110ef6f923bc79e710d7279797b01db61fcf1357`.

My cmd is `deepreg_train --gpu "" --config_path demos/grouped_mr_heart/grouped_mr_heart.yaml --log_dir grouped_mr_heart` after runing `python demos/grouped_mr_heart/demo_data.py`.

My config is
[code]

I got a different bug:

[code]

Will continue the investigation.

[2020-10-15 18:39] mathpluscode commented on #451
@ciphercharly OK. That's strange. If later you can try again and provide the full log, maybe we can test together? For now, as I couldn't reproduce it, I'm not sure whether if I can fix it.

[2020-10-15 18:41] ciphercharly commented on #451
right, I'll try to see if more info are logged. I fear this might be a machine-specific issue which is out of your control..

[2020-10-15 18:47] mathpluscode opened #453 "Add instruction to show code version"
## Subject of the documentation

As discussed in #451 #452, when user need to report a bug, it is not obvious to get the code version.

Therefore we need to update the template to include `git rev-parse HEAD` so that we can guide the user to report it's code version.

[2020-10-15 20:26] mathpluscode commented on #452
OK I confirm it's a bug inside gmi loss function.

Possible reason is `preterm = 1 / (2 * tf.math.square(sigma))` where `sigma` might be <= 0

[2020-10-15 21:15] mathpluscode commented on #452
I think I know the source of the bug.

In short, we were using `tf.math.divide_no_nan` to solve division by zero. However, with this function, the gradient might not be properly defined, which leads to some non-numeric weights and eventually propagated the problem.

[2020-10-15 21:54] mathpluscode commented on #452
@ciphercharly Hi, we have fixed the bug ;)

Could you please check our branch `452-err-while-using-gmi-for-the-loss` using `git checkout 452-err-while-using-gmi-for-the-loss`, and reinstall DeepReg using `pip install -e .` and retry the command?

On my local machine, this works correctly and hope it works for you. The reason for the bug has been described in #454. Thanks!

[2020-10-15 22:17] mathpluscode commented on #406
@zacbaum @s-sd

I just saw your thumbs here, so are we ok for abandoning `develop`? sorry for this change, but we aim to find the best rules during the practice.

We can take the chance to prepare the guidelines as well?

Based on today's discussion, I propose the following guidelines.

Each PR requires >=1 review, and the person should tag >=2 people to ask for reviews, for instance,
[code]

Then

[2020-10-15 23:01] YipengHu commented on #406
i think main-only is a good simpler and modern idea. what is the difference between 1 review with two tagged reviewers and 2 approving reviews?

[2020-10-16 00:35] mathpluscode commented on #406
@YipengHu we tag two so that in the best case we have two reviews, but it’s not mandatory. If we tag only one person and that person is not available, this gonna take a lot of time until we get someone for review and get one approval.

We are not a big big project yet, so we should find a sweet point between efficiency and these rules. The code will never be perfect but we will be always improving

[2020-10-16 05:28] ciphercharly commented on #452
did the above `git checkout 452-err-while-using-gmi-for-the-loss` with a custom paired train demo on my data and the code is running! :))

[2020-10-16 06:48] s-sd commented on #406
@mathpluscode, yes I think main only is a good idea

[2020-10-16 07:10] zacbaum commented on #406
I, personally, would prefer a minimum of two approvals for *every* PR - but I'm just one vote, so if others don't agree then I am happy with @mathpluscode's suggestion wherein

Though we will have to draw a line at what "critical" is, and seeing as what @NMontanaBrown and I raised yesterday where many do not follow current guidelines, I see this becoming another forgotten process that nobody abide

[2020-10-16 07:33] acasamitjana commented on #406
I also think main only is a good idea.
I agree with @zacbaum that at least two reviewers are needed for every PR (tag 3 & self-assign).

[2020-10-16 07:39] YipengHu commented on #406
I see two options:
1- one approval + reviews + sign off key points in reviewing guide (coming up after this discussion). This does allow things like bugfix going in quickly.
2- two approvals. This requires core Dev team responding when requested in 24 hours (at least to say no I don't have time).
As for being critical, I think back-compatibility is a good criterion (will define). Any other things

[2020-10-16 07:48] YipengHu commented on #447
i might be wrong... - will update the readme.

[2020-10-16 07:56] ciphercharly commented on #452
interestingly try to run predictions on the model trained with gmi results in this error
[code]

but this could be related to my setup/data, I have to try with one of the demos

[2020-10-16 07:58] zacbaum commented on #406
I think 24-48 hours is acceptable but it needs to be made clear that people should not be expected to respond outside of their regular working hours (i.e. 9-5 on weekdays for most).

[2020-10-16 07:58] NMontanaBrown commented on #406
I agree with @acasamitjana and @zacbaum, two approvals and reviews for PRs from different people on core dev team (not including Candi or DeepRegNet account!).

Before we define "times" to get reviews done, we should check in on the team for availability and see what the teams boundaries are. Are we expecting "responses" from team in 24h, even if that includes non-working hours (say, 9-5 Mon-Fri)?

[2020-10-16 08:40] mathpluscode commented on #452
@ciphercharly nice to know, btw what’s your python version? Installing data class seems to be python 3.6.

Will investigate the prediction;)

[2020-10-16 08:50] mathpluscode commented on #406
As we agree on the develop branch, we will remove it once it’s merged. For the PR guidelines, fine for me :) let’s go for two votes and see.

[2020-10-16 09:17] ciphercharly commented on #452
from `python --version` in the deepreg env: Python 3.7.9

[2020-10-16 09:22] mathpluscode commented on #452
Strange, https://docs.python.org/3.7/library/dataclasses.html this should be part of py3.7 out of the box... even more strange that I’m not sure we explicitly used data class.

Anyway glad the training is working, will investigate the prediction later:)

[2020-10-16 09:22] ciphercharly commented on #452
I haven't saved the message but the pip error (which btw contained a line about the recent changes in the packages dependency system, so could be due to that) stated that dataclasses was missing and required by another package..  fslpy? if I am not mistaken?

[2020-10-16 09:30] YipengHu commented on #406
Thought very hard on this.
- Due to different availability, it is unreasonable to get everyone on board before every little back-compatible changes - so two approvals from others seem to be a good starting point? We just need to communicate with the team, but this is exactly what the github for!
- For those do affect back-compatibility, a group meeting or an offline sign-off with majority team is

[2020-10-16 09:33] mathpluscode commented on #452
Sure, will do a new conda Env or using docker to check this. Super thx!

[2020-10-16 10:31] ciphercharly commented on #451
update: I have put in the correct version tag, as I said this might be a machine-specific issue but an older version of deepreg was working (like 2 weeks ago), so I  don't know what went wrong recently, could be tensorflow (I tried to downgrade it to 2.2 and same)

here a simple test I tried:
[code]
there are no more info/logs that I can easily find (maybe something more from anaconda?)
but anyway

[2020-10-16 10:40] ciphercharly commented on #451
I checked that tensorflow fails upon importing
`python -c 'import tensorflow as tf; print(tf.__version__)'`
`Illegal instruction (core dumped)`

the issue seems to be this https://tech.amikelive.com/node-887/how-to-resolve-error-illegal-instruction-core-dumped-when-running-import-tensorflow-in-a-python-program/, but then nothing above 1.5 should work and I don't think you were using 1.5 two weeks

[2020-10-16 12:53] mathpluscode commented on #451
We've updated the tf from 2.2 to 2.3, so this might be the reason? If you `pip install tensorflow==2.2.0`, will it work?

[2020-10-16 14:08] acasamitjana commented on #215
Hi @mathpluscode, I'm sure it was some local problems with GPU since I was running other code. Now it smoothly runs all tests, the previous ones and the ones I've added. I believe that regarding documentation, an update on the docstring would be enough. I'll submit a PR

[2020-10-16 16:46] mathpluscode opened #458 "Fix docker file"
## Subject of the issue

There's a leftover in https://github.com/DeepRegNet/DeepReg/blob/main/Dockerfile#L21,
where I checkout the branch explicitly.

We just need to remove that `git checkout`

[2020-10-16 17:00] mathpluscode opened #459 "Tutorial for tf profiling"
## Subject of the documentation

Following the discussion with @sbb-gh, we would like to measure the performance of the existing data loader first
before doing refactoring/improvement mentioned in #302.

Given previous experiences, the recommended way will be using docker for profiling.
- Docker usage with DeepReg: https://deepreg.readthedocs.io/en/latest/getting_started/install.html#use-docker
-

[2020-10-16 17:29] mathpluscode commented on #406
@zacbaum @acasamitjana @YipengHu @NMontanaBrown I've activated 2 approval requirements for PR into `main` branch ;)

For the reviewer policy, is there anyone is happy to prepare a draft before the next meeting?

[2020-10-16 17:39] YipengHu commented on #406
im on it.

[2020-10-16 17:51] mathpluscode commented on #452
Hi @ciphercharly, I created a new conda env from scratch and I did find a missing package which is `scipy`, then it's all working fine including the prediction.

My commands are:
[code]
with the following config
[code]

If you are able to reproduce the error, could you please share your config and commands?
By the way which data are you using?

[2020-10-16 18:07] mathpluscode opened #461 "Some robots to improve our workflow?"
## Subject of the issue

If we have some robots helping us label issues / PRs etc, this might be fun?

I found the following apps
- https://github.com/marketplace/stale, this can notify us in case some issues have been there for too long ;)
- https://github.com/marketplace/dependabot-preview seems that we have this already
- https://github.com/marketplace/wip WIP, that's good to have ;) gitlab has

[2020-10-16 18:26] ciphercharly commented on #452
great! will try asap to run the mr_heart demo and then my custom one too (I have limited access to the machine where I can run this .. likely Monday).
I am working with pelvic MRI multi-mode images from a set of patients (same machine fpr all of them), and I need to register intra-subjects the different channels, so I use the 'paired' scenario (but for now I am using only the T2 and vibe channels)

[2020-10-16 18:32] mathpluscode commented on #452
Sure, we might merge the fix into `main` soon, but I will re-open this ticket if it got closed automatically ;) as the bug is solved using demo data.

[2020-10-16 18:35] mathpluscode commented on #461
I checked all verified app from github marketplace and above are the one I've found which might be interesting/fun to have ^^.

What do you think? @ebonmati @zacbaum @s-sd @NMontanaBrown @acasamitjana @RemiDelaunay @YipengHu @sbb-gh

I didn't tag everyone but feel free to tag others.

[2020-10-16 18:45] YipengHu commented on #461
I'm all for robots. Any kind do docs? 😅

[2020-10-16 18:56] mathpluscode commented on #461
docs? what docs? @YipengHu

[2020-10-17 10:54] zacbaum commented on #461
For tickets in progress, we can just ask those (if they are actually actively working on it) to tag it as accepted - just need to create a new tag for that. Though right now, it seems like things aren't as active so it's not much of an issue.

For auto-pypi releases, we will likely go with something like you've put here with a GitHub action, but I think that's been deemed low-priority for time bei

[2020-10-17 11:01] ciphercharly commented on #452
I keep getting
`tensorflow.python.framework.errors_impl.InvalidArgumentError:  Conv3DBackpropInputOp: input and out_backprop must have the same batch sizeinput batch: 3outbackprop batch: 1 batch_dim: 0
         [[node DDFRegistrationModelWithoutLabel/local_net/local_net_up_sample_resnet_block/deconv3d_block/deconv3d/conv3d_transpose/conv3d_transpose (defined at /home/charlie/3DREG-tests/DeepReg/de

[2020-10-17 11:26] ciphercharly commented on #452
tested quickly, seems to run without errors with custom model/data too :+1:

[2020-10-17 15:30] mathpluscode commented on #461
@zacbaum what do you mean "tag it as accepted"?

oh for the pypi, the current "stable" version is actually buggy as you may see in some issues like #442 #452. Therefore, it'd be better to release a `0.1.0b2` soon, but we can still do it manually.

So what's your general opinion to have some "robots" around so that we don't do things manually? As scripts can be stand-by 24/7 ;)

[2020-10-17 15:36] zacbaum commented on #461
In the same way that we have "bug" and "docs" labels in the issue tracker, we simply have a label that is "accepted" and indicates that the issue is actively being worked on.

Fair point - are these bugs blocking/breaking for major parts of the code? Otherwise, this is likely always the case that bugs will be found and we'll need *another* release 😉

As above, not against for releases, but I think

[2020-10-17 15:41] mathpluscode commented on #461
@zacbaum Oh, there might be a bit of misunderstanding, the only automated label is "stale" which will remind us when an issue/PR has been inactive for e.g. 30 days. The other labels like "accepted" "confirmed" "priority", yes ofc they gonna be used manually ^^ So what do you think about this "stale", I found it widely used in other OS projects.

For the bugs, I'd consider them as important as for

[2020-10-17 15:41] mathpluscode commented on #461
side note: we need to have a release note / change log manually, I will add a new issue.

[2020-10-17 15:43] mathpluscode opened #462 "add changelog"
## Subject of the documentation

Since the release of `0.1.0b1`, we have fixed a few bugs and added a few features.

It would be nice to have a changelog. For now, we can do it manually,
and each PR into the main should update the changelog so that everything is tracked ;)

[2020-10-17 15:44] #453 closed

[2020-10-17 16:44] mathpluscode commented on #462
# Changelog 0.1.0b2

Added (for new features):
- Added visualization tool for generating gifs from model outputs.
- Added `log_root` argument for training and prediction to customize the log file location.
- Added `environment.yml` file for Conda environment creation.
- Added Dockerfile.
- Added documentation about using UCL cluster with DeepReg.

Changed/Updated (for existing functionalities):
-

[2020-10-17 16:47] mathpluscode commented on #462
@zacbaum @s-sd @sbb-gh @zacbaum @acasamitjana @RemiDelaunay I've included our changes as above since the first release (acc to the PRs), the categories come from https://keepachangelog.com/en/1.0.0/.

I've tagged you as you have contributed to the package since then, did I miss anything?

@ebonmati @NMontanaBrown What do you think about this kind of changelog ;)

[2020-10-18 17:53] mathpluscode opened #463 "Add more explanation on separable_filter3d"
## Subject of the documentation

There was a bit of confusion/misunderstanding with the function `separable_filter3d` regarding the use of [tf.nn.conv3d](https://www.tensorflow.org/api_docs/python/tf/nn/conv3d).

So maybe it's better to add some more comments on the usage of conv3d and add some tests.

If the documentation request is approved, would you be willing to submit a PR? _(Help
can be pro

[2020-10-18 20:59] #458 closed

[2020-10-19 13:13] ebonmati commented on #462
Looks good to me

[2020-10-20 12:18] #215 closed

[2020-10-20 12:21] acasamitjana commented on #361
I close this ticket since it's been improved by PR  #422

[2020-10-20 12:21] #361 closed

[2020-10-21 22:26] mathpluscode commented on #407
Close this issue as it's not obvious to have a better commit policy and we've created a separate issue #462 for the change log.

[2020-10-21 22:26] #407 closed

[2020-10-21 22:38] mathpluscode opened #468 "Support mixed precision calculation"
## Subject of the feature

Using mixed precision (float16 and float32) can save GPU memory and hopefully the calculation speed as well.

According to https://www.tensorflow.org/guide/mixed_precision, the modification is not too complicated.

Some basic facts:

1. Computations are done in float16 for performance, but variables must be kept in float32 for numeric stability. They cast their inputs to

[2020-10-21 22:40] mathpluscode opened #469 "Support training restorage"
## Subject of the feature

Currently, we are using `model.load_weights` to start the supervised training from non-random weights.
However, if the intention is to resume a stopped run, this will not be perfect as the status of optimizer is not saved in the checkpoint.

The following piece of code can be helpful:
https://github.com/tensorflow/tensorflow/issues/27861#issuecomment-487455939

[2020-10-21 22:48] mathpluscode commented on #408
btw lol `DeepRegbeta will be released in Autumn 2020` we gonna enter winter...

[2020-10-22 01:51] YipengHu commented on #408
https://www.google.com/search?q=when+does+winter+start&oq=when+does+winter+start&aqs=chrome..69i57j0i402j0l6.3921j1j7&sourceid=chrome&ie=UTF-8

[2020-10-22 07:43] YipengHu opened #471 "Installation instructions"
## Subject of the documentation

What are you trying to do and which part of the code is hard to understand or incorrect
or missing? Please provide a link to the readthedocs page and code if available.

The installation page now contains information difficult to structure. Relationship between dovker, conda and pip are not obvious to many.

If the documentation request is approved, would you be wi

[2020-10-22 07:44] YipengHu commented on #471
@mathpluscode let's discuss and I can help re-write this.

[2020-10-22 07:45] YipengHu commented on #469
what the status of optimizer is useful for resuming?

[2020-10-22 07:47] YipengHu commented on #99
@NMontanaBrown can you review this and close the ticket if the tasks are specified in others?

[2020-10-22 07:49] YipengHu commented on #54
@ZheMin-1992 can you review this and give an estimates of the time required? thanks

[2020-10-22 07:50] YipengHu commented on #162
@mathpluscode can you review this? if not immediate plan to add this, close it for now.

[2020-10-22 07:51] YipengHu commented on #179
I close this ticket.

[2020-10-22 07:51] #179 closed

[2020-10-22 07:52] YipengHu commented on #263
@QianyeYang can you review this and maybe give an estimate of the time required?

[2020-10-22 07:53] YipengHu commented on #301
@mathpluscode can you review this and see if this is still needed?

[2020-10-22 07:54] YipengHu commented on #302
i close this for now and follow up with #459

[2020-10-22 07:54] #302 closed

[2020-10-22 07:56] YipengHu commented on #305
@mathpluscode please review this ticket and give estimate of time required or maybe come up with a specific plan for this?

[2020-10-22 07:57] YipengHu commented on #324
as discussed, @zacbaum I think we are go ahead with this?

[2020-10-22 07:59] YipengHu commented on #357
@mathpluscode can you review this? or ask someone to help?

[2020-10-22 08:00] YipengHu commented on #379
@NMontanaBrown can you review this and maybe an estimate of time required?

[2020-10-22 08:01] YipengHu commented on #394
@agrimwood can you review this and an estimate of time required for this?

[2020-10-22 08:05] YipengHu commented on #427
@zacbaum yeah go head please.

[2020-10-22 08:09] YipengHu commented on #428
this one gets my vote. @mathpluscode go ahead

[2020-10-22 08:15] zacbaum commented on #324
@YipengHu let's all discuss (very) high-level content for the page at today's meeting. We will use the Cayman template as discussed but I would like input from everyone as to what should be on this page so that we don't run into issues as occurred last time with content/style.

[2020-10-22 08:29] YipengHu commented on #471
@mathpluscode I assign this to you and please ask me to review it when done. Thanks!

[2020-10-22 08:58] mathpluscode commented on #357
Sure. But this is not of high priority for now. I will handle this when I finished testing all demos, which will require updates of docs anyway.

[2020-10-22 08:59] mathpluscode commented on #305
This gonna be for November or December 2020. It requires the finish of demo tests first.

[2020-10-22 09:01] mathpluscode commented on #301
I'd suggest close it for now and add tag wontfix @YipengHu. For better config handling, we could consider the third party package hydra from Facebook but I need to check that package first.

[2020-10-22 09:06] mathpluscode commented on #162
@YipengHu Actually, this should be an important feature to release, we can consider it in the one after next release, aka 0.1.0b3.

[2020-10-22 09:07] mathpluscode commented on #54
I'd suggest to hold on this or even close it... The task is not clearly defined and I would not say it's of high priority, same as #301

[2020-10-22 09:10] mathpluscode commented on #469
If you do not have the optimizer status, beta, gamma in Adam for example. After reloading the checkpoint, the first gradient update might give a big harmful update which leads to inferior performance.

With optimizer status, you can continue the training as you never stopped it. This piece of code has been tested in other projects, so it's verified already.

[2020-10-22 09:32] mathpluscode commented on #324
@zacbaum Can we have a draft/list of contents before the discussion so that you can propose something and we quickly discuss and provide more opinions? It can be faster than starting a discussion from an empty list. ^_^

[2020-10-22 09:35] zacbaum commented on #324
@mathpluscode - as in ticket description 😉

Text can be lifted/repurposed from `README.md` - images as above - links consistent/similar to those on `README.md` as well.

[2020-10-22 10:23] agrimwood commented on #394
I can update code by end of next week. Any advice on the best way to check my changes are working? (i.e. is there a way to create a readthedocs from my branch, or another method to assess changes?)

[2020-10-22 11:13] mathpluscode commented on #394
Will invite you to RTD, you could have a separate version of the docs dedicated to your branch.

[2020-10-22 12:36] YipengHu commented on #446
only focus on on-th-fly required pre=process per discussion

[2020-10-22 12:48] zacbaum opened #473 "Integration with 3DSlicer"
## Subject of the feature

It would be nice to have integration (either through a scripted module or otherwise) with 3D Slicer to enable the underlying DeepReg models to be used for inference within a more user-friendly/less-technical avenue.

[2020-10-22 12:50] NMontanaBrown opened #474 "Reformat Demo's for a Visually Consistent Output"
## Subject of the documentation

What are you trying to do and which part of the code is hard to understand or incorrect
or missing? Please provide a link to the readthedocs page and code if available.

Our docs have visually inconsistent outputs. We now have a tool to produce videos/gifs. Make the demos have equal output by adding the gif tool to the demos.

If the documentation request is approv

[2020-10-22 12:53] zacbaum opened #475 "Adding Point-Set registration method(s)"
## Subject of the feature

It could be beneficial to DeepReg packages to include some form of point-set registration (either classical [ICP, CPD] or new learning-based methods).

This will also likely require useful methods for quick extraction of point-sets from image labels/masks.

[2020-10-22 12:57] s-sd opened #476 "Automated hyperparameter tuning"
## Subject of the feature

What are you trying to do and how would you want to do it differently?

At MICCAI I saw a lot of interest in automated hyperparameter search/ tuning. The feature is available in several libraries but integrating it with parameters specified in the config file and with the deepreg train function is not straightforward. I suggest that we add some simple functionality that

[2020-10-22 13:05] mathpluscode commented on #476
Tensorflow seems to have this https://www.tensorflow.org/tensorboard/hyperparameter_tuning_with_hparams we could have a look to see if it's easy to integrate.

[2020-10-22 13:18] mathpluscode commented on #461
@zacbaum for the pypi release, do we have a separate issue?

It seems that you have lots of work to do already lol, tell us if you need help ^^.

[2020-10-22 13:21] zacbaum commented on #461
See #408 - Just need to decide what the priorities are for what I've been assigned... Seems this wasn't one until today so I will get to this after #324.

[2020-10-22 13:50] mathpluscode commented on #476
BTW, last time I tried some auto lr tuning with pytorch lightning https://pytorch-lightning.readthedocs.io/en/latest/lr_finder.html, the experience is not amazing tho. @sbb-gh do you know some other relevant functions ;) ?

[2020-10-22 18:46] #463 closed

[2020-10-22 20:08] YipengHu commented on #476
why not amazing?

[2020-10-22 20:08] mathpluscode commented on #416
@s-sd I've updated the issue content, does it make more sense now?

[2020-10-22 20:10] mathpluscode commented on #476
I was imagining some auto-tuning during the training lol... Well maybe it's my expectation problem. The tool was just choosing a lr with some data before the training, and I'm not confident about the chosen lr.

[2020-10-22 20:11] YipengHu commented on #54
@ZheMin-1992 what do you think?

[2020-10-22 20:12] YipengHu commented on #162
i do think it is important but also has workaround already - up to you really.

[2020-10-22 20:12] #301 closed

[2020-10-22 20:13] YipengHu commented on #305
is there a way to tag some ticket, so it becomes "alive" when another one closes? ;)

[2020-10-22 20:13] mathpluscode commented on #162
After I deploy the tests on demos (yeah I know I've been talking about this for ages).

[2020-10-22 20:15] mathpluscode commented on #305
No idea, but maybe we should define different priorities and sue the github features wisely, like `project` `milestone`...

[2020-10-22 21:14] mathpluscode commented on #450
I gonna update the documentation regarding three issues together. #450 #471 #416
There will be no py code change, only markdown files.

[2020-10-22 21:14] mathpluscode commented on #471
I gonna update the documentation regarding three issues together. #450 #471 #416
There will be no py code change, only markdown files.

[2020-10-22 21:14] mathpluscode commented on #416
I gonna update the documentation regarding three issues together. #450 #471 #416
There will be no py code change, only markdown files.

[2020-10-22 22:10] #462 closed

[2020-10-22 22:46] #427 closed

[2020-10-22 22:46] #447 closed

[2020-10-23 00:35] mathpluscode commented on #416
@NMontanaBrown Apologies here, as I've been correcting the test styles in multiple PRs and it's better to provide an up-to-date test example and therefore I updated the text as well. Our deal was me updating the test code and you update the text. But turns out most of the existing text on the testing are no longer valid. ;) so please have a look and feel free to add more comment/commits.

[2020-10-23 11:22] ZheMin-1992 commented on #54
It is helpful for the user from my current understanding. I am not sure actually.
I can proceed anyway if we decide to go.

[2020-10-23 22:35] zhangfanmark opened #478 "[JOSS Review] Demo testing"
Hi,

I'm reviewing the DeepReg paper on JOSS (openjournals/joss-reviews/issues/2705). I am running some testing examples here.

1. python3 demos/paired_ct_lung/demo_data.py

ERROR:
[code]

2.  python3 demos/paired_ct_lung/demo_data.py

README says "A pre-trained model will be downloaded", but the model seem not there.

3. It might be a good idea to have one master testing script to call the demo b

[2020-10-23 23:06] zhangfanmark opened #479 "[JOSS Review] Code Review Summary"
Hi,

I'm reviewing the DeepReg paper on JOSS (openjournals/joss-reviews/issues/2705).

I am able to install the software and successfully run through the code, including model training and testing, while there are some small bugs as pointed out in the other issue.

I looked through the code and find the code well-organized, well-commented, and well-documented.

I also read through the demo the aut

[2020-10-23 23:16] zhangfanmark opened #480 "[JOSS Review] Paper Review Summary"
I'm reviewing the DeepReg paper on JOSS (openjournals/joss-reviews/issues/2705).

The paper gives a clear high-level description of DeepReg and it is well written.

If space allowed, I would suggest briefly introducing the underlying algorithms (e.g., some of the text in your MIICCAI challenge demo). Also, "Statement of need" can improved by a more clear comparison to "the existing open-sourced re

[2020-10-23 23:50] mathpluscode commented on #479
Hi, @zhangfanmark thanks a lot for your review and comments. Please let us know if you experienced any bugs and issues (We are currently working on the demo issues you mentioned in #478 and will fix the demos and add a test soon, as mentioned in #344).

[2020-10-24 00:01] mathpluscode commented on #480
Hi, @zhangfanmark thanks for your comments.

Regarding the introduction of the algorithms, we had them in the paper originally however it needs more than 200 words while we already have ~800 words currently. As a result, we could not include them in the JOSS paper.

Regarding the existing open-sourced registration projects, we've mentioned
1. Deep learning based project like VoxelMorph. So far we

[2020-10-25 00:23] mathpluscode opened #481 "Improve error check when data path is wrong"
## Subject of the issue

When path for dataset is wrong in the configuration, we might get the following error:

[code]

This is actually due to the empty dataset.
Therefore we need to add a check before launching the training/prediction.

[2020-10-25 10:54] s-sd commented on #324
@zacbaum, I have made some visualisations (gifs) using the vis tool. There are various visualisation from four demos. The link to access them is:

https://liveuclac-my.sharepoint.com/:u:/g/personal/zcemsus_ucl_ac_uk/EeNqjdkvYphFkvdNfnkKyx8BbFGGcUMQ7SWIvJeEpYh2Ig?e=trzAd8

The files are grouped into folders according to the demo name. The files with names ending with `_slice_N.gif` are the ones whi

[2020-10-25 16:01] #452 closed

[2020-10-25 16:02] mathpluscode commented on #452
Hi @ciphercharly the fix has been integrated into the `main` branch now, feel free to test again ;) Please reopen this ticket if there's still error!

[2020-10-25 21:26] QianyeYang opened #482 "Predicting error when using deep_predict when using bacth_size != 1"
## Subject of the issue

When using `deepreg_prediction` command with --batch_size !=1, the error will occure probably because the number of samples in the test set can not be divisible by the number of batch_size.

## Your environment

- DeepReg version 49c38a9b9fcfc344a4ef9bc5b5f4a7cc058b1545
(Which is quite old... I'm not sure if this bug still exists in later versions. )

[2020-10-25 21:52] mathpluscode commented on #482
Hi @QianyeYang It can be possible, I forced it to 1 because of an error I think.

[2020-10-25 21:53] mathpluscode commented on #482
@QianyeYang can you provide a full error log?

[2020-10-26 01:19] QianyeYang commented on #482
2020-10-26 01:18:47.233327: W tensorflow/core/framework/op_kernel.cc:1753] OP_REQUIRES failed at conv_grad_ops_3d.cc:1169 : Invalid argument: Conv3DBackpropInputOp: input and out_backprop must have the same batch sizeinput batch: 4outbackprop batch: 2 batch_dim: 0
Traceback (most recent call last):
  File "/home/qianye/miniconda3/envs/deepreg/bin/deepreg_predict", line 33, in <module>
    sys.exit

[2020-10-26 01:21] YipengHu commented on #471
@mathpluscode following the instruction page: https://deepreg.readthedocs.io/en/latest/getting_started/install.html
will produce error: EnvironmentFileNotFound: '/home/yipenghu/enviroment_cpu.yml' file not found

[2020-10-26 01:27] YipengHu commented on #471
@mathpluscode The Doker option is not particularly straightforward or simple to do, and should be left the last optional one?

[2020-10-26 01:33] YipengHu commented on #471
@mathpluscode i'm still having doubt with the environment.yml file, you need to change the name/file to create another one? can i overwrite some deepreg?

[2020-10-26 08:31] lbrea opened #483 "[JOSS Review] Classical registration demos"
Hi, I'm reviewing the JOSS submission (https://github.com/openjournals/joss-reviews/issues/2705)

I've successfully run all the demos, but on the two examples of classical registration,

`python3 demos/classical_mr_prostate_nonrigid/demo_register.py`

and

`python3 demos/classical_ct_headneck_affine/demo_register.py`

the execution finishes with the following error:

`Traceback (most recent call l

[2020-10-26 08:32] lbrea opened #484 "[JOSS Review] Summary"
Hi, I'm reviewing the JOSS submission (https://github.com/openjournals/joss-reviews/issues/2705)

I've successfully installed DeepReg, run the demos, and check a few other examples - with only minor erros, as reported in other issue.

The documentation is very informative, and covers from installation and use to how to contribute, including many examples.
The code itself appears well structured an

[2020-10-26 09:39] mathpluscode commented on #471
@YipengHu you need to be inside DeepReg folder? I will check if it's clearly define.

I'm fine to put docker the list option :)

[2020-10-26 09:39] mathpluscode commented on #471
What do you mean? What do you want to overwrite? 🤔 @YipengHu

[2020-10-26 09:40] YipengHu commented on #471
This is the first thing on the page - you do not have any deepreg yet.

[2020-10-26 09:41] YipengHu commented on #471
how do you install it if you have one already installed? how do you install multiple envs?

[2020-10-26 10:31] mathpluscode commented on #471
If installed, use the update commands.

Multiple envs? Why we need multiple DeepReg Env, if you want change the name inside environment.yml :)
So we need some FAQ then.

[2020-10-26 23:27] YipengHu commented on #483
@mathpluscode is this being dealt with at #344 ?

[2020-10-26 23:29] YipengHu commented on #484
Nice to see the reviewer highlighted on the technical details such as the cross-validation - really impressed with the depth of the JOSS reviews!

[2020-10-26 23:33] mathpluscode commented on #483
Yes, all demos should work directly after resolving #344, as tests will be included.

[2020-10-27 10:24] zacbaum commented on #324
Please go and have a look: https://deepregnet.github.io/

Do **not** make changes to the site, please raise concerns or leave comments here and I will address them.

[2020-10-27 10:27] YipengHu commented on #324
Why the first page only occupies the like 2/3 of my screen? is it by-design or just me?

[2020-10-27 10:29] zacbaum commented on #324
Do you mean the header? (Green/Blue bit) I can make the logo, etc smaller if we would like.

[2020-10-27 12:41] YipengHu commented on #324
yeah - may be making it smaller will do - could be just me...

[2020-10-27 13:10] mathpluscode commented on #324
👏 Nice. But the logo might need to be smaller lol

![image](https://user-images.githubusercontent.com/4066929/97306012-bf8e6880-1855-11eb-91f1-a0b8e7fbd97e.png)

[2020-10-27 13:44] zacbaum commented on #324
Does that by default 😉
Will center it.

👍🏼

I've included it twice as technically they're logos for different things (one for DeepReg.Net and the other for DeepReg).

I'll remove the first? Or... Which do we prefer?

[2020-10-27 13:47] YipengHu commented on #324
i'm slightly for keeping both logos (not very strongly). maybe make one (the .net) very very small? @zacbaum wait a day or two, everyone will have their opinions. if nothing outstanding (i mean really outstanding), you should make the call.

[2020-10-27 13:47] mathpluscode commented on #324
Emmm I'd say a logo without .net at top? Logo in the middle is strange. Let's see other's opinions 😼

[2020-10-27 13:48] zacbaum commented on #324
For now I'll make both logos a bit smaller, and center text at the bottom. Then we can ask for comments at next dev meeting.

[2020-10-27 13:56] mathpluscode commented on #324
check with phones specially plz lol i think nowadays many traffic are via phones instead of laptops

[2020-10-28 04:35] pdb1263 opened #486 "2D(US)/3D(CT) Registration"
## Subject of the feature
2D(US)/3D(CT) Registration

What are you trying to do and how would you want to do it differently?
Trying to use DeepReg to register 3D-CT to 2D-US in REAL TIME

Is it something you currently you cannot do?
Not sure but documentation explicitly says current implementation (and examples) are 3D-3D only. Still not sure if current implementation will handle 2D-3D "just like

[2020-10-28 09:53] YipengHu commented on #486
Hi @pdb1263 very good question. In short, DeepReg does not support 2D-to-3D. However, if you are working with 2D tomography such as ultrasound, you might have a chance to replicate the data to, say, of depth of 3, such that it becomes a 3d-to-3d problem. Then the rest will be a research question as if it is actually going to work. Happy to assist if you are keen to try it.

Re speed, this is a mor

[2020-10-28 10:13] #416 closed

[2020-10-28 10:13] #480 closed

[2020-10-28 10:23] mathpluscode commented on #480
@zhangfanmark Hi, we've updated the paper regarding your comments, ref https://github.com/DeepRegNet/DeepReg/commit/38caa466fee6b149c36353953e5ee262f03e576b. Please feel free to reopen this issue in case of further comments/reviews.

[2020-10-28 14:00] #344 closed

[2020-10-28 14:03] mathpluscode commented on #483
Hi @lbrea, the mentioned demo has been fixed in #470. Now all demos have been tested. Please feel free to try again and let us know in case of any problems?

[2020-10-28 14:03] mathpluscode commented on #478
Hi @zhangfanmark , the mentioned demo has been fixed in #470. Now all demos have been tested. Please feel free to try again and let us know in case of any problems?

[2020-10-29 18:44] ciphercharly opened #488 "question on setup for paired unlabeled data"
## setup for paired unlabeled data

I noticed that the demos for the paired scenarios do not cover the case where the data is unlabeled, and I was wondering if there's still hope to use DeepReg effectively in that case and which network architecture/ loss function config would be the best:

I am trying to register T2 channel images to corresponding vibe channel images for each patient, so I picked

[2020-10-29 19:40] mathpluscode commented on #488
Hi @ciphercharly, to configure whether or not the data is labeled, we can change the value of `labeled` to `false` under `dataset`. e.g. https://github.com/DeepRegNet/DeepReg/blob/main/config/test/paired_h5.yaml#L8.

If you do such modification in `config/test/paired_h5.yaml`, then running the following command will provide a working test run.
[code]

Please have a try and see if this works for yo

[2020-10-29 19:45] ciphercharly commented on #488
thanks yeah, I use labeled = False in my custom config,
will try the test run too asap

[2020-10-30 22:12] mathpluscode opened #489 "Add option in travis-ci to run tests on demo"
## Subject of the code / test

Now we have tests covering demos however they are not included in travis CI.
But running these integration tests is time-consuming, therefore the better idea is to make it optional so that we can trigger it manually.

Or, we can run the test weekly ;)
https://docs.travis-ci.com/user/cron-jobs/

[2020-10-30 22:14] mathpluscode commented on #451
Hi, @ciphercharly are you still facing problems regarding this issue?
Btw, we've updated the tf to 2.3.1, which has the same requirement as 2.2.x.

[2020-10-30 23:02] mathpluscode opened #491 "migrate travis ci from org to com"
## Subject of the code / test

As mentioned in
- https://twitter.com/travisci/status/1322118491927957505?s=20
- https://docs.travis-ci.com/user/migrate/open-source-repository-migration

Travis is moving open-sourced project from .org to .com.
Therefore, we need to do the migration as documented ;)

The reason to ask is now the travis-ci.org is becoming slower due to this migration :(
So it'd be ni

[2020-10-30 23:21] mathpluscode commented on #482
@QianyeYang I confirm that it's a bug and we can reproduce it with demo data:

1. Copy one sample in `DeepReg/data/test/nifti/unpaired/test/` for both images and labels so that we have three samples in total.
2. Run `deepreg_train --gpu "" --config_path config/unpaired_labeled_ddf.yaml --log_dir test`
3. Run `deepreg_predict --gpu "" --ckpt_path logs/test/save/weights-epoch2.ckpt --mode test -b 2`

[2020-10-30 23:34] YipengHu commented on #491
agreed

[2020-10-30 23:46] YipengHu commented on #488
I'm afraid there is no effective guidelines between these options just yet, all remaining research questions.

We also found that learning rate and regularisation weight affect the registration network training substantially - perhaps more than they should, compared with other "more supervised" non-registration classification tasks. Some of these impact will diminish if you train longer, we regula

[2020-10-30 23:49] mathpluscode opened #492 "Update requirement on h5py"
## Subject of the issue

In CI, we got a test failed with commit 66fc5838bc534343fa0e5c5f614a180a3a84b804

https://travis-ci.org/github/DeepRegNet/DeepReg/jobs/740270179

![image](https://user-images.githubusercontent.com/4066929/97765532-60a54980-1b0a-11eb-85b7-58a495a1a4d7.png)

It seems that when we install the py package requirements, somehow pip installed h5py == 3.0.0, very strange.
Therefor

[2020-10-30 23:51] mathpluscode commented on #488
OH... I took this issue as a bug report issue lol... Seems like it might be more related to the performance.

[2020-10-30 23:52] mathpluscode commented on #492
@acasamitjana Just to let you know it's not your branch's problem that the test failed.

[2020-10-30 23:53] YipengHu commented on #54
Let's proceed.

[2020-10-31 00:11] mathpluscode commented on #54
@NMontanaBrown could you remind us what are we expecting exactly? Would you describe a simple use case?

@YipengHu I suggest to wait for further details.

Concerning onboarding @ZheMin-1992, if you are interested, we have some other tf-related issues like #468 #469 ;) and I can onboard you on these issues.

[2020-10-31 08:18] #492 closed

[2020-10-31 12:07] ciphercharly commented on #451
I have update to latest and same yeah, I can't use it anymore from this specific laptop, I think it's beyond repair

[2020-10-31 12:12] ciphercharly commented on #488
yeah finding a good set of hyperparameters seems to be hard... I will try some more, they want me to try other methods but I think it's worth sticking around
do you think it's worth running some classical registration trials to see how it works in that case and compare? the demos for the 'classical' scenarios are written for labeled data and in h5py format but I could customize one of them to load

[2020-10-31 12:42] mathpluscode commented on #451
Sorry to hear that.

In this case I will close this issue :)

[2020-10-31 12:42] #451 closed

[2020-11-01 10:33] MattClarkson opened #496 "Minor Typos mainly"
## Subject of the documentation
Minor typos as I read through some docs.

What are you trying to do and which part of the code is hard to understand or incorrect
or missing? Please provide a link to the readthedocs page and code if available.

I'm just pretending Im a complete beginner.

If the documentation request is approved, would you be willing to submit a PR? _(Help
can be provided if you ne

[2020-11-01 13:32] YipengHu commented on #496
- Good point on the network. We should at least add a pointer to the API ref where the different architectures, Local/Global U-Nets are described with references.
- Strategy/factory patterns worth separate tickets? @mathpluscode what do you think?
- The pictorial addition to the demos have also been mentioned by @ebonmati - do we have a ticket for this? Just have not got around to add them.

[2020-11-01 15:39] NMontanaBrown commented on #54
Hi, yes, I am now back from the dead

@mathpluscode  - "The current system would work, if user copy a config and change the values themselves in that copy, then pass the config path."

My idea was to auto generate this from command line such that:

python deepreg_cli_tool_config --path /path/to/save --net "Unet" --loss "X" --batch 32 --opt "Adam" etc etc (I forgot the args in the config, but hopef

[2020-11-01 15:40] NMontanaBrown commented on #491
Can, will do. @YipengHu @mathpluscode

[2020-11-01 15:42] YipengHu commented on #54
a tool like that would be handy - more about a good design.

[2020-11-01 15:42] NMontanaBrown commented on #324
Looks nice 👍

[2020-11-01 15:46] NMontanaBrown commented on #301
Bit late, but wouldn't this be avoided if we had the command line tool that generates the config file, see ticket #54

[2020-11-01 15:47] NMontanaBrown commented on #379
I am back from the dead, I will be reviewing this week, raising issues, and reporting at meeting on Thursday 😄

[2020-11-01 16:52] #491 closed

[2020-11-01 16:56] mathpluscode commented on #54
ok, so it's more like a flattened version of config? yeah, good to have for users maybe.

[2020-11-01 16:59] mathpluscode commented on #496
For the strategy/factory pattern, @MattClarkson could you provide some link to some examples?

I agree that adding if/else is not a good option, this can be handled with some registration method, like you register your custom loss/model, like https://github.com/ray-project/ray/blob/master/rllib/examples/custom_keras_model.py#L100.

[2020-11-01 18:27] NMontanaBrown commented on #99
@YipengHu  @mathpluscode  are we adding the tf record functionality or not? It's stowed away in a branch at the moment, we haven't really discussed bringing it back or not...? so nothing to unit test if no tf record function.

[2020-11-01 19:53] mathpluscode commented on #99
Yeah. We need to add it.
According to some experience somewhere else, the current data loading mechanism is probably not optimum.

If anyone would like to implement this feature, I can help with it. Otherwise, it will be on my to-to list ;)

[2020-11-01 21:55] sbb-gh commented on #476
@YipengHu Apologies for the late reply.   I've only tried some neural architecture search on Tensorflow, where we tune the network architecture.  It was a nightmare to use.

[2020-11-01 21:55] sbb-gh commented on #476
Maybe just having a systematic approach would be good enough.

[2020-11-02 00:50] #450 closed

[2020-11-02 00:50] #471 closed

[2020-11-02 00:57] mathpluscode commented on #406
Close this as we removed develop and 2 review requests have been activated and working fine.
Reopen this if anyone feels there's a need to define clearer docs ;)

[2020-11-02 00:57] #406 closed

[2020-11-02 13:23] #482 closed

[2020-11-02 21:47] mathpluscode commented on #484
Hi @lbrea thank you again for your review. I'm closing this as we are preparing for the acceptance and the release of `v0.1.0`.

[2020-11-02 21:47] #484 closed

[2020-11-02 21:48] mathpluscode commented on #483
Hi @lbrea thank you again for your review. I'm closing this as we are preparing for the acceptance and the release of `v0.1.0`.

[2020-11-02 21:48] #483 closed

[2020-11-02 21:48] mathpluscode commented on #478
Hi @zhangfanmark  thank you again for your review. I'm closing this as we are preparing for the acceptance and the release of `v0.1.0`.

[2020-11-02 21:48] #478 closed

[2020-11-02 21:48] mathpluscode commented on #479
Hi @zhangfanmark  thank you again for your review. I'm closing this as we are preparing for the acceptance and the release of `v0.1.0`.

[2020-11-02 21:48] #479 closed

[2020-11-02 21:50] mathpluscode opened #499 "Release v0.1.0"
## Subject of the issue

As mentioned in https://github.com/openjournals/joss-reviews/issues/2705, for preparing the acceptance to JOSS, we will release the version `v0.1.0` therefore some text/version/docs need to be updated.

[2020-11-02 22:06] #489 closed

[2020-11-02 22:06] NMontanaBrown commented on #496
@YipengHu jumping on this at the mention of missing tickets, did we open all the tickets from prior DeepReg meeting? If not, shall I open tickets from our previous "deepreg dev ideas" ticket?

[2020-11-02 22:19] #481 closed

[2020-11-02 22:46] YipengHu commented on #496
tbh, i lost track on this. I believe it is time for specific idea ticket now? feel free to open new ones, i will check again this week.

[2020-11-02 23:01] mathpluscode commented on #499
Reopen as need to modify Zenodo metadata

[2020-11-02 23:36] #499 closed

[2020-11-03 00:16] mathpluscode opened #502 "post release v0.1.0"
## Subject of the issue

- Update logo to remove beta
- Update readme regarding citation

[2020-11-03 09:12] zacbaum opened #505 "Incorrect Classifier Tag in v0.1.0"
## Subject of the issue

The tag in v0.1.0 to describe status was "Development Status :: 5 - Stable", which is not a valid PyPi tag. Will update this to "Development Status :: 5 - Production/Stable".

[2020-11-03 18:57] #505 closed

[2020-11-04 11:17] ciphercharly opened #507 "restart training from saved model"
## Error while trying to restart the training of a model from a previously saved checkpoint

tried to restart a training run from a saved 10000 epochs checkpoint, configuration otherwise identical

got the error in the attached log, not sure if I did something wrong or there's an issue with the code

[restart-error_stdout_train_30000epochs_gmi_unet_lw1rw1_learnrate1e-5.log](https://github.com/Deep

[2020-11-04 12:18] mathpluscode commented on #507
@ciphercharly it might be related to the gpu strategy. How many GPUs are you using?

I propose you try some simple fixes:

1. in https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/train.py#L162 add indent to model.compile(optimizer=optimizer) so that it's inside the scope of the strategy

2. If this does not work, try using at most 1 GPU, and remove the strategy.

We will investigate it furth

[2020-11-04 12:28] ciphercharly commented on #507
thanks, yes I was using 2 GPUs, will try what you suggest

[2020-11-04 14:17] NMontanaBrown commented on #54
Shall I assign myself this ticket to clarify? May be more helpful to address since I have the vision of what this generically would look like! @YipengHu @mathpluscode

[2020-11-04 14:18] mathpluscode commented on #54
Agree ;) this sounds better.

[2020-11-04 14:44] MattClarkson commented on #473
Slicer has a simple command line module interface, would that do? Or would you want a downloadable slicer extension module?

The first option would mean that you install deepreg inside whatever environment you are working in. Then you tell Slicer where it is, and Slicer just runs it as a command line app. In reality, Im guessing this is only of use for the inference phase? i.e. given an image, war

[2020-11-04 15:13] zacbaum commented on #473
3DSlicer can now (or rather, for a while now has been able to) [pip install](https://github.com/Slicer/Slicer/blob/master/Base/Python/slicer/util.py#L2584) things, so we could use this to access the functionality of DeepReg within Slicer to train (probably not so useful), infer on (probably quite useful) and warp (also probably quite useful) images.

So the thought here was that this would be a ni

[2020-11-05 13:00] YipengHu commented on #486
@pdb1263 I'm closing this now - do open a new ticket if you would like to follow this up :)

[2020-11-05 13:00] #486 closed

[2020-11-05 13:10] NMontanaBrown opened #508 "Add CMIC seminar to docs"
## Subject of the documentation

What are you trying to do and which part of the code is hard to understand or incorrect
or missing?

We gave a CMIC seminar introducing DeepReg, and there should be a recording online. Get in touch with Marco Palombo for a link and add this to the landing page and repo README.

If the documentation request is approved, would you be willing to submit a PR?

Yes

[2020-11-05 13:15] mathpluscode commented on #508
This is also mentioned in #502 ;)

[2020-11-05 13:16] NMontanaBrown commented on #508
Keep it separate - think it's not directly linked to release itself?

[2020-11-05 13:18] mathpluscode commented on #508
Sure will remove that then.

[2020-11-05 13:29] NMontanaBrown opened #509 "Docs: Update demos with consistent visuals using the vis tools"
## Subject of the documentation

What are you trying to do and which part of the code is hard to understand or incorrect
or missing?

The demos have visually inconsistent outputs, as raised in #424 by @ebonmati. We have to review the demos and add these visualisations now we have the vis tool developed by @s-sd .

If the documentation request is approved, would you be willing to submit a PR?
M

[2020-11-05 13:31] NMontanaBrown opened #510 "Add tracker information for registration"
## Subject of the feature

What are you trying to do and how would you want to do it differently?
From #424 raised by @agrimwood

"Adding information from tracker as inputs to the network to constrain reg, or as different inputs. So a module to do this/process txt files..?"

Is it something you currently you cannot do?
No, we do not have this.

Is this related to an issue/problem?
No.

Has the fea

[2020-11-05 13:33] NMontanaBrown opened #511 "re-implem Baum et al MICCAI 2020 Free Point Transformer"
## Subject of the feature

What are you trying to do and how would you want to do it differently?
@zacbaum presented Free-Point Transformers. We discussed maybe adding this to our algorithms on DeepReg, see issue #424 .

Is it something you currently you cannot do?
No

Is this related to an issue/problem?
No

Has the feature been requested before? If yes, please provide a link to the issue.
No

If

[2020-11-05 13:34] NMontanaBrown opened #512 "Add image dissimilarity losses: global NCC, L1, TukeyBiweight"
## Subject of the feature

What are you trying to do and how would you want to do it differently?
From issue #424
@acasamitjana  suggested adding new losses to the project.
"Mutual information (specially to compare with other intermodal registrations methods), Tukey Biweight (a more robust SSIM metric)"

Is it something you currently you cannot do?
Yes

Is this related to an issue/problem?
No.

Ha

[2020-11-05 13:36] NMontanaBrown opened #513 "Apply DDF transformation as data augmentation"
## Subject of the feature

What are you trying to do and how would you want to do it differently?
From issue #424 and @acasamitjana
"Data augmentation: apart from the existing AffineTF, we can include DDF transformations as well"

Is it something you currently you cannot do?
Unsure.

Is this related to an issue/problem?
No.

Has the feature been requested before? If yes, please provide a link to t

[2020-11-05 13:37] NMontanaBrown opened #514 "Resampler with flexible shape for DDF"
## Subject of the feature

What are you trying to do and how would you want to do it differently?
Raised by @acasamitjana in issue #424
Incorporate the option to resize deformation fields? The motivation behind is: (a) the associated notion of "control points" (e.g. if resize=4, we'll have control points every 4 pixels with linear interpolation to full size) (b) produces smooth DDF (c) DVF integra

[2020-11-05 13:39] NMontanaBrown commented on #475
Do we have to re-implem this or just point to existing packages/integrate with packages?

I'm aware of CPD at:
- https://github.com/siavashk/pycpd
but @YipengHu mentioned to me a while back that this might be buggy (?)

And I think the sksurgery libraries have ICP? @MattClarkson

[2020-11-05 13:41] NMontanaBrown commented on #496
Done.

[2020-11-05 13:51] NMontanaBrown commented on #509
🤦‍♀️  I raised the same ticket two weeks ago... Closing as duplicate.

[2020-11-05 13:51] #509 closed

[2020-11-05 14:06] YipengHu commented on #475
the said implementation is not "buggy" but having only partial implementation... i'm more interested in adding Zac's learning-based stuff.

[2020-11-05 14:34] acasamitjana commented on #372
I have made several commits. I think this is the most flexible option but open to discuss any other implementation @YipengHu  In summary:

1.- Important: in the config files (.yaml) we now need to specify not only the _method name_ but also some parameters, such that control point spacing. This will need a bit of discussion for backward compatibility.
2.- I created a BSplines layer that (a) assume

[2020-11-05 15:06] NMontanaBrown commented on #475
The ticket does say "either classical [ICP, CPD] or new learning-based methods" so I was trying to be thorough 😄

[2020-11-05 16:05] mathpluscode opened #515 "Fix dead link for visualize tool"
## Subject of the documentation

What are you trying to do and which part of the code is hard to understand or incorrect
or missing? Please provide a link to the readthedocs page and code if available.

https://deepreg.readthedocs.io/en/latest/docs/cli.html#visualise

Click the link in `See more details in its usage documentation.` and it goes 404.

Oh the doc is here https://github.com/DeepRegNet

[2020-11-05 16:08] mathpluscode commented on #515
Btw we need more detailed docs for this tool?
I have the png outputs and I literally just want to assemble them into one gif inside the folder :(

[2020-11-05 18:59] mathpluscode opened #517 "Add factory for customized functionalities"
## Subject of the feature

As mentioned in #496, we would like to enable users to use custom data loader, loss, and model without modifying the source code of DeepReg.

A good example is https://github.com/ray-project/ray/blob/master/rllib/examples/custom_keras_model.py#L100 and we need to investigate how this can be done and integrated into DeepReg.

This would probably require
- Code refactoring

[2020-11-05 19:26] NMontanaBrown commented on #515
Visualise to visualize? You heathen! @mathpluscode

[2020-11-05 23:42] mathpluscode commented on #512
Hi @acasamitjana could you add a bit more details on these two losses, like paper/example code/reference? So that if anyone else is interested in this ticket, they can do it as well ;)

[2020-11-05 23:48] mathpluscode commented on #515
Besides this, I'm wondering what is the functionalities this CLI tool is offering against https://ffmpeg.org tool? @YipengHu

[2020-11-05 23:50] mathpluscode commented on #514
My current understanding is that, we would like to have a resampler that accepts DDF which has a different shape from the image? @acasamitjana

[2020-11-05 23:53] mathpluscode commented on #510
@agrimwood could you describe this feature a bit further? What does the tracker mean here ;)

[2020-11-06 00:01] mathpluscode commented on #496
So here we have mainly three type of issues

1. typos
2. registering custom functionalities, a dedicated issue has been created #517
3. demos need more visualization of results #474

So I suggest to leave this issue open only for the mentioned typos, if it hasn't been taken care of in https://github.com/DeepRegNet/DeepReg/pull/516. Actually, @agrimwood would you mind correcting a few more typos ^^

[2020-11-06 00:06] mathpluscode commented on #488
@YipengHu Do you have any suggestions here ;)

Regarding the hyper parameters, this is a common problem in deep learning, we are considering a potential new feature regarding auto tuning in #476, however it will probably not happen this year.

[2020-11-06 00:08] mathpluscode commented on #475
@NMontanaBrown is this ticket duplicated with #511 or #511 is a small part of this?

[2020-11-06 00:11] mathpluscode commented on #461
Closing this as the mentioned robots (WIP, stale) have been added, and we have a separate issue for pypi.

[2020-11-06 00:11] #461 closed

[2020-11-06 00:12] mathpluscode commented on #324
I'm closing this as deepreg.net is now pointing to the landing page and it's alive now ;)

[2020-11-06 00:12] #324 closed

[2020-11-06 00:17] mathpluscode commented on #446
Revisiting this issue and my current understanding is to add a sampling function in data loader like:

Given a big image of size 500x500x500, we might want to do random crop of size 100x100x100 randomly from this image. Each time, we crop **only one** image per sample.

So this is about using https://www.tensorflow.org/api_docs/python/tf/image/random_crop. Is that what you suggested? @ciphercharly

[2020-11-06 00:24] mathpluscode commented on #413
The docs https://github.com/DeepRegNet/DeepReg/blob/main/docs/source/tutorial/run_cluster.md is not shown on RTD yet. Still need to update https://github.com/DeepRegNet/DeepReg/blob/main/docs/source/index.rst.

[2020-11-06 00:28] mathpluscode commented on #40
I put this issue on hold, as we will need to update the way of supporting custom data loaders, as mentioned in #517.

[2020-11-06 00:30] mathpluscode commented on #29
@YipengHu Do we pursue this issue?

[2020-11-06 00:32] mathpluscode commented on #26
@YipengHu do we pursue this issue? It seems to involve cuda coding and do we have anyone capable of maintaining this? As tf2.4 is going to use CUDA11.

[2020-11-06 07:44] acasamitjana commented on #514
That's right. The idea is to have a low resolution deformation field (i.e. control points). Then the resampler would interpolate the field between control points using the interpolation method of choice (e.g., linear, or bsplines #372 )

The original title (resizing) was more about the implementation:

- One option is to make the decoder path of the UNet flexible enough to choose to output feature

[2020-11-06 07:53] acasamitjana commented on #512
Hi @mathpluscode I have updated the title. I have them implemented in pytorch in a personal repo so I just have to copy-paste (almost).

For anyone trying to follow the ticket:
- L1 and Tukey Biweight are metrics at the pixel level more robust than the already implemented SSD. Concretely, Tukey biweight has the shape of L2 but clipped at a certain value. It may be useful in some applications such

[2020-11-06 08:52] agrimwood commented on #394
Hi @mathpluscode, I've created a PR and assigned it to other reviewers (keeping your workloqad down!)

[2020-11-06 08:57] agrimwood commented on #496
I'll take a look. Is there anyway we can maintain this issue as a place for people to record typos etc? there are bound to be more mistakes in future...

[2020-11-06 09:14] zacbaum commented on #502
Is already covered in #408? I will use this ticket to PR changes to README.md re: citation, logo updates and other misc changes. Landing page changes will be done once approved here (for consistency).

Zenodo config may be better as its own ticket? Quite a separate issue...?

[2020-11-06 09:26] agrimwood commented on #423
@acasamitjana @mathpluscode @NMontanaBrown - Having just proof read some of the docs for another issue (#394), I'm thinking we should expand #423 to add a very simple style guide to the contribution section of RTD. Hopefully, this might reduce the amount of post-editing required to keep RTD in good shape.

What do you think of adding 1 or 2 sentences with examples showing basic good practice? I'd

[2020-11-06 09:57] NMontanaBrown commented on #475
Hmm, there is some overlap, but I had thought it might be worth separating into two, since #511 is specifically a new architecture and this refers to classical point set registration in addition. Let's modularise our tickets as it will be easier to review, if FPT is not dependent on ICP or CPD implems? @zacbaum

[2020-11-06 09:59] NMontanaBrown commented on #423
Sounds like a plan - consistent formatting via template, don't we love that in this project!
Does it make sense to make the template first and then review docs or how would you go about this @agrimwood ?

[2020-11-06 10:23] zacbaum commented on #475
Probably no use in reimplementing CPD or ICP as there are existing versions out there (was just a thought when I typed this out during the meeting a few weeks ago). I'd say we can close one of them, just a matter of which...

[2020-11-06 10:57] NMontanaBrown commented on #475
I can close #511, but I'm wondering if there is any use integrating the classical point set packages via a demo for ease of use with DeepReg? This is a completely different ticket, but thoughts?

[2020-11-06 10:58] zacbaum commented on #475
Could be of use in the future, but let's get Point Set registration in first, then worry about how to showcase it in a demo 😄

[2020-11-06 11:04] NMontanaBrown commented on #511
Closing, duplicate @ #475

[2020-11-06 11:04] #511 closed

[2020-11-06 11:45] mathpluscode commented on #496
it's fine... I added the tag `typo` so we can just keep creating issues with this tag?

[2020-11-06 11:51] mathpluscode commented on #502
Yeah I will use this issue for Zenodo then ;)

[2020-11-06 11:55] mathpluscode commented on #512
@acasamitjana sure! Then feel free to do it anytime. I will update you if the way of adding losses got changed.

[2020-11-06 12:05] mathpluscode commented on #514
@acasamitjana we can split it in some steps:

1. Extend sampler to accept different shapes. Add tests etc.
2. Extend the Local Net / U-Net, but I was planning to refactor the networks anyway... need to think a bit more in this to ensure demos will be still working.

[2020-11-06 12:14] #394 closed

[2020-11-06 12:40] zacbaum commented on #502
Had already created a PR for readme updates which referred to this... as mentioned above: "I will use this ticket to PR changes to README.md re: citation, logo updates and other misc changes."

@mathpluscode, could you create a new ticket for the zenodo config and revert the text in the ticket name and description?

[2020-11-06 12:53] mathpluscode commented on #502
ah sorry lol.... emm let me try ;)

[2020-11-06 12:58] mathpluscode opened #521 "Add Zenodo config"
## Subject of the issue

Add zenodo config into repo https://zenodo.org/record/4210215#.X6ChIHX7SEI

[code]

[2020-11-06 15:57] NMontanaBrown commented on #54
A question for @mathpluscode, as I design this tool. Do we /need/ all the models in the config? Is this some weird dependency that needs fixing where all three must be present or am I missing something here?

https://github.com/DeepRegNet/DeepReg/blob/7e5faf194b6917b3d6b3f1e967d02cb1c19443e3/config/unpaired_labeled_affine.yaml#L12

In this yaml example there are three defined (local, global and un

[2020-11-06 16:09] mathpluscode commented on #54
No, we should just need what is necessary. I left them there so that it's easier to switch lol...

[2020-11-06 16:33] zacbaum commented on #521
How does this auto-update? With new auto-releases (once merged) `setup.py` has to stay at 0.0.0. Will that impact this?

[2020-11-06 17:24] mathpluscode commented on #521
Good question and I don't really know... will investigate 🤨

[2020-11-07 13:12] acasamitjana commented on #514
I think that an easy way is not refactoring the networks nor the resampler but extending the method ['ddf', 'dvf'] to include the option of control points and interpolation method ['linear', 'bsplines']. This could be easily specified in the config file. Then, the data flow would be: inputs --> backbone network --> resize to control points (if applies) --> method --> resampler --> loss

Let me kno

[2020-11-07 13:38] acasamitjana commented on #513
I'm not entirely sure how to proceed with that. As per my understanding of the code, one option is:
- Define a DDFTransformation3D class in dataset/preprocess.py that generates a smooth DDF and applies it to the input images.
- Specify the options in the config file under the preprocess field that is passed to get_dataset_and_preprocess():
   (1) DDF_DA=[True, False]
   (2) Field strength
   (3) L

[2020-11-07 15:36] mathpluscode commented on #513
@acasamitjana it sounds good, I'm thinking about refactoring this mechanism related to the registration of custom methods, similar to the transforms in pytorch. Make it easy and optional to apply augmentations. So at this stage your plan looks nice and feel free to go ahead and I will come back with more details later.

[2020-11-07 15:40] mathpluscode commented on #514
@acasamitjana oh I see, you saying the network outputs a smaller size of DDF then we add an layer which upsamples this DDF? This sounds easy and promising.

The way I was thinking was to save compute but it can be tricky.

[2020-11-07 18:26] mathpluscode commented on #521
@zacbaum I put it on hold for the moment and we will see what happens next time we release a new version. In the worst case, I modify the metadata manually lol

Let's hope that, releasing a new version would just update the files and version tag, not other info like title/author.

[2020-11-07 19:19] YipengHu commented on #513
This has been used for others but mainly in an ad hoc fashion. What is your field strength here?

[2020-11-07 19:26] YipengHu commented on #26
closing it now.

[2020-11-07 19:26] #26 closed

[2020-11-07 19:45] markpinnock opened #523 "Git clone url"
Git clone instructions in documentation to be updated to include url type link

[2020-11-07 20:10] #502 closed

[2020-11-07 20:22] acasamitjana commented on #513
It refers to the variance of the random field. E.g: low_res_field = field_strength*np.random.randn(field_shape)
You can even play with different field strenghts by choosing it randomly (uniform): field_strengh = (upper_bound-lower_bound) * np.random.rand(1) + lower_bound

[2020-11-07 20:34] NMontanaBrown commented on #515
Better to work on the docs then?

[2020-11-07 20:35] YipengHu commented on #515
automation?

[2020-11-07 20:46] YipengHu commented on #488
sorry overlooked this - yes, the classical algorithms definitely worth trying - it also runs for a while - let me know if any problem

[2020-11-07 20:47] NMontanaBrown opened #525 "Expand Config File Docs"
## Subject of the documentation

What are you trying to do and which part of the code is hard to understand or incorrect
or missing?

Whilst working on ticket #54, I had to keep looking at the provided config files to build the CLI. However there are some cases that don't exist in the CLI provided examples in the test config files section.

Reading RTD, the "Example configuration for x dataset" se

[2020-11-07 20:48] YipengHu commented on #29
closing this now - we will revisit when more evident what to do next.

[2020-11-07 20:48] #29 closed

[2020-11-07 20:51] YipengHu commented on #513
sounds good - some what to normalise it to [0,1] would be nice - by the CP spacing maybe?

[2020-11-07 20:57] YipengHu commented on #510
@agrimwood i can't recall this exactly either........ did we discussed tracked points?

[2020-11-07 22:47] mathpluscode commented on #488
To wrap up, @ciphercharly would you like to use the demo with classical methods for labeled data, to build another demo for unlabeled data? I suggest to close this issue and open a new ticket dedicated for that demo ;) the contribution is definitely welcome.

[2020-11-07 22:49] #523 closed

[2020-11-08 05:30] ciphercharly commented on #488
thanks for the answers! yes this can be closed. I will look into trying the classical scenario for unlabeled data

[2020-11-08 05:30] #488 closed

[2020-11-08 05:43] ciphercharly commented on #446
mmh no I didn't :) but i think this shifted away from the initial discussion
which was about.. automatic resizing of the fixed/moving images in the case where they differ, I think?

so to clarify: in a paired scenario for example, now the fixed/moving images do not need to be the same size (but they do need to have the same name, which is a bit confusing btw) for the code to run, but conceptually

[2020-11-08 14:24] mathpluscode opened #526 "Support multiple loss functions"
## Subject of the feature

What are you trying to do and how would you want to do it differently?

I'd like to use multiple loss functions together, e.g. dice loss + cross-entropy.
But it is not possible for the moment I guess.

If the feature request is approved, would you be willing to submit a PR? _(Help can be
provided if you need assistance submitting a PR)_

Yes

[2020-11-09 14:52] agrimwood commented on #510
It's not a clearly thought out suggestion to be honest. I had two specific ideas in mind, but am not sure they're worth implementing:

1) 2D-2D registration: Imagine you are acquiring a freehand ultrasound image sequence where the ultrasound probe is being tracked (e.g. passive optical tracking). The tracking data provides a coordinate system to each image, which may be helpful for registering one

[2020-11-09 20:48] mathpluscode commented on #510
@agrimwood I feel like we are talking about extending from 3D-3D to 2/3D to 2/3D registration? Technically it should be just a matter of data loader and network. It could be a very important feature.

If that's the idea, we can close this and open a new ticket for 2D-2D registration first. What do you think?

[2020-11-10 09:20] agrimwood commented on #510
@mathpluscode I agree - either 2D-2D, or 2D-3D (if that isn't already being implemented).

@YipengHu @mathpluscode I will open a new ticket unless you have any objections

[2020-11-10 09:20] #510 closed

[2020-11-10 11:30] NMontanaBrown opened #528 "Current Build On Main Failing"
## Subject of the issue

Current build is failing.

"The command "pytest test/demo/ -k test_single_config_demo[unpaired_mr_brain]" exited with 1."

It seems to be a demo test? See [Travis.](https://travis-ci.com/github/DeepRegNet/DeepReg/jobs/431630539)

If the bug is confirmed, would you be willing to submit a PR? _(Help can be provided if
you need assistance submitting a PR)_

Yes

## Your envir

[2020-11-10 12:50] mathpluscode commented on #528
It seems to be a problem linked to the data downloading

@acasamitjana Do you think we can move the data to github?

[2020-11-10 18:55] #528 closed

[2020-11-10 19:36] NMontanaBrown commented on #525
Hi @mathpluscode I have a couple of questions, from reviewing the data loaders as I write up these docs.

It seems like "sample_label" and "seed" arguments are passed to all the data loaders but their descriptions are missing on the functions. Also, I'm not sure that sample_label is used outside of the grouped data_loader. Is this true?

If this is so, could we make a case to simplify the sample_l

[2020-11-13 18:56] mathpluscode commented on #525
@NMontanaBrown regarding the issue, "other training hyper-parameter" are `epochs` and `save_period`, as indicated here https://github.com/DeepRegNet/DeepReg/blob/main/config/unpaired_labeled_ddf.yaml.

[2020-11-13 18:59] mathpluscode commented on #525
For `sample_label` it's used in `get_label_indices` https://github.com/DeepRegNet/DeepReg/blob/db76a33cb3e41a96594626ccf6e3900d3cfa720d/deepreg/dataset/util.py#L62, which is then used in `sample_image_label` https://github.com/DeepRegNet/DeepReg/blob/7e5faf194b6917b3d6b3f1e967d02cb1c19443e3/deepreg/dataset/loader/interface.py#L429, which is used in `data_generator` https://github.com/DeepRegNet/De

[2020-11-13 19:02] mathpluscode commented on #525
@NMontanaBrown regarding `seed`, yes I think it's passed but not actually used. We can add a ticket for this ^^

[2020-11-13 20:31] NMontanaBrown opened #531 "Bug: Clash Between Functions For Generating Indices"
## Subject of the issue

Whilst working on #525 #54 I was going through the DataLoaders. The base clase, DataLoader takes specific arguments such as "all", "sample" or None as args, but doesn't take "first":

[base DataLoader class that doesn't take "first" as one of the arguments](https://github.com/DeepRegNet/DeepReg/blob/7e5faf194b6917b3d6b3f1e967d02cb1c19443e3/deepreg/dataset/loader/interface.

[2020-11-13 20:35] NMontanaBrown commented on #531
(Not covered in the DataLoader test)[https://github.com/DeepRegNet/DeepReg/blob/6fed617c5f9fb08b1a401e333489e996fbdc9033/test/unit/test_interface.py#L30]

[2020-11-13 20:40] NMontanaBrown commented on #531
- [Not covered in unpaired loader](https://github.com/DeepRegNet/DeepReg/blob/main/test/unit/test_unpaired_loader.py) via a ctrl-f of "first"
- [Not covered in paired loader](https://github.com/DeepRegNet/DeepReg/blob/main/test/unit/test_paired_loader.py) via a ctrl-f of "first"
- [Not covered in nifti loader](https://github.com/DeepRegNet/DeepReg/blob/main/test/unit/test_nifti_loader.py) cia a ct

[2020-11-13 20:48] NMontanaBrown commented on #531
Pytest fails any tests where "first" are passed to sample_label.

E       AssertionError: sample_label must be sample or all or None, got first

[2020-11-13 21:09] mathpluscode commented on #531
@NMontanaBrown let's remove `first`? it's an old option linked back to some strange dataset. It was back then I want to only evaluate on the first label. But now we always evaluate on all labels and the results per label will be summarized.

[2020-11-13 21:10] #408 closed

[2020-11-13 21:12] NMontanaBrown commented on #531
Ok, undoing.

[2020-11-13 21:13] mathpluscode commented on #531
Still worth a PR to remove `first` from all existing place ^^. thx to spot this out!

[2020-11-13 21:19] mathpluscode commented on #517
We can have `ModelCatalog`, `LossCatalog`, `DataLoader`, following similar design here:

https://github.com/ray-project/ray/blob/00ef1179c012719a17c147a5c3b36d6bdbe97195/rllib/models/catalog.py#L96

https://github.com/ray-project/ray/blob/00ef1179c012719a17c147a5c3b36d6bdbe97195/python/ray/tune/registry.py#L108

[2020-11-15 15:26] mathpluscode opened #533 "Wrong bias initialization in GlobalNet"
## Subject of the issue

In `GlobalNet`, the bias of the dense layer to output `theta` is wrong.

[code]

It should be the flatten `eye(4,3)` as follows:

[code]

The reason of such initialization is too ensure the initial transformation is close to identical transformation.

To be sure, we can add one more test for `warp_grid` with identical theta https://github.com/DeepRegNet/DeepReg/blob/main/d

[2020-11-15 15:30] YipengHu commented on #533
I can confirm this initilisation is incorrectly configured, when converted from label-reg which uses a 3-by-4 format. I will have another look see if any other potential implications if we keep the current `warp_grid`. Will report back.

[2020-11-17 01:09] #531 closed

[2020-11-18 01:05] #533 closed

[2020-11-18 01:24] mathpluscode opened #535 "more dice score definition"
## Subject of the feature

For the dice, the current definition is https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/model/loss/label.py#L149.
It corresponds to the definition in https://arxiv.org/abs/1707.03237. But in https://arxiv.org/abs/1606.04797, the terms in the denominator are squared.

Two forms are identical in the binary case as the square of 1 is 1.
But when `y_true` and `y_pred

[2020-11-18 01:38] mathpluscode commented on #535
I did a small simulation, assuming all voxels i.i.d., and we sample their labels and predictions randomly. It seems that the non-squared version is closer to the estimation.

[code]

which prints

[code]

[2020-11-18 01:41] mathpluscode commented on #535
@QianyeYang check this :D

[2020-11-18 08:41] tvercaut commented on #535
There is no bullet-proof answer to the question of how to implement the soft Dice for deep learning purposes. Different justification lead to different choices (square, non-square, what epsilons and where, foreground only or average between foreground and background dice, how to handle multi-classes, batch version, etc.). Many of the issues arise when you have ground truth with 0 foreground voxels

[2020-11-18 11:14] mathpluscode commented on #535
Hi @tvercaut, thanks so much for the pointers! The discussions are quite detailed!

If my understanding is correct, the batched version is to sum over only spatial axes for the numerator and denominator. Then we have dice score for each channel and each sample in the batch.

Regarding the smooth, it seems like in MONAI you've put it on both numerator and denominator despite some discussion of smoo

[2020-11-18 15:07] acasamitjana commented on #513
I have added a preliminary version. @mathpluscode @YipengHu  can you take a look?
You'll find that:
- I have adopted a similar approach to AffineTransformation3D
- Configuration files include more options under 'preprocess'. Changes are not backward compatible as I add a new mandatory key under 'preprocess' ('da_method'). You could see an examples on the unpaired_mr_brain demo.

Please, take a loo

[2020-11-18 17:29] YipengHu commented on #513
How about change this to a WIP PR - easier to see the changes?

[2020-11-18 21:24] mathpluscode commented on #517
Maybe the example here is more relevant: https://realpython.com/factory-method-python/
The idea would be
- If no changes from the user, we will create a default object like `ModelCatalog`
- The users can initialize the `ModelCatalog` themselves, and register a new model so that the corresponding configs will be recognized.

[2020-11-18 22:01] mathpluscode commented on #513
@acasamitjana can you create a PR for your branch? If I do that I won't be able to review lol.

[2020-11-18 23:00] mathpluscode commented on #517
The changes I'm bringing are mainly:
1. Maintain a catalog of known models, backbones or losses etc.
2. Allow user to register his/her own model etc.
3. Use a more general config making things easier.

Regarding the config,
what we have now are:

[code]

I'm now simplifying it to (not final version, but wont be far)

[code]

More detailed docs will need to be provided for each backbone class so th

[2020-11-18 23:00] mathpluscode commented on #525
@NMontanaBrown Hi, are you still working on this?

I started to work on #517 and this will bring some changes to the configs.
Therefore I suggest putting this issue on hold for development. Ofc we can still raise questions here and there.
But maybe the work can be done while reviewing the PRs.
Regarding #54, I suggest to put it on hold as well.

For more details, check https://github.com/DeepRegNe

[2020-11-18 23:03] YipengHu opened #536 "New demo for globalnet"
## Subject of the feature

@jvhoutte suggested to add a demo using the global net predicting affine transformation. The alterntive may be to add an option and trained network in one of the existing demos.

What are you trying to do and how would you want to do it differently?

Still open to suggestions, but simply adding an trained affine network option.

Is this related to an issue/problem?
To a

[2020-11-19 00:00] mathpluscode commented on #357
I've extended this issue to be refactoring the whole contributing guidelines.

[2020-11-19 00:01] mathpluscode commented on #536
Which dataset are we considering here? @jvhoutte @YipengHu

[2020-11-19 09:05] NMontanaBrown commented on #525
So I was going to work on #525 before working on #54, so the latter is definitely on hold. I think we should discuss #517 further as the config change is quite linked to this ticket, config docs. I need to read further through 517 though.

[2020-11-19 13:05] YipengHu commented on #40
related to #517

[2020-11-19 13:06] #424 closed

[2020-11-19 13:48] zacbaum opened #540 "Add downloads badge, better organize existing badges on README"
## Subject of the documentation

Add new badges and categorize them to make it easier to understand what each means.

If the documentation request is approved, would you be willing to submit a PR? _(Help
can be provided if you need assistance submitting a PR)_

Yes

[2020-11-19 15:21] #496 closed

[2020-11-19 15:27] #540 closed

[2020-11-19 15:41] agrimwood opened #542 "Add 2D-3D Registration Functionality"
## Subject of the feature
DeepReg feature request to be able to register 2D images to 3D volumes.
Currently unavailable feature, low priority for now.

Has the feature been requested before? If yes, please provide a link to the issue.

If the feature request is approved, would you be willing to submit a PR? _(Help can be
provided if you need assistance submitting a PR)_

Yes

[2020-11-19 15:46] mathpluscode commented on #521
Ok, so we do need some config for zenodo :( https://zenodo.org/record/4281095

[2020-11-19 15:49] agrimwood opened #543 "Optimise demo"
## Subject of the issue
Adapt/modify/improve the demos, so that they perform well when applied to specific applications.

Modifications could include:
-- hyperparameter tuning
-- dataset expansion
-- output validation/benchmarking

[2020-11-22 01:35] mathpluscode opened #544 "Move CI to GitHub actions"
## Subject of the issue

- https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing
- https://ropensci.org/technotes/2020/11/19/moving-away-travis/

As explained in the links above, Travis CI is changing their pricing plan, we need to check in more details
- whether it will impact us considering our current CI activities
- does GitHub action can do the same job and is it easy to move? If yes, m

[2020-11-22 01:38] mathpluscode commented on #543
The following demos are using `num_channel_initial: 4`
- paired_mrus_brain
- paired_ct_lung
- unpaired_ct_lung

So for these demos, we definitely need to update the pretrained models

[2020-11-22 10:14] NMontanaBrown commented on #544
I think it's rather sad that Travis is moving away from free CI/CD for OS projects... So would support move to GHA.

[2020-11-22 10:14] NMontanaBrown commented on #525
Once PR for #517 #537 is closed I will finish this ticket.

[2020-11-22 14:26] mathpluscode commented on #517
@NMontanaBrown I've updated the issue description, so this issue will not be closed with #537. We will close this with the last PR which corrects all docs etc. ;) so please approve #537 without the docs (that's why `main` branch is meant to be unstable)

[2020-11-22 15:15] mathpluscode opened #546 "Do not use mirror strategy unless there are >= 2 GPUs"
## Subject of the issue

Now we are using mirror strategy regardless of the device we are using.
So it's better to improve this.

The example code from tf guide https://www.tensorflow.org/guide/distributed_training#using_tfdistributestrategy_with_tfkerasmodelfit is

[code]

The code above is not enough as we need to check how many GPUs we have. `tf.config.list_physical_devices('gpu')` is returning

[2020-11-24 09:42] #521 closed

[2020-11-24 13:28] NMontanaBrown commented on #508
Can someone check that this [link](https://eu.bbcollab.com/collab/ui/session/playback/load/941325351b64410eb886bbaf9aa64fb9?authToken=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJiYkNvbGxhYkFwaSIsInJlY29yZGluZ1VpZCI6Ijk0MTMyNTM1MWI2NDQxMGViODg2YmJhZjlhYTY0ZmI5IiwiaXNzIjoiYmJDb2xsYWJBcGkiLCJ0eXBlIjoxLCJleHAiOjE2MDYyMjc4NTIsImlhdCI6MTYwNjIyNDI1MiwiY29uc3VtZXIiOiI4NmU2YWQ3YzVlZDU0NzhlOGViMTQyODUyYWNiYzA5ZiJ9.VZIJ

[2020-11-24 13:30] zacbaum commented on #508
Works for me in an incognito chrome tab - so should be good for public use.

[2020-11-24 14:44] #508 closed

[2020-11-26 15:03] agrimwood commented on #543
Thanks for pointing this out @mathpluscode.
@YipengHu has also suggested lookig at the abdominal demo. I'll take a serious look at this before next week's meeting.

[2020-11-30 17:45] #357 closed

[2020-12-03 11:56] agrimwood opened #550 "save_png needs improved explanation in CLI docs"
## Command Line Tools

`--save_png` example usage seems contradictory, readthedocs states:

`--save_png,` for saving the outputs in png format.

`--save_png,` for not saving the outputs in png format.

If the documentation request is approved, would you be willing to submit a PR? _(Help
can be provided if you need assistance submitting a PR)_

Yes

[2020-12-03 13:46] ebonmati opened #551 "Add demo showing an example of transfer learning / fine-tuning"
## Subject of the feature

What are you trying to do and how would you want to do it differently?

It would be useful to have a simple example showing how to load a model and perform transfer learning or fine-tuning.

Is it something you currently you cannot do?

It is rather a suggestion

Is this related to an issue/problem?

#507

Has the feature been requested before? If yes, please provide a l

[2020-12-03 13:56] agrimwood opened #552 "Demo optimise - unpaired abdo CT"
## Improve training/performance of unpaired abdo CT model

**This issue is an extension of [543](https://github.com/DeepRegNet/DeepReg/issues/543)**

Can we improve the demo so that the final trained model has practical utility for users' research?
tagging @YipengHu @ebonmati for now, feel free to assign yourself and others (can't find SB!)

The easiest recommendation I can think of is to add more

[2020-12-03 14:41] zacbaum commented on #397
To make sure we are solving the right problem...

The issue is that we want to (somehow) include `/config`, `/data` (and maybe `/demos`) in the release, right? So that users can directly do the Quick Start tests and run demos without (many) additional steps.

Right now, when you `pip install deepreg`, these folders and their contained files (if we include them in the release) are buried away in yo

[2020-12-03 14:45] zacbaum commented on #397
NiftyNet used this to download from their model zoo; see here: https://github.com/NifTK/NiftyNet/blob/dev/niftynet/utilities/download.py

[2020-12-03 18:55] NMontanaBrown commented on #397
I personally prefer 2.

[2020-12-05 22:21] mathpluscode commented on #544
OK.... We need to move.

[2020-12-07 13:18] kate-sann5100 commented on #469
The current code uses `<tf.keras.callbacks.ModelCheckpoint>`

[2020-12-07 14:00] kate-sann5100 commented on #469
Bug with the following failure massage happens when I trained the model on cpu with `deepreg_train --gpu "" --config_path config/unpaired_labeled_ddf.yaml --log_dir` and tried to restore the model with `deepreg_train --gpu "" --config_path config/unpaired_labeled_ddf.yaml --log_dir test --ckpt_path logs/test/save/weights-epoch2.ckpt
`:
`ValueError: Trying to create optimizer slot variable under th

[2020-12-07 14:03] kate-sann5100 commented on #469
A bug happens if I try to train the demo with 1 gpu using `deepreg_train --gpu "" --config_path config/unpaired_labeled_ddf.yaml --log_dir test` and restore the training with 1 gpu using ` deepreg_train --gpu "" --config_path config/unpaired_labeled_ddf.yaml --log_dir test --ckpt_path logs/test/save/weights-epoch2.ckpt`

[2020-12-07 22:29] #544 closed

[2020-12-09 00:46] mathpluscode opened #557 "Refactoring models"
## Subject of the issue

We are now building models via functions. I'd like to refactor it into classes so that we can use the inheritance between classes to simplify part of the code. I personally find the current code quite confusing.

This is also a preparation for supporting more loss possibilities. However, there might be a risk that some demo will no longer work.

[2020-12-09 09:14] #546 closed

[2020-12-10 11:23] NMontanaBrown commented on #525
I am a bit confused by the docs in the LocalNet [init](https://github.com/DeepRegNet/DeepReg/blob/70fad7af76ff681fc24370c1ebd390b8466241e3/deepreg/model/backbone/local_net.py#L41):

It states:
`Image is encoded gradually, i from level 0 to E,
        then it is decoded gradually, j from level E to D.
        Some of the decoded levels are used for generating extractions.
        **So, extract_leve

[2020-12-10 16:15] zacbaum commented on #525
@YipengHu may be the better one to answer this; his network architecture after all! 😄

[2020-12-11 06:32] ciphercharly opened #558 "size error while running predict script"
when I run the prediction script on a custom trained model (unlabeled paired data) I get the following error:

[code]
the requested shape of the tensor seems to be double the one passed in input at some point and I don't understand why,
I have checked that all the shapes and the datatype of the nifti files in both training and test datasets are consistent..

any idea why this could happen?

and it

[2020-12-11 10:18] NMontanaBrown commented on #526
I have had a vague idea for this now that I've worked on the config docs. @acasamitjana are you working on this right now?

[2020-12-11 10:32] acasamitjana commented on #526
No, I haven't started yet, so go ahead. I'm happy to help if needed.

[2020-12-12 01:09] mathpluscode commented on #558
Hi @ciphercharly, that's strange.

Can you print the shapes of input, and maybe also with the required tensor shape. I wonder if there's a `batch_size` somewhere playing a role.

Otherwise, could you share the config log?

[2020-12-12 01:16] mathpluscode commented on #507
Hi @ciphercharly, are you still facing problems on this?

Regarding the error you got, it might be linked to the inconsistency of the training strategy, normally we should use mirror strategy in case of multiple GPUs. We've updated it recently, check https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/train.py#L153

Regarding the warnings, it's normal, as the variables linked to the optimizer

[2020-12-12 01:18] mathpluscode commented on #558
Hi again, @ciphercharly, actually, I might know the reason, you are using two GPUs, so that batch_size = 1, means 1 per GPU?
Can you try using only one GPU for inference?

[2020-12-12 05:35] ciphercharly commented on #558
with 1 GPU it works!
this is interesting, the same exact setting/config but with a smaller test/train dataset worked before with 2 GPU used during prediction....
so, the number of pairs is related to the choice of ```batch_size``` and number of GPUs?

[2020-12-12 05:40] ciphercharly commented on #507
I did not try again, but yes, I think that this is related to using more than 1 GPU for the training, and perhaps ```gpu_allow_growth = True```too? anyway you can close the issue I think, this is not something that can be fixed upstream...

[2020-12-12 15:41] mathpluscode commented on #558
Normally, tf's default setting is that `batch_size` is split by the number of GPUs. But in `deepreg`, we've defined the `batch_size` in config as the `batch_size_per_device`. Maybe we should make it clear in docs. The reason is that I used to do experiments with 2 or 3 GPUs and I was too lazy to change the config each time lol.

[2020-12-12 15:44] mathpluscode commented on #507
Sure. We thought there was a bug linked to model loading, but recently we think the loading is working as expected (means the optimizer status is in checkpoints and will be loaded).

I'm closing this issue then. Thx!

[2020-12-12 15:44] #507 closed

[2020-12-13 14:34] ciphercharly commented on #558
thanks

[2020-12-13 14:34] #558 closed

[2020-12-14 14:04] mathpluscode commented on #517
Need to rethink a bit
- https://github.com/open-mmlab/mmdetection/blob/master/docs/tutorials/customize_models.md
- https://realpython.com/primer-on-python-decorators/

[2020-12-16 17:47] #469 closed

[2020-12-18 08:32] YipengHu opened #562 "Demo optimise - unpaired ultrasound"
## Subject of the issue

- Pre-process data
- optimise config
- inspect results

[2020-12-18 08:39] YipengHu commented on #543
@agrimwood - let me know when you have the data ready. and i've changed this ticket for the abdomen one.

[2020-12-18 08:41] YipengHu commented on #543
i'm closing this as specific demo ones will be generated.

[2020-12-18 08:41] #543 closed

[2020-12-18 08:43] YipengHu commented on #552
@agrimwood - @ me know when you had a chance to have the data looked/ready.

[2020-12-22 12:06] s-sd commented on #474
@mathpluscode, is the vis tool being removed? I was looking at ffmpeg and I think the vis tool has some additional functionality like being able to make gifs that show warping, tiled gifs and a plot of only a few slices (like in the edu challenge notebook). Also the vis tool would make it easier to make demo outputs consistent just using the tool rather than adding new code for the visualisations.

[2020-12-22 12:09] mathpluscode commented on #474
no? @s-sd

I just personally find ffmpeg enough for me :) and finding the vis tool a bit hard to understand what's going on, maybe a doc with some images to show the results can be helpful? no intention to remove it if it has extra functionalities ^^

[2020-12-22 13:38] mathpluscode commented on #550
ooops it should be --no-save_png :(

[2020-12-22 15:52] s-sd opened #564 "Update vis tool documentation"
## Vis tool docs

What are you trying to do and which part of the code is hard to understand or incorrect
or missing? Please provide a link to the readthedocs page and code if available.

As mentioned in #474.

The documentation for the vis tool needs to be updated with some images that are produced using the tool and possibly changing from mode numbers (such as `0`, `1`, `2`, `3`) to informative

[2020-12-22 15:55] s-sd commented on #474
Thanks @mathpluscode, I have created a new ticket to update the vis tool documentation and have assigned this to myself (#564) and for now I'll use the vis tool for this ticket as well to make the demo outputs consistent.

[2020-12-24 00:06] mathpluscode opened #567 "Define loss as classes instead of functions"
## Subject of the issue

Now loss are functions, we should define them as py classes inheritated from tf.keras.loss

https://github.com/tensorflow/tensorflow/blob/v2.3.1/tensorflow/python/keras/losses.py#L47

Then, we use registry to register our loss classes

[2020-12-24 15:37] #372 closed

[2020-12-26 15:27] YipengHu opened #570 "Demo optimise - grouped masks"
## Subject of the issue

Pre-process data
optimise config
inspect results

[2020-12-26 15:52] YipengHu opened #571 "Demo optimise - weakly"
## Subject of the issue

optimise config
inspect results

[2020-12-26 18:34] mathpluscode opened #572 "GItHub's new feature discussion"
## Subject of the issue

GitHub has this new feature!

https://github.com/DeepRegNet/DeepReg/discussions

Any idea if we want to use it / how to use it :)?

I think the idea is to replace slack for some other OS projects.

@YipengHu @zacbaum @NMontanaBrown @acasamitjana @s-sd @ebonmati  (feel free to tag more lol)

[2020-12-26 18:40] mathpluscode opened #573 "Code quality badge using scrutinizer and codeclimate"
## Subject of the feature

Two new badges (https://github.com/fepegar/torchio uses these ^^)

<a href="scrutinizer-ci.com/g/DeepRegNet/DeepReg">
<img src="https://scrutinizer-ci.com/g/DeepRegNet/DeepReg/badges/quality-score.png" alt="Code Quality">
</a>

<a href="https://codeclimate.com/github/DeepRegNet/DeepReg/maintainability"><img src="https://api.codeclimate.com/v1/badges/65245e28aa8f2cd7c6b6/

[2020-12-26 18:40] YipengHu commented on #572
I'm all up for new things ;)

[2020-12-26 19:45] YipengHu opened #575 "Demo optimise - paired lung ct"
## Subject of the issue
Reduce the input data size
loss weights, init. no. channels
train longer

[2020-12-26 20:20] s-sd opened #576 "Demo optimise - unpaired ct lung"
## Subject of the issue

improve results from the `unpaired_ct_lung` demo

[2020-12-26 20:21] s-sd opened #577 "Demo optimise - paired mrus brain"
## Subject of the issue

Improve the results from the `paired_mrus_brain` demo.

[2020-12-26 20:27] YipengHu commented on #577
we can leave this ticket open, but i would not spend too much time on this one now.

[2020-12-27 16:53] mathpluscode opened #578 "DDF all zero in predict"
## Subject of the issue

In the latest main branch, when using demos/paired_mrus_prostate/demo_predict.py. The generated DDF are all zero.

The issue comes from ba27961deb0a3d1721747e03ae5a25ef49d988ea, #556.

## Steps to reproduce

- Train 1 epoch
- Copy the checkpoint under dataset/pretrained
- Run predict
- Check saved DDF png files

## Expected behaviour

Non-uniform DDF.

## Actual behaviour

[2020-12-27 16:56] YipengHu commented on #578
@sbb-gh just let you know the bug which may affect your demo optimise and even visualise if you run predict before plotting

[2020-12-27 18:45] #573 closed

[2020-12-27 21:35] mathpluscode opened #580 "Unit test in CI became slow"
## Subject of the issue

As we can see here https://github.com/DeepRegNet/DeepReg/actions?query=workflow%3A%22Unit+Test%22.

The unit test action took ¬40 mins while it was only 4 mins before.

[2020-12-27 21:37] mathpluscode commented on #580
I suspect the problem comes from the PR #539 with @acasamitjana. The interpolation tests seem to be computationally heavy.

I'm running pytest locally calculating time. will update soon.

[2020-12-27 22:23] #580 closed

[2020-12-27 22:26] mathpluscode commented on #550
I handled it in PR #568

[2020-12-27 23:36] #578 closed

[2020-12-28 20:38] zacbaum commented on #572
We (as of now) tend to just use tickets/PRs for most of what is there.

Is there any benefit to moving some of those discussions elsewhere? To me, it feels like just another place to need to keep up-to-date with and check on regularly (a.k.a. more work 😉)

[2020-12-28 21:56] mathpluscode commented on #572
Yup. Was thinking that discussion meant for more casual talks etc, as those issue template might be intimidating. But when checking another OS project, https://github.com/ray-project/ray/discussions/12424, seems like they didnt like this github feature. Wondering why.

Currently, my main questions are
- are their people using this package? if yes, what are their purpose (educationaly, research, in

[2020-12-28 22:01] mathpluscode commented on #535
I'm closing this issue as I believe there's no need to change for now :)

[2020-12-29 02:30] #397 closed

[2020-12-29 10:21] zacbaum commented on #572
In which case... May be worth setting something up, and putting a link on the readme, and RTD?

[2020-12-29 15:28] #570 closed

[2020-12-29 15:35] mathpluscode commented on #572
@zacbaum A google form as questionnaire?

[2020-12-29 19:20] YipengHu opened #584 "Demo optimise - grouped cardiac"
## Subject of the issue

data will remain
hyperparameter tuning and
longer training

[2020-12-29 23:36] YipengHu commented on #557
the classical registration ones will almost definitely break - maybe we should "officially" support these algorithms....?

[2020-12-30 09:36] mathpluscode commented on #557
We will see when I do the change. The idea would be not breaking demos at least

[2020-12-30 10:40] mathpluscode opened #585 "Add docs for custom loss using registry"
## Subject of the documentation

With the introduction of the registry, using custom loss/backbone/model should be easier. The related outdated docs have been removed. New docs will be necessary before the next release.

## TODO

- [x] backbone
- [ ] loss

[2020-12-30 14:49] mathpluscode opened #586 "Build dataset without generator"
## Subject of the feature

For now, we are using the generator to build the dataset, which yields elements one by one. This process is sequential, might not be optimal for multi-threading.

The alternative is to build a dataset from file paths and use `map` functions to perform the loading etc. So that it might be more efficient and accelerate the training.

Profiling/comparison would be necessary

[2020-12-30 15:06] #571 closed

[2020-12-30 16:59] mathpluscode opened #587 "Use pydocstyle and pylint to check docstring"
## Subject of the feature

http://www.pydocstyle.org/en/stable/usage.html#command-line-interface

It is common to forget updating docstrings, so an automated tool can be helpful.

The docstring should also pass pylint docstring check.

## Pylint Steps

I've updated the pylint config in the branch,
1. Identify an error code, e.g. `W9012`
2. Fix all related errors, then check with `pylint --disable=

[2020-12-30 17:23] NMontanaBrown commented on #587
I like this ticket, let me know if you need a hand.

[2020-12-30 17:24] mathpluscode commented on #587
XD yes, I'm doing some examples... it's relaxing.

[2020-12-30 17:36] mathpluscode opened #588 "Question on triangular kernel for LNCC"
## Subject of the issue

https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/model/loss/image.py#L88

The triangular `filters` are of shape `(kernel_size-1, kernel_size-1, kernel_size-1, ch, 1)` unlike the other two cases.
My question is simply, is this intended or not :) @acasamitjana

[2020-12-30 17:45] mathpluscode commented on #587
Emmm but this tool does not support sphinx type docstring. http://www.pydocstyle.org/en/stable/error_codes.html#default-conventions

Maybe a transition to google style can be considered.

[2020-12-30 17:49] mathpluscode commented on #587
It can be easily done with https://github.com/dadadel/pyment.

[2020-12-30 18:46] mathpluscode commented on #587
It turns out that, google or reST, it doesn't really matter, this `pydocstyle` can only do limited linting. It cannot detect missing docstring or wrong docstring for arguments.

BUT PYLINT can lol

[2020-12-30 21:43] YipengHu commented on #575
![2020-12-30 (2)](https://user-images.githubusercontent.com/2588157/103382568-796cb400-4ae7-11eb-80ff-f1c11642cfbb.png)

@mathpluscode @NMontanaBrown @s-sd Since you have/had worked on stuff related to the vessels/airways. This is a typical example that registration works as expected overall. But the smoothness is just not physically plausible! See the where vessels/airways have been "scrambled" t

[2020-12-31 00:05] mathpluscode commented on #379
@NMontanaBrown We now only have 11 lines not covered, we can choose to cover then or ignore them. Ignoring some is acceptable for me.

cc @YipengHu @zacbaum ^^

[2020-12-31 00:14] mathpluscode commented on #575
Are you using losses on image? I guess an image-based loss can prevent this behavior.
Moreover, we can minimize the following distance,

Given a forground voxel in predicted image, so it's predicted to be foreground. Then it's shortest distance to the ground truth foreground should be minimized. Similar to haursdorf distance.

If we only have labels for organs, we can define foreground based on in

[2020-12-31 00:23] YipengHu commented on #379
no comment

[2020-12-31 00:55] mathpluscode opened #590 "Clarify log_root and log_dir for train/predict"
## Subject of the issue

It is quite confusing which is which and what's their purpose.

[2020-12-31 01:21] YipengHu commented on #575
yes - it is using the image loss. what is "ground truth foreground"? it has labels for lungs, it is a large area.

[2020-12-31 01:24] mathpluscode commented on #575
If we have vessel, then it would be nice. If not, we can just do a threshold to guess the vessel?
But I guess a large SSD loss can be helpful, maybe a weighted SSD loss where small areas have higher weights.

[2020-12-31 08:30] NMontanaBrown commented on #575
Hi @YipengHu, just recalling work from last year. Do you know of any literature on hessian vessel filtering losses? Considering we are using 3D volumes, this could potentially be used/developed in the case of airways and tubular structures/vessels?

Also, can you update the issue to use the issue template? :)

[2020-12-31 08:36] YipengHu commented on #575
I'm using the "other" option in the template, as none of the others looked suitable... interesting point on the filter - maybe filtering within ROI before registering?

[2020-12-31 08:53] NMontanaBrown commented on #575
I thought that would be an interesting way to introduce the "vesselness" prior - as you say it can be an additional loss that weakly constrains like the label based losses... Filtering before registering (so effectively adding/creating a label) or filtering after registering (more an image based loss)? Let me do a quick lit search if this has been done before.

[Implem for scikit, can port to tf](

[2020-12-31 09:20] NMontanaBrown commented on #587
That's why I was arguing for pylint all the way back then!

[2020-12-31 13:21] mathpluscode commented on #379
^^ I'd like to just push to 100% coverage

[2021-01-01 14:41] mathpluscode opened #591 "Question on num bins for GlobalMutualInformation"
## Subject of the issue

In https://github.com/DeepRegNet/DeepReg/blob/567-define-loss-as-classes-instead-of-functions/deepreg/model/loss/image.py#L49,
the `num_bins` are 23 by default, is there any specific reason for this?

@acasamitjana

[2021-01-03 14:16] zacbaum commented on #379
I'm fine with ignoring some which aren't possible to cover by ourselves (e.g. which rely on testing from external libraries - I've seen some calls to Keras `Model.` be flagged as not covered) - just a matter of seeing which remain after that.

[2021-01-03 21:22] YipengHu commented on #552
@agrimwood I am going to start to look at the data now, but do let me know if any progress from your side when you see this.

[2021-01-03 21:40] YipengHu opened #595 "Change the test and no-test flag in demo_train"
## Subject of the issue

the flags in demos `--test` and `--no-test` are confusing with inference/prediction and test mode in config files. better to change it to something else, e.g.:
`--quick-demo` (default) and `--pre-trained-model`

Any better ideas?

[2021-01-04 09:40] acasamitjana commented on #588
Hey, I'm back on track now, sorry for the delay.
It was not intended, we should increase padding +1 on the right of each dimension.

[2021-01-04 09:42] mathpluscode commented on #588
sure, once after #568 we can fix it

[2021-01-04 09:58] acasamitjana commented on #591
Not really, it's the value I was using and giving reasonable results in previous experiments. I'm sure any value around 20-25 would be good.

[2021-01-04 11:52] #562 closed

[2021-01-04 12:56] #584 closed

[2021-01-04 13:00] YipengHu commented on #576
@s-sd how far are you into this? since I am at it, i can take this over if you want?

[2021-01-04 13:04] s-sd commented on #576
@YipengHu, I am working on this now (the model is currently training). Will hopefully submit a PR for it tomorrow or later today

[2021-01-05 11:47] kate-sann5100 commented on #469
[train for an epoch resolves optimiser weights not loaded warning](https://github.com/tensorflow/tensorflow/issues/33150#issuecomment-574517363)

[2021-01-05 15:09] agrimwood commented on #552
Hi, I had a look at the following at the start of December:
- Synapse data (requires signing up to d/l): 30 abdo CTs with 13 anatomical labels per volume.
- Medical Decathlon: various image volumes organised by anatomical site, but can't find any labels.
- Cancer Imaging Archive: 82 patient CTs with pancreas segmentations (contrast enhanced, non-pathalogical volunteers).

[2021-01-05 23:15] #588 closed

[2021-01-05 23:25] #575 closed

[2021-01-05 23:52] #576 closed

[2021-01-06 22:01] #567 closed

[2021-01-07 19:25] mathpluscode commented on #99
I will close this issue for now. The way of using generator is not optimal for me for now. Therefore more changes should come to data loader.

The idea implementation should be
- build a dataset of paths
- use dataset.map to apply transformations
so that no need of using generator, i hope this can make data loading faster and easier to understand, though not sure how much we gain.

tfrecord will b

[2021-01-07 19:25] #99 closed

[2021-01-07 19:31] mathpluscode commented on #446
Currently, deepreg supports loading images of different size, they will be resized to the same shape (which is defined in the config) automatically.

Code is here: https://github.com/DeepRegNet/DeepReg/blob/7c22a30ef27d7ff1bec5d21cbdb1a25f65cd5027/deepreg/dataset/loader/interface.py#L104

Sorry for the delay, does this solve your problem? @ciphercharly

[2021-01-07 19:34] #474 closed

[2021-01-07 19:38] mathpluscode commented on #413
it's online now.

https://deepreg.readthedocs.io/en/latest/tutorial/run_cluster.html

[2021-01-07 19:38] #413 closed

[2021-01-07 19:44] mathpluscode commented on #476
We did encounter many problems in demo with the loss weights, thus this issue is still important.

[2021-01-07 19:47] mathpluscode commented on #305
This will be linked to model refactoring.

Actually, instead of refactoring the existing model, I'd consider writing new models, like V1, V2, then depreciate old ones.

[2021-01-07 19:48] mathpluscode commented on #572
Apparently @YipengHu has been using it already. Will close this issue. Please open new ones if we want to do questionnaires.

[2021-01-07 19:48] #572 closed

[2021-01-07 19:49] mathpluscode commented on #550
fixed in https://github.com/DeepRegNet/DeepReg/pull/568

see https://deepreg.readthedocs.io/en/latest/docs/cli.html#predict

[2021-01-07 19:49] #550 closed

[2021-01-07 19:50] mathpluscode commented on #512
@acasamitjana where are we on this? ^^ with new registry, this should be super easy to do now!

[2021-01-07 19:54] YipengHu opened #601 "Deadlink on the cluster page"
## Subject of the documentation

- The link to the description of "install the enviriment in the cluster as described [here]" is not working
- UCL HPC site needs login - better to add "login required".

[2021-01-07 19:56] YipengHu commented on #601
@sbb-gh can you have a look at this?

[2021-01-07 22:39] #587 closed

[2021-01-07 23:46] mathpluscode commented on #591
In the doc string, I've mentioned that it's a empirical number. So I'm closing this issue.

[2021-01-07 23:46] #591 closed

[2021-01-07 23:48] mathpluscode commented on #526
This issue is doable now with the registry :) Will any of you be still interested and available? @acasamitjana @NMontanaBrown

[2021-01-08 00:11] sbb-gh commented on #601
- "The link to the description of "install the enviriment in the cluster as described [here]" is not working"
When I click on that link it sends me to the README page, does that not work for you?

- UCL HPC site needs login - better to add "login required".
Will do this.  I don't think I can put the password on the site.

[2021-01-08 00:34] YipengHu commented on #601
The URL now is https://deepreg.readthedocs.io/README.md
and should be something like: https://deepreg.readthedocs.io/en/latest/getting_started/install.html

[2021-01-08 06:43] ciphercharly commented on #446
I think it does, haven't update the git pull for a while now, but I think this means I can have whatever shapes for the nifti files in the train/test/validation datasets and the resize will happen automatically, right? so yeah

[2021-01-08 08:41] YipengHu commented on #446
That is correct.

[2021-01-08 10:15] ciphercharly commented on #446
ok perfect, thanks!

[2021-01-08 10:28] acasamitjana opened #604 "Separable convolution for LNCC"
## Subject of the feature

Implement the LNCC loss using separable convolutions (the same 1-D filter applied to each dimension). We could do that for the three kernels: rectangular, triangular and gaussian.
For large-sized images and/or kernels used in LNCC loss, separable convolutions may speed up the computation.

If the feature request is approved, would you be willing to submit a PR?
Yes

[2021-01-08 11:44] #446 closed

[2021-01-08 14:16] NMontanaBrown commented on #526
I'd close this if the other issue #512 is open and is going to use registry...?

[2021-01-08 14:20] NMontanaBrown commented on #525
Ok picking this up again now that we have added registry!

[2021-01-08 14:25] mathpluscode commented on #526
@NMontanaBrown I thought the multiple losses here mean:
You can apply two different losses to images at the same time, like LNCC loss and SSD ;)

[2021-01-08 14:36] NMontanaBrown commented on #526
Ah yes, I misread your comment as double not doable. I will not be able to work for this for the next couple of weeks actively, as I will be busy with some other things. So if they want to, someone else should pick this up, but otherwise I will return to it after a couple of weeks :) @mathpluscode

[2021-01-08 14:49] mathpluscode commented on #526
Sure, I might handle it myself. It's a small change :)

[2021-01-08 15:59] mathpluscode opened #608 "Release to docker hub"
## Subject of the feature

We have a preliminary docker file already. As some users might be interested in using deepreg directly inside the docker, to skip all the complicated setup, it's worth considering releasing the docker image to docker hub as well.

This is doable via GitHub Action, but some checks should be enabled in CI first.

[2021-01-08 16:22] mathpluscode commented on #517
I'm closing this issue, as the registry is already in `main` and #585 has been added dedicated for docs.

[2021-01-08 16:22] #517 closed

[2021-01-08 16:27] mathpluscode commented on #595
`--test` and `--full` ?

[2021-01-08 16:29] mathpluscode commented on #423
I guess this issue is more linked to the format of docstring? Am I right? @NMontanaBrown

[2021-01-08 16:46] mathpluscode opened #610 "Complete pylint linting"
## Subject of the code / test

After https://github.com/DeepRegNet/DeepReg/pull/589, we have activated some extra linting rules. However, there are still more rules not respected in the current code base.

As we can see in https://github.com/DeepRegNet/DeepReg/runs/1665498705?check_suite_focus=true,
there are still many errors triggered.

Thus it would be nice to split the job and solve the issues

[2021-01-08 17:11] mathpluscode opened #611 "Scrutinizer badget link is dead"
## Subject of the issue

The badget somehow links to https://github.com/DeepRegNet/DeepReg/blob/main/scrutinizer-ci.com/g/DeepRegNet/DeepReg
but it should be https://scrutinizer-ci.com/g/DeepRegNet/DeepReg

<img width="879" alt="image" src="https://user-images.githubusercontent.com/4066929/104043929-71420200-51d4-11eb-937f-7bb04247dd9e.png">

[2021-01-08 17:43] mathpluscode opened #612 "Question on affine model"
## Subject of the issue

Does it seem that the affine model is a DDF model actually?

https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/model/network/affine.py#L60

The model should output an affine theta and the predictions then should rely on the theta, which seems not like this in current code? Or I'm understanding it wrongly?

[2021-01-08 17:43] mathpluscode commented on #612
@acasamitjana ^^

[2021-01-08 18:11] mathpluscode commented on #612
oh i got it, it was using global net! my bad ^^ thx to @acasamitjana for the explanation

[2021-01-08 18:11] #612 closed

[2021-01-09 00:05] YipengHu opened #613 "Global_net train without regulariser raised error"
## Subject of the issue

Train with global net, without providing regulariser in config file, generates error in config_sanity_check(config)

Yes

## Your environment

- DeepReg version (commit hash)

https://github.com/DeepRegNet/DeepReg/commit/fda64211b59859ef8821ac61a56f7e0aa750017b

- OS (e.g. Ubuntu 20.04, MacOS 10.15, etc.)

  Ubuntu 16.04

- Python Version (3.7, 3.8, etc.)

  3.7

- TensorF

[2021-01-09 01:52] mathpluscode commented on #613
global net is essentially a ddf model, so you should have regularize and extract levels?

[2021-01-09 01:59] YipengHu commented on #613
It is a bit complicated than it should be.
- global = affine, here anyway
- first, bending energy is invariant to affine transformation
- although gradient norm is not, adding regulariser will penalise the affine, e.g. scaling
- but traditionally, affine registration means optimising affine parameters "freely" - these parameters generate ddf for resampling reasons to warp the moving images, not fo

[2021-01-09 02:00] mathpluscode commented on #613
ok, in #557 I'm not rewriting all these models, and I actually merged affine model into ddf model.

I will solve this issue in the PR or afterwards.

[2021-01-09 02:16] YipengHu commented on #613
good - i also would like to add another rigid transform with 6 and 7 degrees of freedom - only the warped_grid function needs an extra option when using the same global_net - we can discuss how to best design the classes/register?

[2021-01-09 02:45] mathpluscode commented on #613
sure, once #602 is almost ready, will let you know

[2021-01-09 14:57] mathpluscode commented on #305
I will close this as it's part of #557.

[2021-01-09 14:57] #305 closed

[2021-01-09 18:07] mathpluscode commented on #468
Now I can confirm that we will need multiple changes to support mixed precision calculation. It is not as simple as switching the policy.

[2021-01-09 18:22] mathpluscode opened #614 "Suppress TensorFlow warnings"
## Subject of the feature

TensorFlow is not printing many warnings in the bash. We need to check if any one of them should be fixed, like #428.
Then we should remove warning by default.

UPDATE: the better option is to use verbosity

[2021-01-09 20:48] YipengHu opened #615 "3d linear resampler should have "zero" as default extrapolation"
## Subject of the issue

Describe your issue here.

Currently in https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/model/layer_util.py/resample_linear
the "replicate" is implemented, clip the coordinates outside of the region that has intensity values. This has a number of issues when registering a moving image that has smaller FOV to a fixed has a bigger FOV, making registration less overla

[2021-01-10 02:08] #513 closed

[2021-01-10 02:20] mathpluscode opened #617 "Refactoring of data augmentation"
## Subject of the issue

### Naming

- `lowres_size`, maybe to `low_res_size` or `res_size` as we do not have `high_res_size` here? https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/dataset/preprocess.py#L175

### Refactoring

- Why we need `__call__` here? https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/dataset/preprocess.py#L30 (this is a question)
- for https://github.com/DeepRegN

[2021-01-10 02:22] mathpluscode commented on #617
Actually, the refactoring is fast, I will quickly do a PR @acasamitjana

[2021-01-10 21:09] mathpluscode opened #619 "Improvement of resampler"
## Subject of the feature

After #616, we could have a further look at the resampler function, which is the key in registration.
The current code might not be optimal as suggested in the comment, and proper benchmarks can be helpful to accelerate it.

As a result, it could help us saving time for training.

[2021-01-10 21:43] mathpluscode commented on #577
Hi, please do not continue this issue before the merge of #602

[2021-01-10 21:45] mathpluscode commented on #552
Hi, @agrimwood  please let me know before you start training any models? Please be aware that PR #602 will change network structures and it's better to do any big training after the merge.

[2021-01-10 21:52] mathpluscode opened #620 "Demo optimise unpaired mr brain"
## Subject of the issue

The demo `unpaired_mr_brain` was not trained enough and parameters might not be tuned.
Better to improve this after #602

[2021-01-10 21:52] mathpluscode commented on #620
@YipengHu please be aware of this ^^

[2021-01-11 08:12] acasamitjana commented on #617
Hi,

I think naming should be clear to the user, as this parameter is a kwarg from the config file. I wanted to emphasize it's a lower resolution field, but maybe `field_size' works better

In interface.py, I'm appending all data augmentation in a list (thinking that maybe, in the future, we wanted to add other data augmentation e.g., intensity-based transformations). Then this list is applied to

[2021-01-11 09:55] #617 closed

[2021-01-11 20:33] mathpluscode opened #621 "Demo optimise paired mr us prostate"
## Subject of the issue

![image](https://user-images.githubusercontent.com/4066929/104234946-1fa3ac80-544c-11eb-9492-c715852f0daf.png)

Demo paired_mr_us_prostate results are not good enough, as the predicted fixed image (ultrasound) does not even have the shape of the ultrasound.

[2021-01-11 23:01] #615 closed

[2021-01-11 23:19] mathpluscode opened #622 "Integration tests on loss functions"
## Subject of the code / test

Learnt from MONAI that we can write some tests to train very small stuff on each loss, to make sure it's differentiable and the loss range is reasonable. As some loss should be between -1 and 0 and we do not expect any values outside.

This requirement has helped us to find a bug today and therefore it might be good for us?

[2021-01-13 09:30] NMontanaBrown commented on #423
Yes, as it is sometimes inconsistent across the RTD pages.

[2021-01-14 10:21] agrimwood commented on #552
Will do!

[2021-01-14 22:59] YipengHu commented on #590
agree, together with "ckpt_path"

[2021-01-15 02:06] YipengHu opened #624 "Label loss is not being used"
Subject of the issue
Train with label+regularisor losses, the label loss is not in print and overall loss remains zeros

Yes

Your environment
DeepReg version (commit hash)
#456731e51b69548b7f529c24b4de6d96c406ed60

OS (e.g. Ubuntu 20.04, MacOS 10.15, etc.)

Ubuntu 16.04

Python Version (3.7, 3.8, etc.)

3.7

TensorFlow

TensorFlow 2.3
CUDA Version 10.1
cuDNN Version
Steps to reproduce

-python de

[2021-01-15 02:06] YipengHu commented on #624
@mathpluscode could you please have a look at this?

[2021-01-15 02:09] YipengHu commented on #621
#624 there is a possibility there has not been anything moved...?

[2021-01-15 06:56] ciphercharly opened #625 "error after latest git pull (main branch)"
getting this error while launching a training script which was previously working (with the same configuration file):

[code]

the script is
[code]

the config file I use

[code]

[2021-01-15 08:35] NMontanaBrown commented on #625
Hi @ciphercharly , this is not a problem with your code but a problem with backcompatibility of our code.

This is related to issue #525 and issue #567 #568.

We updated DeepReg with PR 568 to use a Registry type class to allow for flexibility in the definition of new losses, architectures... whilst still using the train function. This brought about changes into the config file, which explains why

[2021-01-15 09:01] ciphercharly commented on #625
thanks a lot for the answer!
so if for now I want to have working code would
```git checkout 499-release-v010``` do the job?

[2021-01-15 09:25] NMontanaBrown commented on #625
@ciphercharly Yes, any verified/tagged release should do.

[2021-01-15 13:01] ciphercharly commented on #625
mmmh, sorry about my ignorance of git, if I do for example
```git checkout 557-refactoring-models```
and then pull, I get 'Already up-to-date.'
how can I properly revert back?

[2021-01-15 13:07] NMontanaBrown commented on #625
Hi @ciphercharly can you try with the following git commit hash?
`git checkout 135d054edc2233a43bd7760cde8ba315c7d97fbd`

[2021-01-15 13:11] ciphercharly commented on #625
did the above and then
```git pull origin 135d054edc2233a43bd7760cde8ba315c7d97fbd```
and I get
[code]

[2021-01-15 13:12] NMontanaBrown opened #626 "Plots for visualisation lead to 404 in demo READMEs"
## Subject of the issue

When I visit the demo pages, there is a broken link to the visualisation. Clicking on the small icon leads to a 404. I assume there needs to be a plot here where there is a 404.

If the bug is confirmed, would you be willing to submit a PR? _(Help can be provided if
you need assistance submitting a PR)_

Yes

## Steps to reproduce

Visit the demos in the codebase, the READ

[2021-01-15 13:15] NMontanaBrown commented on #625
Hi @ciphercharly, you shouldn't need to pull - pulling only updates your fork with the main repository fork at the branch. This only tells you the code is up to date with the associated commit.

Have you tried running your code from this commit location?

What is your environment? After you pulled from main which caused the errors, did you pip re-install?

[2021-01-15 13:27] NMontanaBrown opened #627 "Config files in demos potentially incorrect for the new registry"
## Subject of the issue

We are in the process of updating the config files for the back compatibility change for 1.0.0 given the change to registry method.

[As raised in this discussion](https://github.com/DeepRegNet/DeepReg/pull/559#discussion_r545334767) we are moving away from the old config file style, into the new config file style.

Looking for examples to update the docs, I noted that the

[2021-01-15 13:51] ciphercharly commented on #625
yes I re-run the code and get the same error, I did not pip re-install no

I am on Linux <machinename> 4.15.0-112-generic #113-Ubuntu SMP Thu Jul 9 23:41:39 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

pip list dump from the env where I use deepreg is
[code]

[2021-01-16 17:34] mathpluscode commented on #627
Sorry, @NMontanaBrown @YipengHu the demo tests are passed, what is the problem here :) ?

[2021-01-16 17:39] mathpluscode commented on #625
Hi @ciphercharly, sorry for the issue, the error is due to a simplification in the config

Your current config is:
[code]

Please change to

[code]
An example is here https://github.com/DeepRegNet/DeepReg/blob/main/demos/grouped_mr_heart/grouped_mr_heart.yaml#L14

[2021-01-16 17:51] YipengHu commented on #627
I'm not 100% sure as have not looked in details myself. Suggest to look at #624 first as an example for this "potential" issue.

[2021-01-16 18:23] mathpluscode commented on #624
OK, i confirmed it is a bug, due to a typo:

![image](https://user-images.githubusercontent.com/4066929/104819804-dd051a00-5827-11eb-83b0-db152a06d1e5.png)

[2021-01-16 18:35] ciphercharly commented on #625
thanks! I will try asap, is a similar simplification required for the optimizer part too?
[code]

[2021-01-16 18:38] mathpluscode commented on #625
For the optimizer, in current `main` it has not been refactored yet. So for now you do not need to change that.

It will be like this in the near future.

[2021-01-16 18:39] mathpluscode commented on #625
We are working on providing a better documentation for this, and sorry for the confusing. We aim to simplify the configs, and enable users to define custom functionalities and use them more easily without changing deepreg code ^^ thx for your understanding!

[2021-01-16 18:40] s-sd opened #629 "Add a script to automatically update all demo figures/ visualisations"
## Subject of the feature

A script to automatically update all demo figures/ visualisations. Any time a number of demos are changed (e.g. a checkpoints are updated), all the visualisations/ figures need to be updated. Currently this needs to be done manually, so a script can help to update all using the single script.

What are you trying to do and how would you want to do it differently?

Add a

[2021-01-16 18:41] s-sd commented on #629
@mathpluscode I'll just test my script and then add. Where would you suggest to add this?

[2021-01-16 18:42] ciphercharly commented on #625
no problem! on the contrary, it's good from my perspective to be using something that it's being actively developed and improved

[2021-01-16 18:51] mathpluscode commented on #629
under `demos/` maybe? so you can name as `update_visualization.py` or whatever you like XD.

[2021-01-16 18:52] mathpluscode commented on #621
Fortunately, as my branch fixed the problem without knowing it, the bad quality is not due to the typo bug ^^

[2021-01-16 18:54] mathpluscode commented on #590
Well, it's the option between automated timestamp based name and where we store the log exactly.
I might still keep two args, but one is `output_path` or `log_path`, another one being `experiment_name` or `run_name`

[2021-01-16 18:54] YipengHu commented on #621
good to plot the warped masks in test to demonstrate the efficacy for this demo, as the images are "fake"

[2021-01-16 18:54] YipengHu opened #630 "Allow shorthand "~/" in config path"
## Subject of the feature

Allow shorthand "~/" in specifying data path. This is useful to improve the config portability with little confusion.

If the feature request is approved, would you be willing to submit a PR? _(Help can be
provided if you need assistance submitting a PR)_

Yes

[2021-01-16 18:54] mathpluscode commented on #626
@NMontanaBrown is there a link of the 404? thx!

[2021-01-16 18:55] mathpluscode commented on #621
are you suggesting to visualize labels whenever possible in @s-sd's script?

[2021-01-16 18:56] YipengHu commented on #621
if possible, that's be a good idea.

[2021-01-16 18:57] #624 closed

[2021-01-16 18:58] NMontanaBrown commented on #630
Hotfix: can modify the utils to read config to do "abspath" from module os.? @YipengHu

[2021-01-16 19:00] NMontanaBrown commented on #626
EG: https://github.com/DeepRegNet/DeepReg/blob/main/demos/assets/classical_ct_headneck_affine.png

[2021-01-16 19:05] NMontanaBrown commented on #629
Is this related to #626 ?

[2021-01-16 19:05] mathpluscode commented on #626
Oh, it is normal ^^ We are using RTD, therefore the images are relative to
https://github.com/DeepRegNet/DeepReg/tree/main/docs/source/demo

Check https://deepreg.readthedocs.io/en/latest/demo/classical_ct_headneck_affine.html, you can see the images :)

[2021-01-16 19:08] NMontanaBrown commented on #626
Even if it is normal, it is still buggy. Does RTD pull from the .md files? Can we add the source files to the appropriate links so we can see them in the .md files? It is unexpected behaviour.

[2021-01-16 19:11] mathpluscode commented on #626
It is expected. RTD pull from rst files, and rst file import from md files. So there's no way to make both works, sorry. I really tried in the very beginning.

[2021-01-16 19:29] mathpluscode commented on #625
@ciphercharly when you got the time to test the proposed config, please give us feedback, if the error disappeared, please close this issue ^^ thx! Oh, btw, happy new year!

[2021-01-16 19:31] mathpluscode opened #631 "Add a config change comparison"
## Subject of the documentation

As we are modifying the config files a lot recently, we need to maintain a doc page for users to show:
- what has been changed in the config
- how to adapt the previous config files to new ones

We can maintain the changes between any two released version and the last released -> latest main.

[2021-01-16 19:32] mathpluscode commented on #627
So I guess we can close this issue?

[2021-01-16 19:38] mathpluscode opened #632 "rename neg_weight to background_weight"
## Subject of the documentation

As in https://github.com/DeepRegNet/DeepReg/blob/859df2a91564d16c43ea761ad272de568b8784bb/deepreg/model/loss/label.py#L224 and some other losses, we have the option to change the weight of background class (we only consider binary label for now). The naming `neg_weight` is not intuitive enough, therefore we'd better rename it.

In this issue, we can also double che

[2021-01-16 19:39] YipengHu commented on #590
#630 can be addressed here

[2021-01-16 19:41] mathpluscode commented on #590
maybe better to solve this first, then #630, better to be separated ^^

[2021-01-16 19:43] ciphercharly commented on #625
happy new year to you too! will do, hopefully on Monday 18th

[2021-01-16 20:32] mathpluscode commented on #629
Also,

When the checkpoint files for prediction changes due to
- we change the model structure (like i did in #602)
- we update the model config or ckpts (like all recent updates)

we need to update the visualization images correspondingly

[2021-01-16 20:33] mathpluscode commented on #629
btw, @s-sd the `visualization.png` are now under `demos/xxxx/logs_predict/` directly, not related to a specific prediction run, I suggest to store it inside the folder same as other nifti files, what do you think

[2021-01-16 20:34] YipengHu commented on #590
fine - a good error message needs to be added when one of these was not supplied

[2021-01-16 20:38] YipengHu commented on #630
this can be os-sensitive, better to be explicit and use os.path.expanduser()

[2021-01-16 20:43] s-sd commented on #629
@NMontanaBrown updated the description.

@mathpluscode good point. Will change this.

@YipengHu @mathpluscode I'll add the labels where they're available as mentioned in Issue #621. The order should be image then corresponding label then image then label and so on or all images first then all labels?

[2021-01-16 20:57] mathpluscode commented on #629
OH, regarding the labels, be careful that some data have multiple labels....
will that be more complicated?

I wonder, should we just do `nifti` to `gif` and paste them in the docs...

[2021-01-16 21:01] mathpluscode commented on #630
there are also people arguing https://docs.python.org/3/library/pathlib.html is better than `os.path`

[2021-01-16 21:19] NMontanaBrown commented on #630
But we only support Mac and Linux (bash based), right? I have a Windows machine now so can also test there, once you decide what to do

[2021-01-16 21:20] YipengHu commented on #630
believe it or not, it is not supported on linux, windows is fine

[2021-01-16 21:21] YipengHu commented on #630
not another lib for one function?

[2021-01-16 21:22] NMontanaBrown commented on #630
This is in the standard python lib so we are not adding another package. Just `import pathlib` without pip installing or changing requirements.

[2021-01-16 21:22] mathpluscode commented on #630
well it's more than one function, anyway, I will have a further look when we fix this issue.

[2021-01-16 21:25] mathpluscode commented on #629
another point, for now you call `demo_data` to download the latest checkpoint, but the data script handle more than checkpoint, so it takes lots of time for downloading data. should we use parser to provide a "download checkpoint only" mode?

[2021-01-16 22:07] mathpluscode opened #633 "Remove redundancy between docs and docstring"
## Subject of the documentation

If some docs are copying from docstring, it would be safer to put the related docstring into API docs via automated methods, then cite the API docs properly.

[2021-01-16 22:54] NMontanaBrown commented on #630
Also what abou "./" shorthand? Or is that what you meant @YipengHu ?

[2021-01-16 23:10] YipengHu commented on #630
i meant the home directory "~/"

[2021-01-16 23:28] YipengHu opened #634 "Optimise the config files handling"
## Subject of the feature

Reading and processing config file can be improved:
- For those fields that are not required for individual options, warning/error should not be raised (tba):
*global net does not need extract_levels or method (predicting dvf or conditional makes no difference to ddf, even enabled)
*train does not require test (or even valid) dataset(s)
*unet does not require extract_lev

[2021-01-16 23:35] mathpluscode commented on #630
@NMontanaBrown ./ will be relative to the current folder.

~ is equivalent to $HOME

[2021-01-17 08:39] NMontanaBrown commented on #634
Watch out for backcompatibility and modifs here

[2021-01-17 13:05] mathpluscode commented on #634
I got an idea for back-compatibility.

As we are doing config checks, we can add one function, to enable old -> latest config transformation automatically and print warnings to remind users! As a result, code will be back-compatible! @YipengHu @NMontanaBrown

[2021-01-17 13:16] s-sd commented on #629
On one hand if people do not already have the data downloaded and we use the "download checkpoint only" mode in the `update_vis.py` script then to run it successfully, the user would have to first run all `demo_data.py` scripts separately. But on the other hand, if data is already downloaded then it saves a lot of time. So I am not completely sure which would be best. Up to you, feel free to creat

[2021-01-17 13:18] mathpluscode commented on #629
Oh I see, then it should be more like, in data script, we skip the downloading if the file exists? Emmm but here we removed the downloaded files lol.... ok leave this for another ticket.

[2021-01-17 17:53] #525 closed

[2021-01-17 18:12] NMontanaBrown commented on #627
Yes, thanks @mathpluscode closing now.

[2021-01-17 18:12] #627 closed

[2021-01-18 06:58] ciphercharly commented on #625
ok fixed the config file and the run starts now but then immediately fails with a new long error, see attachment
[stdout_train_3_10000epochs_gmi_unet_lw1rw1_learnrate1e-5.log](https://github.com/DeepRegNet/DeepReg/files/5828331/stdout_train_3_10000epochs_gmi_unet_lw1rw1_learnrate1e-5.log)

[2021-01-18 10:00] mathpluscode commented on #625
Please try

[code]

which remove the layer of `dissimilarity`

also, we have now https://deepreg.readthedocs.io/en/latest/docs/configuration.html a page for config docs.

moreover, we will add some auto transformation to improve the back compatibility this week!

[2021-01-18 13:29] ciphercharly commented on #625
the run now starts but I get:
[code]

config now:
[code]

[2021-01-18 13:57] mathpluscode commented on #625
try this, I also corrected the loss definitions

[code]

[2021-01-18 14:03] mathpluscode opened #635 "Add auto config transformation to be back-compatible"
## Subject of the issue

Recent config changes make existing users confused.
It is therefore important to support previous configs while doing sanity checks.

We can parse, transform and output a new config and suggest to users.

[2021-01-18 14:25] ciphercharly commented on #625
ok the run seems to have started correctly, I had to tweak demo_train.py because now it seems like I can't use 2 GPUs with batch size 2 anymore (previously it worked), but this is the matter for another issue perhaps, for now I'll let it run on 1 GPU
thanks a lot for the fix! I'll close this issue then

[2021-01-18 14:27] #625 closed

[2021-01-18 14:42] #557 closed

[2021-01-18 14:44] mathpluscode commented on #625
@ciphercharly would you mind pull again the `main`? I just merged a new branch, which solved this issue already ^^.

Please have a backup of your current working dir in case it doesn't work. Sorry for all the config-related problems, we are treating this as priority this week.

[2021-01-18 14:45] ciphercharly commented on #625
will do! thanks!

[2021-01-18 23:50] mathpluscode opened #637 "Refactor config sanity check and corresponding tests"
## Subject of the code / test

The existing checks are quite useless and not well organized https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/parser.py#L58.

- If possible, we should let the registry to handle the unsupported keys.
- Verifying data paths should be also data loader's responsibilities.
- For loss weights, it should be network's `build_loss` to raise warning or errors.
- For co

[2021-01-19 23:13] mathpluscode commented on #601
https://deepreg.readthedocs.io/en/latest/tutorial/run_cluster.html It's working now.

[2021-01-19 23:13] #601 closed

[2021-01-19 23:50] #611 closed

[2021-01-20 00:03] mathpluscode commented on #515
Fixed in #638.

[2021-01-20 00:03] #515 closed

[2021-01-20 00:20] #379 closed

[2021-01-20 17:14] YipengHu commented on #535
I re-open this as a top experiment suggested:
- with eps on nominator having 0 (or very small one like a landmark) foreground reference standards, the loss is insensitive to the size of the predicted labels, as (N+eps)/(N+eps) = 1.
-  i suggest to implement a batch-wise Dice as Tom suggested, which should mitigate this issue to a degree

[2021-01-20 17:36] YipengHu commented on #535
EDIT: a new ticket may be better - sorry

[2021-01-20 17:36] #535 closed

[2021-01-20 21:26] mathpluscode opened #640 "Refactor model layers"
## Subject of the feature

Regarding layers and layer utils https://github.com/DeepRegNet/DeepReg/tree/main/deepreg/model, there are multiple things to optimize:

- each layer need to implement `get_config`.
- some functions in layer util should be implemented into layers

The concern here will be, whether these changes will make the checkpoint invalid again.

[2021-01-21 06:34] ciphercharly opened #641 "new naming scheme for the saved trained models: prediction script needs to be modified accordingly"
the prediction scripts that were expecting something like (this from the paired brain demo)
[code]
need to be updated now to the new naming scheme

the saved checkpoints are now like
[code]

so /save/ckpt-***** would be the new name in the prediction script

[2021-01-21 06:44] #641 closed

[2021-01-21 06:46] ciphercharly commented on #641
(lol, sorry for this useless issue, but I was getting an error in prediction and I figured out it was the new naming scheme when I had already opened the issue)

[2021-01-21 07:31] ciphercharly commented on #625
tried the pull and with 2 GPUs still getting an error
[code]

[2021-01-21 09:13] mathpluscode commented on #625
@ciphercharly this is now OOM? I suggest you trying a smaller batch size.

[2021-01-21 09:14] mathpluscode commented on #641
Yes, we changed the ckpt system to enable restoring from a stopped run. 😬

[2021-01-21 11:06] ciphercharly commented on #641
that's great, very useful

[2021-01-21 11:07] mathpluscode commented on #641
Please let us know if it works as expected 😸 it should.

[2021-01-21 11:09] ciphercharly commented on #625
I did tried with 2 GPUs and ```batch_size: 2``` will re-try with batch size 1, thanks for the tip

[2021-01-21 11:11] mathpluscode commented on #625
Oh! Maybe you want to reduce the image size in your config, this is more efficient!

We plan to rollout mixed precision support within months.

[2021-01-21 11:18] ciphercharly commented on #625
noted, I'd prefer not to miss resolution tho (have already reduced to 192,192,48 which is smaller than some of the original nifti files)

[2021-01-21 11:20] mathpluscode commented on #625
Sure :) wanted to just verify that smaller images are not going to crash your run.

[2021-01-21 11:42] ciphercharly commented on #625
right, good point

[2021-01-21 17:48] YipengHu opened #642 "add reference Yang et al 2021 ISBI to the prostate mask demo"
## Subject of the documentation

This will give a reference to the mask/feature based registration demo:
https://arxiv.org/abs/2101.06425

Yes / No

[2021-01-22 10:09] #635 closed

[2021-01-22 10:33] mathpluscode commented on #625
Hi @ciphercharly, with the latest `main` we just added the back-compatibility for the config, hope this could be helpful ^^

https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/config/parser.py#L101

[2021-01-22 11:20] ciphercharly commented on #625
thanks for the heads-up!

[2021-01-23 01:35] mathpluscode opened #643 "Tutorial for custom backbone"
## Subject of the documentation

Add a tutorial for applying a custom backbone with registy.

[2021-01-23 13:28] s-sd commented on #629
@mathpluscode @NMontanaBrown @YipengHu I've added the `update_vis.py` script and modified it to accept arguments that allow for a GPU to be used and for only some demo visualisations to be generated if all do not need to be updated. I have also changed the demo vis commands to save visualisations to run specific paths as @mathpluscode suggested.

I tried the visualisations with the labels and it a

[2021-01-23 15:07] YipengHu commented on #629
A new repo under the same organisation for media files sounds good to me.

[2021-01-23 15:58] mathpluscode commented on #629
My concerns are mainly on the versioning @s-sd @YipengHu, if media files are stored in different repositories, then how to match the code version and media file versions.

[2021-01-23 17:23] YipengHu commented on #629
yup - arguably the entire doc should be a separate repo - and some do that, but I really would not like to see the repo getting bigger yet again. in this case, i think maybe we should consider not using these visualisations at all, instead opt for providing the script such that the user can create those plots lively, such as in a notebook

[2021-01-23 18:55] mathpluscode opened #645 "Move BSpline functions outside of backbone"
## Subject of the issue

As mentioned in https://github.com/DeepRegNet/DeepReg/pull/539#issuecomment-766143980,
the functionalities related to Bsplined should be a backbone-independent layer, instead of being hardcoded in backbones,
https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/model/backbone/u_net.py#L76.

Therefore refactoring is required as we may have more backbones in the future.

[2021-01-23 19:04] mathpluscode commented on #629
It is actually true that with the development of the docs and demos etc, we may want to move all the demos into a separate repo, like the `Benchmark`. For docs, as they are mainly text and highly dependent on the code, it should not be moved.

Regarding the tests on demo, it can be tested via CI easily.

However, this is a relatively huge process, but it is definitely worthy before the release `v1

[2021-01-23 21:16] YipengHu commented on #629
- Agree that demo can be a separate repo;
- If the user-facing doc is kept with the code (being highly dependent may not be an argument, as demo/benchmark/model-zoo are as well), we need to be careful with the size, maybe automating the image creating is not a good idea - none of the other bits in docs is automated.
- consider again the having large (animated) images in the docs. is it something c

[2021-01-23 22:15] mathpluscode commented on #629
The docs for demo can be something different, purely README.md maybe. so that large images will not be in docs.

[2021-01-24 08:51] NMontanaBrown commented on #629
* Demos could be separate to DeepReg, but we have to very clearly point them out. I think demos are one of the selling point of the repository, but now that we have an institutional account we could separate into another repo.
* API Docs should be kept with the code, I don't think this is negotiable (very standard practice).
* Agree do not automate image creating if it inflates repo size.
* Why do

[2021-01-24 09:52] s-sd commented on #629
I agree that the demos can be in a separate repo.

I also agree that the visualisations need to be updated quite infrequently so it might be okay to just update once and add a disclaimer. Then if there are any changes that greatly impact the results, we can consider updating then. Since it will be infrequent, I don't see a lot of use for the automating the visualisation creation as well. Maybe we

[2021-01-24 13:27] ciphercharly commented on #625
re-pulled and retried with batch_size 1 and 2 GPUs but still getting resource exhausted OOM error, with the size 192,192,48, will have to stick to 1 GPU for now if I don't want to down-size

[2021-01-24 13:55] mathpluscode commented on #625
Okay. That's strange? So you can use one GPU with which batch size?But you can't use two GPUs?

[2021-01-24 14:00] mathpluscode commented on #625
@ciphercharly May I ask how many GPUs you have on your machine? I may have an idea why we get OOM now.

[2021-01-24 14:05] ciphercharly commented on #625
4 Teslas

[2021-01-24 14:10] mathpluscode commented on #625
Sure. I think there's a bug. The OOM might be because it is trying to use all GPUs:) Will fix it

[2021-01-24 14:12] ciphercharly commented on #625
ah interesting, great that you tracked it down if that's the case! :)

[2021-01-24 14:22] mathpluscode commented on #625
Hi again, after checking the code again, with

[code]

it should not use other GPUs and also the logs above are also showing only 2 GPUs are used.
Would you mind verifying with `nvidia-smi` that the GPUs you intended to use do have enough memory?

Otherwise, feel free to send me an email at yunguan.fu.18@ucl.ac.uk and we can have a live chat regarding this.

[2021-01-24 14:27] ciphercharly commented on #625
ok I checked with ``nvidia-smi`` to pick the most free ones but it may just be that there's not enough free memory available right now, thanks a lot for the check!

[2021-01-24 14:31] ciphercharly commented on #625
🤦 I had picked the wrong ones ofc, the indexes are 0,1,2,3 and I was assuming 1,2,3,4 without thinking....
it's running on 2 GPUs with batch_size 2 now and no errors

[2021-01-24 14:33] mathpluscode commented on #629
Regarding all the comments, I think we all agree that demos should be in a different repository, which we may not care too much about the repo size.

I suggest addressing this in a new issue and put this PR/Issue on hold for now.

[2021-01-24 14:40] mathpluscode commented on #625
Glad to know!

[2021-01-24 14:44] mathpluscode commented on #613
@YipengHu can you confirm if you stiff have this error?

if yes, plz provide the error log

[2021-01-24 15:26] mathpluscode opened #647 "Refactor optimizer config"
## Subject of the issue

We should support all optimizers under `tf.keras.optimizers`, therefore, we can use `getattr()` to get rid of `if/else`, e.g.

[code]

The corresponding configs can also be simplified, requiring
- a key `"name"` which value should match the optimizer class name, case sensitive.
- other arguments required for the optimizer class, such as `learning_rate`.

For instance, the

[2021-01-24 16:30] YipengHu commented on #613
(deepreg) yipenghu@precision7750-yhu:~/git/DeepReg$ python demos/paired_ct_lung/demo_train.py --no-test
2021-01-24 16:30:15.086598: W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'libcudart.so.10.1'; dlerror: libcudart.so.10.1: cannot open shared object file: No such file or directory
2021-01-24 16:30:15.086633: I tensorflow/stream_executor/cuda/cuda

[2021-01-24 16:37] YipengHu commented on #613
this error can be re-produced by setting config in the demo as follows:
dataset:
  dir:
    train: "demos/paired_ct_lung/dataset/train"
    valid: "demos/paired_ct_lung/dataset/valid"
    test: "demos/paired_ct_lung/dataset/test"
  format: "nifti"
  type: "paired" # paired / unpaired / grouped
  labeled: true
  moving_image_shape: [96, 96, 104]
  fixed_image_shape: [96, 96, 104]
train:
  method: "

[2021-01-24 16:40] mathpluscode commented on #613
ok, will fix it later.

[2021-01-24 16:41] #643 closed

[2021-01-24 17:14] mathpluscode opened #648 "Further generalize network models"
## Subject of the issue

For now, we are always concatenating the moving and fixed images together like https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/model/network.py#L276

But this should not be part of the assumption. Ideally,
- DDF model just take moving/fixed images to produce a DDF, then using moving/fixed labels to calculate loss if data are labeled.
- DVF model just take moving/fi

[2021-01-24 20:01] #642 closed

[2021-01-25 00:27] mathpluscode opened #652 "Remove sanity checks"
## Subject of the issue

The current sanity check is kind of outdated.
- type and format error should be raised when the value get used
- data path should be checked when loading data
- model does not have to have all losses
- loss weight warning should be raised when building loss

As a result, there's no need of a sanity check and we only need the back compatibility checks.

[2021-01-25 00:35] mathpluscode opened #653 "Use registry for dataloader"
## Subject of the issue

The paired, unpaired, grouped dataloader logic in https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/dataset/load.py
is too complicated, using registry can simplify it a lot.

[2021-01-26 01:13] #653 closed

[2021-01-26 01:14] mathpluscode opened #655 "Example for custom file loader"
## Subject of the issue

Add an example script for applying a custom file loader with registy. For instance numpy files.

But maybe wait a bit if https://github.com/DeepRegNet/DeepReg/issues/586 will change the signatures.

[2021-01-26 09:49] #630 closed

[2021-01-26 10:51] #647 closed

[2021-01-26 11:34] #512 closed

[2021-01-26 16:48] NMontanaBrown commented on #637
When you say "verify data paths being data loader responsibilities", what do you mean exactly?

Shouldn't we do value error testing at the earliest moment possible? EG if we have the chance to raise errors on paths before data loader, shouldn't we?

[2021-01-26 16:50] NMontanaBrown commented on #631
I can work on this one, since I last worked on docs for config.

[2021-01-26 16:51] NMontanaBrown commented on #622
And maybe regression tests?

[2021-01-26 16:57] NMontanaBrown commented on #54
Reviving this from the dead @mathpluscode are we planning on this for rc1?

[2021-01-26 17:03] mathpluscode commented on #54
I really do not think this is important/urgent... lol I would even prefer drop this.

[2021-01-30 22:54] YipengHu opened #657 "changelog clean-up for bug-fixing release 0.1.2"
## Subject of the documentation

Clean up current change log

If the documentation request is approved, would you be willing to submit a PR? _(Help
can be provided if you need assistance submitting a PR)_

Yes

@mathpluscode @zacbaum

[2021-01-31 14:17] YipengHu opened #658 "Seminar video link broken"
## Subject of the issue

The link to the seminar video introducing DeepReg is not accessible to public with the error message:
"The session owner has disabled public access or the link has expired. Try launching the recording again or contact the session owner."

If the bug is confirmed, would you be willing to submit a PR? _(Help can be provided if
you need assistance submitting a PR)_

Yes

## E

[2021-01-31 17:28] #657 closed

[2021-02-01 10:05] zacbaum opened #661 "import deepreg error: module 'deepreg' has no attribute 'model'"
## Subject of the issue

Unable to import deepreg into other python applications, using the 0.1.2 release.

[code]

I suspect this has to do with the fact that layer_util is a module and not an attribute, which is why the `import deepreg.model.layer_util as layer_util` error is thrown.

This should be able to be resolved by replacing that code with `from deepreg.model import layer_util`.

If the b

[2021-02-01 10:05] zacbaum commented on #661
@YipengHu @mathpluscode - thoughts?

[2021-02-01 10:38] mathpluscode commented on #661
[code]

I got no problem in Linux, btw we officially require py3.7 on Linux only.
Will check more later.

[2021-02-01 11:23] zacbaum commented on #661
Yes - no problem for me on Linux either; just a windows issue. But we need to try and find something if we want to be able to make the slicer extension work :)

[2021-02-01 14:05] acasamitjana commented on #526
It allows multiple loss functions by specifying a list under each loss type: "image", "label", "regularization".
The way to do so is using a dashed sign (-). A config file example is:

[code]

[2021-02-01 22:53] mathpluscode commented on #661
Actually, I wonder if we can do CI on win/mac os, https://github.com/actions/virtual-environments.

Regarding this error, can you at least try on py3.7 LOL... it's just a random guess if py version can be the reason.

[2021-02-02 08:47] zacbaum commented on #661
Can't use any python other than 3.6.7 - That's what's built-in to 3D Slicer in the latest versions. It may increase in the future, but that's not something we can bank on.

[2021-02-02 11:20] acasamitjana commented on #645
I have removed the resize+Bsplines from backbone networks and added into the ddf and dvf models.
I updated the tests accordingly.

[2021-02-02 11:35] mathpluscode commented on #661
I see! Then maybe we need two issues:

- support windows/mac (Mac should be ok)
- support py3.6, 3.8

[2021-02-02 11:40] #604 closed

[2021-02-02 20:11] YipengHu opened #664 "Separate data config for different splits"
## Subject of the issue

When predict with config labeled=true, without providing label files, error raised:
WARNING:root:sample_label is not used in predict. It is True if and only if mode == 'train'.
WARNING:root:Using customized configuration.The code might break if the config doesn't match the saved model.
2021-02-02 19:58:43.570942: W tensorflow/stream_executor/platform/default/dso_loader.cc:

[2021-02-02 20:11] YipengHu commented on #661
I'm closing this before raising another ticket reporting for a specific bug #664.

[2021-02-02 21:54] #645 closed

[2021-02-02 22:26] mathpluscode commented on #664
Isn't it normal that you got error when you say the data is labeled, but it is actually not?

the `labeled` in config belongs to the data config, to control training, you can choose add or not add label loss?

[2021-02-03 01:55] YipengHu commented on #664
There is no reason why it should be an error when predict with a pair of images as network input. For users' perspective, you get an error during prediction, using the same config during training, and it is not obvious what to change to rectify this - i think this makes the config handling ticket more important to separate training/predicting, instead of dataset/training... #634

[2021-02-03 13:02] #526 closed

[2021-02-04 22:36] YipengHu commented on #661
@zacbaum see if you would like to close this in favour of adding a doc to avoid others to go through what you experienced?

[2021-02-05 08:55] zacbaum commented on #661
Without a change to the code, things can't be solved - I'd rather find a fix that didn't involve users needing to edit code manually

[2021-02-06 15:26] kate-sann5100 opened #665 "Question about IntDVF"
Is IntDVF converting DDF to DVF or DVF to DDF. Because base on the DVF network implementation, it seems like IntDVF is converting DVF to DDF while the docstring in Int DVF states otherwise.
https://github.com/DeepRegNet/DeepReg/blob/80854094feafec998fa6237199066556c73f31f9/deepreg/model/layer.py#L508-L535

[2021-02-06 15:28] YipengHu commented on #665
@kate-sann5100 well-spotted. it is a typo i believe.

[2021-02-08 12:47] kate-sann5100 opened #667 "why clipping value in resample"
I tried to run the following code in DeepReg
[code]
and got result
[code]

Equivalent code in pytorch, on the other side, gives the following result
[code]

This could be related to the clipping of value by `vol_shape` in the `resample` function.

https://github.com/DeepRegNet/DeepReg/blob/80854094feafec998fa6237199066556c73f31f9/deepreg/model/layer_util.py#L281-L290

I am wondering is there some

[2021-02-11 07:58] NMontanaBrown commented on #658
Pinged about it, waiting on a response now @YipengHu

[2021-02-11 08:47] YipengHu commented on #667
@kate-sann5100 The tf version does have a "replicate" boundary option. If you simply getting rid of clipping, what the code produces is not linear interpolation, right? how do you (or pt version) define linear interpolation outside (extrapolation)?

[2021-02-13 08:01] niah-security opened #668 "[Niah] Security upgrade tensorflow from ==2.3.1 to 2.4.1"
## Subject of the issue

Niah has created this Issue to report tensorflow vulnerable packages in the pip dependencies of this project.

https://pypi.org/project/tensorflow/

**Vulnerability Scanning Report : **
[Niah Report](http://dependenciesdx.io/reports/pip/08-02-2021_18:56:30.json)

**Vulnerable for following couple of CVEs**

CVE-2020-15266, CVE-2020-15265, CVE-2020-26266, CVE-2020-26268, CV

[2021-02-20 15:00] mathpluscode commented on #661
@zacbaum is this still blocking you?

[2021-02-20 21:34] mathpluscode commented on #667
@kate-sann5100 We clipped the values because the coordinates have to be within the range of the `vol`, as you can not sample outside of the `vol`, for now.

Also, can you provide the pytorch code which gives the output you mentioned?

[2021-02-20 21:35] mathpluscode commented on #665
Yup, it's a typo. Will correct it.

[2021-02-20 21:37] mathpluscode commented on #665
Actually, I've fixed it in my PR #656.

[2021-02-20 22:17] mathpluscode opened #671 "Customize layer channels in U-Net"
## Subject of the feature

What are you trying to do and how would you want to do it differently?

We are trying to implement VoxelMorph https://github.com/DeepRegNet/Benchmark/issues/8
and the proposed architecture does not double the channels at each layer.

This will be based on PR #656 directly

[2021-02-20 22:38] mathpluscode opened #672 "Add mypy pre-commit hook to regulate type hints"
## Subject of the feature

We should add https://github.com/python/mypy to uniform the type hinting in py code.

[2021-02-20 22:45] #668 closed

[2021-02-21 18:15] RGologorsky opened #674 "Accessing linked talk in Readme"
##  "The Road to DeepReg" talk access

I'm interested in the talk linked in the Readme -- "Members of the DeepReg dev team presented "The Road to DeepReg" at the Centre for Medical Imaging Computing (CMIC) seminar series at University College London on the 4th of November 2020. You can access the talk here."

However I wasn't able to access it -- got the following error message:
"This recording is

[2021-02-21 18:30] mathpluscode commented on #674
Hi @RGologorsky, as mentioned in https://github.com/DeepRegNet/DeepReg/issues/658, we are aware of this issue.

@NMontanaBrown @YipengHu do we have any updates?

[2021-02-21 18:30] YipengHu commented on #674
The link is behind the wall. We will fix the link. For now, @RGologorsky you can access a copy here: https://liveuclac-my.sharepoint.com/:v:/g/personal/rmapyhu_ucl_ac_uk/EbB8nkeoP19InRkrlCBzIA4BCMXBbHF_3wzugYC5myCXAw?e=t8kqOo

Thanks for the ticket!

[2021-02-22 00:03] mathpluscode commented on #674
@YipengHu can we update the link to this one for now?

[2021-02-22 00:06] YipengHu commented on #674
nan.. this is a temp one to my personal drive. Amy will upload to the official youtube channel, we can use that one then.

[2021-02-22 11:45] mathpluscode opened #676 "Raise error instead of using assert"
## Subject of the issue

As described in https://dbader.org/blog/python-assert-tutorial,

Therefore, it is recommended to raise errors instead of using asserts in the code. For tests, it's fine.

[2021-02-22 16:42] NMontanaBrown commented on #658
Fixing now.

[2021-02-22 22:08] #658 closed

[2021-02-23 08:13] NMontanaBrown commented on #674
Hi @RGologorsky , the link has been updated in the README, you should now be able to access the talk!

[2021-02-23 08:32] #674 closed

[2021-02-24 16:29] YipengHu opened #678 "MobileNetv3 for dense prediction"
## Subject of the feature

Implement mobilenetv3 for potential training/memory efficiency

If the feature request is approved, would you be willing to submit a PR? _(Help can be
provided if you need assistance submitting a PR)_

Yes / No

[2021-02-26 16:40] kate-sann5100 commented on #667
Sorry for the late reply. I have been quite busy last week.

I still don't fully understand the `resample` function, but I guess when sampling from a coordinate outside the `vol_shape`,
`weight_floor` and `weight_ceil` both equals to 0, resulting in a zero output at that position. In that case, how could the penalty for false prediction be propagated through solution?

In pytorch, there are three

[2021-02-26 16:47] kate-sann5100 commented on #667
This is the pytorch code @mathpluscode
[code]

[2021-03-04 10:44] zacbaum commented on #661
SInce nothing has been changed... I'd suspect yes. Right now, this requires a change to the source code after pip installing in slicer (messy and not good practice). I haven't had a chance to try this workaround in a Linux system to check if tests pass with it.

[2021-03-04 21:20] mathpluscode commented on #661
Sure, I guess the solution should be supporting multiple python versions.

[2021-03-04 23:44] #640 closed

[2021-03-04 23:50] mathpluscode commented on #648
WIth the current registry system, it is not easy to change the way dealing with the input images. Therefore I'm closing this issue.

[2021-03-04 23:50] #648 closed

[2021-03-04 23:52] mathpluscode commented on #626
@NMontanaBrown As this is expected behavior, if you are ok, I will close this issue?

[2021-03-04 23:53] mathpluscode commented on #665
With the merge of #656, this issue is now fixed https://github.com/DeepRegNet/DeepReg/blob/80854094feafec998fa6237199066556c73f31f9/deepreg/model/layer.py#L511

[2021-03-04 23:53] #665 closed

[2021-03-05 00:05] mathpluscode opened #680 "Improve model structure plot"
## Subject of the feature

Currently, the structure of the model will be saved in the training log

https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/train.py#L140

However, there are two problems:

1. saved image is a bit hard to understand
  ![image](https://user-images.githubusercontent.com/4066929/110047547-fa456780-7d45-11eb-8bdd-d1463864d043.png)
  due to the addition of losses and met

[2021-03-05 09:50] #626 closed

[2021-03-05 13:19] #671 closed

[2021-03-06 00:06] mathpluscode opened #683 "Add support of py3.6"
## Subject of the feature

As mentioned in https://github.com/DeepRegNet/DeepReg/issues/661,
@zacbaum will need to use DeepReg with py3.6.

Therefore, it would be nice to test the code on py3.6 so that we can see if this issue is related to Windows.

[2021-03-06 01:15] mathpluscode commented on #661
I think I've managed to recreate this issue https://github.com/DeepRegNet/DeepReg/pull/684/checks?check_run_id=2044176171

[2021-03-06 01:27] mathpluscode commented on #661
It was due to

https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/model/layer.py#L9

where is should be `from deepreg.model import layer_util`

[2021-03-06 15:41] #672 closed

[2021-03-06 23:15] mathpluscode opened #685 "Make plot model structure optional"
## Subject of the issue

With #656, we are now saving model structure while training.
However, it requires the `graphviz` package which can not be installed via `pip`.
Users may experience bugs in case the package was not installed.

Therefore we need to
- Update the docs
- Make this optional, in case of `ImportError` we print a warning and skip.

[2021-03-07 00:27] mathpluscode commented on #664
I'm now working on this issue.

So the reality is that, we may have different availabilities of labels for
- train/valid
- test

I can see two options

1. For prediction script, we can overwrite `labeled` flag using flags.
2. Or alternatively, we need to change data config as

[code]

We can even allow mixed format like nifit/h5 in the future.

@YipengHu what do u think?

[2021-03-07 11:34] YipengHu commented on #664
I prefer the "new" config. It is clearer. And I insist to deal with this as a bug fix as the current can be ambiguous. What do you think?

[2021-03-07 11:39] ciphercharly opened #689 "import error after latest git pull (main branch)"
got a new error related to the pydot package, which is in the deepreg virtual environment so I am not sure why this happens
(tried to re-install it and same result)

Total params: 494,489
Trainable params: 493,689
Non-trainable params: 800
__________________________________________________________________________________________________
None
Traceback (most recent call last):
  File "demos/paired_

[2021-03-07 12:29] mathpluscode commented on #664
Yes, this new config unlocks more options.

Bug fix or new feature, it's just different names 😂

[2021-03-07 12:46] #685 closed

[2021-03-07 13:20] mathpluscode commented on #689
@ciphercharly we just fixed it.

The reason was we are now plotting model structure, which requires a new dependency `graphviz` that can not be installed via pip, as stated in the error message.

In PR #686, we've caught the error ;)

Please let us know if this solves your problem or not.

[2021-03-07 13:30] mathpluscode opened #690 "Nan/inf loss encountered"
## Subject of the issue

More discussion is here https://github.com/Project-MONAI/MONAI/issues/1868

Using script https://github.com/DeepRegNet/Benchmark/blob/9-data-for-miccai/benchmark/balakrishnan2019/voxel_morph_balakrishnan_2019.py with the latest `main` branch.

[code]

## Your environment

- DeepReg version (commit hash)

  `5e5bbdc`

- OS (e.g. Ubuntu 20.04, MacOS 10.15, etc.)

  Ubuntu

-

[2021-03-07 13:36] mathpluscode commented on #689
Otherwise, you can also install `graphviz` following the guide here https://deepreg.readthedocs.io/en/latest/getting_started/install.html

[2021-03-07 13:47] ciphercharly commented on #689
the code runs now, thanks a lot! and at the moment I do not need ``graphviz``

[2021-03-07 13:47] #689 closed

[2021-03-07 23:03] mathpluscode commented on #690
The loss is not nan/inf when using the following config

[code]

[2021-03-10 00:57] #683 closed

[2021-03-13 02:24] mathpluscode commented on #608
Regarding the docker, I still wonder whether we should have conda inside docker or not.

[2021-03-13 02:32] #585 closed

[2021-03-13 04:23] #613 closed

[2021-03-13 11:09] YipengHu commented on #608
what is the downside of nvidia docker?

[2021-03-13 14:10] YipengHu commented on #54
I am closing this unless there is going to be any immediate update.

[2021-03-13 14:10] #54 closed

[2021-03-13 14:11] YipengHu commented on #263
I'm closing this unless new update. @QianyeYang

[2021-03-13 14:11] #263 closed

[2021-03-13 14:17] YipengHu commented on #459
@sbb-gh @zacbaum either of you would like to have a look at this? otherwise, I will be closing this next week.

[2021-03-13 14:25] YipengHu commented on #551
@ebonmati can you help to find someone working on this, or you would like to take this yourself?

[2021-03-13 14:26] YipengHu commented on #542
@mathpluscode @agrimwood what is the plan for this ticket? i'm a bit lost of track with this...

[2021-03-13 14:28] YipengHu commented on #564
@mathpluscode @s-sd need a decision on this. Sorry for the effort put in @s-sd , should we mark this to be re-visited after r1?

[2021-03-13 14:29] YipengHu commented on #577
i'm closing this in favour of a new ticket with better-defined objective, given a updated demo already in place.

[2021-03-13 14:29] #577 closed

[2021-03-13 14:33] YipengHu commented on #590
I'm assigning this to you @mathpluscode but also thinking this ticket might benefit from a fresh pair of eyes to make a clear change/update to this. @zacbaum @kate-sann5100 , either of you would be interested (at least to advise), as you both had experience in the pain ;) ?

[2021-03-13 14:35] YipengHu commented on #610
@NMontanaBrown do you think you can handle this?

[2021-03-13 14:38] YipengHu commented on #634
@mathpluscode why is this not in Milestone?

[2021-03-13 14:46] YipengHu commented on #667
I guess it is not clear how the padding_mode is implemented in grid_sample, which one did you use to get the above-quoted values? @kate-sann5100  i guess "reflection"?

[2021-03-13 15:28] mathpluscode commented on #608
Probably no downside, but if you do not have GPU, then I'm not sure if you can use a nvidia docker, will dig.

[2021-03-13 16:35] s-sd commented on #564
@YipengHu for this ticket, I was waiting on a decision on if we want to move the demos to a separate repo or not (as we were discussing in #629). I was planning to add GIFs to the docs for clarity but again there's the issue of repo size so I would say that we can wait on this until we finalise the decision/ details about moving demos to a new repo. So yes, good to re-visit after r1, I'd say.

[2021-03-14 15:15] YipengHu commented on #423
@NMontanaBrown can you confirm this with @acasamitjana and @agrimwood see if this is on track with the rc1?

[2021-03-14 15:56] NMontanaBrown commented on #634
What's the status check for this? @YipengHu

[2021-03-14 18:09] mathpluscode commented on #634
ok, will work on it ^^

[2021-03-14 21:18] mathpluscode commented on #661
closing this as @zacbaum confirmed that the bug was fixed.

[2021-03-14 21:18] #661 closed

[2021-03-14 21:19] mathpluscode commented on #542
I'd say, this will be after release 1.0.

[2021-03-14 21:33] mathpluscode commented on #542
So, we are closing this issue unless this feature is required by users.
For now, in case we have 2D images, we can always treat it as 3D by adding an axis.

[2021-03-14 21:33] #542 closed

[2021-03-14 21:48] mathpluscode opened #700 "Use automated docs for argparse"
## Subject of the documentation

As shown here, https://sphinx-argparse.readthedocs.io/en/stable/sample.html#example-documentation-structure

we can create doc page from the docstring directly, so that we do not have to maintain docs in two separate places.

@NMontanaBrown the efforts you've made will be moved into one place ^^ if you are ok

[2021-03-14 22:14] mathpluscode commented on #631
@NMontanaBrown with the current backward compatibility, I consider this issue as non-necessary.

Currently, if the config was not up-to-date, we will save a copy with the latest format without errors.

[2021-03-14 22:29] mathpluscode commented on #614
defining `TF_CPP_MIN_LOG_LEVEL=3` before launching the code seems to work, but it is unclear yet how to do it inside python.

for deprecated warnings, need to do
https://www.codespeedy.com/suppression-of-deprecation-warnings-in-tensorflow-python/

[2021-03-15 09:42] mathpluscode commented on #690
[code]

[2021-03-15 12:54] #590 closed

[2021-03-15 15:57] NMontanaBrown commented on #700
@mathpluscode can you elaborate on "the efforts I've made will be moved into one place if I am ok"? Don't understand what this is referring to.

[2021-03-15 20:15] mathpluscode commented on #700
On I mean I will not simply delete the existing page and entirely use the autodoc, I will try to keep the existing docs as much as possible.

[2021-03-16 16:26] #632 closed

[2021-03-17 15:18] YipengHu opened #703 "Demo for velocity-predicting option"
## Subject of the feature

The DVF has been implemented without a demo demonstrating its applicability.

If the feature request is approved, would you be willing to submit a PR? _(Help can be
provided if you need assistance submitting a PR)_

Yes / No

[2021-03-17 16:07] YipengHu commented on #536
Suggest:
- a new set of results for the paired lung ct demo:
code: https://github.com/DeepRegNet/DeepReg/tree/main/demos/paired_ct_lung
doc: https://github.com/DeepRegNet/DeepReg/blob/main/docs/source/demo/paired_ct_lung.rst

Not sure it needs to edit any functions at this stage, but the related functions may be here: https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/model/backbone/global_ne

[2021-03-17 16:20] YipengHu commented on #703
Suggest:

It'd be interesting to look at the mask demo:
edit code: https://github.com/DeepRegNet/DeepReg/tree/main/demos/grouped_mask_prostate_longitudinal
update doc: https://github.com/DeepRegNet/DeepReg/blob/main/docs/source/demo/grouped_mask_prostate_longitudinal.rst
According to the config here: https://deepreg.readthedocs.io/en/latest/docs/configuration.html#localnet - change the method to `

[2021-03-19 13:38] zacbaum commented on #614
As mentioned in #656; would be good to adjust verbosity of logging here as well (for model.summary and model.fit as examples)

[2021-03-21 11:06] YipengHu opened #705 "Separate contributor list off the main page"
## Subject of the documentation

With increasing contributors, it makes sense to de-centralise the repo and doc to have a separate page for the initial contributors, or even removing the contributor list from the front page of the doc.

Leave comments below please.

If the documentation request is approved, would you be willing to submit a PR? _(Help
can be provided if you need assistance submitti

[2021-03-21 21:50] mathpluscode commented on #690
![image](https://user-images.githubusercontent.com/4066929/111921990-743c5700-8a8f-11eb-9333-ecc7c3f066fa.png)

It seems that the problem may come from the deformation regularization.

[2021-03-21 22:25] mathpluscode opened #708 "Log more metrics in tensorboard"
## Subject of the feature

What are you trying to do and how would you want to do it differently?

Trying to debug using tensorboard, to see if any metric blows up.

Is it something you currently you cannot do?

Yes

Is this related to an issue/problem?

No

Has the feature been requested before? If yes, please provide a link to the issue.

No

![image](https://user-images.githubusercontent.com/40

[2021-03-22 00:20] #595 closed