[2020-06-08 23:38] YipengHu opened #1 "JOSS paper"
with a paper format
https://joss.theoj.org/

[2020-06-09 21:00] ucl-candi opened #2 "move the demo data to a separate online storage"

[2020-06-10 14:10] NMontanaBrown opened #3 "Add Travis CI"

[2020-06-10 14:39] #3 closed, assigned to nobody

[2020-06-10 21:33] mathpluscode opened #5 "Data Loader Support"
# Data Loader Support

To facilitate the user experience, we plan to prepare some default data loaders for different use scenarios. Currently, Nifti and H5 formats are supported. For different types of use cases and image formats, a customised data loader is needed (add a link to the tutorial).

## Data Format
There are some prerequisites on the data:
- Data must be split into train / val / test b

[2020-06-10 22:10] tvercaut opened #6 "Listing the scope of the code in the main README"
It's good practice to explain in the README what the code is about before going into how to use it

[2020-06-10 22:24] ucl-candi opened #7 "Change license to a permissive one"
Apache 2 recommended.

[2020-06-10 22:28] #7 closed, assigned to mathpluscode

[2020-06-11 11:13] YipengHu opened #9 "Demo minimum requirement"
# v0.1

Each demo will have an independent folder directly under the 'Demos'. For simplicity, avoiding sub-folders and additional functions/classes.

## Open accessible data
Each demo should have a 'data.py' script
Preferably, data are hosted in a reliable and efficient (not store in this repo please).

## Training
Each demo should have a 'train.py' script
This is accompanied by a config file in t

[2020-06-12 17:57] ucl-candi commented on #9
@ebonmati  can you review this please.

[2020-06-12 18:13] ucl-candi commented on #5
@tvercaut can you review this quickly before Examples?

[2020-06-13 18:40] mathpluscode opened #10 "Add linter to CI to ensure PEP8 improvement before merge"
We can add a pre-commit check which verifies the code format before committing.

[2020-06-13 22:32] ucl-candi opened #11 "Demo - CT Lung (learn2reg t2)"
CT Lung Registration
data: https://zenodo.org/record/3835682#.XuVJ-0BFzx8
https://learn2reg.grand-challenge.org/Dataset/

This demo can test:
1 - unpaired inter-subject reg with/without labels
2 - unpaired intra-subject reg with/without labels
and potentially
3 - paired intra-subject reg with/without labels

[2020-06-13 23:15] ucl-candi opened #12 "Demo - MR-US Prostate (label-reg)"
MR-to-ultrasound registration
data and previous demo: https://github.com/YipengHu/label-reg

This demo tests:
1 - weakly supervision
2 - conditional segmentation
and possibly
3 - different data formats?

[2020-06-13 23:41] ucl-candi opened #13 "Demo - CT Abdominal (learn2reg t3)"
Abdominal Organ CT Registration
data: https://learn2reg.grand-challenge.org/Dataset/
https://drive.google.com/file/d/1aWyS_mQ5n7X2bTk9etHrn5di2-EZEzyO/view

This demo can test:
1 - unpaired inter-subject reg with/without labels
2 - weakly supervised

[2020-06-13 23:44] ucl-candi opened #14 "Demo - MR-US Brain (learn2reg t1)"
MR-to-ultrasound registration
data: https://learn2reg.grand-challenge.org/Dataset/
https://archive.sigma2.no/pages/public/datasetDetail.jsf?id=10.11582/2020.00025

This demo tests:
1 - weakly supervision
2 - conditional segmentation
3 - unsupervised intra-subject
and potentially
4 - demonstrating new loss

[2020-06-13 23:51] ucl-candi opened #15 "Demo - Logitudinal MR Prostate"
tbc

[2020-06-14 08:47] NMontanaBrown opened #16 "Missing docstrings - network"
deepreg/model/network.py
* [x] Missing module docstring
*  [x] Missing function docstring: build_inputs
* [x] Missing function docstring: build_model

* [x] Expand  docstring for build_backbone
* [x] Expand  docstring for build_ddf_model

* [x] Expand  docstring for build_dvf_model

* [x] Expand  docstring for build_cond_model
*  [x] Expand  docstring for build_seg_model

[2020-06-14 08:50] NMontanaBrown opened #17 "Missing docstrings - optimizer"
deepreg/model/optimizer.py
* [x] Missing module docstring
*  [x] Missing function docstring: get_optimizer

[2020-06-14 09:07] NMontanaBrown opened #18 "Missing docstrings - metric"
deepreg/model/metric.py

* [ ] Missing module docstring
*  [ ] Missing class and method docstrings: MeanWrapper
*  [ ] Missing class and method docstrings: MeanDiceScore
* [ ] Missing class and method docstrings: MeanCentroidDistance
*  [ ] Missing class and method docstrings: MeanForegroundProportion

[2020-06-14 11:25] NMontanaBrown opened #19 "Create contribution guidelines"

[2020-06-14 12:00] NMontanaBrown commented on #19
@YipengHu @mathpluscode @zacbaum

[2020-06-14 12:52] ucl-candi opened #20 "Mutual information loss"
Adding (normalised) mutual information as an image dissimilarity loss

[2020-06-14 13:33] ucl-candi opened #21 "Tutorial - get started with registration using deep learning"
Describe the basics in training registration:
- unsupervised learning
- weakly supervised learning
- combininig unsupervised loss and weak supervisions
- conditional segmentation

with data loader and links to demos

[2020-06-14 22:15] ucl-candi commented on #5
@QianyeYang could you please also review this and comment if any? Thanks!

[2020-06-15 14:11] NMontanaBrown commented on #10
* [ ] Add linter to CI to ensure code linted to Pep8 before merge during PR.

[2020-06-15 19:13] YipengHu opened #24 "Demo - MR Brain (learn2reg t4)"
Inter-subject neural image registration
data: https://drive.google.com/drive/folders/1Plum9c41tHPmA84-L0K0RrIztictFuNg

This demo tests:
1 - unsupervised inter-subject
2 - weakly supervised inter-subject
3 - unsupervised inter-subject with weak supervision

[2020-06-15 19:56] YipengHu commented on #17
@NMontanaBrown please review Br 17

[2020-06-15 21:56] YipengHu commented on #16
@NMontanaBrown please review 47fff87112a86cc45c666d28eff30c87d292d89d

[2020-06-15 23:44] YipengHu opened #26 "Porting the niftyreg 3d resampler"
Discuss the feasibility and pros/cons for using the higher-order and potentially faster and memory-saving resampler:
https://github.com/NifTK/NiftyNet/tree/dev/niftynet/contrib/niftyreg_image_resampling

Please comment below.

[2020-06-16 06:56] NMontanaBrown commented on #16
@YipengHu  Reviewed, merged!

[2020-06-16 06:56] #16 closed

[2020-06-16 07:07] NMontanaBrown opened #27 "Community guidelines"
https://joss.readthedocs.io/en/latest/review_checklist.html

Community guidelines
There should be clear guidelines for third-parties wishing to:

* [x] Contribute to the software - see #19
* [x] Report issues or problems with the software - create bug/issue template.
* [x] Seek support - create code of conduct.

[2020-06-16 08:27] tvercaut opened #28 "Test + docs: classical registration toy examples for integration testing purposes"
Such a feature can be a nice simple integration test to ensure for example that the gradients are useable.

A basic toy example could involve translating an image and registering it with itself.

If useful, this quick and dirty notebook could be a source of inspiration:
https://colab.research.google.com/drive/1OmU-jTvWmRRVerc23nsyNz_p8jU3S7wX?usp=sharing

[2020-06-16 08:40] tvercaut opened #29 "Consider the relevance of custom regularised interpolation gradient"
This is related to #28 and #26

It seems like autodiff and linear interpolation don't play very nicely together (at least for classical registration approaches). It would be interesting to evaluate how regularised gradients can help and how they would impact learning-based registration as well.

Making even a toy example using autodiff and linear interpolation converge seems indeed complicated:
ht

[2020-06-16 10:14] ucl-candi opened #31 "Adding affine transformation option"

[2020-06-16 11:03] ucl-candi opened #32 "Adding h5 data loaders"
For more information, see #5

[2020-06-16 11:05] ucl-candi opened #33 "Restructure README to a quickstart guide with pointers to the relevant documentation"
see also #6
comment what needs to be included
mirror the two "get started"
links to tutorials
links to demos

[2020-06-16 11:05] ucl-candi commented on #6
close now and further update to #33

[2020-06-16 11:05] #6 closed

[2020-06-16 11:07] #17 closed

[2020-06-16 11:14] NMontanaBrown commented on #2
How does the demo data need to be protected / is it protected / granted under the licence?

[2020-06-16 12:28] YipengHu opened #34 "Tutorial - Setup"
The detailed information on dependency, installation etc
add setup.md in /tutorials
add link to the wiki Tutorial Index

[2020-06-16 12:29] YipengHu opened #35 "Tutorial - Get started with demos"
Overview on demos
add links to individual demos
add demo.md in /tutorials
add link to the wiki Tutorial Index

[2020-06-16 12:32] YipengHu opened #36 "Tutorial - Configuration options"
The detailed information on config files and their key-value pairs
add configurations.md in /tutorials
add link to the wiki Tutorial Index

[2020-06-16 12:34] YipengHu opened #37 "Tutorial - predefined data loader"
The detailed information how to use predefined data loaders
add predefined_loader.md in /tutorials
add link to the wiki Tutorial Index

The current format is summarised as follows:

# Data Loader Support

To facilitate the user experience, we plan to prepare some default data loaders for different use scenarios. Currently, Nifti and H5 formats are supported. For different types of use cases and im

[2020-06-16 12:35] YipengHu opened #38 "Tutorial - add new loss"
The detailed steps how to add a new loss
add add_loss.md in /tutorials
add link to the wiki Tutorial Index

[2020-06-16 12:37] YipengHu opened #39 "Tutorial - add new network"
The detailed steps how to add a new (backbone) network
add add_network.md in /tutorials
add link to the wiki Tutorial Index

[2020-06-16 12:37] YipengHu opened #40 "Tutorial - add new data loader"
The detailed steps how to add a new data loader
add add_loader.md in /tutorials
add link to the wiki Tutorial Index

[2020-06-16 12:58] YipengHu commented on #2
that's why this repo will not - and should not - host any data, only providing links. (some toy fake images for test etc are fine of course)

[2020-06-16 13:18] YipengHu opened #41 "Tutorial - experiment design"
Examples of random-split and cross-validation
add experiment.md in /tutorials
add link to the wiki Tutorial Index

[2020-06-18 20:52] NMontanaBrown commented on #19
Ok, the basic docs needed to set up are now set up, several questions/ a more thorough review should be done addressing the following (probably not the whole gist of what needs review but what I can come up with):
*
1. Should we merge contributing.md with readme.md?
2. Reviewing of code of conduct needs to be done by (main) maintainers/community/group/???, we should establish a channel of communic

[2020-06-18 20:52] NMontanaBrown commented on #19
@YipengHu @mathpluscode

[2020-06-18 20:54] #27 closed

[2020-06-18 21:04] NMontanaBrown commented on #19
Interesting links re other code of conduct for inspo: https://www.djangoproject.com/conduct/enforcement-manual/
and generally useful reading/guides from opensource.guide such as: https://opensource.guide/leadership-and-governance/

[2020-06-18 21:30] NMontanaBrown commented on #35
Offer some demos with google colab? if no access to GPUs

[2020-06-19 00:06] YipengHu commented on #35
was thinking about this
- encourage all demos provided re-trained models
- let's have the scripts first - convert to notebook should be easy

[2020-06-19 07:12] tvercaut opened #44 "Automated code formatting"
It's good practice to follow some code formating standards. A good means of doing so is to use an automated code formatter such as [black](https://github.com/psf/black).

See e.g. how it's done in MONAI: https://github.com/Project-MONAI/MONAI/blob/master/CONTRIBUTING.md#automatic-code-formatting

[2020-06-19 08:13] NMontanaBrown commented on #44
Related issue #10

[2020-06-19 08:17] tvercaut commented on #44
it's indeed a duplicate

[2020-06-19 08:17] #44 closed

[2020-06-19 08:20] NMontanaBrown commented on #10
See: https://github.com/Project-MONAI/MONAI/blob/master/CONTRIBUTING.md#automatic-code-formatting
and
https://github.com/psf/black#installation-and-usage
Thanks for the suggestion @tvercaut!

[2020-06-19 23:05] YipengHu commented on #19
1 - i prefer the readme is a one-screen information sheet, add a link?
2 - should we establish a core dev team - those will respond to request and given a bit more credit? i'm really not experienced in this, but can try to facilitate if no one else (at least all the names in current repo should be asked)
3 - we can give an estimate only, add a link to wiki?
4 - sure
Just my initial response, open

[2020-06-20 11:09] NMontanaBrown opened #45 "Linting Codebase to PEP8 - linting deepreg/model/layer_util.py"
Editing repo without changing functionality to set up a consistent coding style.
* [x] Generate pylintrc
* [x] Pre-lint codebase prior to setting up auto lint/pylint in CI

Related issue #10

[2020-06-20 15:59] YipengHu commented on #9
I close this for now and moved the current content to wiki.

[2020-06-20 15:59] #9 closed

[2020-06-20 16:04] YipengHu commented on #31
@RemiDelaunay
can you please remove globalnet branch (use the issue number to lead you branch name next time ;) ) - i close this now and will review when loaders ready.

[2020-06-20 16:04] #31 closed

[2020-06-20 16:16] YipengHu commented on #21
merged

[2020-06-20 16:16] #21 closed

[2020-06-20 17:30] mathpluscode opened #47 "Support multiple configuration files"
For now, all the configurations are put into the same file.
We should split it into data and model config, and when launching experiments, we can pass multiple configs and merge them into one

[2020-06-20 17:36] NMontanaBrown opened #48 "Refactoring from click to argparse for command line interface"
Currently all the click commands exist outside of the main() functions as global vars which are then used in the command line interface, which makes them not PEP8 compliant and probably a bit nightmarish to test further along the line.

Refactor (/remove) reliance on click by converting any CLI interaction to argparse module.

Scripts which use click:
* [x] deepreg/gen_tfrecord.py
* [x] deepreg/pr

[2020-06-20 17:46] YipengHu commented on #47
Seperate train and predict as well?

[2020-06-21 00:11] YipengHu commented on #28
@tvercaut see: https://github.com/ucl-candi/DeepReg/blob/28-classical-registration/test/sit_classical_registration.py
It looks like working fine. ;)

[2020-06-21 08:23] #48 closed

[2020-06-21 08:23] #19 closed

[2020-06-21 08:44] NMontanaBrown opened #52 "Update README: broken link to contributing docs in README, outdated instructions for package usage, commit style guide."
#### Issue description
1. The link to contributions doc is broken - ideally update this so it is not broken anymore.
2. The instructions for utilisation of the package using argparse could be simplified
3. Our commit messages are a bit all over the place making it hard to get the gist of updates from commits, implement a commit contrib style guide in CONTRIBUTIONS.
4. The issue template does not e

[2020-06-21 08:51] YipengHu commented on #52
Could make argparse just an alternative to config file?

[2020-06-21 08:57] NMontanaBrown commented on #52
@YipengHu it does avoid the issue of having to generate config files, but I think this is a separate ticket to the one at hand. For this issue, I am working on the main docs of the three command line interfaces (train, predict, gen_tfrecord) since I just recently modified this functionality and I find the docs in README for usage quite confusing (so I cant imagine how confusing for end user!).
But

[2020-06-21 09:54] NMontanaBrown opened #53 "Argparse broken for train and predict scripts due to incorrect argument in adding --gpu_allow_growth flag."
#### Issue description
1. The argparse implementation for the flag ‘--gpu_allow_growth ‘ in deepreg/train and deepreg/predict returns an error. The expected behaviour is described in the README where gpu_allow_growth should be an optional flag which instructs TF whether or not to allocate whole GPU memory or not. Calling the command line applications returns an error indicating one of the argument

[2020-06-21 11:59] NMontanaBrown opened #54 "Create a command line app to generate config files from argparse."
#### Issue description
Currently, the package depends on .yaml files / config paths to run registrations. It would be useful to create a ~guide and~ CLI app for users to generate their own configuration files to customise trainings.

## Type of issue
Please delete options that are not relevant.

- [ ] Bug report
- [x] New feature request
- [] Documentation update
- [ ] Test request
- [ ] Linting r

[2020-06-21 12:14] YipengHu commented on #54
This is related to #36 .

[2020-06-21 12:16] NMontanaBrown commented on #54
Porting doc request to that ticket, this ticket will be about creating CLI for the generation of config files. @YipengHu

[2020-06-21 12:17] NMontanaBrown commented on #36
Related ticket #54

[2020-06-21 12:36] NMontanaBrown opened #55 "Test + docs: layer_utils.py"
#### Issue description
We do not have any unit tests for layer utils. These are base functions that are relied on throughout the package. Good place to start for unit tests as we will rely on these functions working as expected for further testing down the line.

## Type of issue
Please delete options that are not relevant.

- [ ] Bug report
- [ ] New feature request
- [ ] Documentation update
- [

[2020-06-21 13:03] NMontanaBrown opened #56 "Config file in predict automatically taken from ckpt path - assuming too much of a strict naming convention/folder structure?"
#### Issue description
In deepreg/predict, there is no reliance on a config file - instead, it is picked up from the ckpt path and assumes a similar file structure like:
- config = config_parser.load("/".join(ckpt_path.split("/")[:-2]) + "/config.yaml")
found at:
https://github.com/ucl-candi/DeepReg/blob/5010a17f529d5b3c7cd6d7b4d5c73bdc3a2e389f/deepreg/predict.py#L176

This seems like a fragile pa

[2020-06-21 13:53] YipengHu opened #59 "Affine registration and GlobalNet"
#### Issue description
Current globalnet with affine transformation has a format not consistent with other ddf or dvf pr conditional_registration.

## Type of issue
Please delete options that are not relevant.

- [x] New feature request
- [ ] Documentation update
- [x] Test request

#### What's the expected result?
- New network build, train, predict functionalities as with others
- Be consistent

[2020-06-21 14:09] mathpluscode opened #60 "Remove nilearn dependency"
#### Issue description

Remove nilearn dependency

## Type of issue

Improvement of code

[2020-06-21 15:05] YipengHu commented on #28
@zacbaum can you help with converting the two examples to sit please? let me know if you want them to be merged first, though the branch has just been rebased - so should be no big diff.

[2020-06-21 15:29] mathpluscode commented on #56
In `init(config_path, log_dir, ckpt_path):` the config will be copied into the log folder, so that in the prediction it will take the backup config to make sure the config is consistent.

I didn't ask the predict to take a config as input as it might be inconsistent

[2020-06-21 15:30] mathpluscode commented on #47
@YipengHu prediction will use the same config as train so we are only talking about train config i think

[2020-06-21 15:37] YipengHu commented on #28
I've PR anyway ;) please review/approve and you can start a new branch for it.

[2020-06-21 15:44] #45 closed

[2020-06-21 15:44] #52 closed

[2020-06-21 15:46] #60 closed

[2020-06-21 15:50] #5 closed

[2020-06-21 16:59] YipengHu commented on #47
There are clinical cases, the prediction should have a different loader.

[2020-06-21 17:24] NMontanaBrown commented on #56
I'm not sure I understand where that init line of code comes from, can you provide a link?

[2020-06-21 17:27] NMontanaBrown commented on #47
Regarding prediction using the same config as train: it is related to #56

[2020-06-21 20:10] YipengHu opened #65 "Tutorial - data sampling methods explained"
# Issue description
The options for sampling groups, image pairs and labels

## Type of Issue
Please delete options that are not relevant.

- [x] Documentation update

#### What's the expected result?
clearly described method that us consistent with data loaders

#### What's the actual result?

#### Additional details / screenshot

-
-

[2020-06-21 23:28] YipengHu commented on #65
@s-sd Sorry Shaheer if it looked like that the changes have been made without informing/discussing with you ;) Please have a quick look at: https://github.com/ucl-candi/DeepReg/blob/56-doc-data-sampling/tutorials/sampling.md
which Yunguan will also review. All of us are still figuring out what the best way forward with the loaders. Please chip in! It is good to hold off a few things uncertain unti

[2020-06-21 23:43] YipengHu commented on #24
@acasamitjana This might be a good time for our first demo!
The unpaired loader is ready (I'm sure there will be changes/updates), but hopefully, all will be easier to adapt later on.
See some doc on data loader and sampling here:
https://github.com/ucl-candi/DeepReg/issues/37
https://github.com/ucl-candi/DeepReg/blob/56-doc-data-sampling/tutorials/sampling.md

[2020-06-22 02:27] zacbaum commented on #53
Currently, both of the below arguments have the same 2nd option string. How would we want to best resolve this? Once we decide, all else is fixed, and I will PR changes (along with an update to the readme).

`--config_path` | `-c` , string, path to the configuraton file in training, `.yaml` extension.
`--ckpt_path` | `-c` , string, path to the checkpointed model, `.ckpt` extension.

[2020-06-22 07:43] s-sd commented on #65
@YipengHu the new changes all look great! I will have a look at the sampling tutorial and will hold off on the h5 loaders until the nifti's merge

[2020-06-22 07:44] NMontanaBrown commented on #53
Modify to: (?)
`--config_path` | `-c`
`--ckpt_path` | `-ck` or `-k`

Additionally, spotted more 'show_default' flags... so not only in `--gpu_allow_growth` but also:
- `--log_dir`, `--ckpt_path`, `--mode`, `--batch_size`, `--sample_label`...

[2020-06-22 09:59] NMontanaBrown commented on #56
@YipengHu Can you change the refs for the commits? They point to the wrong ticket.

[2020-06-22 10:23] YipengHu commented on #56
I noticed too - really embarrassing, was not sure how to do it...

[2020-06-22 12:38] #53 closed

[2020-06-24 02:07] zacbaum commented on #55
@mathpluscode - It's not completely obvious to me what happens / why it's done in `pyramid_combination`, `random_transform_generator` and `warp_grid`.

Could you let me know what kinds of things need to be tested other than input/output validity (i.e. types and sizes)?

What are these functions used for within the rest of the repo?

If you let me know, I will update the docstrings for those functi

[2020-06-24 08:12] NMontanaBrown commented on #33
What does "comment what needs to be included, mirror the two "get started" " mean? @YipengHu

[2020-06-24 08:50] NMontanaBrown commented on #36
Once this is done we can work on ticket #54 ? Facilitates dev of CLI.

[2020-06-24 09:10] #34 closed

[2020-06-24 09:13] YipengHu commented on #33
@NMontanaBrown you are doing "comment what needs to be included"

there are plans for two "get started" tutorials, registration (already in) and with demo (no demo ready yet)

[2020-06-24 09:14] YipengHu commented on #36
yup - will be get on with this tutorial

[2020-06-24 09:20] NMontanaBrown commented on #33
You mean what is missing on the README file?

[2020-06-24 09:30] YipengHu commented on #55
@zacbaum
`pyramid_combination` the function description is in, primarily for interpolating intensity on voxels (the resampler);
`random_transform_generator` generate random affine transformation by oscillating (normalised to -1 and 1) corner points with provided scale parameter;
`warp_grid` warp the grid (3d coordinates of all voxels) using an affine transformation parameterised by theta - this is

[2020-06-24 09:33] YipengHu commented on #33
are you updating this? a few docs are inter-connected with each other. we will just keep updating and close issues when at certain stage. open/new tickets again when needed.

[2020-06-24 09:37] NMontanaBrown commented on #56
Also @mathpluscode what do you mean by init(config) here: "In init(config_path, log_dir, ckpt_path): the config will be copied into the log folder, so that in the prediction it will take the backup config to make sure the config is consistent."?

Can you point me to the source code? That way I might understand better

@YipengHu I think you have to force push, which could be quite troublesome to ev

[2020-06-24 09:46] NMontanaBrown commented on #33
I mean, the README file should be relatively pared down with pointers to docs/tutorials where necessary. It should point users to necessary information that they need with a quickstart, see https://github.com/Project-MONAI/MONAI.We can't really do this until there is progress on tutorial docs/we create a read the docs (depends on implem of tutorials, writing of tutorial doc and writing all the cod

[2020-06-24 14:07] s-sd opened #68 "Modify output tests to pytest style and parallelise to make CI more efficient."
# Issue description

CI times out at 30 minutes which causes CI to fail for h5 data loaders. The total expected time it should take to finish all tests is around 40-50 minutes so an extension to the timeout is likely to fix the problem

[2020-06-24 18:01] NMontanaBrown commented on #68
I'm not actually going to extend the CI timeout, I'm going to parallelise tests and convert to pytest style.

[2020-06-24 18:12] s-sd commented on #68
Thank you!

[2020-06-24 19:58] zacbaum commented on #55
So, beyond input/output validity - what should be tested for these? If the transforms generated are random, it would be difficult to test much there other than that they are well-formed (inevitable, etc), no?

I'm not familiar with some of the functions used and without going through the remaining three functions line-by-line to see the outputs of the intermediate these methods; the underlying mat

[2020-06-24 21:03] YipengHu commented on #55
@zacbaum

Are we talking about unit testing here, right? You don't have to know exactly what it is doing to unit test a function - sure it could help. The invertibility etc are more like a regression test. I would "assume" the current one is correct and generate some test data (small in size please) and, in this way, the unit tests can at least make sure the future changes won't break this functio

[2020-06-24 22:59] YipengHu commented on #32
@s-sd @mathpluscode
We discussed a bit. I think we should simplify the folder structure for h5 files to take advantage of the format. Let's do
- a single folder, say "train", with only two files, fixed_images.h5 and moving_images.h5;
- optionally, depends on the loader, two extra files, moving_labels.h5 and moving_images.h5
- use the keys string in the key-value pairs (value being the image/label

[2020-06-25 05:12] s-sd commented on #32
@YipengHu , Thank you! I will try to make these changes today

[2020-06-25 07:28] s-sd commented on #32
@YipengHu @mathpluscode

I have fixed the directory structure now and have updated the h5_loader functions to incorporate these new directory structure changes. The directories now look like:

For unpaired:
- train
  - images.h5 (keys=['subject1', 'subject2' ...])
  - labels.h5 (keys=['subject1', 'subject2' ...])

For paired:
- train
  - fixed_images.h5 (keys=['subject1', 'subject2' ...])
  - fixe

[2020-06-25 07:35] NMontanaBrown commented on #68
I need a fresh pair of eyes... For some reason, two of the tests fail out of 6 but it's not immediately obvious why. Can someone give the latest build on Travis a once over and potentially help uncover why in particular those two tests fail (where they once... didnt?)
@zacbaum @s-sd @mathpluscode

[2020-06-25 07:54] s-sd commented on #68
@NMontanaBrown , I had a quick look and I think I spotted something. Both the tests that fail i.e. test_grouped_labeled_ddf.py and test_unpaired_unlabeled_ddf.py have the config paths specified as:
'/deepreg/config...'

instead of the usual (without the initial forward slash):
'deepreg/config...'

I think this was causing the config files not to be found. Don't know for sure that this is the probl

[2020-06-25 08:07] NMontanaBrown commented on #68
Fixed! Great spot @s-sd ! This means that once this is merged we can finally address your PR

[2020-06-25 08:13] NMontanaBrown commented on #55
@YipengHu The whole point of unit testing is asserting that mathematically the function does what we expect it to do, consistently. Unit testing the code really helps down the line when things break / start working in funky ways that are unexpected - because the repo is quite large and has lots of moving parts, it will be hard to diagnose what is not working because of some unexpected behaviour in

[2020-06-25 09:09] #68 closed

[2020-06-25 14:08] #32 closed

[2020-06-25 16:39] acasamitjana commented on #24
I have an preliminary demo with 2 images that is working. I now need to train it using the full dataset. I have used the train.py and predict.py as base example.

Now, I have several doubts/comments:

1.- Is anyone using DVF model? I noticed differences in the coding style and some bug compared to DDF model. I can adapt it to the same style and make a PR.
2.- I'm not sure it is good to allow resiz

[2020-06-25 18:29] YipengHu commented on #24
@acasamitjana
Good points!
1 - please do. We have not had an application for using dvf yet, it would be great to have your demo as an example for it! Better to make a separate issue for it;
2 - This is a much bigger topic. We had thought about to change the entire thing to accept anisotropic images, but it may be best to revisit after first release. The data loaders, deformation regularisation etc

[2020-06-25 21:26] #2 closed

[2020-06-25 21:37] acasamitjana commented on #24
1.- OK, I'll do it.
2.- I like the idea of CompositeNet, I don't need it for now but we can include it afterwards -- let's talk it later on.
3.- You are right about the small influence of the gradient if the background is more or less homogeneous. I can actually mask the images offline and use them as inputs. (Thanks I didn't think about it earlier!)
4.- Ok, I will implemented as I wanted to use l

[2020-06-25 22:09] #37 closed

[2020-06-25 22:12] #65 closed

[2020-06-26 08:31] NMontanaBrown opened #75 "README missing CLI information and broken links to docs to use CLI"
# Issue description

- New merge from issue #36 #74  has added several broken links to the README
- The information provided for the CLI is therefore not accessible as the information was removed from the README and the link from README to the docs is broken.
- It is not clear what exactly the CLI interfaces "do" - what are the arguments necessary? It is fine to point a type needed but that won't

[2020-06-26 21:26] YipengHu opened #77 "Multi-folder support"
# Issue description

Additional support to enable training data can be sampled from multiple folders.

## Type of Issue
Please delete options that are not relevant.

- [ ] New feature request
- [ ] Documentation update
- [ ] Test request
- [ ] Linting request

#### What's the expected result?
- [ ] multiple folders can be specified in yaml config file;
- [ ] the training data from all these folder

[2020-06-26 21:27] YipengHu commented on #77
let me know when you near finish this, I can edit the relevant doc/tutorials to be consistent with your implementation. @mathpluscode

[2020-06-26 21:31] YipengHu commented on #77
this is also related to #41 and #36

[2020-06-27 12:58] YipengHu commented on #47
@mathpluscode is it still relevant for the r1? close otherwise.

[2020-06-27 13:00] YipengHu commented on #28
@zacbaum @NMontanaBrown if adding SITs is too much for R1, I can convert this to a "special demo". What do you think?

[2020-06-27 15:11] #10 closed

[2020-06-27 16:36] #75 closed

[2020-06-28 18:50] mathpluscode opened #81 "Documentation Page"
# Issue description

Some related things we might want to try
- https://docsify.js.org/#/quickstart

## Type of Issue

- [x] New feature request

[2020-06-28 21:42] mathpluscode commented on #81
https://ucl-candi.github.io/DeepReg/#/  it's deployed and I will go through the docs one by one in another issue

[2020-06-28 21:42] #81 closed

[2020-06-28 22:16] mathpluscode opened #84 "Fix links and review docs after using docsify"
# Issue description

## Type of Issue

- [ ] Documentation update

[2020-06-28 22:18] YipengHu commented on #84
Please incorporate #79 - feel free to dismiss the PR if easier.

[2020-06-28 23:10] #77 closed

[2020-06-29 00:00] mathpluscode opened #86 "Rename some keys in config"
# Issue description

Some tests to add
- different loss scales
- different extract levels

Some changes as follows
- tf to training
- similarity to dissimilarity
- weight 0. to 0.0
- reduce test loss scales
- add comments for optimizer name

[code]

## Type of Issue

- [ ] Bug report
- [ ] Documentation update
- [ ] Test request

[2020-06-29 00:21] mathpluscode commented on #59
It seems that the global net option has been added into the code, but tests is needed to cover it

[2020-06-29 00:24] mathpluscode opened #87 "Support images of different shapes"
# Issue description

For now we ask the dataset to have images of the same size, we should support resizing images of different shapes into the same shape.

There are two methods
- resize the 3D numpy array inside generator
- resize the image once it's parsed into tensor in the tf.dataset

## Type of Issue

- [ ] New feature request
- [ ] Test request

[2020-06-29 00:29] mathpluscode commented on #55
sorry for the delay, i will come back to this tmr to provide more details on the descriptions of these methods and also how i think we can test them in the proper way

[2020-06-29 00:33] mathpluscode commented on #56
sorry for the delay, so if i understand correctly, we want the prediction to accept a configuration file separately,

what i did now, as you mentioned, is assuming a relatively strict structure of the code, which is consistent with the training script

what we can do is
- support additional config file
- raise error if failed to load the checkpoint, as now we still need to build the model then loa

[2020-06-29 00:41] YipengHu commented on #87
this one relates to a bigger change to account for different resolutions - see a discussion with adria here: #24

[2020-06-29 01:22] YipengHu commented on #84
original figure are all gone...

[2020-06-30 21:06] zacbaum commented on #55
@mathpluscode - please let me know when this is done :)

[2020-07-01 09:18] NMontanaBrown opened #91 "Test + docs: Loss/label.py"
# Issue description

Under deepreg/model/loss, need unit tests for:
- Label.py: multiple functions to do operations on labels and get metrics. Reasonably well documented and code easy to read but clearer docs useful.

## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update
- [x] Test request
- [x] Linting request

#### What's the expected result?
As many unit tes

[2020-07-01 09:28] NMontanaBrown opened #92 "Test + docs: layer.py"
# Issue description

Under deepreg/model/layer:

Need to generate unit tests for lots of functions that generate custom tensorflow layers. Generally we are missing docstrings and code clarity but the code is generally quite self explanatory. Classes:

- Activation
- Norm
- Maxpool3d
- Conv3d
- Deconv3d
- Resize3d
- Conv3dBlock
- Deconv3dBlock
- Residual3dBlock
- DownsampleResnetBlock
- UpsampleRes

[2020-07-01 09:31] NMontanaBrown opened #93 "Test + docs: optimizer.py"
# Issue description

Unit testing get_optimizer function in deepreg/model/optimizer.
This one should be quite brief considering it just parses strings from a dictionary into keras optimizers. Docs okay but probably needs a lint.

## Type of Issue

Please delete options that are not relevant.

- [x] Test request
- [x] Linting request

[2020-07-01 09:42] NMontanaBrown opened #94 "Test + docs: backbone classes"
# Issue description

Unit testing return types of deepreg/model/backbone/

Has three files, each containing a class with a net.
- u_net.py
- local_net.py
- global_net.py

These rely quite heavily on the functions in layers.py and layer_utils so perhaps tackle after the others have been tested. If those functions have good coverage, asserting outputs and returns should be relatively simple.

Missin

[2020-07-01 13:22] RemiDelaunay commented on #59
Hi,

I just created a new branch with new network build. Affine transform can now be accessed while globalnet still outputs a ddf like localnet.

What do you need in terms of testing ? Should I just provide a yaml config file to use with `train_and_predict_with_config` just like in [https://github.com/ucl-candi/DeepReg/blob/master/test/output/test_config.py](url)

Also I noticed the `labeled` argu

[2020-07-01 13:27] YipengHu commented on #59
I think adding docstring to all the functions you added or related to you for one.
@NMontanaBrown can you point out where to find more information on testing to Remi?
@mathpluscode can you have a look at the potential bug mentioned?

[2020-07-01 14:23] NMontanaBrown opened #95 "Test + docs: network utils"
# Issue description
In deepreg/model/network/util.py

Two functions
- build_backbone: relatively easy to test, provided model backbone functions are tested for correct return types.
- build_inputs: builds input layers of some size, independent of other dependencies.

## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update
- [x] Test request
- [x] Linting request

[2020-07-01 14:25] NMontanaBrown opened #96 "Test + docs: dataset utils"
# Issue description

This submodule has no dependencies, a set of utils for sampling and IO. Some linting required, but no docs help needed from outside team - code self explanatory.

## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update
- [x] Test request
- [x] Linting request

#### What's the expected result?
Good coverage on functions.

[2020-07-01 14:39] NMontanaBrown commented on #28
@YipengHu Let me review the test and get back to you

[2020-07-01 14:51] YipengHu commented on #28
these two are just examples, there are a few others you can add to cover other functions/modules, such as affine registration, registration on labels/features.

[2020-07-01 14:57] NMontanaBrown commented on #28
@YipengHu This is cool, but the test works by looking at the plotted output? I think this is easily modifiable. We can incorporate this after unit tests, I will add to timeline if that makes sense?

[2020-07-01 15:00] YipengHu commented on #28
Good idea. We have to streamline, if not required by joss, not required for R1.
And it is a cool idea for sit!

[2020-07-01 18:40] YipengHu opened #98 "Demo - cross-validation using ultrasound registration"
# Issue description

## Type of Issue

Please delete options that are not relevant.

- [ ] New feature request
- [ ] Documentation update
- [ ] Test request
- [ ] Linting request

[2020-07-01 18:41] #96 closed

[2020-07-01 19:17] NMontanaBrown opened #99 "Test + docs: dataset/tfrecord"
# Issue description

Unit testing, docs and lint for deepreg/dataset/tfrecord. Missing docstrings.

- _bytes_features
- _float_feature
- _int64_feaure
- serializer:
- decode_array
- parser
- write_tfrecords
- get_tfrecords_filenames
- load_tfrecords

## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update
- [x] Test request
- [x] Linting request

#### What's the

[2020-07-01 19:24] NMontanaBrown opened #100 "Test + docs: dataset/preprocess"
# Issue description

Unit tests + documentation for 2 functions in deepreg/dataset/preprocess

- AffineTransformation3D
- preprocess: dependent on AffineTransformation3D

This is heavily dependent on layer_utils - issue #55. So we need to resolve ticket #55 before we tackle this, likely

## Type of Issue

Please delete options that are not relevant.
- [x] Documentation update
- [x] Test request
-

[2020-07-01 22:25] mathpluscode commented on #55
@zacbaum please have a look at #101
I added the tests while adding comments and doc string, please do go through all the funcs to see if you can understand it

[2020-07-01 22:27] mathpluscode commented on #59
@RemiDelaunay all the data loaders only support ddf models,
i didn't have the chance to adapt dvf and conf models

[2020-07-02 17:55] zacbaum commented on #55
@mathpluscode, thank you for adding these comments, this will be really useful going forward.

In the future, if someone is actively working on something ([and a branch already exists for that work](https://github.com/ucl-candi/DeepReg/tree/55-layer_utils-testing)), it would be appreciated if the work can be integrated into that existing branch so we aren't doing things redundantly.

Additionally,

[2020-07-02 18:56] mathpluscode commented on #55
@zacbaum sure, sorry i didnt pay attention that you had a branch earlier

btw what do you mean a pytest style?

i followed https://docs.python.org/3/library/unittest.html#basic-example where we use the function `self.assertEqual` ? well it's equivalent to the `assert` anyway

[2020-07-02 18:58] mathpluscode commented on #55
if you expect failure maybe use @unittest.expectedFailure` ? and actually maybe it's better to split the cases like 1d 2d 3d etc...

[2020-07-02 19:08] YipengHu opened #103 "Doc - proofreading for some quick keywords correction"
# Issue description

## Type of Issue

Please delete options that are not relevant.

- [ ] Documentation update

[2020-07-02 19:22] zacbaum commented on #55
I think you've been using the unittest package, which is an extra dependency - whereas pytest doesn't require any imports - some documentation [here](https://docs.pytest.org/en/latest/).

[2020-07-02 19:45] mathpluscode commented on #99
the tfrecord functionality is not tested yet, i will inform you once i confirmed it,
optionally, we can skip this for the release

[2020-07-03 00:11] #86 closed

[2020-07-03 00:12] #11 closed

[2020-07-03 08:15] NMontanaBrown opened #107 "Test + docs: label/image.py"
# Issue description

Test + docs required for:
- Image.py: missing docstrings. Unit tests for inputs outputs.

## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update
- [x] Test request
- [x] Linting request

#### What's the expected result?
Unit tests for image.py functionalities

[2020-07-03 08:16] NMontanaBrown opened #108 "Test + docs: label/deform.py"
# Issue description

- Deform.py: 1 function, local displacement energy that could be refactored into a class or separated into individual unit functions to facilitate testing. No docstrings, requires some documentation updates but code semi understandable.

## Type of Issue

- [x] Documentation update
- [x] Test request
- [x] Linting request

#### What's the expected result?

Unit tests for defor

[2020-07-03 09:22] NMontanaBrown commented on #91
Broken tests due to changing arg name y to tensor in foreground propotion.

[2020-07-03 17:31] #103 closed

[2020-07-04 16:11] mathpluscode commented on #47
close this as it's already merged.

[2020-07-04 16:11] #47 closed

[2020-07-04 16:12] mathpluscode opened #109 "Docs: Configuration"
# Issue description

Add docs about configurations.

## Type of Issue

- [ ] Documentation update

[2020-07-05 19:56] NMontanaBrown commented on #55
I think this should be ready for PR, build is passing lint (although not manifesting in this thread, can be observed here: [link to travis]( https://travis-ci.org/github/ucl-candi/DeepReg/builds/705183289))

@YipengHu @zacbaum

[2020-07-05 21:32] #91 closed

[2020-07-05 21:49] #93 closed

[2020-07-05 22:04] mathpluscode commented on #91
oops, sorry for the delay, for `separable_filter3d`, maybe just check the shaped, i can add them later as it's merged already.

[2020-07-05 22:58] #109 closed

[2020-07-05 23:18] YipengHu opened #114 "On-the-fly resizing"
# Issue description

It is a handy feature to resize all input images to the given shape (for unpaired and grouped), and to resize image to given moving and fixed shape (for paired).

- Dataset Requirement in doc needs to be updated

## Type of Issue

Please delete options that are not relevant.

- [ ] New feature request
- [ ] Documentation update
- [ ] Test request
- [ ] Linting request

[2020-07-05 23:19] YipengHu opened #115 "Document proofread after re-structuring"
# Issue description

proofread the latest doc on github.io

## Type of Issue

Please delete options that are not relevant.

- [ ] Documentation update

[2020-07-06 07:32] NMontanaBrown opened #118 "Docs: include coverage badge on README.md"
# Issue description

Add badge to the repo README.md to show the code coverage.

We need to get a [codecov](https://codecov.io/#features) account to enable this feature.

Further to R1 we can also block PRs that decrease coverage as a way to enable tests with PRs.

## Type of Issue

Please delete options that are not relevant.

- [x] New feature request
- [x] Documentation update

[2020-07-06 07:47] NMontanaBrown opened #119 "CI + docs: pre-commit hook with contradicting changes w/ flake8 and black"
# Issue description

In [this thread](https://github.com/ucl-candi/DeepReg/pull/117#commitcomment-40332851), we get discrepancies between actions for black and flake8 that cause CI to fail. Black 8 causes linting changes that fail flake8. Probably requires modification of the pre-commit hook/CI actions such that there is a preferential linter or the issue, we drop one of two, or provide some instr

[2020-07-06 09:18] mathpluscode commented on #119
I feel for most of the conflicts, there's a workaround way, like the example in the issue.
I also had another conflict yesterday, due to a too long comment.

But I'm not sure how you gonna solve it without specific examples? (The example in the issue, i consider it as a problem of the code, as normally the comma was unnecessary)

[2020-07-06 23:07] #55 closed

[2020-07-06 23:09] mathpluscode commented on #18
close this issue as those classes have been removed, after using dictionary for inputs and outputs

[2020-07-06 23:09] #18 closed

[2020-07-06 23:11] mathpluscode opened #120 "Test + docs: dvf"
# Issue description

Support DVF models and add tests

## Type of Issue

- [ ] New feature request
- [ ] Documentation update
- [ ] Test request

[2020-07-07 09:10] ucl-candi commented on #120
@mathpluscode can you explain how this unit tests the model/network/cond? I only see that it is called but not sure how the methods are tested for QA. Additionally, if you raise docs+tests issues, can you assign the appropriate labels so we can keep track of it?

[2020-07-07 09:27] NMontanaBrown opened #122 "Test + docs: dataset/loader/interface"
# Issue description

Tests, docs, lint request for the file interface.py.

- class DataLoader
    - init, moving_image_shape, fixed image shape, num samples, get_dataset, get_Dataset and preprocess, close
- class AbstractPairedDataLoader
    - init, moving_image_shape, fixed image shape, num samples
- class AbstractUnpairedDataLoader
    - init, moving images shape, fixed image shape, numsamples
-

[2020-07-07 09:31] NMontanaBrown opened #123 "Test + docs: dataset/loader/h5_loader"
# Issue description

Expand unit tests for h5 loader written by @s-sd , and convert the current test from unittest style to pytest style.

- class H5FileLoader
    - init, get_data, get_data_ids, get_num_images, set_group_Structure, close

## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update
- [x] Test request
- [x] Linting request

#### What's the expected re

[2020-07-07 09:34] NMontanaBrown opened #124 "Test + docs: dataset/loader/grouped_loader"
# Issue description

Expand unit tests for grouped_loader, in pytest style.

- class GroupedDataLoader
    - init, validate_data_files, get_intra_sample_indices, get_inter_sample_indices, resample_index_generator, close

## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update
- [x] Test request
- [x] Linting request

#### What's the expected result?
Unit tests th

[2020-07-07 09:36] NMontanaBrown opened #125 "Test + docs: dataset/loader/nifti_loader"
# Issue description

Expand unit tests for nifti_loader, in pytest style.

- class NiftiFileLoader
    - init, get_data, get_data_ids, get_num_images, set_group_structure, close

## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update
- [x] Test request
- [x] Linting request

#### What's the expected result?
Unit tests that cover class and methods, asserting that

[2020-07-07 09:38] NMontanaBrown opened #126 "Test + docs: dataset/loader/paired_loader"
# Issue description

Unit tests for paired_loader, in pytest style.

- class PairedDataLoader
    - init, validate_data_files, sample_index_generator, close

## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update
- [x] Test request
- [x] Linting request

#### What's the expected result?
Unit tests for class methods, lint and docs.

[2020-07-07 09:40] NMontanaBrown opened #127 "Test + docs: dataset/loader/unpaired_loader"
# Issue description

Unit tests for unpaired_laoder, in pytest style.

- class UnpairedDataLoader
    - init, validate_data_files, sample_index_generator, close

## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update
- [x] Test request
- [x] Linting request

#### What's the expected result?
Unit tests for class methods, lint and docs.

[2020-07-07 14:54] NMontanaBrown opened #128 "Test + docs: model/network/ddf.py"
# Issue description

Unit tests for `deepreg/model/network/ddf_dvf.py`, in pytest style.

- func `build_ddf_dvf_model`

## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update
- [x] Test request
- [x] Linting request

#### What's the expected result?
Unit tests for func input outputs, lint and docs.

[2020-07-07 14:55] NMontanaBrown opened #129 "Test + docs: model/network/dvf.py"
# Issue description

Unit tests for ddf.py, in pytest style.

- func dvf_forward
- func build dvf_model

## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update
- [x] Test request
- [x] Linting request

#### What's the expected result?
Unit tests for func input outputs, lint and docs.

[2020-07-07 18:04] YipengHu commented on #1
@NMontanaBrown can you add a few sentences in the software section of the paper? i think mainly CI, testing strategy and doc. Be brief. Thanks! you can just add on the branch.

[2020-07-07 18:24] YipengHu commented on #56
@mathpluscode @NMontanaBrown is it still a relevant issue? better to close this and open new one with specific tasks.

[2020-07-07 18:25] YipengHu commented on #84
@mathpluscode  i'm closing this now. raise a new one if necessary.

[2020-07-07 18:25] #84 closed

[2020-07-07 18:27] YipengHu commented on #87
@mathpluscode are we still planning this before r1? if not please add post-r1 label

[2020-07-07 18:27] YipengHu commented on #33
closing this - raise specific ones if needed. @NMontanaBrown

[2020-07-07 18:27] #33 closed

[2020-07-07 18:28] YipengHu commented on #28
@NMontanaBrown @zacbaum what's our plan for this? if not before R1, please add post-r1 label.

[2020-07-07 18:30] YipengHu commented on #36
I'm closing this as a few other related newer ones raised.

[2020-07-07 18:30] #36 closed

[2020-07-07 18:35] YipengHu commented on #87
@mathpluscode  actually i'm closing this as it is duplicate #114

[2020-07-07 18:35] #87 closed

[2020-07-08 02:29] #115 closed

[2020-07-08 09:54] mathpluscode commented on #56
ok, i think what @NMontanaBrown wanted is the option to allow to not use the default config, it should be done easily.
will do it tonight, then we close this

[2020-07-08 11:22] YipengHu opened #132 "Update the lung-ct paired and unpaired demo"
# Issue description

Update the two demos to the new minimum requirement on wiki: https://github.com/ucl-candi/DeepReg/wiki/Demo-minimum-requirement
This is related to #11

## Type of Issue

Please delete options that are not relevant.

- [ ] Documentation update

[2020-07-08 13:23] s-sd commented on #14
@YipengHu This dataset is 3.9 GB. Should we do a demo for it? It will take a long time to download within the script

[2020-07-08 14:23] YipengHu commented on #14
@s-sd couple of options: only a subset data downloaded for demoing the training for instance - we can discuss this further tomorrow on dev meeting getting wider opinions.

[2020-07-08 14:24] #132 closed

[2020-07-08 17:16] ebonmati opened #134 "Review main documentation - Create virtual environment"
# Issue description

Check documentation in ucl-candi.github.io (Create a virtual environment): "The recommended method is to install DeepReg in a dedicated virtual environment to avoid issues with other **dependency**." --> dependencies perhaps?

## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update

[2020-07-08 17:22] YipengHu commented on #134
@ebonmati Thanks! it would be great if you can do a thorough proof reading and group then in one PR?

[2020-07-08 17:25] ebonmati commented on #134
Sure, do you want me to put together all the typos/errors detected also with some suggestions?

[2020-07-08 18:31] NMontanaBrown commented on #119
Ok, adding won't fix label for now but still worth thinking about... at a later stage.

[2020-07-08 18:33] NMontanaBrown commented on #94
Bit lost on how/if worth to test call methods of the classes. I reckon we need to finish ticket #92 before we do these. Any pointers appreciated @mathpluscode @zacbaum

[2020-07-08 23:10] #134 closed

[2020-07-09 08:56] ebonmati opened #138 "Docs: Add recommended settings for Windows in Readme/Create a virtual Environment"
# Issue description

It would be useful to have also a set of recommendations for Windows in the "Create a virtual environment section". For instance, is it recommended to work with WSL+Linux or just Miniconda under Windows?

## Type of Issue

Please delete options that are not relevant.

- [X] Documentation update

[2020-07-09 13:04] NMontanaBrown opened #139 "Docs: Review CoC + create contact email for any related queries"
# Issue description

CoC currently has missing blanks about how to get in touch with the team via a centralised email account. Need to update this such that there is a method to contact the team in case of issues.

## Type of Issue

Please delete options that are not relevant.
- [x] Documentation update

#### What's the expected result?
- Update the CoC such that there is an email in the [INSERT C

[2020-07-09 13:12] s-sd commented on #125
@NMontanaBrown tests for this will be pretty similar to the h5 loader so I've assigned this to myself

[2020-07-09 13:15] NMontanaBrown commented on #28
Still on track to refactor for R1 @YipengHu !

[2020-07-09 17:05] #123 closed

[2020-07-09 19:05] YipengHu commented on #139
I will first have a look if we can bundle the email/contact with the new domain.

[2020-07-09 19:17] mathpluscode commented on #120
@NMontanaBrown l didn't know this got merged. For the testing, it just verifies that we can run it. I don't know exactly how you gonna test a NN model.

[2020-07-09 21:18] mathpluscode opened #141 "Test + docs: Conditional Registration"
# Issue description

## Type of Issue

Adapt conditional registration script and add smoke tests

- [ ] New feature request
- [ ] Documentation update
- [ ] Test request

[2020-07-09 23:25] #118 closed

[2020-07-10 00:40] YipengHu commented on #138
@ebonmati I think the key problem is I do not have a windows machine with GPU to try.

For CPU, I have tested a couple combinations, with tf2.x (only exception is 2.2 not available yet on win+conda - you were really unlucky there), with WSL, native, with only conda or virtualenv - they all worked.

[2020-07-10 14:55] #94 closed

[2020-07-10 19:13] #56 closed

[2020-07-11 08:20] NMontanaBrown commented on #138
I think we can expand coverage to Windows by expanding the test matrix on Travis (let me raise a ticket and investigate). On Mac I have no problems, so will add as docs as requested. Should probably add a line or two to #1 too (about support to given OSs).

[2020-07-11 09:48] NMontanaBrown opened #145 "Docs + CI: codecov badge not updated from 35% to 44%"
# Issue description

Currently, codecov badge sitting at 35% when pytest cov is at 44% on master.

## Type of Issue

Please delete options that are not relevant.

- [x] Bug report
- [x] Documentation update

#### For bug report or feature request, steps to reproduce the issue, including (but not limited to):

Look at README and compare to code coverage report produced when running: pytest --cov-re

[2020-07-11 19:38] mathpluscode commented on #95
@NMontanaBrown i'm wondering should we improve these tests by testing their shapes, instead of checking their types? I consider the shape checking to be essential and it might worth reopening this issue

[2020-07-11 20:02] #35 closed

[2020-07-11 22:02] #138 closed

[2020-07-12 12:20] #41 closed

[2020-07-12 15:08] #141 closed

[2020-07-12 15:08] NMontanaBrown commented on #145
Think this is a problem with rebase vs merge, now it's updated. But not 100% sure.

[2020-07-12 16:50] #145 closed

[2020-07-12 18:31] mathpluscode commented on #129
@acasamitjana Hi Adria, following the PR #140, the dvf model is merged with ddf model, so we now only need to add tests for `build_ddf_dvf_model`.

To test this function, we can build the function and verify the inputs and outputs for both ddf and dvf mode

[2020-07-12 18:33] mathpluscode commented on #120
close this as it is duplicated with #128

[2020-07-12 18:34] #120 closed

[2020-07-12 18:36] #129 closed

[2020-07-12 18:39] mathpluscode commented on #128
Hi @acasamitjana @RemiDelaunay @NMontanaBrown , following the PR #140, the dvf model is merged with ddf model.

I added tests for `ddf_dvf_forward`, but the tests for `build_ddf_dvf_model` is still needed.
I suggest to build the model and check the models' inputs and outputs' shapes for both DDF and DVF modes.

[2020-07-12 18:43] mathpluscode commented on #100
@zacbaum please be aware of the coming PR #150. Where affine transformation is not touched but we added a new function `resize_inputs`, the corresponding tests are added in `test_preprocess_resize.py`. I put it in a different file to prevent merge conflicts for you.

I see your branch seems to have all the tests. Once #150 is merged into the master branch, please synchronise and move the test of r

[2020-07-12 18:53] mathpluscode commented on #127
@acasamitjana @NMontanaBrown

I'd like to add some suggestions on how can we test this class, as I'm not sure it's obvious.

What we can do is to
1. initialize a `UnpairedDataLoader` instance, using a toy config, check `test_unpaired_labeled.py` for example
2. we test the function `validate_Data_files` by asserting it returns `None` as in case of errors, the return won't be `None`
3. to test `samp

[2020-07-12 18:56] mathpluscode commented on #126
Considering the paired loader is very similar to unpaired loader #127 , i suggest to assign the same people for both.

The code for testing would be high similar so it is easier to add tests for one, and do the same for another.

@NMontanaBrown what do you think.

[2020-07-12 18:58] mathpluscode commented on #124
Compared to the paired/unpaired loader #126 #127 , this loader is more complicated.

I suggest to wait until #126 and #127 are resolved and then we can ask the same or a different person to test grouped loader. The corresponding docs have to be verified.

[2020-07-12 19:07] mathpluscode commented on #122
@NMontanaBrown can we write some guidelines that how these interface classes should be tested?

- for the not implemented functions, we can simply check calling them will raise errors.
- for the implemented functions, we might have to init some class instances in order to test it

maybe we can ask the team to first cover those not implemented functions, and add TODOs for others.

[2020-07-12 19:09] mathpluscode commented on #20
@YipengHu @QianyeYang do we want to do this before release r1?

[2020-07-12 19:10] mathpluscode commented on #38
for custom functionalities, i suggest to label them as post-r1

[2020-07-12 19:10] mathpluscode commented on #40
for custom functionalities, i suggest to label them as post-r1

[2020-07-12 19:10] mathpluscode commented on #39
for custom functionalities, i suggest to label them as post-r1

[2020-07-12 19:35] mathpluscode commented on #99
@NMontanaBrown @YipengHu I suggest to remove tfrecord related codes, (save it in another branch), and add this feature after r1 ;)

[2020-07-12 20:17] mathpluscode opened #152 "Docs: Add missing docstring"
# Issue description

I will go through all the code and will add
- inputs/outputs types/shapes
- docstrings
- comments if needed
- change string "xxx".format to f"xxx"

## Type of Issue

- [ ] Documentation update
- [ ] Test request
- [ ] Linting request

[2020-07-12 20:33] YipengHu commented on #99
I'm fine with it - not a huge impact on the usability.

[2020-07-12 20:35] YipengHu commented on #39
this is a doc, which does not to be comprehensive. i think this is useful for user have an opportunity to contributing things

[2020-07-12 20:35] zacbaum commented on #100
Thanks for the heads up @mathpluscode, will do before adding to the PR you've created (which, in the future, I am more than capable of doing myself...) for this ticket once all the work is finished.

[2020-07-12 20:35] YipengHu commented on #40
Agree on this one.

[2020-07-12 20:37] YipengHu commented on #38
this should be a simple tutorial to write and completely independent to code. I marked it as post-r1, but if we have time, we should add this.

[2020-07-12 20:40] YipengHu commented on #20
yes - i think this is already in the doc and Qianye has been halfway there i beleive.

[2020-07-12 20:52] #95 closed

[2020-07-12 21:21] #114 closed

[2020-07-12 21:22] mathpluscode commented on #100
@zacbaum it's merged ;) please ping me in case of any problems!

[2020-07-12 21:58] acasamitjana commented on #91
Hey, quick comment: loss weight is not taken into account. Should I do a PR referencing this issue in this case?

[2020-07-12 22:02] YipengHu commented on #91
@acasamitjana can you elaborate a little what you mean by loss weight not taken into account?

[2020-07-12 22:06] acasamitjana commented on #91
Yes sorry: I meant the weight of the label loss on the total loss (now it's weighted_loss_label = loss_label)

[2020-07-12 22:14] YipengHu commented on #91
It is a good spot @acasamitjana !
@mathpluscode did we miss anything here? The losses are not independent to each other, but is the option of label weight is provided, we should enable it.

[2020-07-12 22:15] YipengHu commented on #91
@acasamitjana I think this needs a separate issue - do you mind raising it please.

[2020-07-12 22:21] acasamitjana opened #153 "Loss weights"
# Issue description

The total loss is a weighted sum of several losses. The weight associated with the label loss is not used in the code.

## Type of Issue

Please delete options that are not relevant.

- [ ] Bug report

#### For bug report or feature request, steps to reproduce the issue, including (but not limited to):

Run a training demo with labels

#### What's the expected result?

label_l

[2020-07-12 22:45] mathpluscode commented on #153
ooops, i confirm it's a bug, fix coming in 30 mins

[2020-07-12 22:50] mathpluscode commented on #153
https://github.com/ucl-candi/DeepReg/blob/master/deepreg/model/network/util.py#L197
there are multiple problems:

1. the condition should also check if the weight is >0
2. the weighted loss need to use the weight

and some more improvements
1. in https://github.com/ucl-candi/DeepReg/blob/master/deepreg/config/parser.py#L77, if the data is labeled, the label loss must have positive weight, otherwis

[2020-07-12 22:54] mathpluscode commented on #91
@acasamitjana Hi, it's a bug and I left some suggestions in the issue, generally the fix in PR is perfect, just suggesting more modifications to detect potential errors during parsing the config

[2020-07-12 22:55] YipengHu commented on #153
I will approve #154 first. @mathpluscode can you raise a separate issue for these issues you mentioned?
positive weight - yes, but should be a warning (there might be weird usage for the negative value?)

[2020-07-12 22:56] mathpluscode opened #155 "Check loss weights"
# Issue description

- When using DDF/DVF we have the regularization loss, it's better to add a check in parser to make sure the corresponding loss is non negative.
- For image loss and label loss, need to check the weight is non negative.
- When the data is labeled, raise warning when label loss has zero weight

Maybe we want to test this as well? @NMontanaBrown

## Type of Issue

- [ ] New featu

[2020-07-12 22:56] mathpluscode commented on #153
ok @YipengHu go ahead

[2020-07-12 23:23] #153 closed

[2020-07-12 23:25] YipengHu commented on #124
https://ucl-candi.github.io/DeepReg/#/doc_data_loader

[2020-07-13 18:25] s-sd opened #157 "Docs: Additions to the docstrings for loaders"
# Issue description
Make the following minor modifications/ additions to the docstrings for the loaders:
- Add a brief description of the different conditions in the grouped loader
- Either explain data organisation and directory structure for the different loaders in the docstring or point to the page where this is explained

## Type of Issue
- [x] Documentation update

[2020-07-13 19:45] ucl-candi commented on #54
@NMontanaBrown @agrimwood not sure i follow this line of work closely. If this is still ongoing, it would be handy to add one more functionality to generate the cross-validation "batch" config files. See this: https://ucl-candi.github.io/DeepReg/#/tutorial_experiment
This should be relatively independent to other code/tests but, again, is optional for R1.

[2020-07-14 06:24] NMontanaBrown commented on #152
Hi @mathpluscode, can you please outline which files you are planning on working on for these changes? And link to related open tickets that might have a file clash such that other devs are aware of these changes?

[2020-07-14 06:29] NMontanaBrown commented on #54
Hi @YipengHu, as evidenced by lack of commits this ticket has not yet been addressed. There have been many changes to the config situation so mostly just waiting for the dust to settle before building a solution - if the config docs are done and there are no more expected changes to config situation then we can work on this. @agrimwood is currently working on testing so we can re-distribute this t

[2020-07-14 06:32] NMontanaBrown commented on #126
This ticket has already been assigned, @agrimwood is working on it!

[2020-07-14 06:37] NMontanaBrown commented on #127
Hi @acasamitjana @mathpluscode, if any doubts please confer with @s-sd or refer to their tests - q thorough, close to 100%/100% coverage! They should allow for more clarity, if any doubts feel free to ping me 😄

[2020-07-14 07:09] acasamitjana opened #159 "Randomness in training - Unpaired data_loader"
# Issue description

Randomness in batches during training. The unpaired data_loader loads the same pair of images (reference/floating) in every epoch.
This should be tested in issue #127

## Type of Issue

- [x] Bug report

#### What's the expected result?

During training, a different combination of reference/floating are seen in every epoch.

[2020-07-14 09:47] agrimwood commented on #126
Hi @mathpluscode , @NMontanaBrown

Apologies for stepping on anyone's toes. I selected this task as a learning exercise. It would be easier for one person to test the loaders, but they are also a good place for a relatively inexperienced user like me to start.

[2020-07-14 10:29] NMontanaBrown commented on #159
Also relevant to @s-sd: does this behaviour occur with the other loaders we have tested thus far (h5, nifti)?

[2020-07-14 11:46] NMontanaBrown commented on #107
@ZheMin-1992 can you assign yourself to this ticket?

[2020-07-14 11:52] acasamitjana commented on #159
Indeed, with any loader called from the Unpaired_loader class. It will be solved a next PR.

[2020-07-14 12:15] s-sd commented on #159
@acasamitjana, I tired to test the unpaired loader using the output test and tried printing the order used. For me, this gave me the a different order on each epoch. Did you test using a seed value of None? If possible, could you let me know the steps to recreate the bug?

@NMontanaBrown, the nifti and h5 loaders are general file loaders so they do not generate the sample indices which is why they

[2020-07-14 13:13] acasamitjana commented on #159
@s-sd I run the test_unpaired_labeled and printing the output of data_loader_train.sample_index_generator for several epochs and it gave the same indices for all of them. I'm using seed=None but it has no effect in the output as it doesn't use the shuffled list. Am I right? How did you test it?

[2020-07-14 13:36] s-sd commented on #159
@acasamitjana, Thanks! I tested by printing the moving_index and fixed_index just before line 78 in 'deepreg/dataset/loader/unpaired_loader.py'. I ran the test 'test/output/test_unpaired_labeled.py'. I got different indices while training and same indices in each epoch when in test mode. Is it possible that you observed the indices in test mode?

'test/output/test_unpaired_labeled.py' tests both t

[2020-07-14 13:52] acasamitjana commented on #159
@s-sd thanks for the detailed explanation. I could run the script printing the indices in line 78 and I get the same image pairs [moving_index, fixed_index] for every epoch: [0,1], [2,3], ..., [12,13].
Are you using the master branch? In master, the indices, as far as I understand, are not random.
`       image_indices = [i for i in range(self.num_images)]
        random.Random(self.seed).shuffle(

[2020-07-14 13:54] s-sd commented on #159
@acasamitjana Yes you are right. Sorry, the printed outputs got a bit jumbled up in the output test. I have now just run only the training and have realised that that the shuffled list is not being used and the outputs are not shuffled at each epoch. Sorry for the confusion. Happy to help correct this if you want or if you need help with it :)

[2020-07-14 13:57] acasamitjana commented on #159
@s-sd don't worry and thanks for the help and discussion. I already submitted a PR with updated changes and the unit testing for the unpaired data loader. I will close the issue when the PR is accepted.

[2020-07-14 18:04] YipengHu opened #161 "deepreg.net update"
# Issue description

We need someone who has the expertise/interest to update the home website.

## Type of Issue

#### What's the expected result?

- Appropriate place to add the core dev team and contact details;
- Appropriate place and design review of DeepReg logo
- Appropriate place and acknowledgement for funding support

#### What's the actual result?

[2020-07-14 19:02] mathpluscode commented on #159
[code]

lol i shuffled it in place and forgot to use it...

[2020-07-14 19:15] mathpluscode commented on #152
@NMontanaBrown technically this will be on all the files. But after the discussion of other members, they have raised some more detailed requirements, so I will fix those issues first then come back here. Maybe I can at least split the changes into several modules and merge them little by little ;)

[2020-07-14 19:16] zacbaum commented on #161
Probably best to create a "home" page (which isn't the setup/quick start page - this can be linked from the sidebar).

Much of the info we want to add can go on this page, and then we can also add an overview of the project, with value proposition / features, etc. (similar to those of [monai](https://monai.io/), [tf](https://www.tensorflow.org/) as examples). We can (for now anyway) list all contr

[2020-07-14 19:24] mathpluscode commented on #54
Hi @NMontanaBrown , what do you mean about "own configuration files to customise trainings"?

I thought first you wanted to have a CLI to merge configs, but seems not exactly this?

The current system would work, if user copy a config and change the values themselves in that copy, then pass the config path.

But maybe you want something a bit more modular, and user can create a config by answering

[2020-07-14 19:26] mathpluscode commented on #126
@agrimwood Hi, thanks so much! After a discussion with @NMontanaBrown we agree that it's better to let more people understand the code instead of chasing for speed only ;)

[2020-07-14 19:27] YipengHu commented on #161
- the boilerplate text is a must but needs some thinking- maybe an item for thursday? - I will give it some thoughts;
- personally, monai homepage is a bit too busy for me;
- funding for now is just weiss, I will collect this info from others as well - we need to be careful with the wording. WEISS supports the project but does not "own" this ;) it is an open-source project;
- make the contributor

[2020-07-14 19:29] mathpluscode commented on #107
@NMontanaBrown You mentioned in #127 @s-sd has done an excellent work on tests, maybe we can link the PR/issue or the file to others as an example? (sorry i tried but can't find the specific test you mentioned)

[2020-07-14 19:32] mathpluscode commented on #127
@acasamitjana i believe @NMontanaBrown  means this issue #125 !

[2020-07-14 19:37] YipengHu commented on #54
ok - agree on CV.
We have chatted about different versions of this CLI - i'm a bit losing the track now - but definitely no conclusion reached - another item for thursday maybe?

[2020-07-14 19:44] mathpluscode commented on #161
@zacbaum there was a home page, you just need to change `homepage: "quick_start.md",` in`docs/index.html` change it to `README.md` (i deleted it, so we need to add this back)

for the contents... i have no idea

for the logs, we can add them in the coverpage, which is defined in `_coverpage.md`

btw, to visualize the changes locally, plz check https://ucl-candi.github.io/DeepReg/#/CONTRIBUTING?id=

[2020-07-14 19:47] YipengHu commented on #161
fyi @zacbaum i never managed visualise this on local branch on my CB or windows/wsl, add to the doc if you figured it out.

[2020-07-14 19:51] zacbaum commented on #161
Have been able to with Windows (using cmd and Jekyll) so will do that when I go to make all these updates :)

[2020-07-14 20:06] mathpluscode commented on #157
@s-sd I will add docs for grouped loader first, then for others, will wait once we merge the branches, as many branches are ongoing for loaders

[2020-07-14 20:22] acasamitjana commented on #127
I don't follow you now. What do you mean?

[2020-07-14 20:28] mathpluscode opened #162 "Partly labeled data support"
# Issue description

It might be possible that only part of the data are labeled, and we still want to use label loss for training.

There are two ways:
1. Ask user to create fake label, an array with the same size of image but all zeros.
2. We tolerate partly labeled data (if none of the data are labeled, we raise warning or error), and in case of unlabeled image, the generator will generate a ze

[2020-07-14 20:31] mathpluscode commented on #127
@acasamitjana  oh l just link @s-sd 's issue as i thought @NMontanaBrown said it's an example of good testing. Nothing else ;)

[2020-07-14 22:28] mathpluscode commented on #119
Have again a too long commit,

![image](https://user-images.githubusercontent.com/4066929/87482587-a573a600-c629-11ea-80e4-d19c01d0470d.png)

So maybe we can maintain a list of possible failures/conflicts in the docs, and for each case, we consider do we have a work around or we have to solve the conflict.

[2020-07-15 09:08] NMontanaBrown opened #166 "Enhancement + docs: visualisation tool for demos and to demo registration on README.md"
# Issue description

It would be powerful to be able to visualise registration results achieved with the package. At the moment I think it would be extra nice if this is showcased on the README with a GIF of some sort to show updates of learning process visually for some trained network.

## Type of Issue

Please delete options that are not relevant.

- [x] New feature request
- [x] Documentation

[2020-07-15 09:10] NMontanaBrown commented on #99
@mathpluscode I think I can work on some bits and bobs of tests for this part of the package, alternatively we should migrate somewhere for post R1?

[2020-07-15 17:32] #125 closed

[2020-07-15 21:06] mathpluscode commented on #99
@NMontanaBrown I would say let's remove it ftm, after r1, we can add it back. So that we can concentrate on more important issues. Also it can largely improve the test coverage ;) If you are ok, I can add a PR to remove the code.

[2020-07-15 21:31] mathpluscode opened #167 "Docs: Explaination for labels"
# Issue description

From @acasamitjana:

- Loading labels: they should be between [0,1]. Do you support multiclass? In that case, should I normalize them between [0,1] or yo expect one-hot encoding? I'm not sure because most of the losses expect binary labels (e.g: cross_entropy o generalized dice) but in the "validate_images_and_labels" you allow 4-D volumes (I guess with one-hot encoding).

- J

[2020-07-15 22:27] #157 closed

[2020-07-15 22:40] YipengHu commented on #99
either is fine with me.

[2020-07-15 22:46] YipengHu commented on #166
@NMontanaBrown
*keras style callback during training" sounds too much to me, for R1 anyway... maybe saving to files? an item for discssion?
*pictures on readme or even frontcover sounds a great idea! @zacbaum

[2020-07-15 22:50] #139 closed

[2020-07-16 00:58] zacbaum commented on #166
Perhaps gifs or photos of progress / results from the demos can be utilized?

[2020-07-16 06:49] NMontanaBrown commented on #166
I potentially have a ready built tool that can plot things during training? Let me check if it would be adaptable to the tools at hand without going too crazy.

[2020-07-16 08:37] YipengHu commented on #107
this is related #162

[2020-07-16 10:08] NMontanaBrown commented on #166
TODOs:
- [ ] Write callback/adapt callback for visualisation of reg during training
- [ ] Modify train script such that it takes this new callback. Does this warrant a separate tickets?
- [ ] Train a net with this callback.
- [ ] Download images.
- [ ] Compile into a GIF.

[2020-07-16 10:19] ZheMin-1992 commented on #107
@mathpluscode Thanks a lot! Will do if meet with any problems.

[2020-07-16 10:30] NMontanaBrown opened #169 "Docs: All links on wiki tutorial index are broken"
# Issue description

Going through the wiki, I tried to access [the linked tutorial](https://github.com/ucl-candi/DeepReg/blob/master/tutorials/registration.md) but it lead me to 404. Any pointers?

## Type of Issue

Please delete options that are not relevant.

- [x] Bug report
- [x] Documentation update

[2020-07-16 10:31] NMontanaBrown commented on #169
Actually, all the links on the [wiki page](https://github.com/ucl-candi/DeepReg/wiki/Tutorial-Index) are broken?

[2020-07-16 12:00] zacbaum commented on #166
Perhaps its own (very simple) demo? One to illustrate how to use callbacks / show training progress?

[2020-07-16 12:27] mathpluscode opened #170 "Code Refactoring: Train"
# Issue description

## Type of Issue

Refactor the train.py to make it easier to understand and add more docs

- [ ] Documentation update
- [ ] Test request
- [ ] Linting request

[2020-07-16 12:28] mathpluscode opened #171 "Code Refactoring: Predict"
# Issue description

## Type of Issue

Refactor the predict.py to make it easier to understand and add more docs

- [ ] Documentation update
- [ ] Test request
- [ ] Linting request

[2020-07-16 12:47] mathpluscode opened #172 "Remove tfrecord related functionalities"
# Issue description

## Type of Issue

Remove tfrecord related code.

- [ ] Test request
- [ ] Linting request

[2020-07-16 12:55] NMontanaBrown commented on #100
So what is the situation here? I am confused as to whether this has been merged or not by @mathpluscode when it was not finished? does it require extra work? are there new functionalities? @mathpluscode  could you clarify?

[2020-07-16 13:01] zacbaum commented on #100
@mathpluscode added some new functionality (and tests) which will be integrated in a future commit to the branch for this, but currently, we need to decide if we want to test anything further than what is there now (will make a new commit shortly that can be looked at).

I think the main confusion was that `preprocess` was really only used in `interface.py` but that has since been moved and will b

[2020-07-16 17:51] mathpluscode commented on #169
@NMontanaBrown these are due to the changes of markdown files. I think we should clean the wiki a bit once we set up the deepreg.net properly after moving repo.

I personally suggest put everything in markdown files so all should be on the website. Information in two different places are not very consistent. And... github wiki is not that beautiful lol

[2020-07-16 17:53] mathpluscode commented on #166
Is there any showcase of the callbacks you mean @NMontanaBrown

I'm wondering do we need plot things during training? as you can always do inference using the saved checkpoints.

My concern is mainly about the training speed.

[2020-07-16 18:02] mathpluscode commented on #100
@NMontanaBrown  so, it's just i added a function `resize_inputs` into `preprocess.py` and i removed a function from it.

I provided the tests for the new function and @zacbaum has moved it into his test script.

In conclusion, no problems here and we are good ;)

[2020-07-16 19:56] YipengHu commented on #169
I will clean this up after migration - the wiki can be used to host devmeeting record - agree on all docs should be in /docs

[2020-07-16 20:06] #172 closed

[2020-07-16 20:07] mathpluscode commented on #169
meeting notes...? i think wiki if public? well unless meeting nodes are ok to be public

[2020-07-16 21:35] zacbaum opened #174 "Docs: Instructions for adding/updating documentation pages for Windows"
# Issue description

Add instructions to the documentation for how to locally serve the deepreg github-pages site in windows so that others can follow these instructions for usage.

## Type of Issue

- [x] Documentation update

[2020-07-16 21:45] #174 closed

[2020-07-16 22:31] YipengHu commented on #169
i think for an OS project, everything should be public unless there is a good reason not to.

[2020-07-17 09:19] NMontanaBrown commented on #170
Could you add the option to pass callbacks separately into the func? That way users may add their own custom callbacks during train (necessary for vis tool during train too)

[2020-07-17 09:26] NMontanaBrown commented on #166
@mathpluscode for example, I log my losses graphically as .pngs during training and port them to local. Or preds from val tensor by saving as .png and again porting to local. Speed effect will depend on the ops for the callbacks - if you are asking for one pred the op will be meaningless but if you are asking for preds for many many tensors... It will depend strictly on usage!

I agree we will hav

[2020-07-17 09:51] YipengHu commented on #54
Since we have decided to do this, should we re-visit generating multiple config files for CV? I thought we agreed on this during the meeting.

[2020-07-17 10:14] NMontanaBrown opened #177 "Docs: review Issue and PR templates"
# Issue description
Some aspects of the PR and Issue template are not routinely used. Let's review and consider a better design?
## Type of Issue

Please delete options that are not relevant.

- [x] Documentation update

#### What's the expected result?
PR and Issue templates that dvs are happy to use 😄

[2020-07-17 10:28] YipengHu opened #178 "CLI registration ultility tools"
# Issue description

Create a set of utility CLI tools facilitating registration in TF

## Type of Issue

Please delete options that are not relevant.

- [ ] New feature request
- [ ] Documentation update
- [ ] Test request

#### What's the expected result?
must:
warp/transform - given reference grid and ddf/affine to warp an image/label volume;

optional:
DDF composing
DDF inverting
Jacobian comp

[2020-07-17 10:37] #127 closed

[2020-07-17 10:37] #159 closed

[2020-07-18 08:55] NMontanaBrown commented on #178
Are these lots of separate CLIs or one massive CLI? @YipengHu @mathpluscode

[2020-07-18 09:17] YipengHu commented on #178
No preference. But when number of functions increase, we need to be careful with conflicting with others. So,
Option 1: deepreg train .... deepreg warp....
Option 2: deepreg_train... deepreg_warp...
Thoughts?

[2020-07-18 14:28] #100 closed

[2020-07-18 17:22] mathpluscode commented on #161
Just to add, the link in main README.md need to be updated

[2020-07-18 17:28] mathpluscode commented on #170
@NMontanaBrown For this, i think we will need something called register. I will find some more doc on this later.

[2020-07-18 17:54] mathpluscode commented on #54
@YipengHu Later i will provide a doc on what i imagined for cli tool for config generation.

[2020-07-18 17:56] mathpluscode commented on #177
Only one thing i can remember is to remove the delete in the PR template ;)

[2020-07-18 17:59] mathpluscode commented on #178
@YipengHu @NMontanaBrown It will be seperate clis!
Btw we will need to add some visual demos on using these tools.

[2020-07-18 18:25] mathpluscode commented on #170
@NMontanaBrown I'm thinking about a register system like this: https://docs.ray.io/en/master/_modules/ray/tune/registry.html
It's not just for callback, it can be used for
- network
- registration method
- callback
- etc

what do you think?

[2020-07-18 19:48] mathpluscode opened #179 "Docs: Support CUDA 10.0 with tf2.0.0"
# Issue description

Currently, we are using tf2.2, but with GPU support, it will need CUDA 10.1. (check https://www.tensorflow.org/install/source).
Although we can solve some nvidia-related packages (cuDNN etc) using conda, conda will not be able to change CUDA version.

Therefore in case the machine has only CUDA 10.0, the user might not want to update it as it might require an update of GPU dri

[2020-07-18 20:24] mathpluscode commented on #179
actually, just need to change the requirement in `setup.py` to `tensorflow>=2.0`

[2020-07-18 20:54] mathpluscode commented on #179
Actually, after testing on DGX and PT, using `tf2.0.0` has bug, it couldn't run
[code]

[code]

[2020-07-18 22:54] mathpluscode commented on #179
Sorry it's still in WIP

[2020-07-18 22:55] YipengHu commented on #179
add [WIP] in front the PR. Sorry - thought that's easy :)

[2020-07-18 23:15] mathpluscode commented on #179
Yes! Sorry, i should have done this.

[2020-07-18 23:20] mathpluscode opened #184 "Improvement: optimizer test"
# Issue description

In test for optimizer, we use `tensorflow.python.keras.optimizer_v2.`, maybe using `tf.keras.optimizers.Adam` is safer?

## Type of Issue

- [ ] Improvement

[2020-07-18 23:37] mathpluscode commented on #184
Moreover, as all the CI are assuming no GPU, it might be necessary to
1. enable configure pytest to test using GPU
2. do pytest on master using GPU regularly

[2020-07-19 00:34] mathpluscode opened #187 "Tests: Enable to use GPU for pytest."
# Issue description

Currently, when doing pytest, we do not use GPU by default even it's available.

So it will be better if we are able to switch to use GPU.

## Type of Issue

- [ ] New feature request
- [ ] Documentation update
- [ ] Test request

[2020-07-19 00:53] mathpluscode opened #188 "Bug: pytest with GPU can't pass `pytest test/unit`"
# Issue description

## Type of Issue

- [ ] Bug report
- [ ] Documentation update
- [ ] Test request

#### For bug report or feature request, steps to reproduce the issue, including (but not limited to):

1. linux
2. tf2.2
3. run `pytest test/unit/` on master `aea192`

#### What's the expected result?

The test should work directly.

#### What's the actual result?

When not using GPU, the tests p

[2020-07-19 01:00] mathpluscode commented on #188
My guess is the problem of importing tensorflow.

[2020-07-19 07:28] NMontanaBrown commented on #188
"When using GPU, it got errors on my local machine and PT in test_backbone.py but running pytest test can pass all tests."

Do you mean you get errors both for PT and your local machine with GPU? And what do you mean by "running pytest test can pass all tests."?

[2020-07-19 07:32] NMontanaBrown commented on #187
The unit tests are not designed to use GPU, they are not doing graph operations that require GPUs. CPU operations for unit tests should port to GPU as far as I understand...?
GPU would be useful for the not unit tests/SIT - ie the tests that assert that the tools train and would reduce CI from 30 mins down. If it's a speed problem, it's not really a problem - all the unit tests run in about 7 seco

[2020-07-19 07:49] #184 closed

[2020-07-19 14:30] mathpluscode commented on #188
@NMontanaBrown sorry was not clear.

Yes, the error occurs with GPU if i run `pytest test/unit`.

Because if you run `pytest test` it will run output tests first, where it will define the environment variable `"CUDA_VISIBLE_DEVICES"=""` such that, no GPU is used.

[2020-07-19 14:35] mathpluscode commented on #187
Oh if the unit tests are not designed to use GPU. Then fine. But we still need to set the pytest such that, either we do not use GPU at all (in case the machine has GPU) or we use GPU.

In other words, depending on how we run pytest, like `pytest test/`, `pytest test/unit`, `pytest test/unit/xxx.py`, we need to ensure we import the tensorflow and set the global env var in the same way.

[2020-07-19 14:44] mathpluscode opened #189 "Bug: test_sample_index_generator, test failed"
# Issue description

In master branch the CI failed:

https://travis-ci.org/github/DeepRegNet/DeepReg/jobs/709651339

It also appeared in https://github.com/DeepRegNet/DeepReg/pull/168

@acasamitjana

## Type of Issue

- [ ] Bug report
- [ ] Test request

#### For bug report or feature request, steps to reproduce the issue, including (but not limited to):

1. travis ci

#### What's the expected re

[2020-07-19 15:46] mathpluscode commented on #188
With current master branch c61093fe56c8f3a5fe248a56cefd4a9428cf20ab,

`pytest test/unit` works on my local machine, but it failed in PT machine.

[2020-07-19 15:47] NMontanaBrown commented on #188
Ok here is how to pass custom args to tests with pytest:

https://docs.pytest.org/en/5.4.3/example/simple.html?highlight=command%20line#pass-different-values-to-a-test-function-depending-on-command-line-options

So this will require some test refactoring and modifying instructions on how to call pytest.
Items:
- [ ] Create CL mods for pytest like in link
- [ ] Modify tests
- [ ] Improve docs such

[2020-07-19 15:49] NMontanaBrown commented on #187
Ok here is how to pass custom args to tests with pytest:

https://docs.pytest.org/en/5.4.3/example/simple.html?highlight=command%20line#pass-different-values-to-a-test-function-depending-on-command-line-options

So this will require some test refactoring and modifying instructions on how to call pytest.
Items:
- [ ] Create CL mods for pytest like in link
- [ ] Modify tests
- [ ] Improve docs such

[2020-07-19 16:21] mathpluscode commented on #188
I first fixed some warnings due to float64.

Then according to https://github.com/tensorflow/tensorflow/issues/34695, I believe the problem is from the fact that the PT I'm using has 3 GPUs but the first GPU is busy.

[2020-07-19 17:08] mathpluscode commented on #188
So all the problems are come from tensor types, in tests we are mixing np.arrays, tf.tensors and different data types.

With commit `5b9d01cd1d865d425f00b641e0a500863c4fccc2`, the unit tests pass with GPU on PT now.

But the file `test_loss_label` needs further refactoring to
- remove duplicated code, we have many lines declaring the same constants
- define constants using tf functions `tf.zeros`,

[2020-07-19 17:16] mathpluscode commented on #179
Maybe let's consider this later after release. Too much work to do for the moment. @YipengHu @NMontanaBrown

[2020-07-19 17:57] #188 closed

[2020-07-19 22:59] #167 closed

[2020-07-19 23:13] #169 closed

[2020-07-20 07:43] acasamitjana commented on #189
I agree to change the test (it's more specific hence better).
But I don't get why the CI failed. Should we still test seed=None as it's the value passed in get_data_loader?

[2020-07-20 09:30] YipengHu opened #193 "Demo - iterative registration"
# Issue description

Adding two demos using DeepReg for classical iterative registration
related to #28

## Type of Issue

Please delete options that are not relevant.

- [ ] New feature request
- [ ] Documentation update

[2020-07-20 09:32] YipengHu commented on #28
@zacbaum @NMontanaBrown
see #193 we will move some of the code for purpose of one or two demos. we will discuss it again how to make this sit again
- potentially post-r1

[2020-07-20 21:22] mathpluscode commented on #189
@acasamitjana, I don't know why exactly the CI failed, but as we are giving seed=None, so it is not deterministic (which is not ideal for testing), so it's hard to understand why.

For testing, we don't have to pass None, as the objective of that specific test is to verify that

"different seeds generate different order".

And could you please review the corresponding PR?

https://github.com/DeepR

[2020-07-21 05:49] #189 closed

[2020-07-21 10:07] NMontanaBrown opened #196 "Demo: MICCAI Educational Challenge 2020"
# Issue description

Porting docs to a condensed jupyter notebook/google colab (GPU access) for submission on top of repo to MICCAI edu challenge. The idea being that it works as a standalone introduction/tutorial for those in the MICCAI community + showcases the repo.

Useful link: https://miccai-sb.github.io/challenge

TODOs/Plan:
- [x] Condense tutorial_registration.md, quick_start.md.
    - [x

[2020-07-21 12:16] ZheMin-1992 opened #197 "Bug: Data types problem in image.py"
# Issue description
When I do the unit testing for image.py, I met with the following potential issue.

Inside the dissimilarity_fn function, when calling local_normalized_cross_correlation or ssd, the inputs for those two functions are in tf tensor type.
Otherwise, looking directly into the local_normalized_cross_correlation or ssd  functions, the inputs seem to be numpy array.

The following cha

[2020-07-21 12:23] NMontanaBrown commented on #197
Hi @ZheMin-1992,  can you provide a script that replicates this bug for reproducibility or a set of commands to reproduce this? As well as the environment this has been tested in?

[2020-07-21 12:33] ZheMin-1992 commented on #197
@NMontanaBrown Thanks. The following script have been ran(seems not work with the current image.py) in the windows subsystem linux(WSL: Ubuntu-18.04).

import numpy as np
import tensorflow as tf
import deepreg.model.loss.image as image
EPS = 1.0e-6
tensor_true = np.array(range(12)).reshape((2, 1, 2, 3))
tensor_pred = np.ones((2, 1, 2, 3))
name_ncc = "lncc"
get_ncc = image.dissimilarity_fn(tensor_t

[2020-07-21 13:28] NMontanaBrown commented on #197
Hi @ZheMin-1992.The error raised by the following script shows that the two tensors have different types:

`tensorflow.python.framework.errors_impl.InvalidArgumentError: cannot compute Mul as input #1(zero-based) was expected to be a int64 tensor but is a double tensor [Op:Mul]`

Doing:
`print(type(tensor_true[0, 0, 0, 0]))
print(type(tensor_pred[0, 0, 0, 0]))`

from your provided code returns:
`<

[2020-07-21 15:41] ZheMin-1992 commented on #197
@NMontanaBrown Thank you so much for your help! Inspired by your comment, I have now first changed the numpy to tf tensor type, and then enforce them all to be tf.float32. In this way, it would work.  The following is the script for your reference.

[code]

[2020-07-21 17:06] NMontanaBrown commented on #197
Hi @ZheMin-1992 sounds, good. In which case, close this issue, and adapt your tests as above. Also would be worth adding docstrings to reflect inputs must be tensor types.

[2020-07-21 17:34] #161 closed

[2020-07-21 18:07] #170 closed

[2020-07-21 19:11] mathpluscode commented on #197
@ZheMin-1992 @NMontanaBrown Some small suggestions here to make the code compact

[code]

If you want you can even do

[code]

I also added some other changes, like specifying the argument name, which makes the code a bit longer but (personally) it's easier to understand. Bonus: your code is more colorful normally in IDE ;)

[2020-07-21 21:10] #59 closed

[2020-07-21 21:12] #128 closed

[2020-07-22 07:02] NMontanaBrown commented on #197
Closing as these have been addressed in #198

[2020-07-22 07:02] #197 closed

[2020-07-22 07:05] NMontanaBrown commented on #155
Pre or post r1? @mathpluscode

[2020-07-22 07:06] NMontanaBrown commented on #152
@mathpluscode Related to this ticket: #198 , can you suggest some docstrings for @ZheMin-1992 to add to the functions? Docs missing there.

[2020-07-22 07:07] NMontanaBrown commented on #152
@mathpluscode also related to this ticket #194 , same: can you suggest some docstrings for @QianyeYang to add to functions?

[2020-07-22 09:56] ebonmati commented on #196
Should we provide a Medium post too?

[2020-07-22 10:00] YipengHu commented on #196
Why not, if you are up to it!

[2020-07-22 12:31] ebonmati opened #205 "Typo errors in documentation"
# Issue description
preppare (tutorial_demo) --> prepare
Currently, DeepReg currently (doc_data_loader) --> DeepReg currently

## Type of Issue
Typo error

Please delete options that are not relevant.

- [ ] Bug report
- [ ] New feature request
- [X] Documentation update
- [ ] Test request
- [ ] Linting request

#### For bug report or feature request, steps to reproduce the issue, including (but n

[2020-07-22 12:49] YipengHu commented on #205
@ebonmati Thanks! I have created a new label proofread, so we can group some of these typing errors together and maybe address them in batches ;)

[2020-07-22 13:33] NMontanaBrown opened #207 "Docs: update README.md to reflect what is on the page."
# Issue description

Deepreg.net looks really neat, especially the front page. Can we port the text content from the web to the README.md?

## Type of Issue

Please delete options that are not relevant.

- [x] New feature request
- [x] Documentation update

[2020-07-22 17:06] #207 closed

[2020-07-22 18:32] NMontanaBrown opened #210 "Docs + Bug: Travis CI badge linked to old DeepReg repo"
# Issue description

On README.md, badge for Travis is linked to old ucl-candi account. So we should update the badge so that it is accurate.

## Type of Issue

Please delete options that are not relevant.

- [x] Bug report
- [x] Documentation update

[2020-07-22 19:48] mathpluscode opened #211 "Missing link to doc page"
# Issue description

In the readme of the DeepReg, there is no link directing user to the page of docs.

As all the docs are in the page, it is important to provide an obvious link to it.

## Type of Issue

- [ ] Bug report

[2020-07-22 19:51] mathpluscode commented on #155
it's a quick fix, pre-r1 @NMontanaBrown

[2020-07-22 19:52] mathpluscode commented on #152
sure, will check with them later @NMontanaBrown

[2020-07-22 19:54] NMontanaBrown commented on #196
Hi @YipengHu @mathpluscode @zacbaum, I would highly appreciate some feedback on this piece of work 😄 especially on how easy to follow, appropriate level (Masters, 1st year PhD), missing text, what to expand (feel free to expand) what to ignore (add comemnt to delete).... As you see fit

[2020-07-22 20:02] YipengHu commented on #196
you might want to acknowledge [learn2reg](https://github.com/learn2reg/tutorials2019) upfront, which is more scientific and could be challenging for beginners.

[2020-07-23 07:43] NMontanaBrown commented on #211
Can issue #210 be fixed with this too?

[2020-07-23 11:14] #98 closed

[2020-07-23 13:07] #92 closed

[2020-07-23 13:47] #205 closed

[2020-07-23 14:01] acasamitjana opened #214 "Prediction output"
# Issue description

## Type of Issue
Bug when saving the output: it does not create separate folders for different pairs of images.
New feature: save the output in the same format as the input.

Please delete options that are not relevant.

- [X] Bug report
- [X] New feature request
- [ ] Documentation update
- [ ] Test request
- [ ] Linting request

#### Additional details / screenshot

I'd sugg

[2020-07-23 14:10] acasamitjana opened #215 "Loss parameters"
# Issue description

## Type of Issue
There are several losses that may use some parameters: e.g., type or size of kernel in LNCC. Allow the config file to parse these parameters  and use them in the loss function

Please delete options that are not relevant.

- [ ] Bug report
- [X] New feature request
- [ ] Documentation update
- [ ] Test request
- [ ] Linting request

#### Additional details / s

[2020-07-23 14:19] s-sd opened #216 "Generate warning to check path if the path in config is not specified in an acceptable format"
# Issue description

When the paths are not correctly specified, tensorflow gives an error "UnboundLocalError: local variable 'logs' referenced before assignment". This is not very informative, so maybe we can generate a warning or error if the paths in the config file are not either full paths or are not reachable.

## Type of Issue

- [x] Documentation update

#### What's the expected result?

R

[2020-07-23 14:23] s-sd opened #217 "Change from DeepReg version to commit id in README of ct_lung demos"
# Issue description

## Type of Issue

- [x] Documentation update

#### What's the expected result?

README contains commit id instead of DeepReg version

[2020-07-23 15:49] agrimwood commented on #124
hi all,
quick question regarding var `sample_indices` . I may be reading the code wrong, could you advise?
It looks like `sample_indices` is dropped from `self` when `sample_image_in_group = False` (line 99 in grouped_loader.py).
Is this correct, or should it be passed to the function `sample_index_generator`?

@NMontanaBrown , @mathpluscode , @YipengHu

[2020-07-23 19:18] mathpluscode commented on #211
ok, i can fix it during the weekend @NMontanaBrown

[2020-07-23 19:26] mathpluscode commented on #214
what do you mean "it does not create separate folders for different pairs of images", in unpaired or grouped?

I thought the code is working like, for each pair of images, you will have indices to identify them,
- if they are labeled, then the last index is for label, others are for identifying this pair
- if they are unlabeled, then the whole indices are for identifying the pair

When saving outp

[2020-07-23 19:26] mathpluscode commented on #171
Need to change output structure acc to #214

[2020-07-23 19:29] mathpluscode commented on #217
Btw for this demo, i've corrected your config via PR https://github.com/DeepRegNet/DeepReg/pull/213

Please have a second look to make sure my changes are ok.

[2020-07-23 19:32] mathpluscode commented on #124
@agrimwood I think you are right!

Instead of
[code]

we should write

[code]

[2020-07-23 21:43] YipengHu commented on #124
@agrimwood  great spot - that's precisely the reason we need a demo for the grouped loader for some sanity check.

[2020-07-24 04:40] s-sd commented on #216
Minimum steps to reproduce:
1) change dataset -> dir -> train in paired_nifti.yaml from "data/test/nifti/paired/train" to "/data/test/nifti/paired/train".
2) run the output test: test_paired_labeled_ddf

[2020-07-24 08:32] s-sd opened #221 "Update both ct_lung demos to be compatible with current version of DeepReg"
# Issue description

Some scripts in the demos need some minor modifications to function with the current version of deepreg.

## Type of Issue

- [x] New feature request

#### What's the expected result?

Both demos work with new changes out of the box

[2020-07-24 08:33] s-sd commented on #221
@NMontanaBrown, feel free to add other things that might need changing related to these demos

[2020-07-24 08:59] acasamitjana commented on #214
<img width="710" alt="prediction" src="https://user-images.githubusercontent.com/19728301/88375719-61f10880-cd9c-11ea-86f6-9cf4efad1cb6.png">

Find a picture here. When it is labeled, the "image pair" index is not used, so it will create only L folders (L = number of labels), but it will overwrite the results on each predict() iteration.

[2020-07-24 09:01] acasamitjana commented on #214
<img width="529" alt="prediction" src="https://user-images.githubusercontent.com/19728301/88376005-e9d71280-cd9c-11ea-9cc6-f7059bdf1bf2.png">

Find a picture here. When it is labeled, the "image pair" index is not used, so it will create only L folders (L = number of labels), and it will overwrite the results on each predict() iteration. Does that make sense?

[2020-07-24 12:01] YipengHu commented on #12
@mathpluscode if you do not have time for this - let me know.

[2020-07-24 12:45] ebonmati opened #222 "Update demos README: first application and then instructions"
# Issue description

In the README of the demos, it would be better to have first "Application" and then "Instructions". Currently is the other way round.

## Type of Issue

Please delete options that are not relevant.

- [ ] Bug report
- [ ] New feature request
- [X] Documentation update
- [ ] Test request
- [ ] Linting request

#### For bug report or feature request, steps to reproduce the issue

[2020-07-24 12:48] ebonmati opened #223 "Add prerequisites in demos"
# Issue description

It would be nice to have a prerequisites section at the beginning of the README for each demo with some sort of standard message saying that DeepReg is required to run the demo.

## Type of Issue

Please delete options that are not relevant.

- [ ] Bug report
- [X] New feature request
- [X] Documentation update
- [ ] Test request
- [ ] Linting request

#### For bug report or f

[2020-07-24 14:41] NMontanaBrown commented on #214
As a heads up, the MICCAI Edu Challenge submission relies on the old version of predict, so if we are to change this functionality the notebook must be edited too and checked that it still works such that it won't break once this is merged to master. Issue #196 .

[2020-07-24 15:47] #152 closed

[2020-07-24 20:38] YipengHu opened #225 "Wording with paired/grouped loaders"
# Issue description

In DeepReg Demo and other parts of the doc, paired/grouped image registration is a misleading phrase - it should be something like training with paired/grouped images

## Type of Issue

- [ ] Documentation update

#### What's the expected result?
thorough doc update

#### What's the actual result?

#### Additional details / screenshot

## -

[2020-07-24 21:04] mathpluscode commented on #12
@YipengHu tbh i think i do not have time this month for sure

[2020-07-24 21:08] mathpluscode commented on #216
This is related to https://github.com/tensorflow/tensorflow/issues/38064#issuecomment-654717847,

so my guess is the data path is wrong, then the dataset is empty, will debug further

[2020-07-24 21:12] mathpluscode commented on #214
oh @acasamitjana sorry, it's a bug indeed, i wanted
[code]

[2020-07-24 22:06] YipengHu commented on #12
no problem - i can take this.

[2020-07-24 22:26] #214 closed

[2020-07-24 22:41] mathpluscode commented on #215
@acasamitjana with the PR #220 I allowed extra params to be passed in via `kwargs`. I hope this could facilitate your work for this issue.

[2020-07-24 22:53] ebonmati opened #228 "Wrong message when labels and images names do not match"
# Issue description

If the names of the images and the labels do not match (e.g., image0001.nii.gz and label0001.nii.gz) the following Tensorflow error is raised:

"WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 2 batches)."

This is very confusing as one would t

[2020-07-24 22:57] ebonmati opened #229 "UnboundLocalError: local variable 'logs' referenced before assignment"
# Issue description

When ticked #228 happens, the following error is also triggered:
"UnboundLocalError: local variable 'logs' referenced before assignment"

This error may also be triggered if the generator runs out of data before the end of the epoch.

## Type of Issue

Please delete options that are not relevant.

- [X] Bug report
- [ ] New feature request
- [ ] Documentation update
- [ ] Test

[2020-07-24 23:01] mathpluscode commented on #229
This issue is duplicated to #216, and it should be solved by PR #227
@ebonmati if you confirm, plz close this issue thx ;)

[2020-07-24 23:02] mathpluscode commented on #12
@YipengHu thx! and plz ask me for the review, so that i can run it

[2020-07-24 23:04] ebonmati opened #230 "Nifti data as .nii (instead of .nii.gz) is not accepted"
# Issue description

Nifti input data as .nii is not accepted, it only accepts .nii.gz.

## Type of Issue

Please delete options that are not relevant.

- [X] Bug report
- [x] New feature request
- [x] Documentation update
- [x] Test request
- [ ] Linting request

#### For bug report or feature request, steps to reproduce the issue, including (but not limited to):

1. OS
Ubuntu
2. Environment to r

[2020-07-24 23:09] ebonmati opened #231 "Typo errors in error message from loader interface."
# Issue description

There are some typo errors in the following message (see bold):

... "moving_image's values have been normalized to **[0,1].Images** are assumed to have values between [0, 255] after **loadingand** labels are assumed to be binary. If the label values are intended to represent multiple labels, please convert them to binary masks in multiple channels, with each channel represent

[2020-07-24 23:12] ebonmati opened #232 "Error message regarding image_shape points to sample_label"
# Issue description

If the image_shape in the configuration is not correct, during prediction, the following error is triggered:

 "**ERROR:root:TODO sample_label is not used in predict**
WARNING:root:Log directory logs/unpaired_ct_abdomen_log exists already.
WARNING:root:Using customized configuration.The code might break if the config of the model doesn't match the saved model.
Traceback (most

[2020-07-24 23:27] mathpluscode opened #233 "Image/label values normalisation"
# Issue description

Sometimes, the data from nifti or from h5 might not have the range as we expected.

For now, we expect:
- Images have values between 0-255
- Labels have values between 0-1

And so we will divide the image tensors by 255.

But sometimes this might not be the case and maybe user would like to define their own value range.
So we can do the following instead,
- For each file loade

[2020-07-24 23:33] ebonmati opened #234 "Typo error in message regarding the number of labels"
# Issue description

The following message has a typo error (see bold):

"ValueError: Sample [1, 18]'s moving image and fixed image have different numbers of **labels.moving**: 13, fixed: 12"

It is located in lines 368-369 in commit 525bcd3.

## Type of Issue

Please delete options that are not relevant.

- [X] Bug report
- [ ] New feature request
- [ ] Documentation update
- [ ] Test request
- [

[2020-07-24 23:35] YipengHu commented on #233
It is error-prone with anything "we assume". i think by default, it should be x = (x - min) / (max - min + EPS) - calculated per image, unless a global customised [min max] is given; - no need for 255 as a special case.

Another important normalisation is unit-variance with zero-mean. Not sure i see clear advantage, so let's leave it post-r1 when there is a need.

[2020-07-24 23:35] #229 closed

[2020-07-24 23:45] YipengHu commented on #233
for labels, just `bool()` the value, if you like to be more thoughtful you can have a customisable threshold - but i think it is an overkill.

[2020-07-25 00:06] mathpluscode commented on #234
Besides the typo, we should use the minimum labels by default to make the code more robust, and raise an warning.

[2020-07-25 00:09] mathpluscode commented on #233
@YipengHu there's a difference between using a global min/max and using a sample dependent min/max.

Because maybe some image just does not have extreme values like 0 or 255, but others have. I would prefer to make the meaning of a normalized 0.1 fixed, instead of making this dynamic.

So I argue for a default 0 - 255 and user can config otherwise.

For the label, I would not do bool, as It might

[2020-07-25 00:13] mathpluscode commented on #230
This issue will need to extend `nifti_loader.py`, we now have the following code

[code]

So we will need a helper function to load the data depending on the suffix of the path.
[code]

The test is also required to test all cases including failures, so you might need at least one `.nii` file in the repo

[2020-07-25 00:21] YipengHu commented on #233
- with batch norm, the difference between global normalisation and per-image normalisation diminishes;
- besides, what is the reason the global normalisation is better?
- some medical images has default range other than 8 bit, e.g. 16 bits for CT. don't see the reason 255 should be default;
- perhaps more importantly, are you feeding [0, 255] directly into network? if so, you will have two ranges

[2020-07-25 00:25] YipengHu commented on #230
it should be tested fairly easily, but i thought ni.load() reads both?
see: https://nipy.org/nibabel/reference/nibabel.html

[2020-07-25 02:57] s-sd commented on #230
@YipengHu @mathpluscode I suspect the problem is in lines 17-19 of the nifti_loader.py:

[code]
Only files with suffix "nii.gz" are being added to self.file_paths

[2020-07-25 11:33] YipengHu commented on #230
I might be it. Will test this out later. But if you are up for it, fix this I will review.

[2020-07-25 11:54] mathpluscode commented on #233
I divide it by 255 because I don't want to feed it with different ranges. So fine, agree that with batch norm the difference is little. Will change so, and change the configs to make it clear, unless given min/max in the config, we will normalize dynamically.

[2020-07-25 11:54] #216 closed

[2020-07-25 12:19] YipengHu opened #236 "Access to DeepReg Model Zoo"
# Issue description

Give access to all the demo makers to https://github.com/DeepRegNet/deepreg-model-zoo

## Type of Issue

The model zoo is a place to store trained networks, i.e. ckpt files, for all the demos. If possible, use a single file (or multiple archived files) so downloading would be efficient without affecting other models/data on the repo.

It is also possible to be used for (re-)ho

[2020-07-25 12:50] s-sd commented on #230
@YipengHu, I'll try to make the change and if it works I'll create a pull request

[2020-07-25 18:17] #217 closed

[2020-07-25 18:17] #221 closed

[2020-07-25 19:08] YipengHu commented on #211
I'm bundling this in #225

[2020-07-25 19:16] YipengHu commented on #233
@mathpluscode i see your point - just conventions - pick one and clarify it in config/doc.

[2020-07-25 19:18] YipengHu commented on #223
Hey @ebonmati can you suggest one please?

[2020-07-25 19:54] YipengHu opened #239 "Remove quotation marks from DeepReg"
# Issue description
Remove quotation marks from DeepReg - this is a special word but really not code

## Type of Issue

- [ ] Documentation update

[2020-07-25 20:58] #239 closed

[2020-07-25 20:58] #225 closed

[2020-07-25 20:58] #222 closed

[2020-07-25 20:58] #211 closed

[2020-07-25 21:17] mathpluscode commented on #236
Are we sure that we can upload large files?

[2020-07-25 21:34] YipengHu commented on #236
Actually data probably not a good idea - an item for thurs - you can split the achieved files

[2020-07-25 21:46] mathpluscode commented on #230
revert is as mentioned in #240

[2020-07-26 11:54] ebonmati commented on #223
Will do! @YipengHu

[2020-07-26 17:26] #210 closed

[2020-07-26 18:48] #107 closed

[2020-07-26 18:55] #232 closed

[2020-07-27 18:57] NMontanaBrown commented on #196
Hi @s-sd, thank you so much for helping getting the demo working! Now that we have a few more days, could you train a model to upload to the model zoo for longer, if it's not in training already? I will be off for a couple of days on an emergency, but could you confer with @YipengHu @mathpluscode or someone else on the team to organise this for the challenge submission? Thanks 😄

[2020-07-27 19:35] s-sd commented on #196
@NMontanaBrown, no problem, happy to help. I'll definitely update the model zoo either tomorrow or on Wednesday. I will also have to change the notebook slightly to load in the new checkpoint so I'll leave a comment where I make the edits so the changes can be reviewed before submission. I'll comment here when I'm done with the updated notebook so that you, @mathpluscode or @YipengHu can take a lo

[2020-07-27 23:00] YipengHu commented on #196
@s-sd if you are updating the notebook, would you mind working with 196-yh which should have the latest version. Thanks!

[2020-07-28 03:11] s-sd commented on #196
@YipengHu sure, I'll work with the notebook from 196-yh

[2020-07-28 20:50] #171 closed

[2020-07-28 21:02] mathpluscode opened #242 "Docs: Train and Predict"
# Issue description

Now both train.py and predict.py have been refactored, we need to update the document page to explain the outputs of two scripts.

Also, we need to update tutorials regarding `pred_fixed_image` and `pred_fixed_label`, which correspond to `warped_moving_image` and `warped_moving_label`.

The reason of using `pred_fixed` instead of `warped_moving` is that, warped is mainly for s

[2020-07-28 22:46] #231 closed

[2020-07-29 07:53] s-sd commented on #196
@YipengHu, @mathpluscode I have updated the notebook (added new weights, and modified the demo visualisation code to work with updated predict) and have left it in the 196-yh branch. Should I update it in the 196-edu-challenge branch as well or is it okay to leave it in 196-yh?

Also, should I update the visualisation in the demo as well since the `predict` function was modified or is it okay sinc

[2020-07-29 08:17] YipengHu commented on #196
@s-sd leaving it at 196-yh is fine and yes please update to the newest predict function after pulling the master.

[2020-07-29 08:21] s-sd commented on #196
@YipengHu, thanks! I'll open a new issue for the demo update and create a new branch for it

[2020-07-29 08:43] s-sd opened #244 "Update ct_lung demos to work with updated predict function"
# Issue description

Update the demo_predict scripts for both ct_lung demos to work with the updated predict function

## Type of Issue

- [x] New feature request

#### What's the expected result?

demo_data scripts for demos work with updated predict function

[2020-07-30 09:14] #244 closed

[2020-07-30 12:19] zacbaum opened #246 "Simplify and define content for README.md"
# Issue description

Currently, the website and README.md are, effectively, copies of one another. This is difficult to maintain, and likely the website should be the main source of information. We will reduce the content on the README, so likely will just have the status indicators, and some of the core text (contribs, etc. will be removed).

Eventually, this should have one or two images, a brie

[2020-07-31 22:55] #14 closed

[2020-08-01 02:57] s-sd opened #250 "Make modifications to the paired_mrus_brain demo"
# Issue description

Make modifications to the paired_mrus_brain demo

- rename demo to "paired_mrus_brain" instead of "paired_mr_us_brain"
- add trained model to model zoo on github or google drive (whichever one is being used at the time)
- do not use git clone in the demo_data.py script (download directly using raw link)
- modify or omit the visualisation as it does not work well

## Type of Is

[2020-08-01 02:58] s-sd commented on #250
@YipengHu, let me know if there is anything else that might be good to change or if I have missed anything

[2020-08-01 15:15] YipengHu opened #251 "Bug when using multiple test folders"
# Issue description

Incorrect error when using multiple folder data in testing with paired dataset loader.

## Type of Issue

Please delete options that are not relevant.

- [ ] Bug report
- [ ] Test request

#### For bug report or feature request, steps to reproduce the issue, including (but not limited to):

1. OS
2. Environment to reproduce
3. What commands run / sample script used:

on branch

[2020-08-01 20:34] YipengHu commented on #230
@mathpluscode are you assigning yourself to this, or you want @s-sd to add test et al?

[2020-08-01 20:35] mathpluscode commented on #230
no after the discussion with @s-sd he will focus on the demo first, i will do this

[2020-08-01 20:52] #108 closed

[2020-08-01 21:04] mathpluscode commented on #251
so the reason is that:

we only check for each folder, the id of images (indexes) are unique, but we didn't check across multiple folders, therefore, we need to add one more index for all data loaders to indicate the folder.

[2020-08-01 21:06] YipengHu commented on #251
is it better to just accumulate one single index?

[2020-08-01 21:08] YipengHu opened #252 "Update and move the DeepReg Demo requirement to doc"
# Issue description

The current DeepReg Demo requirement is at wiki.

## Type of Issue

- [ ] Documentation update

[2020-08-01 21:19] mathpluscode commented on #251
What do you mean accumulate, for instance, with grouped data, the ID of a pair is
- moving group index
- moving image index
- fixed group index
- fixed image index
- label index

it will be hard to increase the number on one of them

[2020-08-01 21:22] mathpluscode commented on #178
mark this issue as post-r1, will create a new issue for warping image

[2020-08-01 21:27] mathpluscode opened #253 "CLI tool for warping image"
# Issue description

As mentioned in #178, we need to expose the function of warping/resampling image and ddf as a CLI tool,
such that we provide two nifti files, one for image/label, one for ddf, and it returns a nifti file as warped image/label.

## Type of Issue
- [ ] New feature request
- [ ] Documentation update
- [ ] Test request
- [ ] Linting request

[2020-08-01 22:17] #233 closed

[2020-08-02 00:01] mathpluscode commented on #162
@YipengHu are we still planning to support this before release? and do you have time to do this?

[2020-08-02 00:15] YipengHu commented on #162
Yes

I can certainly help with the doc to have the work-around - but trying to restrict myself from testing

[2020-08-02 00:20] mathpluscode commented on #162
ok I will see if I have time to do this then, together with issue #234

[2020-08-02 00:41] mathpluscode commented on #122
Hi @RemiDelaunay , do you need some help here? It has been a while and some changes have had place in interface, I'm wondering if it will impact your branch

[2020-08-02 06:39] RemiDelaunay commented on #122
Hi @mathpluscode. Sorry I was busy with other things and I'm on annual leave this week. I am almost done (considering the recent changes) and I will pull everything when I come back.

[2020-08-02 13:12] NMontanaBrown commented on #196
Thanks @s-sd @YipengHu for the work this week, and thanks to @tvercaut for the thorough comments 😄 ! Couple of thoughts about points/TODOs to address on my behalf, discussion appreciated:

1. We talk about losses a lot but don't really explain/illustrate how they work, which @tvercaut raised. Add a cell or two to illustrate. [learn2reg](https://www.kaggle.com/adalca/learn2reg) has some really nice

[2020-08-02 13:47] YipengHu opened #255 "Improve the predict output file options"
# Issue description

Currently, `predict/deepreg_predict` saves input images/labels for different label pairs, with both png and nifti file formats. This leads to sizable written files.

1 - Add options that can turn off the following for space-saving/speed:
- Save input images/labels (useful for debugging or research);
- Save png files
- Save nifti files (is this useful to be able to turn off?)

[2020-08-02 13:48] #253 closed

[2020-08-02 14:03] YipengHu commented on #196
3 - 'predict' will be improved a bit to save space, but the functionalities are all there and currently save everything we need ;)
4 - CLI for classical registration isn't planned yet. let's see if there is a need, we can add post R1. I think the challenge has a slightly different view on linking the classical reg algorithms (using DeepReg functions) with learning-based ones. This is not necessiri

[2020-08-02 21:29] mathpluscode commented on #255
so ideally, the output should be like following (this has been discussed before lol)

- one folder per image pair (not related to label)
  - input images
  - one subfolder per label
    - input label
    - outputs

then for the following items we can choose to save or not
- input images/labels, default false
- png, default false
- nifti, default true

[2020-08-02 21:30] mathpluscode commented on #255
also, issue #251 should be fixed first

[2020-08-02 21:40] mathpluscode commented on #251
ooops, this bug might be a bit more complicated,

if the training dataset has multiple folders, then for grouped data or unpaired data, we should mix between folders,
but for now one dataset is created per folder, and then concatenated together

need to think a bit more about this

[2020-08-03 09:02] #230 closed

[2020-08-03 23:06] mathpluscode commented on #122
In #257 I adapted existing tests into pytest style, the rest will wait until @RemiDelaunay 's back ;)

[2020-08-03 23:21] mathpluscode opened #259 "Update contributing to provide examples of testing"
# Issue description

We need to update the contributing to provide more guidelines for adding tests, so that we can uniform the code style.
For each point, better to link to some existing test in the current code base to provide more detailed examples.

## test style

we are using pytest, not unittest, as they are quite different, it's important to underline this

## test inputs/outputs
- for funt

[2020-08-04 08:45] NMontanaBrown commented on #259
Adding: for layers, more maths (vs io) operations, need to check that they do the correct thing!

[2020-08-04 09:31] mathpluscode commented on #259
what do you mean "check error raised prior to checking the message"? @NMontanaBrown

[2020-08-04 14:37] zacbaum commented on #246
@YipengHu @mathpluscode @NMontanaBrown - Let me know if you have any comments or suggestions on what's there in this branch - check it out [here](https://github.com/DeepRegNet/DeepReg/blob/246-readme-simplification/README.md).

[2020-08-04 14:44] YipengHu commented on #246
TensorFlow...

[2020-08-04 16:43] NMontanaBrown commented on #196
@zacbaum could you review the latest version pushed on this branch?

[2020-08-04 17:30] zacbaum commented on #196
Done! Corrected several typos/misspellings and made formatting consistent.

[2020-08-04 18:31] mathpluscode commented on #246
LGTM ;)

[2020-08-04 18:41] #246 closed

[2020-08-05 11:21] NMontanaBrown commented on #259
So upon re-reading this guide I think you mentioned it:

[code]

But ideally before message check do:
[code]
then
[code]

[2020-08-05 15:18] mathpluscode commented on #259
oh @NMontanaBrown

if you do like

[code]

so only AssertionError will be capture, if it raise different error, the test will fail
then once you got the corrected error, you can check the error message

in my previous demo above, I put wrong indents so the `assert` was inside `with`, it should be outside actually

[2020-08-05 15:29] NMontanaBrown commented on #196
@s-sd, for the last demo, are there the same images that can be displayed in the same way as the predictions? Could you add this to the last code cell for the sake of comparison?

[2020-08-05 17:30] s-sd commented on #196
@NMontanaBrown added the images to the plots now

[2020-08-06 10:17] NMontanaBrown commented on #255
Also, I was reviewing this for the edu challenge and at this [line](https://github.com/DeepRegNet/DeepReg/blob/048cfb04502969ce12cdaacb8123d58a8df65951/deepreg/predict.py#L88) we call:
[code]

Which I found quite confusing: the warped image is called pred_fixed_image, which I associated to the fixed image. I would suggest renaming this and the save file for clarity to warped_moving_image, or somet

[2020-08-06 11:34] YipengHu commented on #255
We discussed this change earlier. It means predicted image in fixed image space. @mathpluscode had a point in other non-spatial transform supported methods, such as conditional seg. Warp may be confusing... I did not contest too much. But now if it is confusing to others. I suggest to change it back to warped_moving_image/label too.

[2020-08-06 11:49] s-sd opened #262 "Visually dissimilar outputs from warp and predict"
## Description

Warp produces a visually dissimilar output to the pngs that are saved. Not sure if this is due to saving it as png bt might be worth looking into. After looking into it, the differences in pixel values are as large as 0.007 for some of the highest differences between the images.

## Type of Issue

- [x] Bug report

#### For bug report or feature request, steps to reproduce the issu

[2020-08-06 11:57] s-sd commented on #262
@NMontanaBrown @mathpluscode, I encountered this when exploring the warp and predict. Not sure if the small differences are due to saving as png

[2020-08-06 19:27] YipengHu commented on #228
@ebonmati @ebonmati  are you addressing this? please assign yourself to this ticket

[2020-08-06 19:30] YipengHu commented on #166
@NMontanaBrown I would recommend to close this ticket if no further plan on this, especially given the refactored predict will have comprehensive visualisation saved in files.

[2020-08-06 19:31] YipengHu commented on #187
@mathpluscode @NMontanaBrown - shall mark this post-r1?

[2020-08-06 21:04] mathpluscode commented on #262
@s-sd the saving function is in https://github.com/DeepRegNet/DeepReg/blob/048cfb04502969ce12cdaacb8123d58a8df65951/deepreg/util.py#L88

I would say it's just because of the png saving? when you say the difference is 0.007, is it in a scale between [0, 1]?

[2020-08-06 21:05] mathpluscode commented on #228
@YipengHu later i can handle this

[2020-08-06 21:07] YipengHu opened #263 "Re-implement Yang et al 2020"
# Issue description

Implementation of the miccai paper "Longitudinal Image Registration with Temporal-order and Subject-specificity Discrimination"

## Type of Issue

demo

Please delete options that are not relevant.

- [ ] New feature request
- [ ] Documentation update
- [ ] Test request

#### What's the expected result?

#### What's the actual result?

#### Additional details / screenshot

##

[2020-08-06 21:11] mathpluscode commented on #255
@NMontanaBrown @YipengHu  why pred_fixed_image is confusing?

With predicted DDF, we warp the moving image to be a "fixed image", so this warped image is a prediction of the fixed image?
and when we construct losses, we are building loss between fixed_image and pred_fixed_image.

In the future, we might use GAN to produce the prediction for image / label, and even with the conditional network, the

[2020-08-06 22:11] YipengHu commented on #255
I'm not helping here - but to be fair i've seen both before.

[2020-08-07 09:28] s-sd commented on #262
@mathpluscode, yes the scale is [0, 1]. I think it might be due to saving as a png so I'll close this issue then. Thank you for taking a look!

[2020-08-07 09:28] #262 closed

[2020-08-07 23:33] mathpluscode commented on #126
While fixing bugs, I found some more potential improvements to do
- in the test of paired loader, we are not covering both nifti and h5 loader as in unpaired loader and grouped loader
- the close function is not tested

@NMontanaBrown do you think it's important to cover before release?

[2020-08-08 07:47] s-sd commented on #196
@NMontanaBrown @YipengHu I've added the longer trained model to the model zoo and have loaded it into the notebook. The results look visibly better than before. I have left the updated notebook in the 196-edu-challenge branch

[2020-08-08 14:36] NMontanaBrown commented on #126
Yes to coverage

[2020-08-09 15:24] #251 closed

[2020-08-09 17:02] #196 closed

[2020-08-09 17:04] NMontanaBrown opened #266 "Demo: MICCAI Edu Challenge link broken on README.md"
# Issue description

The links on the README point to the wrong file (as I renamed the file for the typo). Does the colab version point to someone's gdrive in particular? @YipengHu

## Type of Issue

Please delete options that are not relevant.

- [x] Bug report
- [x] Documentation update

[2020-08-09 17:09] #259 closed

[2020-08-09 17:10] mathpluscode commented on #266
Just clicked and it's broken for me as well

[2020-08-09 17:20] mathpluscode commented on #122
Hi @RemiDelaunay, the fix of multiple directories has been merged to the master branch, and when you are back, you can continue the test covering for `interface.py`. This is the last big piece of the code to do and with this will can achieve >95% coverage!

Btw, in your previous code, I found that you were using `unittest` package, and unfortunately, this is not the one we are using, therefore I'v

[2020-08-09 17:21] YipengHu commented on #266
Will fix tonight. No it does not link to any account specifically. You will be asked to login if the user is not.

[2020-08-09 17:21] NMontanaBrown commented on #266
@YipengHu @mathpluscode fixed, making a PR, then send, and submit!

[2020-08-09 17:24] #12 closed

[2020-08-09 17:43] YipengHu commented on #266
Nice - i had to compare letter by letter with my finger to find the typo ;)

[2020-08-09 17:55] #266 closed

[2020-08-10 02:12] DeepRegNet commented on #236
I have done this so close this issue now.

[2020-08-10 02:13] YipengHu commented on #236
done this closing now.

[2020-08-10 02:13] #236 closed

[2020-08-10 02:14] YipengHu commented on #13
@ebonmati do you need any help with this? please read the latest demo requirement in wiki.

[2020-08-10 02:15] YipengHu commented on #20
@QianyeYang do you need any help with this?

[2020-08-10 02:15] YipengHu commented on #24
@acasamitjana do you need any help with this? please read the latest demo requirement in wiki.

[2020-08-10 02:16] YipengHu commented on #39
@mathpluscode would you have time for this? if not, please assign this to me.

[2020-08-10 02:17] YipengHu commented on #54
I'm marking this post-r1 now.

[2020-08-10 02:18] YipengHu commented on #155
@mathpluscode  are we still pre-r1 for this?

[2020-08-10 02:20] YipengHu commented on #166
I'm marking this post-r1, but feel free to assign yourself.

[2020-08-10 16:27] YipengHu opened #269 "links on readme"
# Issue description

Some links do not work with https;
There are repetitions - discuss necessity;
Clarify the key sections that need links, others can be just "links"

## Type of Issue

- [ ] Documentation update

[2020-08-10 18:02] mathpluscode opened #270 "Fix miccai challenge deepreg version"
# Issue description

We should ensure a fixed behavior for the notebook.
The change is simple:

it's simply adding
[code]

in the second code block, so the second should be
[code]

I do not have the right to modify the notebook, can you do it? @NMontanaBrown
I've tested already

![image](https://user-images.githubusercontent.com/4066929/89815006-fbaa0b00-db3b-11ea-9e31-521249a5a31e.png)

## Type o

[2020-08-10 18:03] mathpluscode commented on #155
yes yes still! @YipengHu

[2020-08-10 18:06] mathpluscode commented on #39
this is not of priority for me for the moment, and it's part of doc also. i suggest to wait a bit? but ofc you can do it if you have time @YipengHu

[2020-08-10 20:31] #270 closed

[2020-08-10 21:24] #255 closed

[2020-08-10 21:49] mathpluscode opened #273 "Improve docs on local_normalized_cross_correlation"
# Issue description

The current code is not very well written :(
Need to add more comments on shapes, maths.

## Type of Issue
- [ ] Documentation update
- [ ] Test request

[2020-08-10 22:11] YipengHu commented on #1
will raise new issue for proofread and improvement

[2020-08-10 22:11] #1 closed

[2020-08-10 22:13] YipengHu opened #274 "JOSS paper links, formatting and proofreading"
# Issue description

The picture links are broken.
The format needs t checked against the requirement
It needs general prooofreading.

## Type of Issue

- [ ] Documentation update

[2020-08-10 22:33] RemiDelaunay commented on #122
Hi @mathpluscode , I have updated my version of test_interface.py to cover the recent changes and created a pull request for it. Sorry for using unittest, I thought it was ok to use because I have seen it elsewhere (e.g., [test_config_parser.py](https://github.com/DeepRegNet/DeepReg/blob/d86771e38b8270e0473d7660946ade4e282e8d78/test/unit/test_config_parser.py)).

[2020-08-10 22:34] mathpluscode commented on #122
@RemiDelaunay ooops good catch, git blame shows that it's my code ;) will fix this

[2020-08-10 22:35] mathpluscode opened #276 "Remove tests depending on unittest"
# Issue description

We are using pytest, so should not use unittest.

Bad example: test_config_parser.py

## Type of Issue
- [ ] Test request
- [ ] Linting request

[2020-08-11 10:43] acasamitjana commented on #24
@YipengHu I need to upload my pretrained model into deepreg-zoo. Can you make me contributor?

[2020-08-11 11:58] YipengHu commented on #24
I have. Did you not get the invite? Try again later.

[2020-08-11 13:35] #250 closed

[2020-08-11 21:13] YipengHu opened #280 "Reading predict-generated nifti images"
# Issue description
The nifti images seem producing errors when loaded in medical image viewers.

## Type of Issue
- [ ] Bug report

#### For bug report or feature request, steps to reproduce the issue, including (but not limited to):

1. OS
WSL2

2. Environment to reproduce
#15

3. What commands run / sample script used:
deepreg_predict in demo readme

#### What's the expected result?
Images shou

[2020-08-11 21:14] YipengHu commented on #280
@s-sd what did you use to view the nifti images?

[2020-08-11 21:51] #38 closed

[2020-08-11 21:52] YipengHu commented on #28
closing this as they have been moved to demos.

[2020-08-11 21:52] #28 closed

[2020-08-11 21:55] mathpluscode commented on #242
Need to mention that outputs are also saved in nifti1 format and has been tested using three softwares

[2020-08-11 23:58] s-sd commented on #280
@YipengHu I have been using the PNG files instead of the nifti files

[2020-08-12 00:34] #280 closed

[2020-08-12 10:11] #24 closed

[2020-08-12 10:55] #15 closed

[2020-08-12 18:05] #122 closed

[2020-08-12 21:04] mathpluscode commented on #155
Instead of raising errors, i choose to print warnings as maybe user want to do ablation study with special values like zero weights for losses

[2020-08-12 21:14] mathpluscode commented on #20
has been solved in https://github.com/DeepRegNet/DeepReg/pull/272

[2020-08-12 21:14] #20 closed

[2020-08-12 21:29] mathpluscode opened #285 "Use tensorflow 2.3"
# Issue description

The latest stable TensorFlow is 2.3 now.

We should update to this version and check if everything still works.

## Type of Issue

- [ ] New feature request

[2020-08-12 23:32] YipengHu commented on #223
i'm closing this as it has now been added to the demo requirement. #252

[2020-08-12 23:33] #223 closed

[2020-08-13 00:06] YipengHu opened #287 "Separating cli and config doc"
# Issue description

For high-level navigation, "configuration" has been used at two levels - which is confusing. Therefore, doc will be re-structured to split config and CLI.

## Type of Issue

- [ ] Documentation update

[2020-08-13 00:29] #276 closed

[2020-08-13 00:45] #252 closed

[2020-08-13 08:08] NMontanaBrown opened #289 "Docs: Generate ReadTheDocs"
# Issue description

Generate ReadTheDocs via Sphinx.

## Type of Issue

Please delete options that are not relevant.

- [x] New feature request
- [x] Documentation update

[2020-08-13 10:00] NMontanaBrown opened #290 "Test: test test_utils"
# Issue description

Increase coverage by testing util functions.

## Type of Issue

Please delete options that are not relevant.

- [x] Test request

[2020-08-13 12:19] NMontanaBrown opened #291 "Release: PyPi"
# Issue description

Release package to PyPi.

## Type of Issue

Please delete options that are not relevant.

- [x] New feature request

[2020-08-13 12:22] zacbaum commented on #291
A good medium post for high-level details: https://medium.com/@joel.barmettler/how-to-upload-your-python-package-to-pypi-65edc5fe9c56

[2020-08-13 13:55] #269 closed

[2020-08-14 15:09] #287 closed

[2020-08-14 15:15] YipengHu opened #294 "broken links in doc"
# Issue description

- Broken links in advanced topics
- change the old CLI functions to those with deepreg_

## Type of Issue

- [ ] Documentation update

[2020-08-14 15:17] YipengHu commented on #39
@RemiDelaunay Do you think you have some time to write a short tutorial on how to add a new network? Juts use the affine you did for example? maybe similar to this one: https://github.com/DeepRegNet/DeepReg/blob/master/docs/tutorial_add_loss.md

[2020-08-14 15:22] RemiDelaunay commented on #39
@YipengHu Yes I can write a draft using the affine network as an example and you can tell me what you think.

[2020-08-14 15:57] #294 closed

[2020-08-14 21:43] YipengHu opened #296 "Move contact info to doc"
# Issue description

The contact information now is separated in wiki and part of doc. Move them to the same place.

- coc contact in wiki
- issue rasing - read doc first then issue... technical issue / help / bug report / etc
- pull request

## Type of Issue

- [ ] Documentation update

[2020-08-17 13:47] YipengHu opened #297 "Demo review and styling"
# Issue description

Reviewing demos, especially those merged before changes in https://github.com/DeepRegNet/DeepReg/blob/master/docs/doc_demo_requirement.md

## Type of Issue

- [ ] Bug report
- [ ] Documentation update

#### What's the expected result?

tag DeepReg with all running demos

[2020-08-17 14:12] mathpluscode commented on #155
close as it has been taken care of in #284

[2020-08-17 14:12] #155 closed

[2020-08-17 15:49] mathpluscode commented on #273
The loss we are using here is actually local squared zero-normalized cross correlation, if you check the definition of ZNCC in wiki https://en.wikipedia.org/wiki/Cross-correlation

I believe the code is adapted from an implementation from @QianyeYang which was from voxelmorph,
https://github.com/voxelmorph/voxelmorph/blob/legacy/src/losses.py#L28

so is this "squared" ok? btw maybe we should put t

[2020-08-17 16:18] mathpluscode commented on #234
@YipengHu if moving image gave 5 labels, and fixed image gave 4 labels, what should we do? ERROR  or Warning and use the minimum of two ?

[2020-08-17 16:53] YipengHu commented on #234
Error. Too many options for any reasonable default.

[2020-08-17 18:10] YipengHu commented on #297
@s-sd I think one of the reasons why the model you were using - therefore difficult to train - is that you are using one of the test yaml files, deepreg/config/test/ddf.yaml
which was intentionally very small network for testing purpose, with initial number of channel being just 1!
I'd recommend copy these together with the yaml file you are using for `dataset` and change the parameters to a sensi

[2020-08-17 18:12] YipengHu commented on #297
@acasamitjana i noticed you have your own network set up, but it is also quite small, do you think that's big enough?

[2020-08-17 18:18] s-sd commented on #297
@YipengHu, thank you! I think that must be the reason, I will update the model-zoo when the larger networks are done

[2020-08-17 19:31] s-sd opened #299 "Use separate config file for network for demos"
# Issue description

The paired_ct_lung, unpaired_ct_lung and paired_mrus_brain demo use config files given for the test and use a small network. Use separate files for each of these demos and use arger network sizes.

## Type of Issue

- [x] New feature request

#### What's the expected result?

The demos mentioned above use larger networks and separate config files

[2020-08-17 19:38] YipengHu commented on #234
missed you second question - why minimum two, one is perfectly fine for labels.

[2020-08-17 20:03] YipengHu commented on #299
@acasamitjana @ebonmati  Strongly recommend: 1) not downloading from google drive directly - there are accessibility issues - you can host (pre-processed or not) data on any github account (or cmiclab / weisslab); Both your demo_data.py files had issues on the cluster and one of my desktops (both Ubuntu)... not sure why really as it worked fine on my laptop with Debian...
Not very very strongly, 2

[2020-08-17 20:05] YipengHu commented on #297
@acasamitjana @ebonmati Strongly recommend: 1) not downloading from google drive directly - there are accessibility issues - you can host (pre-processed or not) data on any github account (or cmiclab / weisslab); Both your demo_data.py files had issues on the cluster and one of my desktops (both Ubuntu)... not sure why really as it worked fine on my laptop with Debian...
Not very very strongly, 2)

[2020-08-17 21:01] mathpluscode commented on #234
I was saying if moving image gave 5 labels, fixed image gave 4, then we took the first 4 labels.

Fine, as we decided for the error option, will solve this typo error in another PR together

[2020-08-17 21:18] mathpluscode opened #301 "structure check on YAML configuration file"
# Issue description

We are using yaml file for configuration.
However, this file has a relatively complicated structure, therefore it is important to validate that the input config file has
satisfies an expected structure.

For now, we are validating it manually using if/else and value error. Or the code will raise KeyError directly. We should find a package and define the desired structure inste

[2020-08-17 21:18] mathpluscode commented on #301
@NMontanaBrown @YipengHu If you know any package can do this ;)

[2020-08-17 21:20] YipengHu commented on #301
not sure - if it is a problem of indentation for instance, the "wrong" file can still be valid. This actually is related to #54

[2020-08-17 21:31] mathpluscode opened #302 "Optimize data loading performance"
# Issue description

For nifti files, now we are loading them in py and provide a generator to TensorFlow.
This generator is sequential, and therefore the loading is sequential?

Maybe we should provide a dataset of file names, then load the data in parallel in TensorFlow.

Guideline: https://www.tensorflow.org/guide/data_performance

It is unclear if this can be useful for H5 data.

## Type of Is

[2020-08-17 21:39] YipengHu commented on #273
I think you are right, although not sure this will make a big difference other than numerical/config ones, e.g. weighting. As similar to Dice, you can have both versions with options to use square or not. There may be an argument that one encourages more sparsity (like in L1-norm) and one may be converges faster - but with Adam and other normalisation in between, it is hard to tell for sure...

[2020-08-17 21:48] YipengHu commented on #302
It can be quite complicated and application-dependent! with different buffers shifting the optimal loading/processing/transferring time - i would say, if the tfrecord does not improve a lot - as you tried, we should leave this level of optimisation to Google engineers :)

[2020-08-17 21:49] YipengHu commented on #302
or users...

[2020-08-17 23:14] mathpluscode commented on #302
Oh yes, maybe need to try tfrecord #99, it was indeed faster but not that much because of the conv3d layers which took the most of the time in calculation. So agree, maybe it's better to add back the tfrecord support and benchmark the performance ;)

[2020-08-17 23:14] #273 closed

[2020-08-18 17:04] #39 closed

[2020-08-18 21:18] mathpluscode opened #305 "Organize the layer structure in the models"
# Issue description

While debugging the U-net i found it impossible to print out the model structure using `tf.keras.utils.plot_model` and the output using `model.summary()` is not very meaningful neither.

There might be many reasons, like
- we didn't use the `tf.name_scope`
- others that I don't know :(

So it's important to improve the code so that at least we can print out the model structure

[2020-08-19 16:57] YipengHu opened #306 "Move Dev meeting notes to wiki"

[2020-08-19 16:59] YipengHu commented on #306
@agrimwood can you help with this?

[2020-08-20 09:40] #299 closed

[2020-08-20 11:46] #13 closed

[2020-08-20 12:25] #234 closed

[2020-08-20 12:33] zacbaum commented on #291
@NMontanaBrown @YipengHu @mathpluscode

A few things will be needed for this (beyond some minor changes in the codebase);

DESCRIPTION
- What text do we want here?

AUTHOR
- Left as just @mathpluscode, or do we use JOSS author list? Do we use DeepRegNet?

AUTHOR EMAIL
- Use deepregnet@gmail.com?

KEYWORDS
- Which would we like? JOSS paper uses: medical image registration, image fusion, deep learni

[2020-08-20 13:37] YipengHu commented on #291
- DeepReg is a freely available, community-supported open-source toolkit for research and education in medical image registration using deep learning.
- DeepReg Development Team and Community
- deepregnet@gmail.com
- use joss keywords
- Other: i would include Windows 64 or AMD64? - the key roadblock is gpu driver etc, nothing to do with deepreg

[2020-08-20 13:57] zacbaum commented on #291
Do we want to include all of:
- `data`
- `demos`
- `docs`
- `test`

In the pypi build? Or just core `deepreg` files to be able to run the code?

[2020-08-20 14:27] mathpluscode commented on #291
For the author, I think it's not ok to put only my name, as it's team effort now.
If we are lazy we can put like `DeepReg Dev Team`, otherwise we put the JOSS author list? Both options seem to be ok ;)

[2020-08-20 23:59] YipengHu opened #308 "Demo - Grouped myocardial multisequence CMR"
# Issue description

http://www.sdspeople.fudan.edu.cn/zhuangxiahai/0/MyoPS20/

## Type of Issue
New demo

[2020-08-23 12:59] YipengHu opened #312 "Urgent - update the edu challenge links due to the change of the doc to readthedoc"
# Issue description

Links are broken in the challenge due to migrating to RTD - the review is underway at the moment.

## Type of Issue

- [ ] Documentation update
- [ ] Test request
- [ ] Linting request

[2020-08-23 14:14] #312 closed, assigned to mathpluscode, NMontanaBrown

[2020-08-23 20:28] zacbaum opened #316 "Docs: Update README.md links to point to new readthedocs pages."
# Issue description

During change to readthedocs, readme file was not updated to reflect the new website URLs.

The links needing updates are:
- Documentation, tutorials and a quick start guide
- DeepReg Demos
- Contribution Guildelines
- Contributing to a DeepReg Demo

## Type of Issue

- [x] Documentation update

[2020-08-23 20:50] #289 closed

[2020-08-23 21:13] #297 closed

[2020-08-23 21:58] #126 closed

[2020-08-23 22:10] #316 closed

[2020-08-23 22:16] mathpluscode commented on #228
I believe this bug no longer exists.

After modifying the file name of the working example on paired labeled nifti data, the following error occurs:

[code]

Howwever, maybe it would be better to tell it's moving / fixed images having problems

[2020-08-23 23:28] mathpluscode commented on #228
[code]

This error message should be more meaningful now

[2020-08-23 23:50] #124 closed

[2020-08-24 06:54] #308 closed

[2020-08-24 08:14] #296 closed

[2020-08-24 08:43] YipengHu opened #321 "Demo review pre-r1"
# Issue description
Review the existing demos - due 27th (sorry).

--------------

@RemiDelaunay
classical_mr_prostate_nonrigid
paired_mrus_brain

@ZheMin-1992
grouped_mask_prostate_longitudinal
unpaired_ct_abdomen

@agrimwood
grouped_mr_heart
paired_mrus_prostate

@QianyeYang:
classical_ct_headneck_affine
unpaired_ct_lung

@NMontanaBrown
paired_ct_lung
unpaired_mr_brain

@mathpluscode
unpaired_us

[2020-08-24 08:57] YipengHu opened #322 "Documentation review - pre-r1"
# Issue description

Review the documentation. Due 27th (sorry again)

-----------------
@s-sd
https://github.com/DeepRegNet/DeepReg/tree/master/docs/source/tutorial

@acasamitjana
https://github.com/DeepRegNet/DeepReg/blob/master/docs/source/docs/dataset_loader.md

@ebonmati
https://github.com/DeepRegNet/DeepReg/tree/master/docs/source/getting_started
https://github.com/DeepRegNet/DeepReg/blob/ma

[2020-08-24 12:27] shannonxtreme commented on #322
Hey guys, I'm a technical writer looking for projects to write docs for to expand my own portfolio. If you want, I could help out with this project!

[2020-08-24 12:47] YipengHu commented on #322
@shannonxtreme Everyone is welcome to contribute of course! Please follow the contributing guidelines and relevant documents, and raise an issue if anything not clear! https://deepreg.readthedocs.io/en/latest/contributing/issue.html

[2020-08-24 18:04] #274 closed

[2020-08-24 19:18] YipengHu opened #324 "deepreg.net revamp"
# Issue description

The current use of deepreg.net, redirecting the readthedocs.io, is problematic:
- the sub-pages URL do not show properly;
- the link back to github does not work.

However, to build the entire documentation under deepreg.net is also not trivial.

Propose:
A landing page (or a product page) using https://deepregnet.github.io/DeepReg/, redirected by deepreg.net, on which, very b

[2020-08-24 20:20] mathpluscode opened #325 "Improve contributing pages"
# Issue description

1. Instead of providing a bullet list like in https://deepreg.readthedocs.io/en/latest/contributing/demo.html#readme-md,
we can provide an example md file so that people only need to copy and fill things.

2. add a landing page to give a brief structure on the contributing section.

3. btw remove duplicated logo files

4. integrate the disclaimer better

5. remove all warnings

[2020-08-24 22:36] YipengHu commented on #324
@i'm sending you some pictures for the landing page.
![images01](https://user-images.githubusercontent.com/2588157/91103053-773ea880-e662-11ea-9de4-337aea338edb.png)
![images02](https://user-images.githubusercontent.com/2588157/91103055-786fd580-e662-11ea-9162-69921ce99693.png)
![images03](https://user-images.githubusercontent.com/2588157/91103057-79086c00-e662-11ea-87a2-ccc926ce3630.png)
![vis](h

[2020-08-24 22:43] YipengHu commented on #324
cardiac mr:
![image](https://user-images.githubusercontent.com/2588157/91103496-8a05ad00-e663-11ea-9f7f-623835b823b0.png)
![image](https://user-images.githubusercontent.com/2588157/91103518-938f1500-e663-11ea-8af1-414d508f9ac9.png)

[2020-08-24 23:21] mathpluscode commented on #321
@zacbaum  @QianyeYang  @RemiDelaunay  @agrimwood  @NMontanaBrown  @ZheMin-1992 Hi all, when reviewing the demo, please adapt the README file to this template https://deepreg.readthedocs.io/en/325-improve-contributing-pages/demo/readme_template.html

Especially the order or sections, some texts which should be the same.

The main changes are as follows:
- disclaimer msg link under the title
- Autho

[2020-08-24 23:36] shannonxtreme commented on #322
In `install.rst` one suggestion I have is to make external links open in new tabs by default. Applies to all docs, I suppose

[2020-08-24 23:44] YipengHu commented on #324
Head and neck:
![image](https://user-images.githubusercontent.com/2588157/91106897-d2c16400-e66b-11ea-8f8c-5792ddfc3632.png)

[2020-08-25 00:03] #228 closed

[2020-08-25 06:52] s-sd commented on #324
@YipengHu @zacbaum, Intra-subject lung ct registration
![Screenshot from 2020-08-25 07-51-18](https://user-images.githubusercontent.com/48014558/91141850-f1dde700-e6a7-11ea-9317-0c20d1f383cd.png)

[2020-08-25 08:12] NMontanaBrown commented on #321
@YipengHu

A bit confused, branch from main or from...?

[2020-08-25 08:53] YipengHu commented on #321
from main or any other one that is working on this

[2020-08-25 20:53] zacbaum commented on #291
@YipengHu @mathpluscode @NMontanaBrown - which of these would be req'd? Do we need anything beyond just the codebase in the package?

[2020-08-25 21:13] YipengHu commented on #291
Correct me if i'm wrong here:
- We still need clone the code for some experimental use, including some of the demos;
- We really just use the three CLI deepreg_* after pip install (as a good replacement for local pip install);
- There is no easy way to view docs included in pypi.

So there is really no reason to include those other than the core files that runs the code - with an exception of the

[2020-08-25 22:18] YipengHu opened #331 "paper compilation"
# Issue description

Final edits for consistency to latest doc changes.
Update reference
Fix links and test compilation before submission on 1st sept.

## Type of Issue

- [ ] Documentation update

[2020-08-26 07:38] NMontanaBrown commented on #321
Generally, with the new template that says:

What is this meant to point to? This link is broken and has been added to all the demo READMEs but doesn't point to anything...?
(https://github.com/DeepRegNet/DeepReg/blob/master/demos/README.md)

Should this be changed to point to readthedocs?
@YipengHu @mathpluscode

[2020-08-26 09:36] ebonmati commented on #322
https://github.com/DeepRegNet/DeepReg/blob/master/docs/source/getting_started/install.rst --> "Dependent external libraries include those provide core IO functionalities and other standard processing tools. The dependencies for this package are managed by pip": @agrimwood @YipengHu Do you think this sentence is grammatically correct?  should it be " those that provide" instead?

[2020-08-26 09:40] ebonmati commented on #322
https://github.com/DeepRegNet/DeepReg/blob/master/docs/source/getting_started/install.rst --> "The dependencies for this package are managed by pip". Does "this package" refer to DeepReg? it is not clear and I suggest to state that DeepReg instead of "this package".

[2020-08-26 09:49] ebonmati commented on #322
https://github.com/DeepRegNet/DeepReg/blob/master/docs/source/docs/configuration.md --> all good

[2020-08-26 09:53] ebonmati commented on #322
https://github.com/DeepRegNet/DeepReg/blob/master/docs/source/docs/cli.md --> "More configuration can be specified in the configuration file": @agrimwood is this sentence grammatically correct? I am not sure...

[2020-08-26 10:36] agrimwood commented on #325
Some minor grammatical corrections inbound

[2020-08-26 11:07] shannonxtreme commented on #322
Can't believe I missed that. Yes, those that provide is correct.

[2020-08-26 11:08] shannonxtreme commented on #322
Reading through it as an absolute newbie to python and packaging and all that fun stuff, it was clear to me as- is. DeepReg is the only package mentioned by name in that paragraph, so naming it twice would be more repetitive than anything.

[2020-08-26 11:23] agrimwood commented on #322
Sorry, I just read your comment @shannonxtreme. I have changed the text in #336. You're right that the only package referred to is DeepReg. Even so, I have changed for clarity, because the term could equally be used to reference the dependencies (they are also packages). In this case it's debatable, but I have chosen repetition over ambiguity.

[2020-08-26 11:25] shannonxtreme commented on #322
Sounds good! Thanks for following up.

[2020-08-26 11:52] shannonxtreme commented on #322
It's an awkward sentence. "Additional options can be configured in `filename.yml`" or "Additional options can be specified in the configuration file."

If the config file has a static filename, mention the name. If not, use the latter option and link it to the corresponding doc. The last sentence "See configuration file for further details" can be removed in the second case.

[2020-08-26 12:07] #291 closed

[2020-08-26 12:24] zacbaum commented on #321
@RemiDelaunay @ZheMin-1992 @agrimwood @QianyeYang @NMontanaBrown @mathpluscode :

Now that the pypi release is available (`pip install deepreg`) - I would ask that you use that version of the codebase (either via `pip install` or by downloading the release) to test the demos and indicate that things worked with that version (currently v0.1.6).

Then, we can periodically do a quick re-run of the de

[2020-08-26 12:25] agrimwood opened #338 "Transfer dev meeting minutes to wiki"
# Issue description

Transfer all dev meeting minutes to DeepReg repository's wiki

## Type of Issue

Please delete options that are not relevant.

- [ ] Documentation update

#### For bug report or feature request, steps to reproduce the issue, including (but not limited to):

#### What's the expected result?

All minutes accessible via github

#### What's the actual result?

#### Additional deta

[2020-08-26 13:52] agrimwood commented on #338
@YipengHu wiki updated directly on master branch. Could you check the minutes look ok?

[2020-08-26 14:01] YipengHu commented on #338
Looks great. Thanks 👍

[2020-08-26 14:01] #338 closed

[2020-08-26 14:03] YipengHu commented on #306
See #338

[2020-08-26 14:03] #306 closed

[2020-08-26 17:44] YipengHu opened #339 "build failed https://travis-ci.org/github/DeepRegNet/DeepReg/jobs/721385744"
# Issue description

https://travis-ci.org/github/DeepRegNet/DeepReg/jobs/721385744

## Type of Issue

could be just linting.

- [ ] Bug report

[2020-08-26 20:07] #339 closed

[2020-08-26 20:19] mathpluscode opened #343 "Release/Deploy to PyPI via CI"
# Issue description

It's really nice to have a detailed doc on how to release the package https://deepreg.readthedocs.io/en/latest/contributing/build.html

However, even for a developer, I think it's not necessary to know exactly how to release it.

Ideally, we should perform the deployment/release automatically using tag with the help of CI, check the docs here
https://docs.travis-ci.com/user/de

[2020-08-26 20:22] mathpluscode commented on #343
@zacbaum I found some random pages like
https://medium.com/@mikkokotila/deploying-python-packages-to-pypi-with-travis-works-9a6597781556

I think the manual upload was necessary and from now on we can switch to automated way ;)

Concerning the version and release note, we will need further discussions

[2020-08-26 20:27] #325 closed

[2020-08-26 20:32] mathpluscode opened #344 "Automate test on demos"
# Issue description

As we are having multiple demos and they are not covered by tests, it would be important for our release/deployment later to make sure that the new version of DeepReg still supports all demos. So that demo no longer needs to specify the last checked commit.

For each demo, we need to at least perform the following steps automatically.
- download and preprocess data
- launch tr

[2020-08-26 20:33] mathpluscode commented on #321
This sounds nice, for the demos we definitely need a script to test all demos automatically.

I raised this issue https://github.com/DeepRegNet/DeepReg/issues/344, please feel free to add more ideas ;)

[2020-08-26 20:47] zacbaum commented on #343
Definitely agree with this - why I've just left it manual for now! 😄

The likely best option would be a `dev` branch (where all PRs are merged to) in addition to `master`. Then when we merge to `master`, we can branch and mark stable versions on GitHub and mark for release automatically and have it deploy to PyPI.

[2020-08-26 20:50] ebonmati commented on #322
https://github.com/DeepRegNet/DeepReg/blob/master/docs/source/docs/experimental.rst --> Broken link in [new issue]

[2020-08-26 20:51] ebonmati commented on #322
https://github.com/DeepRegNet/DeepReg/blob/master/docs/source/docs/experimental.rst --> Broken link in "Label Sampling"

[2020-08-26 20:53] ebonmati commented on #322
https://github.com/DeepRegNet/DeepReg/blob/master/docs/source/docs/exp_label_sampling.md --> The narrative of the first paragraph could be improved for a better flow. "When each image has multiple labels, e.g. segmentations of different organs in a CT image. For each sampled image pair, one label pair is randomly sampled. This is default for training."

[2020-08-26 20:55] ebonmati commented on #322
https://github.com/DeepRegNet/DeepReg/blob/master/docs/source/docs/exp_label_sampling.md --> Better use "sort" instead of "ordered".

[2020-08-26 20:57] ebonmati commented on #322
https://github.com/DeepRegNet/DeepReg/blob/master/docs/source/docs/exp_label_sampling.md --> in "Consistent label pairs" the second paragraph has a series of '-' that look like the paragraph is either not formatted correctly or the '-' need to be removed...

[2020-08-26 20:59] ebonmati commented on #322
https://github.com/DeepRegNet/DeepReg/tree/master/docs/source/getting_started --> WSL + master branch links are broken

[2020-08-26 21:07] zacbaum commented on #343
Another useful way of doing it is by only tagging commits we want to make releases on...

See: https://docs.travis-ci.com/user/deployment/pypi/#deploying-tags

and see: https://github.com/73VW/Publishing-to-PyPI-with-pbr-and-Travis/blob/master/README.en.rst

[2020-08-26 21:13] ebonmati commented on #322
Actually, they are not broken. In Chrome if I open the link in a new tab, it works, but if I open the link directly it does not open (github refused to connect). Anyone else experiencing the same?

[2020-08-26 21:15] shannonxtreme commented on #322
@ebonmati I'll verify as well soon! Also, #337 is an ongoing PR with some edits to the experimental section that you just reviewed.

[2020-08-26 21:15] mathpluscode commented on #343
@zacbaum yup yup yup, the main/dev seems to be really important now. For the tag, i totally agree, the deployment CI should be triggered by only tags, and tags can be done using GitHub web interface ;) let's see tmr

[2020-08-26 21:36] ebonmati commented on #322
I think this may be related to #324 too.

[2020-08-26 21:45] YipengHu commented on #344
Concern: this is going to be slow. you cannot really accelerate downloading and some pre-processing.

[2020-08-26 23:01] mathpluscode commented on #344
Yes this can be slow, and normally we dont do release everyday neither

[2020-08-26 23:03] mathpluscode opened #346 "Enable multiple issue templates"
# Issue description

Try adding a new issue in this package https://github.com/gogs/gogs/issues

![image](https://user-images.githubusercontent.com/4066929/91365252-9111f400-e7f8-11ea-88d8-fee22afea762.png)

this will lead you to a page with multiple issue templates.

We can do the same ;)

## Type of Issue

- [ ] New feature request

[2020-08-26 23:04] shannonxtreme commented on #322
In `tutorial/cross_val.md`, the first link to `docs/dataset_loader.md` is broken, but I don't know what's wrong with it. The path in the markdown file is correct but it breaks when built. Is this true for you all?

[2020-08-27 08:30] NMontanaBrown commented on #346
Closing #177 as this seems more relevant, maybe can do the review of templates here?

[2020-08-27 08:33] YipengHu commented on #324
@s-sd this looks good but better to rotate 90 degree to use normal radiologist view.

[2020-08-27 08:35] #177 closed

[2020-08-27 09:36] QianyeYang opened #350 "Error on demo unpaired_ct_lung"
# Issue description
Cannot train the demo using `python3 demos/unpaired_ct_lung/demo_train.py`

## Type of Issue
- [x] Bug report

1. OS: Ubuntu 18.04
2. Environment to reproduce: DeepReg v0.1.6

Debug info:
[code]

[2020-08-27 09:55] s-sd commented on #350
@QianyeYang, this error usually means that the available memory was not enough. Could you try running this on a GPU on one of the weiss machines. You will just need to change the gpu option in the train script to `gpu = "0, 1"`. Also if you are using a GPU, could you please make sure that it does not have other processes running on it which might be taking up memory. Let me know if you get the err

[2020-08-27 11:06] QianyeYang commented on #350
Thanks @s-sd ! I found the reasons are not all related to the memory issue. The `gpu` parameter was not set in the train script, will it be better if we put a default value there? After setting `gpu="0"`, I can train the demo with a smaller batch size (=2) on a 24GB GPU. Therefore I suggest clarifying this memory issue in the readme.

[2020-08-27 11:15] s-sd commented on #350
Great, thanks @QianyeYang! I will update it to use one or two GPUs by default and I'll write a note in the readme

[2020-08-27 11:31] QianyeYang commented on #350
Thanks, @s-sd. Just in case, could you approve the PR(https://github.com/DeepRegNet/DeepReg/pull/351) for this demo before you make a further modification? Just fixed a bad link and adjust the structure of the readme.

[2020-08-27 13:10] s-sd commented on #324
@YipengHu @zacbaum, the rotated version of the inter-subject ct lung registration:

![Screenshot from 2020-08-27 13-56-21](https://user-images.githubusercontent.com/48014558/91444911-4da59d00-e86d-11ea-8f20-f92013b48aab.png)

[2020-08-27 14:04] YipengHu commented on #324
@s-sd sorry being picky, but usually they put spines on the bottom and the heart on the top ;)

[2020-08-27 14:05] #350 closed

[2020-08-27 14:31] s-sd commented on #324
@YipengHu, sorry, corrected it now:

![Screenshot from 2020-08-27 15-29-16](https://user-images.githubusercontent.com/48014558/91455714-594b9080-e87a-11ea-8ad6-434fb6cd4de8.png)

[2020-08-27 15:45] zacbaum commented on #324
Initial page available served [here](https://deepregnet.github.io).

Let me know your thoughts or if there's anything else to add. I've made it simple (as requested 😉) - but it still links to the repo, the docs, and has a bit of text and some logos/images to look at.

[2020-08-27 21:59] mathpluscode commented on #324
WOW that's quick

Some comments:

- Black ? I personally find this color not very confortable... black & blue is a bit strange to me
- the arrow looks not very nice
- why italic font for the description
- documentation and github button not aligned, style is a bit strange
- why put another logo with diff color on those medical images?

Sorry they might be some strong opinions, the speed of getting

[2020-08-27 22:02] YipengHu commented on #324
sorry - i'm doing some "experiments" - comments tomorrow please... first-timer-css here...

[2020-08-27 22:09] zacbaum commented on #324
@YipengHu has made some changes 😉 - this is based on a prebuilt Jekyll template (see repo from which it was forked for samples there as well - may be good for inspiration @YipengHu if you want to keep playing around).

[2020-08-28 01:32] mathpluscode commented on #324
# why we wanted deepreg.net

so, the original reason that @YipengHu want deepreg.net was something wrong with readthedocs:

if you go to http://deepreg.net/, and click the github link on top right, there will be errors.

# so how can we use custom domain for docs

actually, the docs should be `docs.deepreg.net` not `deepreg.net`, and I've tried the steps in rtd docs, and it works for my own domain

[2020-08-28 13:20] DeepRegNet commented on #324
@mathpluscode all good points - i'm marking this post-r1 and revisit later

[2020-08-28 15:26] mathpluscode commented on #346
sure, we can do multiple PRs regarding this issue ;)

[2020-08-28 15:52] mathpluscode opened #357 "Update contributing docs"
# Issue description

We need to refactor the whole contributing docs to keep the essential requirements and making onboarding easier.

## Type of Issue

- [ ] Documentation update

[2020-08-29 18:02] #322 closed

[2020-08-29 18:13] #346 closed

[2020-08-29 18:28] #242 closed

[2020-08-29 18:49] NMontanaBrown opened #361 "Demo + bug: unpaired brain MR pre-trained model performance poor"
## Subject of the issue

The provided pre-trained network doesn't seem to warp the images fed in as provided in the demo.

If the documentation request is approved, would you be willing to submit a PR?

**Yes** / No

## Your environment

- DeepReg version (commit hash or tag) v. 0.1.6-alpha

- OS (e.g. Ubuntu 20.04, MacOS 10.15, etc.) Mac High Sierra

- Python Version (3.7, 3.8, etc.)   3.7

- Ten

[2020-08-29 21:15] ebonmati opened #362 "General proofreading of the documentation"
## Subject of the issue

Do a general proofreading of the documentation

[2020-08-30 00:24] mathpluscode opened #365 "Use GitHub action for pre-commit"
## Subject of the feature

Use GitHub Action (https://docs.github.com/en/actions) to format files automatically
so that developers may not have to install pre-commit or for changes using GitHub web interface.

[2020-08-30 00:49] #321 closed

[2020-08-30 01:05] mathpluscode opened #367 "Change commit policy to conventional commit"
## Subject of the feature

https://www.conventionalcommits.org/en/v1.0.0/

When checking github actions, I found this commit standard, its features are mainly
- **Automatically generating CHANGELOGs.**
- Automatically determining a semantic version bump (based on the types of commits landed).
- Communicating the nature of changes to teammates, the public, and other stakeholders.
- Triggering build

[2020-08-30 01:10] #362 closed

[2020-08-30 01:17] #365 closed

[2020-08-30 01:40] mathpluscode commented on #365
My bad, actually in the readme, the push back feature is only available for private repo for security reason

[2020-08-30 07:03] NMontanaBrown commented on #367
@mathpluscode I quite like this, I think it will make the commit history easier to read, and most importantly:

Which means it doesn't need to be super complicated provided we do squash + merge with people designated to cover merges follow conventional commit style.

[2020-08-30 07:05] NMontanaBrown commented on #344
Most of the demos now have demo_train, demo_predict, demo_data scripts, what is stopping us from just checking these run as expected? And check that the output visualisation is the same as the previous "demo checkpoint"? @mathpluscode @YipengHu Just an extra step in CI with deployment as @mathpluscode says, just with releases.

[2020-08-30 16:09] mathpluscode commented on #344
@NMontanaBrown it just needs time i believe ;)
for the joss, we think demo is not that important as we still have 1-2 weeks to do it before the first public release

[2020-08-30 16:09] mathpluscode commented on #367
Cool, let's bring this to the team then

[2020-08-30 18:00] YipengHu opened #370 "Documentation general review"
## Subject of the documentation

Documentation Demo part and individual readme

links, names, format and clarity of instructions.

If the documentation request is approved, would you be willing to submit a PR? _(Help
can be provided if you need assistance submitting a PR)_

Yes

[2020-08-30 18:26] mathpluscode opened #371 "Delete master branch and add main / dev"
## Subject of the feature

Remove master branch and use main as default, also add dev so that
- all PR from issue branches are only merged to dev
- only PR from dev can be merged to main

[2020-08-30 18:50] YipengHu opened #372 "Add free-form deformation model based on B-splines"
## Subject of the feature

Adding free-form deformation model based on B-splines

Rueckert, D., Sonoda, L.I., Hayes, C., Hill, D.L., Leach, M.O. and Hawkes, D.J., 1999. Nonrigid registration using free-form deformations: application to breast MR images. IEEE transactions on medical imaging, 18(8), pp.712-721.

If the feature request is approved, would you be willing to submit a PR? _(Help can be
p

[2020-08-30 19:54] mathpluscode opened #373 "Add API docs"
## Subject of the documentation

We need to add more API docs for the joss submission.

This also involves some modification/update of the documents to adapt the required syntax.

[2020-08-30 20:18] mathpluscode commented on #373
TODO: correct DDF DVF discrete -> dense

[2020-08-31 00:52] #370 closed

[2020-08-31 01:23] mathpluscode commented on #290
any updates ;) @agrimwood  @NMontanaBrown ?

[2020-08-31 08:26] mathpluscode opened #376 "Simplify type check in tests"
## Subject of the issue

In the following tests:
- test_backbone
- test_network_util
- test_paired_loader

We have some type check like following

[code]

We can pass the class directly like following

[code]

This can make code a bit simpler, although sometimes it might not be always the case like following, because `tf.keras.activations.relu` is not a python class (as the first char is "r" of "r

[2020-08-31 09:44] NMontanaBrown commented on #290
We discussed in the meeting moving the function into the test scripts as it's a bit of a recursive issue: we use the functions from DeepReg as part of test utils. The expense is repeating the code in the scripts, for raising the coverage to 100%. But in itself, is a copy-paste job. @mathpluscode @agrimwood

[2020-08-31 10:12] acasamitjana commented on #376
Actually,  `tf.keras.Input` is not a class but a method that instantiates a keras tensor with all its attributes, but it applies in all other cases of layers, models, etc..

I also updated:
 - test_layer.py

[2020-08-31 12:25] #376 closed

[2020-08-31 13:11] #373 closed

[2020-08-31 13:41] #290 closed

[2020-08-31 13:43] mathpluscode opened #379 "Identify all code not covered by unit-test or non-independent"
## Subject of the code / test

We are almost 100% test coverage, need to identify all pieces of code not covered by tests with the help of codecov.
Also, we need to identify the test codes that need to be refactored, namely those tests placed sequentially inside one function and those can be simplified using parameterize.

[2020-08-31 14:34] YipengHu opened #381 "JOSS paper final proofread"
## Subject of the issue

- update edu ch reference
- update yang2020 reference
- final proofread

[2020-08-31 14:36] YipengHu opened #382 "doc on quick start and demo with pypi install"
## Subject of the documentation

Clarify the preferred mechanism for getting demo and  quick start working with pypi

If the documentation request is approved, would you be willing to submit a PR? _(Help
can be provided if you need assistance submitting a PR)_

Yes

[2020-08-31 14:40] mathpluscode opened #383 "Logo on README is not displayed"
## Subject of the issue

If the documentation request is approved, would you be willing to submit a PR? _(Help
can be provided if you need assistance submitting a PR)_

Yes

## Steps to reproduce

https://github.com/DeepRegNet/DeepReg

## Expected behaviour

It should be displayed.

## Actual behaviour

It is not displayed.

[2020-08-31 14:54] mathpluscode commented on #371
![image](https://user-images.githubusercontent.com/4066929/91733961-35ea5380-eba2-11ea-9b9e-4597ac2cf287.png)

[2020-08-31 16:55] #383 closed

[2020-08-31 16:55] #371 closed

[2020-08-31 20:27] mathpluscode opened #386 "move configs outside of deepreg"
## Subject of the issue

Like data for test, the config files (yaml files) should be moved outside of `deepreg/`

[2020-08-31 22:32] mathpluscode opened #389 "Add requirement on version"
## Subject of the documentation

The version should be https://packaging.python.org/guides/distributing-packages-using-setuptools/#choosing-a-versioning-scheme: MAJOR.MINOR.MAINTENANCE

- Before JOSS acception it is 0.1.0b1 b2 etc.
- Once accepted, it will be 0.1.0.
- Then later it will be 0.1.1, 0.1.2, etc.

If the documentation request is approved, would you be willing to submit a PR? _(Help
can

[2020-09-01 08:20] #386 closed

[2020-09-01 09:06] zacbaum opened #391 "Update setup.py for new directory structure to package releases"
## Subject of the issue

Following changes to the location of `deepreg/config`, we need to modify the `setup.py` file to no longer include this directory in the package. This involves removing the `__init__.py` files from within `config` as well.

[2020-09-01 11:37] #391 closed

[2020-09-01 11:38] #382 closed

[2020-09-01 11:39] #331 closed

[2020-09-01 12:16] ebonmati opened #394 "The API shown in readthedocs does not take into account new lines"
## Subject of the documentation

What are you trying to do and which part of the code is hard to understand or incorrect
or missing? Please provide a link to the readthedocs page and code if available.

The documentation shown in readthedocs/API does not take into account the 'enter' character.
As example, in  https://deepreg.readthedocs.io/en/latest/api/loader.html we can find:

Loads paired data

[2020-09-01 12:32] mathpluscode commented on #394
We need two enters to break the line. For me it's more about the missing of period. I didn't break the lines on purpose.

[2020-09-02 08:01] YipengHu opened #397 "Dependency on cloned repo"
## Subject of the feature

Currently the Quick Start is dependent on test data, config and absolute path, while demos are dependent on absolute path. Therefore, the PyPI installed DeepReg needs to manually download test data and config to run Quick Start, and demos need change path manually.
It would be ideal to remove this dependency.

If the feature request is approved, would you be willing to s

[2020-09-02 08:08] YipengHu opened #398 "Output path dependency on logs"
## Subject of the feature

Currently the output path is pre-appended to logs/ without flexibility to save output to "outside" path.
logs/ is still useful for default place to save output, however, when user specify a path, this dependency should be removed.

If the feature request is approved, would you be willing to submit a PR? _(Help can be
provided if you need assistance submitting a PR)_

Yes

[2020-09-02 19:57] mathpluscode opened #399 "Fix paper acc to JOSS reviews"
## Subject of the documentation

- [x] Need a statement of need in the paper
- [x] your paper is far too long. As stated in the docs, it should be 250–1000 words.
- [x] you can see the doi's listed above are missing; please fix this.

https://github.com/openjournals/joss-reviews/issues/2633

[2020-09-02 23:57] mathpluscode opened #402 "Remove integration tests"
## Subject of the issue

We used to use integration tests (the tests under folder output).
Now with all the unit tests we have, it should be safe to remove them. This can save us a lot of time.

What do you think @NMontanaBrown @YipengHu

[2020-09-03 00:06] YipengHu commented on #402
fine with me, getting demos connected to the code is a priority to me.

[2020-09-03 12:18] zacbaum opened #404 "Quick Start link to "install DeepReg" is broken"
## Subject of the documentation

Currently, from the [quick start page](https://deepreg.readthedocs.io/en/latest/getting_started/quick_start.html), clicking on the install DeepReg link directs to a 404 page.

If the documentation request is approved, would you be willing to submit a PR? _(Help
can be provided if you need assistance submitting a PR)_

Yes

[2020-09-03 13:09] NMontanaBrown opened #405 "Docs: Proofreading edited JOSS paper"
## Subject of the issue

Paper was too long, so @mathpluscode and @YipengHu edited it to an appropriate length. Content may have changed so we recommend a review before merge into main.

@mathpluscode @YipengHu can you point to the commit and make a PR with all authors once the new document is ready? Thanks 😄

[2020-09-03 13:11] NMontanaBrown opened #406 "Docs: Branch Merging Guidelines"
## Subject of the issue

During the dev meeting 03/09/20 we discussed that we should have vague guidelines for merging from dev -> main or directly into main.  Alternatively, that we should change the PR template such that we discuss why we are requesting a merge into main instead of dev.

We need to reach a consensus, so discuss here

[2020-09-03 13:14] NMontanaBrown opened #407 "Docs + contrib: commit guidelines + auto change-log"
## Subject of the issue

During dev meeting it was raised that changelog can be generated from commits, but this may require stricter commit guidelines or some git hook. However, this complicates contribution and may not be the best way forward to encourage external involvement to the repo. Manual change-logging is not the way forward either..? Discuss.

[2020-09-03 13:16] NMontanaBrown commented on #406
@mathpluscode @ebonmati @MattClarkson @YipengHu @RemiDelaunay @YipengHu @QianyeYang @acasamitjana @agrimwood @zacbaum @ZheMin-1992 @s-sd

[2020-09-03 13:16] NMontanaBrown commented on #405
@mathpluscode @ebonmati @MattClarkson @YipengHu @RemiDelaunay @YipengHu @QianyeYang @acasamitjana @agrimwood @zacbaum @ZheMin-1992 @s-sd

[2020-09-03 13:19] NMontanaBrown opened #408 "Add auto pypi release and update releasing guidelines"
## Subject of the issue

We need to clarify release guidelines. When to release? Conventions? Write in a guide for posterity? Discuss.

[2020-09-03 13:19] NMontanaBrown commented on #408
@mathpluscode @ebonmati @MattClarkson @YipengHu @RemiDelaunay @YipengHu @QianyeYang @acasamitjana @agrimwood @zacbaum @ZheMin-1992 @s-sd

[2020-09-03 13:19] zacbaum commented on #407
Changelogs may also be generated from issues or PRs (closed since last release) - though this would require stricter (read: more meaningful) issue names and PR names.

[2020-09-03 13:24] zacbaum commented on #408
When: Perhaps once per month (or longer)

Naming conventions: Per semver (Major.Minor.Batch - Major is non-backward compatible changes, minor is large changes that add new functionality, batch is fixes or small updates)

I would be in favor of manually triggered GitHub action which:
* Creates a tag
* Builds release package
* Pulls changelog (from somewhere, see #407)
* Adds release to GitHub & PyP

[2020-09-03 14:09] ebonmati commented on #408
minor: I think is Major.Minor.Patch instead of Major.Minor.Batch

Also, once per month at which level? batch?

[2020-09-03 14:11] zacbaum commented on #408
Good catch!

I think this would depend on the amount of work done since the last release.

[2020-09-04 10:39] YipengHu commented on #405
This is already in Main due to requirement from the reivew: https://github.com/DeepRegNet/DeepReg/blob/main/docs/joss_paper/paper.md

Please leave comments here for now?

[2020-09-04 21:15] YipengHu commented on #404
@zacbaum can you do a hotfix for this please?

[2020-09-04 21:17] zacbaum commented on #404
Will fix tomorrow and PR to main 👍

[2020-09-06 11:52] #404 closed

[2020-09-06 17:36] mathpluscode commented on #408
Vote for github action!

[2020-09-06 19:11] mathpluscode commented on #407
:( I've spent a few hours trying to automate the commit message change. This seems to be hard. (It's doable, tho I didn't find a working script. Shocked.)

If we can not apply the linting to the commit message automatically, it's hard to ask people to stick to a complicated rule.

[2020-09-06 20:47] YipengHu commented on #407
how often do we need a changelog, every minor version? this is related to #408

[2020-09-07 08:28] mathpluscode commented on #407
@YipengHu I think ideally each PR to dev should resume its changes.
So that it would be easier for preparing logs to main.

Another option is that we can still require the commit message to follow a certain style, but only when we do PR.

[2020-09-07 09:50] NMontanaBrown commented on #407
@YipengHu @mathpluscode
I wouldn't expect people to install more packages to control commits on top of the one we already use. I think pulling changelogs from PR may be lots easier - if less automated - but will require a bit more scrutiny when reviewing the PR such that it follows a format given format. However, it may be the most contrib friendly, so would vote for this.

[2020-09-07 09:51] NMontanaBrown commented on #408
+ 1 GitHub action

[2020-09-08 13:47] YipengHu opened #413 "Test on a cluster with a job scheduler"
## Subject of the documentation

Test deepreg, quick start and demo on cs/cmic cluster and write a brief report with a working example.

If the documentation request is approved, would you be willing to submit a PR? _(Help
can be provided if you need assistance submitting a PR)_

Yes / No

[2020-09-08 20:02] NMontanaBrown commented on #402
Should we do this after automation of demo tests? @YipengHu @mathpluscode

[2020-09-08 21:35] mathpluscode commented on #402
Yes! Sure, I will start dealing with the demos this week!

[2020-09-08 21:36] #381 closed

[2020-09-08 21:37] mathpluscode commented on #389
Duplicated to #408

[2020-09-08 21:37] #389 closed

[2020-09-08 21:38] mathpluscode commented on #344
@YipengHu You mentioned earlier that you would like to bring some changes, could you detail them a bit?
As the tests for demos will probably need some small refactoring and we might be able to deal with some issues.

[2020-09-08 21:50] YipengHu commented on #344
The main thing i was thinking about is #397. I think the others are minor, such as, again, consistent formatting and narratives. re #397, i think the solution might be to ask user first cd to a "working directory", then we have additional script download the demo folder content. This is also related to #398 if we need a neat re-factoring.

[2020-09-08 22:49] mathpluscode commented on #344
ok, in this case, I will do the demo tests first

[2020-09-11 12:51] mfazampour opened #414 "Testing on real MR-US pairs"
## TRUS-MR deformable registration with real images

I want to test the weakly supervised registration code on real MR-US pairs of prostate. I can see that the trained network is working for the blurred images you made publicly available but is there a chance to have access to original model?
I tried to resample and align my images according to the sample images, but the registration result is not

[2020-09-11 22:19] YipengHu commented on #414
Hi @mfazampour , thanks for raising this issue. Unfortunately, we are not in a position to share the original clinical data - that is why we used those "fake" images for the demo. As a consequence, sharing trained model with original data may be risking its credibility of the model. I'm sure you appreciate that, in these interventional/surgical applications, data (especially TRUS) variability is n

[2020-09-12 17:30] mathpluscode opened #416 "Update unit-test guidelines to require independent testing"
## Subject of the documentation

Now we have some tests where we test different cases sequentially inside one single function.
This is not ideal as sometimes previous tests might have an unexpected impact on the following tests.

Imagine we test a function named `func` we can build tests as follows:

[code]

so that case1 and case2 are isolated.

In case we are just changing the values of the argu

[2020-09-12 17:32] mathpluscode commented on #416
@NMontanaBrown what do you think? It'd be nice if it's not me who update the unit-test docs as the existing one are written by me ;)

[2020-09-13 13:47] NMontanaBrown commented on #416
@mathpluscode I can work on DeepReg tickets after 28th Sept, MRes dissertation submission. Happy to work on it after then!

[2020-09-14 07:39] mfazampour commented on #414
Hi @YipengHu. Thank you for the response. I will close this issue and get in contact with you through email to see how we can collaborate.

[2020-09-14 07:39] #414 closed

[2020-09-14 16:00] NMontanaBrown opened #417 "MICCAI 2020: Finalist Video + Reviewers Comments"
## Subject of the issue

We made the finals. We need some cool animations for the video that will be showcased at MICCAI. Anyone have pre-made animations or willing to give a hand in generating them from demos?

@YipengHu @mathpluscode @zacbaum @acasamitjana @s-sd @ebonmati ?

[2020-09-17 06:35] YipengHu commented on #417
Is it easier to share your latex for people to edit on or leaving comments here?

[2020-09-17 08:15] NMontanaBrown commented on #417
What do you mean latex - for the video, or for the challenge? The comments were addressing the jupyter notebook (I assume, since that's what was submitted), so we'd have to format that entry, not the arxiv submission? Although I can also share the arxiv submission if necessary (we all know how chaotic editing the jupyter notebook was last time...).

[2020-09-17 10:43] NMontanaBrown commented on #417
This is what I've made so far.
[MICCAI_EDUCH_2020_311184817_720x720_F30.mp4.zip](https://github.com/DeepRegNet/DeepReg/files/5238436/MICCAI_EDUCH_2020_311184817_720x720_F30.mp4.zip)

[2020-09-17 11:20] YipengHu commented on #417
true - comments then 👍

[2020-09-17 11:54] NMontanaBrown commented on #417
Comments, for completeness:

REVIEWER 1
____________________

OVERALL SCORE
Weak Accept

PLEASE RATE THE ACCURACY OF CONTENT
4

PLEASE RATE THE COMPREHENSIVENESS OF CONTENT
5

PLEASE RATE THE APPROPRIATE LEVEL (ACCESSIBLE TO NEW MASTERS AND PHD STUDENTS?)
4

PLEASE RATE THE RELEVANCE TO THE MICCAI COMMUNITY
4

PLEASE RATE THE CLARITY OF CONTENT
3

PLEASE RATE THE IMPACT FOR THE STUDENT COMMUNITY
4

[2020-09-17 16:16] mathpluscode opened #418 "Update pre-commit hook"
## Subject of the issue

Run `pre-commit autoupdate` to update hook verions.

https://pre-commit.com/#updating-hooks-automatically

[2020-09-18 21:55] YipengHu commented on #417
- i think we can address the Reviewer 3's comments by editing the third point in the section "Why use Deep Learning for Medical Image Registration", to something like:
"Deep learning models can be more computationally intensive to train than classical methods, and require a sizable training data set"
 (there isn't any inference with classical methods)

The comments from the other two are not trivi

[2020-09-20 17:57] #398 closed

[2020-09-20 18:01] mathpluscode commented on #367
Close as it's included in #407

[2020-09-20 18:01] #367 closed

[2020-09-20 18:03] mathpluscode commented on #407
In the end, I didn't find a simple solution to solve this problem. Therefore following the existing rules seems to be enough. I suggest closing this issue.

[2020-09-20 18:27] mathpluscode commented on #344
Btw, after checking some demo scripts, we have the following functionalities in demo scripts.

### Data

For the data script, the functionalities are:

- Download and preprocess the full dataset.
- Download a small preprocessed dataset.
- Download a pre-trained model.

The problem here is in some demo part of the code is commented out.

I'd prefer to uniform the script a bit, at least defining thr

[2020-09-20 18:44] mathpluscode commented on #301
According to https://stackoverflow.com/questions/53376099/python-dataclass-from-a-nested-dict, the following code works

[code]

So we can declare the structure of configuration as `dataclass` which enables a check on config files.

We can also change the arguments of functions to make the code cleaner. Even though tf functions tend to have LOTS OF arguments as an input instead of a class.

[2020-09-20 18:51] mathpluscode opened #420 "Provide docker file for using deepreg"
## Subject of the feature

It is quite common to use a docker file to launch experiments. Providing a docker file can therefore be beneficial.

Moreover, if we want to profile the GPU usage, data input pipeline using [TensorFlow profiler](https://www.tensorflow.org/guide/profiler), there are some permission issues and last time I encountered this, docker was the only method making it work.

If the

[2020-09-20 18:54] mathpluscode commented on #119
Close this issue as we have this conflict section now https://deepreg.readthedocs.io/en/latest/contributing/setup.html#linting-conflicts

[2020-09-20 18:54] #119 closed

[2020-09-20 18:56] mathpluscode commented on #178
@YipengHu I suggest to close this issue and create new issues for each specific CLI tools if we want.

[2020-09-20 19:00] mathpluscode commented on #405
Please check https://github.com/DeepRegNet/DeepReg/blob/main/docs/joss_paper/paper.md or this PDF
[DeepReg.pdf](https://github.com/DeepRegNet/DeepReg/files/5252399/o4qivbb1mht2as5xxuxw.pdf) for at least

- Name
- Institution
- orcid (using https://raw.githubusercontent.com/DeepRegNet/DeepReg/main/docs/joss_paper/paper.md)
- Acknowledgement

If there's no problem, maybe we can close this issue.

@m

[2020-09-20 19:06] YipengHu commented on #301
Please update Eugenio's affiliation:
CMIC, UCL
Martinos Center for Biomedical Imaging, Massachusetts General Hospital and Harvard Medical School
Computer Science and AI Lab (CSAIL), Massachusetts Institute of Technology

[2020-09-20 19:06] #178 closed

[2020-09-20 19:13] YipengHu commented on #405
CMIC, Medical Physics, UCL
Martinos Center for Biomedical Imaging, Massachusetts General Hospital and Harvard Medical School
Computer Science and AI Lab (CSAIL), Massachusetts Institute of Technology

[2020-09-20 23:37] YipengHu commented on #406
@NMontanaBrown @mathpluscode either of you can provide one or two examples of practice from other repos to discuss on thursday?

[2020-09-21 08:29] NMontanaBrown commented on #405
Ok with me.

[2020-09-21 16:36] acasamitjana commented on #405
Fine with me, just update Eugenio's affiliation with Yipeng's comment

[2020-09-21 16:55] RemiDelaunay commented on #405
It looks good for me too

[2020-09-24 07:53] acasamitjana commented on #361
I have now tried different hyperparameters and trained longer and the performance has improved. I am sharing a video example: https://liveuclac-my.sharepoint.com/:v:/g/personal/rmapcas_ucl_ac_uk/EaHqDbzAOAxKrPcsXAxnhkoBhuoGTs2NmYgAJ6K77XkLDQ?e=UgIuBc

[2020-09-24 07:57] YipengHu commented on #361
Nice - need a gallery for these

[2020-09-24 10:55] mathpluscode commented on #361
How you made this video? I feel like we can add this feature;)

[2020-09-24 11:53] NMontanaBrown commented on #361
Honestly considering predict outputs all the images I don't see what's stopping us from writing a small script to make videos/gifs to visualise as a util for the package - simple file io...? I used some online gif generator but programatically easy?

Also @YipengHu I can send the video/gif for lung ct I made for the MEC and we can put it somewhere too?

[2020-09-24 12:37] zacbaum commented on #408
#343 Closed as a duplicate of this - see there for more discussion/ideas for going about this (in an automated fashion) as well.

[2020-09-24 12:37] zacbaum commented on #343
Now a duplicate of #408.

[2020-09-24 12:37] #343 closed

[2020-09-24 12:43] NMontanaBrown opened #423 "review API reference docs, format for style"
## Subject of the documentation

API reference docs don't have a consistent style, and some arguments are poorly described, or missing. We need a couple of people to review the API docs, reformat for style and make sure everything is clear as we approach release.

If the documentation request is approved, would you be willing to submit a PR? _(Help
can be provided if you need assistance submitting

[2020-09-24 12:56] mathpluscode commented on #302
Btw, we should activate the profiling to understand what's going on in our runs.
And for the profiling, with a large chance we need the docker file as mentioned in #420.

[2020-09-24 13:01] acasamitjana commented on #166
If you think it is necessary, I can try to build a small script to generate videos from the output dir in demo_predict.py (already done so, just need to do it generally)

[2020-09-24 13:02] mathpluscode commented on #166
maybe make it applicable to any output using`predict`? But `demo_predict.py` is probably the same thing.

[2020-09-24 13:07] mathpluscode commented on #423
The argument type for each input/output is also missing.

Emm, btw do we want to stay with the current format?
Google docstring feels to be more popular: https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html.

Using https://github.com/dadadel/pyment/, we can easily change all docstring automatically.

[2020-09-24 14:23] NMontanaBrown opened #424 "Dev Meeting: New dev avenues"
## Subject of the issue

At the dev meeting we discussed that, post house-keeping, we should discuss new avenues for development of the codebase + registration functionalities, features beyond minor patches.

We suggested people read/investigate/have a think of papers to implement or new algorithms that could be of interest, or features that would significantly add to the repo.

Please add suggest

[2020-09-24 14:25] NMontanaBrown commented on #424
@YipengHu @RemiDelaunay @ZheMin-1992 @zacbaum @mathpluscode @acasamitjana @agrimwood @s-sd @ebonmati @MattClarkson @QianyeYang