[2021-03-22 00:22] mathpluscode commented on #690
changing deform loss to https://github.com/voxelmorph/voxelmorph/blob/legacy/src/losses.py#L88 does not solve the problem

![image](https://user-images.githubusercontent.com/4066929/111926399-98566300-8aa4-11eb-8aa7-3687b75fe056.png)

Need to double check the resampler and related functions

[2021-03-22 00:28] mathpluscode commented on #708
Also, we can save regularly the warped images or ddf

[2021-03-22 00:47] #705 closed

[2021-03-22 00:53] mathpluscode commented on #428
https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/callback.py#L47

Actually, we no longer use the tf checkpoint callback directly, thus this issue is no longer valid.

[2021-03-22 00:53] #428 closed

[2021-03-22 00:54] mathpluscode commented on #619
Currently, the more important thing may be double check the implementation against VM and MONAI.

[2021-03-22 00:54] mathpluscode commented on #633
Closing this issue as it is not detailed enough.

[2021-03-22 00:54] #633 closed

[2021-03-22 01:08] mathpluscode opened #709 "Add support for W&B"
## Subject of the feature

It can be very helpful to allow users to upload their training results to W&B https://wandb.ai/site in addition to tensorboard.

This feature should be activated using either config / env variable.

[2021-03-22 01:08] mathpluscode opened #710 "Add support for neptune"
## Subject of the feature

It can be very helpful to allow users to upload their training results to neptune https://neptune.ai/ in addition to tensorboard.

This feature should be activated using either config / env variable.

[2021-03-22 22:23] mathpluscode commented on #690
changed `zero_boundary` in `resample`, default to `False`, still got nan/inf

![image](https://user-images.githubusercontent.com/4066929/112065763-268e2000-8b5d-11eb-9431-f5ed7fe9bc52.png)

maybed linked to leaky relu

[2021-03-23 00:39] mathpluscode commented on #690
change from leaky relu to relu does not solve the problem neither

![image](https://user-images.githubusercontent.com/4066929/112075343-395e2000-8b70-11eb-9bbe-3e03700fd10b.png)

[2021-03-23 00:59] mathpluscode commented on #690
ok just found out that I added activation at the final layer before outputting DDF. :( it might be the cause, as leaky relu or relu both push DDF towards positive values

[2021-03-23 07:55] mathpluscode commented on #690
by fixing activation, we still got nan/inf

![image](https://user-images.githubusercontent.com/4066929/112112163-16059600-8bad-11eb-8645-f3dfccdb526c.png)

[2021-03-23 09:36] mianasbat commented on #608
Taking liberty to comment, hope you guys do not mind it.
I am working on Docker to create CPU and GPU examples [here](https://scikit-surgerydocker.readthedocs.io/en/latest/). I noticed that there is no problem to specify nvidia docker for CPU program and therefore I am using it for both examples. It works fine even if GPU is not present on docker host.
The minor drawback is that nvidia docker is m

[2021-03-23 21:54] mathpluscode commented on #690
change to SSD loss for image, then the nan/inf is gone.

![image](https://user-images.githubusercontent.com/4066929/112223860-5bb07600-8c22-11eb-92ee-7e21a0efa366.png)

So the problem must come from the LNCC loss

[2021-03-23 23:19] mathpluscode commented on #690
change LNCC implementation to VM one does not solve the problem.

[2021-03-24 00:43] mathpluscode commented on #690
[code]

[2021-03-24 01:32] mathpluscode opened #715 "Define loss via compile"
## Subject of the issue

https://github.com/voxelmorph/voxelmorph/blob/5d4879b711c663eb30dd90141342041eec9eea23/src/datagenerators.py#L13

We may want to add loss like this, it's cleaner. For DDF, we can simply pass zeros as targets.

Current implementation generates ugly compute graph.

[2021-03-24 02:04] YipengHu commented on #690
so which line is it?

[2021-03-25 02:11] mathpluscode commented on #690
Confirm the problem comes from our LNCC implementation

![image](https://user-images.githubusercontent.com/4066929/112408253-63017d80-8d0f-11eb-95cf-38155053ef2b.png)

should double check with niftireg

https://github.com/KCL-BMEIS/niftyreg/blob/master/reg-lib/cpu/_reg_lncc.cpp

[2021-03-25 02:13] mathpluscode opened #716 "Benchmark key components against other tools"
## Subject of the code / test

We have many functions that are key components of DeepReg, we should double-check the implementation / benchmark against other sources

components can be
- loss functions
- functions for resampleing

benchmarks can be
- monai
- voxel morph
- nifti reg

[2021-03-26 01:36] mathpluscode commented on #690
Also we found that VM used an EPS = 1e-5, while we were using 1e-7, maybe this is the cause :(
otherwise can not print the values that caused inf for the moment

[2021-03-26 22:57] #708 closed

[2021-03-27 00:02] mathpluscode commented on #162
Reopen as we just updated the docs, but not really handling the issue.

[2021-03-27 12:00] YipengHu commented on #162
I think uprating the doc is sufficient. Changing code to accept missing data has a higher risk. ( I think I commented this in the previous commit).....

[2021-03-27 13:37] YipengHu commented on #703
efficient-net is another option.

[2021-03-27 13:38] YipengHu commented on #678
efficient-net is another option.

[2021-03-27 14:13] mathpluscode opened #720 "Add option to limit number of CPUs for data preprocessing"
## Subject of the feature

Currently, we are using AUTOTUNE in data preprocessing, e.g. https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/dataset/loader/interface.py#L113

However, it may take too many CPUs and thus also memories and this is not ideal on clusters.
Therefore we need to be able to configure this `num_parallel_calls`.

The fix can be,

- when loading config, we will set `num_pa

[2021-03-27 14:25] mathpluscode opened #721 "upgrade to tf2.4"
## Subject of the feature

tf2.4 has been out for a while, and we may want to upgrade to it. But there might be some problems

- https://github.com/tensorflow/tensorflow/issues/42146
- numpy version need to be updated

FYI @YipengHu @zacbaum if you have any other concerns ^^

[2021-03-27 14:32] mathpluscode commented on #162
Accept missing data makes the code a bit more robust, and we can always prints warning/errors?

[2021-03-27 14:40] mathpluscode opened #722 "Use separable kernels for ResizeCPTransform"
## Subject of the feature

Currently, in `ResizeCPTransform` we are using 3D Gaussain kernel https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/model/layer.py#L435

I think the 1D separable kernel is equivalent to this and it's more efficient? As in LNCC https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/loss/image.py#L182

So I suggest to uniform this bit, what do you think @acasamitjan

[2021-03-27 14:44] mathpluscode opened #723 "Uniform 1d kernels"
## Subject of the feature

Once we merged #719, we will have two nearly identical gaussian kernels

[code]

Therefore it's better to merge them, so that kernel accepts uniformly the size as an argument.

The Cauchy kernel needs to be updated to

[2021-03-27 15:08] YipengHu commented on #721
nothing from me - go for it. it might solve some ram problems for @agrimwood

[2021-03-27 15:09] mathpluscode commented on #720
OK, i just tried and it seems that the source is not data-preprocessing, it's `fit()`.

cc https://github.com/tensorflow/tensorflow/issues/29968

[2021-03-27 15:10] YipengHu commented on #162
I was going to add this, but when thinking about it, it only makes the code more prone to misuse - until we have a robust framework to define what can be missing what is safe. i consider the likelihood to have some problem in your data (unintentionally missing) is much larger than user being annoyed because they need to add a few all-zero labels to represent the missing data.

[2021-03-27 15:40] zacbaum commented on #720
If we're upgrading to TF2.4 (#721), why not just hold off on this so that we can fully utilize [OptimizationOptions](https://www.tensorflow.org/api_docs/python/tf/data/experimental/OptimizationOptions) which allows a limit to be placed on CPU and RAM usage?

I don't see using many threads as an issue - in fact, it often speeds things up a lot. We just need to have some way of limiting things from

[2021-03-27 16:01] mathpluscode commented on #720
This issue is just providing the possibility to limit cpus, as it is not really nice to allocate all CPUs in a cluster.
So this is "back-compatible" without changing any existing behavior.

Regarding the memory, I hope limiting CPUs will limit the memories as if you process one image/cpu, more cpus = more images in the memory. But yes, it'd be nice to wait until you try it.

Regarding TF2.4, i won

[2021-03-27 16:20] mathpluscode commented on #720
`num_cpus=1` and `num_parallel_calls=1`

![image](https://user-images.githubusercontent.com/4066929/112726818-3b7d0180-8f17-11eb-84db-18f1790ba217.png)

`num_cpus=-1` and `num_parallel_calls=1`

![image](https://user-images.githubusercontent.com/4066929/112726923-bcd49400-8f17-11eb-8572-2e755841d9f2.png)

`num_cpus=-1` and `num_parallel_calls=-1`

![image](https://user-images.githubusercontent.com

[2021-03-27 16:25] mathpluscode commented on #720
regarding the concern of @zacbaum the optimization options exist in 2.3

https://www.tensorflow.org/versions/r2.3/api_docs/python/tf/data/experimental/OptimizationOptions

[2021-03-27 17:30] mathpluscode commented on #690
Actually, as our implementation was originally from VM, and I just found that multiple users have found issues with NCC there

- https://github.com/voxelmorph/voxelmorph/issues/178
- https://github.com/voxelmorph/voxelmorph/issues/227 (here, the `calc_cross_my` is the closest to our fix)

[2021-03-27 19:57] mathpluscode opened #725 "Refactor GMI"
## Subject of the feature

We are not 100% certain regarding the current GMI implementation, and we need to refactor a bit and do more testing.

[2021-03-28 10:48] mathpluscode commented on #725
Actually, the images have all been renormalized during data preprocessing. Will modify the issue description.

[2021-03-29 10:15] zacbaum commented on #720
I would be in favour of adding in optimization options as I mentioned earlier to budget CPUs from user input (if it has the same effect as what you've tried so far does), and then do the same for RAM when we move to 2.4. This will just keep things simpler at the end of the day.

[2021-03-30 15:41] NMontanaBrown commented on #721
I might  suggest against this: I've had struggles getting cuda and cudnn installed properly. Easier to use conda to install tensorflow, but I think on linux it's only supported to 2.3 at the moment? @mathpluscode @YipengHu @zacbaum

[2021-03-31 10:35] YipengHu commented on #551
i'm closing this in favour of https://github.com/DeepRegNet/DeepReg/discussions/731

[2021-03-31 10:35] #551 closed

[2021-03-31 10:55] #459 closed

[2021-03-31 22:29] #514 closed

[2021-03-31 23:46] mathpluscode commented on #690
reopen this issue as the previous fix was buggy

[2021-04-01 12:07] NMontanaBrown commented on #709
I could do this, I have experience with WandB?

[2021-04-01 12:59] s-sd commented on #476
@mathpluscode @YipengHu I would be quite interested in working on this. Is it okay if I assign myself for this issue?

[2021-04-01 13:01] YipengHu commented on #476
Thanks! Can we have a quick discussion on this? I'm aware @mathpluscode and I might have some diverging opinions on this? ;)

[2021-04-01 13:06] YipengHu commented on #476
@s-sd do you have a reference for the work you mentioned?

[2021-04-01 13:18] acasamitjana commented on #703
If no one else is interested, I will do this one after the Easter break

[2021-04-01 13:30] YipengHu commented on #703
@acasamitjana thanks! I am asking a student looking at this as well, can i get back to you around easter to see if he is still going to pick this up?

[2021-04-01 13:31] acasamitjana commented on #703
yes, sure, let me know!

[2021-04-01 13:33] s-sd commented on #476
@YipengHu yes, we can have a discussion. Do you mean a reference for the MICCAI works exploring hyper-parameter tuning?

[2021-04-01 22:54] mathpluscode opened #734 "Fix Dice Score"
## Subject of the issue

@YipengHu obeserved dice score > 1, which is clearly a bug.

It might be caused by https://github.com/DeepRegNet/DeepReg/commit/3a457eef313f4bee61d16e899d15a87e6c831e91.
where we somehow changed reduce_sum to mean, but as we are adding EPS to the numerator/denominator, the reduce mean may lead to values << 1 and therefore the result is no longer accurate.

[2021-04-02 10:43] YipengHu commented on #734
changing to sum still has dice score greater than 1 (see below the BinaryDiceScore on val)
![2021-04-02 (2)](https://user-images.githubusercontent.com/2588157/113409147-9778d780-93a8-11eb-8620-28cbbc4d97d8.png)

[2021-04-02 22:42] mathpluscode opened #735 "Use registry for metrics"
## Subject of the issue

Sometimes for debugging or other purposes, we may want to track more metrics.
This should be handled easily via config, like losses.

[2021-04-03 00:05] #690 closed

[2021-04-03 12:55] YipengHu commented on #678
Have a look at this @SicongluUCL - please assign yourself when start.

[2021-04-04 01:55] mathpluscode commented on #723
Now we no longer normalize the kernel, but it's still worth uniforming the kernels.

[2021-04-04 02:23] mathpluscode opened #737 "Define loss using LossFunctionWrapper"
## Subject of the issue

The implementations of loss and metric are different, i.e.

MSE loss https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/python/keras/losses.py#L267-L322
MSE metric https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/python/keras/metrics.py#L2378-L2410
They are different classes calling the same functions.

So we should refactor existing losses so t

[2021-04-04 23:29] #40 closed

[2021-04-04 23:29] #552 closed

[2021-04-04 23:29] #620 closed

[2021-04-05 21:37] mathpluscode commented on #737
Refactoring all loss functions is a lot of work. As for now we only consider dice score as a metric. I will close this issue and open a new one dedicate for dice and SSD.

[2021-04-05 21:37] #737 closed

[2021-04-05 21:38] mathpluscode commented on #737
Actually, i will do it in https://github.com/DeepRegNet/DeepReg/issues/735.

[2021-04-05 21:38] #734 closed

[2021-04-05 23:31] mathpluscode opened #739 "Refactor losses"
## Subject of the issue

The existing loss classes all hardcoded reduction, the corresponding doc has been repeated multiple times.
Also, the multi-scaling class can be a mixin class.

[2021-04-06 09:49] NMontanaBrown commented on #709
TODOs:
- [ ] Add config option where if Wandb key exists, it will be parsed into the train script.
- [ ] If the config is incorrect, chuck warning, train as normal
- [ ] If config Wandb exists and is correct, initialise callback
- Docs
    - [ ] Example on how to add Wandb config to current configs. Link to Wandb docs.
    - [ ] Changelog

[2021-04-06 15:39] NMontanaBrown commented on #709
Not sure how we are going to test that WandB is logging a run though. @mathpluscode @YipengHu any ideas?

[2021-04-07 08:51] NMontanaBrown commented on #610
I don't think it's a good use of my time to pylint all the codebase @YipengHu . Rather, I would suggest an auto pylint hook, or ask that people pylint as they go. And then towards the end if we have to, do a quick pylint run with many people.

[2021-04-08 19:51] #629 closed

[2021-04-10 03:24] #655 closed

[2021-04-10 16:08] mathpluscode opened #744 "Support iterative registration"
## Subject of the feature

What are you trying to do and how would you want to do it differently?

Given a pair of moving/fixed images, we want to perform multiple times of registration to enable larger displacements.
In other words, once registered, we can register the warped image to the fixed image again.

This is a common setting in inference. @YipengHu what do you think?

[2021-04-10 16:33] YipengHu commented on #744
I would not consider this is common and the benefit isn't clear or convincing to me. What's stopping user to do this with existing code by running twice?

[2021-04-10 17:32] mathpluscode commented on #744
Well, you still need to reorganize the input/output files.

The change should be minimal as you only need to call the following again by redefining the inputs

[code]

[2021-04-10 18:05] mathpluscode commented on #709
We will need to mock these functionalities.

[2021-04-10 18:09] NMontanaBrown commented on #709
How? Any links? Not even sure we can mock this.

[2021-04-10 19:30] mathpluscode commented on #709
Here's an example mocking gcloud functions https://stackoverflow.com/questions/62803901/python-unittest-mock-google-storage-how-to-achieve-exceptions-notfound-as-side

The main idea is just to pretend that we've called the wandb functions. The package would be https://docs.python.org/3/library/unittest.mock.html. This is the common choice instead of using `pytest`.

[2021-04-10 20:51] mathpluscode commented on #631
Closing this, as it is not important thx to back-compatibility.

[2021-04-10 20:51] #631 closed

[2021-04-10 20:57] mathpluscode opened #745 "Define verbosity level"
## Subject of the feature

In order to better control the prints and output, we will add `verbose` flag, which will be applied to logging and TensorFlow.

The values will be the same as https://docs.python.org/3/library/logging.html#levels.

[2021-04-10 20:58] mathpluscode commented on #614
Closing this issue in favor of https://github.com/DeepRegNet/DeepReg/issues/745

[2021-04-10 20:58] #614 closed

[2021-04-11 03:36] #637 closed

[2021-04-11 03:36] #622 closed

[2021-04-11 03:36] #652 closed

[2021-04-11 14:03] mathpluscode commented on #652
This is actually being handled in https://github.com/DeepRegNet/DeepReg/pull/746

[2021-04-11 14:04] mathpluscode commented on #637
This is actually being handled in https://github.com/DeepRegNet/DeepReg/pull/746

[2021-04-11 15:29] #739 closed

[2021-04-11 23:29] mathpluscode commented on #655
For now h5 and Nifti formats should be enough, we can reopen in the future if necessary.

[2021-04-11 23:39] mathpluscode commented on #476
@s-sd 😁any updates? Some papers we can check?

[2021-04-12 05:50] s-sd commented on #476
@mathpluscode @YipengHu I am listing some titles for papers from MICCAI 2020. I think the best way to access them all in on place would be on the MICCAI 2020 pathable portal. If you can't access the portal, let me know and I'll try to find alternative springer or arxiv links for these.
- Auto-weighting for Breast Cancer Classification in Multimodal Ultrasound
- AutoSNAP: Automatically Learning Neu

[2021-04-12 09:35] acasamitjana commented on #722
Hey, I'm looking at that. Just one comment: I'm using functions from loss.kernel.py file. Should we move this outside of the loss directory?

[2021-04-12 10:56] mathpluscode commented on #722
@acasamitjana entirely up to you! 😃I'm fine with both.

[2021-04-12 10:58] acasamitjana commented on #722
Ok, let's leave as is, then.

[2021-04-12 11:00] YipengHu commented on #536
@acasamitjana As a student is interested in looking at #703, are you interested in looking at this ticket instead?

[2021-04-12 11:06] acasamitjana commented on #536
Okey. In your previous comment, are you suggesting to update the paired_ct_lung demo or to create a new one using the same dataset?

[2021-04-12 11:08] YipengHu commented on #536
either is fine, maybe start with changing the paired ct? if we identify anything better, we can always update

[2021-04-12 20:17] #745 closed

[2021-04-12 22:41] mathpluscode commented on #664
I will limit this issue as config change, then decouple the train/predict in a separate issue, so that we do not modify 100 files at a time.

[2021-04-15 12:14] zacbaum commented on #473
Update (as per @YipengHu's request):

Development on this has paused due to large changes which have been occurring in the codebase since inception of this.

Moving this into rc2 as once we are post rc1 there should not be any major changes - will be uploaded initially as its own repo, at which point this ticket will be closed and then new tickets for bugs, features, etc. should be handled there (

[2021-04-15 12:35] NMontanaBrown commented on #709
Maybe cose #476 because this is available in WB.

[2021-04-15 12:57] NMontanaBrown commented on #710
What is the point of supporting both neptune and w&B when they both sort of do the same thing? @YipengHu  @mathpluscode

[2021-04-15 13:03] Zhiyuan-w commented on #703
How to assign this ticket?

[2021-04-15 13:08] YipengHu commented on #703
there is an icon on the top-right - i've done it.

[2021-04-15 13:17] YipengHu commented on #709
@mathpluscode ?

[2021-04-15 18:44] mathpluscode commented on #709
@NMontanaBrown What WB has are basic methods like grid search or random search or Bayesian. Ofc it's a good starting point, but I think we do not have to close that issue, as:

1. adding W&B for logging and adding W&B for hyper parameters can be two different things. Specially hyper parameter tuning requires changes of configs I believe.

2. we may want to look at some more advanced tuning techniq

[2021-04-15 18:45] mathpluscode commented on #710
It's like why not all using PyTorch? I think it's more user friendly if user has a choice specially some may have subscriptions. But we can do define this ticket as low priority. @NMontanaBrown

[2021-04-16 12:13] AmericaBG opened #753 "Train with nifti"
Hi!
First of all, thank you very much for sharing your code. it's a great job, congratulations!

I would like to train my own model with MR Images in .nii format. The shape is 256x256xN slices.
Is it posible with your code? Could you give me some advice about how I can do it or/and what I need to modify?

Thank you very much in advance!

[2021-04-16 13:08] NMontanaBrown commented on #709
Ok, in any case @YipengHu and I talked about closing this ticket soon because WandB should provide tests for their successful running, not sure worth mocking.

[2021-04-16 13:09] NMontanaBrown commented on #710
@mathpluscode more curious as to who could pick it up? Because I personally have not used neptune so...?

[2021-04-16 15:57] YipengHu commented on #753
Is it a case that you have variable number of slices in z direction? yes, most current algorithms requires the same input size, you can either a) pre-process your images by re-sampling/cropping - i guess this would be application-specific; or b) configure a fixed `image_shape` so it uses a built-in re-sampling function to pre-re-sample all iamges to the same shape (https://deepreg.readthedocs.io/e

[2021-04-16 22:17] #720 closed

[2021-04-17 01:34] mathpluscode opened #754 "Fix num_samples for paired data loader"
## Subject of the issue

For the data loader, we used `num_samples // batch_size` to define the number of batches per dataset, as before TensorFlow would raise an error when the generator ends.

https://github.com/DeepRegNet/DeepReg/blob/d3edf264b8685b47f1bdd9bb73aca79b1a72790b/deepreg/util.py#L52

In particular, for paired loader, we used the number of images as the number of samples. It is ok wh

[2021-04-17 01:34] mathpluscode commented on #754
FYI @zacbaum @YipengHu

[2021-04-18 16:04] mathpluscode commented on #710
:) if someone interested he/she will pick up. Otherwise we may close it in few months.

[2021-04-18 16:04] mathpluscode commented on #709
Regarding the test, you can skip the test coverage for now?

[2021-04-18 16:04] mathpluscode commented on #709
@NMontanaBrown you can skip these test requirements for now?

[2021-04-23 14:50] #664 closed

[2021-04-26 07:49] acasamitjana commented on #536
`extract_levels` parameter is deprecated. How should we deal with that? Maybe opening an issue targeting some RC milestone? I believe that applies to GlobalNet as well as UNet, right?

[2021-04-26 07:55] YipengHu commented on #536
GlobalNet should have never used `extract_levels`. You can safely ignore this for GlobalNet.

[2021-05-02 15:29] MichaelWerthmann opened #764 "Help with CT Paired lung"
## Subject of the issue
Hello,

I am relatively new to Deep Learning. For a student project I want to register some paired lung CT volumes without training my own model. Therefore, I wanted to use the pre trained network from your demo. I preprocessed my data the same way as described in the load_data python script and put them with according labels in the test directory. I downloaded the pre-trai

[2021-05-02 15:52] YipengHu commented on #764
Hi @MichaelWerthmann

First, the model you downloaded is a demo, with limited training set and unverified generalisation ability to other data, say from a different scanner. Maybe first compare your pre-processed data with the data in the demo see how much difference are there, field-of-view, orientation, CT window, to name a few.

Second, when you say "nearly identical", do you think it is much s

[2021-05-02 19:52] MichaelWerthmann commented on #764
Hello @YipengHu,

thank you very much for your quick answer. I'll give you more background of my project. My goal is to compare multiple lung registration algorithms. Therefore, I think it would be nice to also include a Deep Learning based algorithm. I have about 40 scans but and they have quite different sizes and spacings and sometimes different FOVs. Orientation wise they are the same.

I do n

[2021-05-02 23:21] YipengHu commented on #764
@MichaelWerthmann
- i do not have a pre-trained model which is robust enough to be applied to data from other sources. I don't know there is one out there unfortunately. But with 40 (pairs?) you might have a chance to train your own model, with or without these publicly available data sets. Happy to discuss further and support your research if this is something you are interested in.
- for the cla

[2021-05-03 14:24] ku294714 opened #767 "2D images"
Hello all,

I have 2D ultra sound images,  does this coed work to register 2D images, or just for 3D images?

[2021-05-04 07:56] YipengHu commented on #767
unfortunately. 2D is not currently supported with DeepReg. You can have look at the relevant MONAI component to see if it is what you need: https://monai.medium.com/monai-starts-to-explore-learning-based-medical-image-registration-ab6b143840b7

[2021-05-07 17:13] SicongluUCL commented on #678
I can take this task. Thanks.

[2021-05-08 02:45] #676 closed

[2021-05-08 14:05] SicongluUCL commented on #678
As we are medical image processing, we need to find 3D NN model for this demand. Maybe we can use some open source codes for 3D-MobileNet or 3D-EfficientNet.
After doing research, I found some resouces:
1. The repository contains 3D variants of EfficientNet models for classification.
https://github.com/ZFTurbo/efficientnet_3D

2. I think I can refer to some models of 3D object detection, because X

[2021-05-08 23:21] YipengHu commented on #678
@SicongluUCL A good start! Thanks.
All three options seem sensible to me. I would start with Opt. 2 here as this is a wider-used code base (which arguably has more chances to be better quality - but this is very much subjective and biased). But does it have an efficient-net or mobile-net and the likes implemented? If not, perhaps a combination of Opts 1 and 2 is the way forward, i.e. use Opt1 as r

[2021-05-09 09:57] s-sd commented on #629
The following script can be used to update figures if necessary, however, due the script increasing repo size each time it is run, it has not been added to the `main` branch.

[code]

[2021-05-09 10:00] s-sd commented on #564
Please see discussion in Issue #629. The repo size is increased if gifs are added, therefore, this issue is being closed for now. A new issue can be opened to change the vis tool modes from numbers to names if needed.

[2021-05-09 10:00] #564 closed

[2021-05-09 11:37] mathpluscode commented on #678
@SicongluUCL I agree with @YipengHu, Open-MMLab is a great repo, our registry system is also inspired by it :) nice work

[2021-05-12 20:04] ku294714 commented on #767
Hello Dear @YipengHu , Thank you for the reply, I will check MONAI. Meanwhile for DeepReg - CUDA support, does it not work with CUDA 11.2 version and only with 10.1 version?

[2021-05-13 16:58] mathpluscode commented on #767
Hi @ku294714, using conda environment, it should be possible to use cuda 10.1 with drivers supporting 11. The main reason of the limit on cuda version was due to the tensorflow version.

[2021-05-17 12:39] mianasbat opened #777 "Making docker image of deepreg"
Hi,
I noted that you provide the user with Dockerfile to build the image and then use it using docker. It would be nice if you make a docker image and keep it on dockerhub for each release of deepreg. This will be useful in at least two ways.

First is users do not have to build it on their machine and saving them one step.
Second and more important is that maintaining the image. E.g. if a person

[2021-05-18 04:35] #680 closed

[2021-05-20 13:24] mathpluscode commented on #777
Hi @mianasbat thx for the advice, yes, we've been considering this, https://github.com/DeepRegNet/DeepReg/issues/608. Just recently I got occupied by other things.

[2021-05-21 17:18] Zhiyuan-w commented on #703
(deepreg) E:\DeepReg>deepreg_train --gpu '0' --config_path demos/grouped_mask_prostate_longitudinal/grouped_mask_prostate_longitudinal.yaml --log_dir demos/grouped_mask_prostate_longitudinal --exp_name logs_train
2021-05-21 17:55:49.859241: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library cudart64_101.dll
usage: deepreg_train [-h] --gpu GPU [--gpu

[2021-05-27 21:02] #423 closed

[2021-05-27 21:02] #634 closed

[2021-05-27 21:02] #621 closed

[2021-05-27 21:02] #667 closed

[2021-05-27 21:02] #468 closed

[2021-05-29 20:17] #700 closed

[2021-06-04 03:19] #586 closed

[2021-06-04 03:19] #619 closed

[2021-06-06 17:17] #715 closed

[2021-06-08 01:54] #716 closed

[2021-06-10 17:29] Zhiyuan-w opened #788 "Fix Running DeepReg Remotely (on the Cluster) page"
The section of Installing the Environment in the document is out of date, which needs to be rewritten.

If the documentation request is approved, would you be willing to submit a PR? _(Help
can be provided if you need assistance submitting a PR)_

Yes

[2021-06-10 22:01] #162 closed

[2021-06-10 22:01] #725 closed

[2021-06-12 20:50] #721 closed

[2021-06-14 12:51] zacbaum commented on #473
Keeping this open as we await rc2...

[2021-06-15 17:40] Zhiyuan-w opened #791 "Running DeepReg on the Cluster with GPU"
tensorflow.python.framework.errors_impl.InternalError: CUDA runtime implicit initialization on GPU:0 failed. Status: all CUDA-capable devices are busy or unavailable

If the bug is confirmed, would you be willing to submit a PR? _(Help can be provided if
you need assistance submitting a PR)_

Yes

## Your environment

- 3e372d1835fdc9468c026db3767dcf9e8d4a4b0e(commit hash)

## Steps to reproduce

[2021-06-16 00:39] #735 closed

[2021-06-16 09:44] NMontanaBrown commented on #788
@alkististav has similar issues. Why are there two open issues with the same/related work? Best to fix all on the same branch

[2021-06-16 09:51] alkististav commented on #791
I'm having the exact same issue

[2021-06-16 17:40] Zhiyuan-w commented on #788
Yerh.

[2021-06-16 17:51] Zhiyuan-w commented on #791
You can temporarily remove these two lines in /deepreg/train.py:
   # set env variables
    os.environ["CUDA_VISIBLE_DEVICES"] = gpu
    os.environ["TF_FORCE_GPU_ALLOW_GROWTH"] = "true" if gpu_allow_growth else "false"
It works for me.

[2021-06-17 05:24] #723 closed

[2021-06-20 10:53] #610 closed

[2021-06-23 20:50] #744 closed

[2021-06-24 16:08] Zhiyuan-w commented on #777
=> [internal] load metadata for docker.io/tensorflow/tensorflow:2.3.1-gpu                                                                                                                                             12.4s
 => [auth] tensorflow/tensorflow:pull token for registry-1.docker.io

[2021-06-25 07:39] #476 closed

[2021-06-25 15:13] #722 closed

[2021-06-29 19:42] #753 closed

[2021-06-30 05:20] #754 closed

[2021-07-01 17:24] #710 closed

[2021-07-02 07:19] #791 closed

[2021-07-02 07:20] #788 closed

[2021-07-09 08:51] #536 closed

[2021-07-16 01:22] #764 closed

[2021-07-16 15:39] #767 closed

[2021-07-16 21:47] ebonmati opened #802 "The ddf in demo_predict seems to be all 0s"
## Subject of the issue

When running the unpaired abdomen CT registration, with the provided pre-trained models (unsup, weakly or comb) the return ddfs seem to be all 0s, and no registration is applied to the images when displaying the images.

If the bug is confirmed, would you be willing to submit a PR? _(Help can be provided if
you need assistance submitting a PR)_

Yes

## Your environment

-

[2021-07-16 22:09] YipengHu commented on #802
Thanks @ebonmati 's new update: training model again the DDFs seems normal. It is likely caused by the old pre-trained model format. Re-training model for this demo...

[2021-07-21 08:55] #802 closed

[2021-07-22 14:26] #678 closed

[2021-07-28 08:40] NMontanaBrown opened #807 "Add CITATION.cff to point to the JOSS paper"
## Subject of the feature

GitHub has recently added the possibility of adding a widget to repositories such that a citation for the repo is available, see: https://github.com/citation-file-format/citation-file-format#references-optional

We could add this to point to the JOSS paper?

[2021-07-31 15:57] #475 closed

[2021-08-03 22:25] #703 closed

[2021-08-06 14:43] #608 closed

[2021-08-21 08:47] JiYuanFeng opened #814 "Train with Big CT file"
Hi! Thank you for your nice work.
I would like to train the model with my own dataset. The dataset consists of big CT data (around 370*512*512).
It's ok to train the model by sliding window mechanisms? for example, crop a subcube of 128*128*128 to train the model.
Or it will be better to resize the original data into a smaller one to train the model, and resize the generated transform to warp the

[2021-08-24 21:32] YipengHu commented on #814
Hi @JiYuanFeng
Thanks for the message. I'm afraid DeepReg is not supporting patch-based registration yet - i guess this is what you meant by sliding window mechanisms? So you are only left with resizing for now, which obviously is a highly application-dependent pre-processing step. Happy to discuss further if you share more details with the data, application etc.

[2021-08-25 01:45] JiYuanFeng commented on #814
Hi,Thank you for your useful reply!!! It help me a lot.

[2021-08-25 01:45] #814 closed

[2021-09-06 17:00] #777 closed

[2021-09-14 22:10] #709 closed

[2021-09-24 02:59] YuqingCai0316 opened #817 "about traning_set'spacing"
Hi!
      Why the spcing of your training set  is [1,1,1], has it been processed? What if each set of my training set has different spacing?

[2021-09-24 07:25] YipengHu commented on #817
Hi @YuqingCai0316 did you mean voxel sizes/dimension? deepreg currently does not support anisotropic voxel sizes, largely due to the smoothness regulariser is somewhat sensitive to it. If you use affine transformation, then this is less relevant, otherwise (e.g. LocalNet with DDF prediction), it may be easier to re-process your data to isotropic voxel sizes (spacing). Whether it is [1,1,1] or [.5,

[2021-09-24 11:01] YuqingCai0316 commented on #817
Hi @YipengHu
     Thanks for receiving your reply! My data set is generally anisotropic paired CT, such as spacing is:[0.7825,0.725,5],The shape of each pair of my CT is also different, such as [34,512,512]and [50,512,512]... It comes from the preoperative and intraoperative scans of the patient. During the operation, there is interference from local interventions. It is also possible that the pat

[2021-09-25 20:41] YipengHu commented on #817
I would simply resample/crop them into the same image size and voxel size, wrt preserving regions of interest.

[2021-09-27 06:19] YuqingCai0316 commented on #817
Hi @YipengHu：
       Thanks  for your reply. If the training process is interrupted, Can I load the model and continue training？

[2021-10-06 20:00] MMMMSK opened #818 "train() got an unexpected keyword argument 'exp_name'"
## Subject of the issue

Describe your issue here.
Getting the following error running demos:
train() got an unexpected keyword argument 'exp_name'

If the bug is confirmed, would you be willing to submit a PR? _(Help can be provided if
you need assistance submitting a PR)_

Yes

## Your environment
Mac-OS
- DeepReg version (commit hash)
latest
  Please use `git rev-parse HEAD` to get the hash of

[2021-10-06 20:15] YipengHu commented on #818
@MMMMSK please check your issue.

[2021-10-06 20:15] #818 closed

[2021-10-06 20:15] YipengHu commented on #817
You should be able to.

[2021-10-06 22:34] MMMMSK commented on #818
Thanks for your reply and totally understood! I had same error, with windows. Made it work with windows but need further tests.

[2021-10-29 21:46] codeenthusiast opened #819 "Paired Lung CT Tutorial Error"
## Paired Lung CT Tutorial Error

I have trying to run this tutorial on the terminal but unfortunately getting an error as below when launching demo training via running "python demos/paired_ct_lung/demo_train.py". I have installed DeepReg and set the directory to DeepReg.

My other question is whether I have to run this in my terminal or whether I can run it on Jupyter in Anaconda. Thank you for

[2021-10-29 22:57] YipengHu commented on #819
please install deepreg first following the documentation: https://deepreg.readthedocs.io/en/latest/getting_started/install.html

[2021-10-30 00:12] codeenthusiast commented on #819
Thank you, I have followed all the instructions and installed DeepReg which I can see under my username directory. When I again try to run the above command line, I now get "zsh: illegal hardware instruction". However, my TensorFlow is up to date as well.

[2021-12-29 17:48] mathpluscode commented on #819
Hi, the idea development environment should be Linux (not including MacOS) with intel chips. The error you got is similar to https://stackoverflow.com/questions/65383338/zsh-illegal-hardware-instruction-python-when-installing-tensorflow-on-macbook and I'm not sure if it is linked to DeepReg.

[2022-01-27 03:04] omarespejel opened #823 "Sharing DeepReg models through Hugging Face Hub"
Hi DeepReg team!

Your pre-trained models seem amazing! I see you host and share the DeepReg demo models on your own repo. **Would you be interested in sharing your models in the [Hugging Face Hub](http://hf.co/models)?**

This integration would allow you to freely download/upload models, and make your work more accessible and visible to the rest of the ML community. We can help you set up a DeepR

[2022-01-27 15:45] NMontanaBrown commented on #823
Hi @omarespejel  - this looks really cool. I might be able to work on this after March due to several internal PhD deadlines. I'll set a reminder to potentially ping you if any questions then 😄

[2022-01-27 19:50] omarespejel commented on #823
No worries! And yes, please let me know how I might be helpful 😃.

In Hugging Face we are really motivated to collaborate with and support the deep learning for healthcare initiative, and these models could be key 🤗. We would love to give them even more visibility.

[2022-02-02 17:27] jbmcs opened #824 "Most suitable algorithms for 2D histology images?"
Hi! I'm looking at AI-driven image registration and this looks like a fantastic resource you've put together :) the data domain I'm working in is histopathology, and I'm trying to register 2 images of the same tissue from multiple modalities. I've noticed that the examples in this repo are mainly for 3D and/or moving data, whereas mine is static, 2D, images. So I was just wondering what your thoug

[2022-02-04 03:04] #819 closed

[2022-02-05 03:22] codeenthusiast opened #825 "Atlas creation + Label propagation"
## Inter-subject image registration

Hi there, I'd like to create a template of ~30 CT's of the head. Could you please let me know if there is a script/tutorial that I can use that will walk me through how to register all 30 images and create the template?

Finally, I would like to segment the template. Then, I would register a new CT to the template and transfer the segmentation to the new CT.

I

[2022-03-20 01:21] Borda commented on #824
Hello, I would be curious how this package performs on the ANHIR challenge :rabbit: https://anhir.grand-challenge.org
Also would be interesting to include it in the BIRL SOTA docker image: https://github.com/Borda/BIRL

[2022-04-14 12:58] #823 closed

[2022-04-19 09:41] osanseviero commented on #823
Reopening this if that's ok :smile:

[2022-04-21 04:38] #825 closed

[2022-06-18 16:05] #824 closed

[2022-10-10 22:24] mathpluscode commented on #823
Hi @osanseviero, thanks for your consistent interest. Apologize for the late reply. Unfortunately, we currently do not have the bandwidth to maintain or integrate these models from DeepReg.

Meanwhile, if you are interested, the [PyTorch-based code base and models](https://github.com/kate-sann5100/CrossInstitutionFewShotSegmentation) of our recent work ([paper 1](https://arxiv.org/abs/2201.06358),

[2022-10-15 13:16] tjhendrickson opened #834 "Designing a model that predicts an affine transformation"
## Subject of the documentation

What are you trying to do and which part of the code is hard to understand or incorrect
or missing? Please provide a link to the readthedocs page and code if available.

I'm attempting to design a model that performs registration on paired images. In addition to performing the registration I want the model to also predict an affine transformation. To design the mod

[2022-10-15 14:26] mathpluscode commented on #834
Hi @tjhendrickson, an example config for predicting affine transformation is [here](https://github.com/DeepRegNet/DeepReg/blob/e8f7149e94c6b0662ac7c15bb68f0f0a2b910cd1/config/test/affine.yaml). Essentially, it should be changing `backbone` to `global` so that the backbone model will predict/return an affine transformation, based on which a discrete displacement field will be calculated. Please see

[2022-10-16 19:50] tjhendrickson commented on #834
@mathpluscode, ahh much thanks!  This may be a dumb question but is the predicted/returned affine transformation also automatically written to a text file? I guess is there anything else that would have to go into the config that I need to add?

[2022-10-16 20:08] mathpluscode commented on #834
Hi @tjhendrickson, the parameters for affine transformation are named `theta` and it should have been saved inside a `.npy` file when you perform predictions. Hope the following links could help you.

https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/model/network.py#L456

https://github.com/DeepRegNet/DeepReg/blob/main/deepreg/predict.py#L105

[2022-11-20 10:01] #834 closed, assigned to nobody